// ----------------------------------------------------------------------------
//  Basic HTML Element Normalize / Reset Styling
// ----------------------------------------------------------------------------


//  Apply border-box to all the things
// ----------------------------------------------------------------------------
@if $setup--border-box == true {

  // Make a smarter Box Model
  *, *:after, *:before {
    @include box-sizing(border-box);
  }

} // -- end @if --




//  Basic HTML + Body styling
// ----------------------------------------------------------------------------
html, body {
  @extend %reset-spacing;
  background-color: $body-bg-color;
  color: $body-txt-color;
  font: $body-font-weight $body-font-size/$body-line-height $body-font-family;
  height: 100%;
  text-rendering: optimizeLegibility;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}





// Highlight Text Selection
// ----------------------------------------------------------------------------
@if $import-text-selection == true {

  @include select-text($c-brand-1, $c-white, none);

} // -- end @if --






//  Play nice with IE 8 / 9
// ----------------------------------------------------------------------------
@if $setup--html5__displays == true {

  // Give HTML5 elements block display, which is not defined in IE 8/9
  article, aside, canvas, footer, header, main, section {
    @extend %d-block;
  }


  // Makes hidden actually [hidden] in IE 8/9
  [hidden] {
    @extend %d-none;
  }

} // -- end @if --
