// ----------------------------------------------------------------------------
//  Form & Fieldset
// ----------------------------------------------------------------------------

@if $base-form-parents == true {

  form, fieldset {
    @extend %reset-form-elements;  // resets.scss
  }

  fieldset {
    @extend %reset-border;
    @extend %reset-spacing;
  }

} // -- end @if --








// ----------------------------------------------------------------------------
//  Form Elements: Input Element Placeholder Text Styling
// ----------------------------------------------------------------------------

$ph-vendor-list: "::-moz-", ":-ms-input-", "::webkit-input-";
$ph-vendor-list2: "&::-moz-", "&:-ms-input-", "&::webkit-input-";


@if $base-form-placeholder-text == true {

  @each $ph in $ph-vendor-list {
    #{$ph}plaeholder {
      @include placeholder-text($c-form-placeholder, italic);
    }
  }

  @each $ph in $ph-vendor-list2 {
    input[required] {
      #{$ph}plaeholder {
        @include placeholder-text($c-form-required, italic);
      }
    }
  }

} // -- end @if --








// ----------------------------------------------------------------------------
//  Form Elements: Input Elements
// ----------------------------------------------------------------------------

@if $base-form-inputs == true {

  // General Form Element Reset
  input {
    @extend %txt-base;
    @extend %reset-form-elements;

    // Disabled input styling
    &[disabled] {
      background-color: $c-form-disable-bg;
      cursor: not-allowed;
    }

    // Read Only input styling
    &[readonly],
    &[readonly]:focus {
      background-color: $c-form-disable-bg;
    }

    // Makes it look like a normal text input,
    // only with a (x) when text has been entered
    &[type='search'] {
      -webkit-appearance: textfield;
    }
  }


  // Removes extra inner padding for webkit
  input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
  }

} // -- end @if --








// ----------------------------------------------------------------------------
//  Textarea Element
// ----------------------------------------------------------------------------

@if $base-form-textarea == true {

  // Make textareas look like input areas, only bigger
  textarea {
    @extend %reset-form-elements;
    @extend %txt-base;
    display: block;
    min-width: 60px;
    overflow: auto;
    resize: vertical;
    vertical-align: top;

    &:required {
      color: $c-form-required;
    }
  }

} // -- end @if --








// ----------------------------------------------------------------------------
//  Form Elements: Button Elements
// ----------------------------------------------------------------------------

@if $base-form-buttons == true {

  // General Form Element Reset
  button {
    @extend %reset-form-elements;
  }


  // Makes buttons look like buttons with appropriate cursors
  button,
  input[type='reset'],
  input[type='submit'],
  html input[type='button'] {
    cursor: pointer;
    -webkit-appearance: button;
  }


  // Removes outline from submit buttons in Firefox
  input[type="submit"]::-moz-focus-inner {
    @extend %outline-none;
  }


  // Removes inner padding & border in Firefox 4+
  button::-moz-focus-inner,
   input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

} // -- end @if --








// ----------------------------------------------------------------------------
//  Select Element
// ----------------------------------------------------------------------------

@if $base-form-select == true {

  select {
    @extend %txt-base;
    @extend %reset-form-elements;
    margin-bottom: $unit-px2;
    width: 100%;
  }

} // -- end @if --








// ----------------------------------------------------------------------------
//  Label Element
// ----------------------------------------------------------------------------

@if $base-form-labels == true {

  label {
    @extend %label;
  }

} // -- end @if --








// ----------------------------------------------------------------------------
//  Legend Element
// ----------------------------------------------------------------------------

@if $base-form-labels == true {

  legend {
    @extend %txt-h5;
    margin-left: -$unit-px;
    padding: 0 $unit-px;
  }

} // -- end @if --


