// ----------------------------------------------------------------------------
//  HR Element
// ----------------------------------------------------------------------------

@if $base-hr == true {

  hr {
    border: 0;
    border-bottom: $hr-border;
    display: block;
    height: 1px;
    margin: $unit-px4 0;
  }

} // -- end @if --
