// ----------------------------------------------------------------------------
//  List Elements
// ----------------------------------------------------------------------------

@if $base-ol-ul == true {

  // Un/Ordered lists
  ol, ul {
    @extend %list-elements-margin;
    padding-left: $unit-px*6;

    ol, ul {
      // keep equal spacing li content followed by lists within lists
      margin-top: $unit-px2;
    }
  }

  ol ol {
    list-style-type: lower-alpha;
  }

  ol ol ol {
    list-style-type: lower-roman;
  }

  li {
    @extend %margin-bottom-base;
  }

} // -- end @if --
// ----------------------------------------------------------------------------
//  Definition List Elements
// ----------------------------------------------------------------------------

@if $base-def-list == true {

  dl {
    @extend %list-elements-margin;
  }

  dt {
    @extend %bold;
  }

  dd {
    @extend %list-elements-margin;
    padding-left: $unit-px4;
  }

} // -- end @if --

