@if $import-helper-validation == true{

// ----------------------------------------------------------------------------
//  Form Validation Indicators
// ----------------------------------------------------------------------------

.input-success {
  border: 1px solid $c-green;
}

.input-warning {
  border: 1px solid $c-orange;
}

.input-error {
  border: 1px solid $c-red;
}


// ----------------------------------------------------------------------------
} // -- end @if --
// ----------------------------------------------------------------------------
