// ----------------------------------------------------------------
//		Vendor Prefix Mixins
// ----------------------------------------------------------------
// All Vendor Prefixes
@mixin vendor($property, $value...){
       -moz-#{$property}:$value;
        -ms-#{$property}:$value;
         -o-#{$property}:$value;
    -webkit-#{$property}:$value;
            #{$property}:$value;
}
            
// Just webkit & moz Prefixes
@mixin base-vendor($property, $value...){
      -moz-#{$property}:$value;
   -webkit-#{$property}:$value;
           #{$property}:$value;
}

// ----------------------------------------------------------------
//		Box Sizing
// ----------------------------------------------------------------
@mixin box-sizing($box-value){
	@include base-vendor(box-sizing, $box-value);	
}


// ----------------------------------------------------------------
// Border Radius
// ----------------------------------------------------------------
@mixin border-radius($br-value){
  border-radius:$br-value;
	background-clip:padding-box;
}


// ----------------------------------------------------------------
// Box Shadow   ---  See _var.scss to edit & create box-shadow rules
// keeping webkit prefix around for early android / ios devices that may still need it.
// -moz- removed as it hasn't been needed since firefox 3.6
// ----------------------------------------------------------------
@mixin box-shadow($bs-value){
  -webkit-box-shadow:$bs-value;
          box-shadow:$bs-value;
}


// ----------------------------------------------------------------
// Linear Gradient
// ----------------------------------------------------------------
@mixin linear-gradient($grad-Line, $grad-Colors...) {
  background: -webkit-linear-gradient($grad-Line, $grad-Colors);
  background:    -moz-linear-gradient($grad-Line, $grad-Colors);
  background:      -o-linear-gradient($grad-Line, $grad-Colors);
  background:         linear-gradient($grad-Line, $grad-Colors);
}
    //  grad-Line - use either ###deg or top, let, bottom, right
    //  example:
    //    @include linear-gradient(80deg, #fcc, #f23);
    //    @include linear-gradient(top, #fcc, #f23);
    
    
// ----------------------------------------------------------------
// Radial Gradient
// ----------------------------------------------------------------
@mixin radial-gradient($radial...) {
  background: -webkit-radial-gradient($radial);
  background:    -moz-radial-gradient($radial);
  background:      -o-radial-gradient($radial);
  background:         radial-gradient($radial);
}


// ----------------------------------------------------------------
//		Hidden Elements Mixins
// ----------------------------------------------------------------
// Hide text that you don't want visible
// like on submit buttons that use an icon instead of text
@mixin hide-text{
  color:transparent;
  font:0/0 a;
  text-shadow:none;
}

// Truncate Text
@mixin truncate($truncation-boundary){
    max-width:$truncation-boundary;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
	// Example --  @include truncate(100%);


// ----------------------------------------------------------------
//    CSS Triangles
// ----------------------------------------------------------------
@mixin triangle($tri-size, $tri-color, $tri-direction) {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset $tri-size;
  @if ($tri-direction == top) {
    border-color: $tri-color transparent transparent transparent;
    border-top-style: solid;
  }
  @if ($tri-direction == bottom) {
    border-color: transparent transparent $tri-color transparent;
    border-bottom-style: solid;
  }
  @if ($tri-direction == left) {
    border-color: transparent transparent transparent $tri-color;
    border-left-style: solid;
  }
  @if ($tri-direction == right) {
    border-color: transparent $tri-color transparent transparent;
    border-right-style: solid;
  }
}



// ----------------------------------------------------------------
//		Hi-Res Retina Images
// 		https://37signals.com/svn/posts/3271-easy-retina-ready-images-using-scss
// ----------------------------------------------------------------
@mixin image-2x($image, $width, $height){
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx){
    		    // on retina, use image that's scaled by 2
    		    background-image:url($image);
    		    background-size:$width $height;
    		 }
}

// ----------------------------------------------------------------
//		Basic Flex Box Mixins
// ----------------------------------------------------------------
@mixin flexbox(){
  // old prefixes
  display: -webkit-box;   // safari 3.1+, chrome 20-, Android 2.1+, iOS 3.2+
  display: -moz-box;      // 2-21
  // new prefixes
  display: -ms-flexbox;   // 10+
  display: -webkit-flex;  // 21+
  display: flex;
}

@mixin flex($values){
  // old prefixes
  -webkit-box-flex: $values;
     -moz-box-flex: $values;
  // new prefixes
      -webkit-flex: $values;
          -ms-flex: $values;
              flex: $values;
}

@mixin order($val){
  // old prefixes
  -webkit-box-ordinal-group: $val;
     -moz-box-ordinal-group: $val;
  // new prefixes
             -ms-flex-order: $val;
              -webkit-order: $val;
                      order: $val;
}

// ----------------------------------------------------------------
//    Responsive Row w/fixed width column 
//    -- use in combo with .row
// ----------------------------------------------------------------
@mixin row-fixed-Left($col-Size){
	padding-left:$col-Size;
	@media (max-device-width:480px), screen and (max-width:800px){padding:0}
	
	.f-Col{
		float:left;
		margin-left:-$col-Size + 40px;
		width:$col-Size - 40px;
		@media (max-device-width:480px), screen and (max-width:800px){
		  float:none;
		  margin:0;
		  padding-left:40px;
		  width:auto;
		}
	}
}

@mixin row-fixed-Right($col-Size){
	padding-right:$col-Size;
	@media (max-device-width:480px), screen and (max-width:800px){padding:0}
	
	.f-Col{
		float:right;
		margin-right:-$col-Size;
		width:$col-Size - 40px;
		@media (max-device-width:480px), screen and (max-width:800px){
		  float:none;
		  margin:0;
		  padding-left:40px;
		  width:auto;
		}
	}
}

// ----------------------------------------------------------------
//    Custom Text Selection Styling
// ----------------------------------------------------------------
@mixin select-Text-Default($select-BG, $txt-Color, $txt-Shadow){
  background:   $select-BG;
  color:        $txt-Color;
  text-shadow:  $txt-Shadow;
}

// include this into elements to have text selection colors be specific to region
@mixin select-Text($select-BG, $txt-Color, $txt-Shadow){
  ::-moz-selection  {@include select-Text-Default($select-BG, $txt-Color, $txt-Shadow)}
  ::selection       {@include select-Text-Default($select-BG, $txt-Color, $txt-Shadow)} 
}


