// ----------------------------------------------------------------
// Colors
// ----------------------------------------------------------------

// Darker Colors
$c-Black:       #0a0a0a;
$c-Dark:        #333;
$c-Darker:      #1a1a1a;

// Medium Colors
$c-Grey:        #ccc;
$c-Dark-Grey:   #999;
$c-Light-Grey:  #ddd;

// Ligher Colors
$c-White:       #fdfdfd;
$c-Light:       #eee;
$c-Lighter:     #f0f0f0;

// Generic Colors
$c-Red:         #ff3e3e;
$c-Green:       #6ccf31;
$c-Blue:        #66b0e9;

$c-Magenta:     #dd0986;
$c-Yellow:      #faea65;
$c-Orange:      #fd6f29;
$c-Purple:      #9729fd;



// ----------------------------------------------------------------
// Fonts Families
// ----------------------------------------------------------------

// Base Web Fonts
$arial:         Arial, "Helvetica Neue", Helvetica, sans-serif;
$arial-Black:   "Arial Black", Gadget, sans-serif;
$courier:       "Courier New", Courier, monospace;
$georgia:       Georgia, "Times New Roman", Times, serif;
$helvetica:     "Helvetica Neue", Helvetica, Arial, sans-serif;
$lucida:        "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$tahoma:        Tahoma, Geneva, sans-serif;
$verdana:       Verdana, Geneva, sans-serif;


// ----------------------------------------------------------------
// Font Size Declarations 
// ----------------------------------------------------------------
$base-font-multiplier:1em; // 1em = 16px

$giga:	$base-font-multiplier * 4.375;   // 70px
$ultra: $base-font-multiplier * 3.75;    // 60px
$mega:  $base-font-multiplier * 3.5;     // 56px

$alpha: $base-font-multiplier * 3.125;   // 50px
$beta:  $base-font-multiplier * 2.5;     // 40px
$gamma: $base-font-multiplier * 2;       // 32px
$delta: $base-font-multiplier * 1.625;   // 26px
$eps:	  $base-font-multiplier * 1.25;    // 20px
$zeta:	$base-font-multiplier * 1.125;   // 18px

$base:  $base-font-multiplier;           // 16px
$tiny:  $base-font-multiplier * .75;     // 12px
$mini:  $base-font-multiplier * .625;    // 10px


// ----------------------------------------------------------------
// Box Shadow Types  (these are just examples.  Make your own!)
// ----------------------------------------------------------------
$bs-1:    0 0 6px rgba(0,0,0,.25);
$bs-2:    $bs-1 inset;
$bs-3:    $bs-1, $bs-1 inset;
$bs-4:    0 8px 8px -8px rgba(0,0,0,.5);
$bs-5:    $bs-4, 0 0 6px rgba(0,0,0,.75) inset;
$bs-6:    0 0 6px rgba(255,255,255,.5) inset;


// ----------------------------------------------------------------
// Measurement Units
// ----------------------------------------------------------------
$px-Unit:  4px;   // base of 4px, 1/4 of 16px
$em-Unit:  1em;   // translates to 16px based on 100% font-size
$per-Unit: 10%;   // base of 10 for percentages

$circle:   1000px;  // large number to make sure that just about anything
                    // will be able to be 'circled'


// ----------------------------------------------------------------
//		Media Query Break Points  // based on a 16px base font
// ----------------------------------------------------------------
$break-Mini:    30em;
$break-Tiny:    31.25em;  // 500px at 16px base
$break-Small:   600px;
$break-Medium:  800px;
$break-Large:   1000px;
$break-xLarge:  1200px;
$break-xxLarge: 1600px;
