// ----------------------------------------------------------------------------
//  General Form Elements Helper Classes
// ----------------------------------------------------------------------------

@if $helper-forms--general == true {

  // Containers
  .form {

    // add top/bottom padding
    &-row {
      @extend %last-child-0;
      padding: $form-row--padding;
      position: relative;
    }

    // add emphasis styling to a row or entire form
    &-block {
      @extend %last-child-0;
      border: $form-block--border;
      margin-bottom: $input--margin;
      padding: $form-block--padding;

      &[disabled] {
        position: relative;

        &::after {
          @extend %position-center;
          background: $form-disable-overlay;
          content: '';
        }
      }
    }
  }


  // General text input helper class
  .input-text {
    @extend %input-text;
    // see 'more-inputs' for additional styling for specific input elements
    position: relative;
    z-index: 2;
  }


  // Disabled label
  .label-disabled {
    cursor: not-allowed;
  }

} // -- end @if --
