@if $import-table-rows-cols == true{

// ----------------------------------------------------------------------------
//  Tables: Row & Column Elements
// ----------------------------------------------------------------------------

// Table Row
// tr {}


// Table Cells
th {
  @extend %bold;
}

th, td {
  padding: $unit-px $unit-px2;
  text-align: left;
  vertical-align: top;
}


// Non-content elements
// colgroup {}

// col {}


// ----------------------------------------------------------------------------
} // -- end @if --
// ----------------------------------------------------------------------------
