// ----------------------------------------------------------------------------
//  Layout - Display Table Grid
// ----------------------------------------------------------------------------

@if $helper-grids--display-table == true {

  .table {

    &--row {
      display: table;
      height: 100%;
      margin-bottom: 1.25em;
      table-layout: fixed;
      width: 100%;
    }

    &--col {
      display: table-cell;
      height: 100%;
      padding: .75em;
      vertical-align: top;

      @media screen and (max-width: 43.75em) {
        display: block;
      }
    }

    &--col__content {
      box-sizing: content-box;
      height: 100%;
      padding: 1em;
    }

  }

  // Example mark-up:
  // ----------------------------------------------------------------------------
  //  <div class="table--row">
  //    <div class="table--col w-60">
  //      <div class="table--col__content">
  //        ...
  //      </div>
  //    </div>
  //
  //     <div class="table--col w-40">
  //      <div class="table--col__content">
  //        ...
  //      </div>
  //    </div>
  //  </div>

} // -- end @if --
