// ----------------------------------------------------------------------------
//  Layout - Responsive Widths & Basic Grid
// ----------------------------------------------------------------------------

@if $helper-widths == true {
  // Base responsive width classes.
  // Do not apply styling to these as their purpose is for width only.

  $width-list: 10, 20, 25, 30, 40, 50, 60, 70, 75, 80, 90, 100;
  $decimal-list: 33, 66;

  // spit out whole number classes
  @each $widths in $width-list {
    .w-#{$widths} {
      width: $widths * 1%;
    }
  }

  // decimal numbers need special maths
  @each $widths in $decimal-list {
    .w-#{$widths} {
      width: $widths * 1.010101%;
    }
  }


  // add .w-force to any w- class that you want to have it's width
  // maintained in small screen sizes.
  // e.g. .w-30 has a width of 100% on small screen sizes
  // but .w-30.w-force maintains a width of 30% on small screens.
  @media screen and (max-width: $break-medium) {
    [class*="w-"]:not(.w-force) {
      width: 100%;
    }
  }
}




@if $helper-grids--standard == true {

  // A container for each row of our layout.
  // Simply styled with only a base margin-bottom and extending the clearfix
  // class, a row can also have helper classes added onto it for other general
  // styling purposes.
  .row {
    @extend %clearfix;
    margin-bottom: 1.25em;
    margin-left: -2.5em;

    // Don't need as wide gutters?  Use this class to cut them in half.
    &.half-gutter {
      margin-left: -2.5em;
    }
  }


  // The grid columns within a row.
  // Do not apply styling to this class as its purpose is for layout only.
  .row > [class*="w-"] {
    float: left;
    margin-bottom: 0;
    min-height: 1px;
    padding-left: 2.5em;
    position: relative;

    @media screen and (max-width: $break-medium) {
      margin-bottom: 1.25em;
    }

    &.float-right {
      float: right;
    }
  }


  // Adjust .col padding-left to account for half-gutter
  .half-gutter > [class*="w-"] {
    padding-left: 1.25em;
  }

} // -- end @if --
