// ----------------------------------------------------------------------------
//  Tables Helper Classes
// ----------------------------------------------------------------------------

@if $helper-table == true {

// Tables Header and Footer
  .table {

    &__header {
      background: $c-table-head-bg;
      color: $c-table-head-font;
    }

    &__footer {
      background: $c-table-foot-bg;
    }


    // Table Decorations
    &--border {
      border-bottom: $table-border;
      border-right: $table-border;

      tr {
        border-top: $table-border;
      }

      th, td {
        border-left: $table-border;
      }
    }

    &--stripe {
      tr:nth-child(2n) {
        background: $c-table-striped-bg;
      }
    }

    &--row-stripe {
      background: $c-table-striped-bg;
    }

  }




  // Mobile View Table
  .table-container-mobile {
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    @media screen and (max-width: 800px) {
      border: $table-border;

      table, th, td, tr {
        white-space: nowrap;
      }
    }
  }

  // Example mark-up:
  // ----------------------------------------------------------------------------
  //  <div class="table-container-mobile">
  //    <table>
  //      ...
  //    </table>
  //  </div>

} // -- end @if --
