// ----------------------------------------------------------------------------
//  Navigation Controller
// ----------------------------------------------------------------------------

// The main controller file for the navigation helper files. This file exists
// to centralize code that may be used across multiple files in this category.

// ----------------------------------------------------------------------------
//  Placeholders
// ----------------------------------------------------------------------------

// Basic styling for vertical navigation styles
%nav-v {
  a {
    display: block;
    padding: $unit-px;
    position: relative;
  }
}


// Basic styling for horizontal navigation styles
%nav-h {
  a {
    border-right: 1px solid $c-dark-grey;
    padding: 0 $unit-px3;
  }

  li:last-child a{
    border-right: 0;
  }
}


// Fixed navigation
%nav-fixed {
  background: $c-dark;
  position: fixed;
  top: 0;
  z-index: 1000;

  a {
    color: $c-white;

    &:hover,
    &:visited {
      background: rgba(0,0,0,.6);
      color: $c-white;
      text-decoration: none;
    }
  }
}


// 3-lined mobile nav 'icon'
%burger {
  @include box-shadow($bs-1);
  background: $c-white;
  border-radius: $circle;
  display: block;
  height: 2px;
}


// Drop down menu types
%drop-v {
  left: 100%;
  top: 0;
}

%drop-h {
  left: 0;
  top: 100%;
}
