// ----------------------------------------------------------------
//  Basic rules for Breadcrumb Navigations
// ----------------------------------------------------------------

.bread {
  li {
    display: inline-block;

    &:last-child:after {
      content: none;
    }

    &:after {
      content: ">";
      display: inline-block;
    }
  }

  a {
    display: inline-block;
    padding: $unit-px;
  }

  span {
    display: inline-block;
    font-weight: 400;
    padding: $unit-px;
  }
}
