// ----------------------------------------------------------------------------
//  Fixed Position Sidebar Nav
// ----------------------------------------------------------------------------

$width-fixed-nav:   200px;
$height-fixed-nav:  100px;

// Add a class to the body tag
.fixed-nav-left {
  padding-left: $width-fixed-nav;    // padding-left = width of nav

  .side-nav-fixed {
    left: 0;
  }

  .btn-nav {
    left: $unit-px*2;
    top: $unit-px*2;
  }
}

.fixed-nav-right {
  padding-right: $width-fixed-nav;   // padding-right = width of nav

  .side-nav-fixed {
    right: 0;
  }

  .btn-nav {
    right: $unit-px*2;
    top: $unit-px*2;
  }
}

.fixed-nav-top {
  padding-top: $height-fixed-nav;    // padding-top = height of nav
}

// A placeholder class so we don't repeat ourselves
// with duplicate declarations
%fixed-nav {
  background: $c-dark;
  position: fixed;
  top: 0;
  z-index: 1000;

  a {
    color: $c-white;

    &:hover, &:visited {
      background: rgba(0,0,0,.6);
      color: $c-white;
      text-decoration: none;
    }
  }
}

.top-nav-fixed {
  @extend %fixed-nav;
  height: $height-fixed-nav;
}

.side-nav-fixed {
  @extend %fixed-nav;
  height: 100%;
  overflow-y:auto;
  width: $width-fixed-nav;
}
