// ----------------------------------------------------------------------------
//  Horizontal Navigations
// ----------------------------------------------------------------------------

// Place this class on the ul or ol inside the .nav.
// Edit this file, or extend it / overwrite it in your project
// scss files to change it's styling.

.h-nav {
  & > li {
    float: left;
  }

  // Set drop menu location to the bottom of the hovered link
  .drop-menu {
    @extend %drop-h;
  }
}

// To be placed on the <ul> or <ol> -- don't use floats,
// instead use display inline-block and center navigation links
.c-nav {
  text-align: center;

  & > li {
    display: inline-block;
  }
}

// To negate white space between <li> elements, follow the
// mark-up example below:

// <li>...</li><!--
// --><li>...</li>

// The comments will negate the white space.
