@if $import-helper-type-alignment == true{

// ----------------------------------------------------------------------------
//  Alignment
// ----------------------------------------------------------------------------

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}


// ----------------------------------------------------------------------------
} // -- end @if --
// ----------------------------------------------------------------------------
