// ----------------------------------------------------------------
//  Input Area Styling
// ----------------------------------------------------------------

%input-Area{
  background:$c-White;
  border:1px solid $c-Border;
  font-family:$arial;
  line-height:1.25; 
  margin-bottom:$px-Unit*2;
  padding:$px-Unit*2 $px-Unit;
  width:75%;
    
  &:focus{
    background:$c-Lighter;
    border:1px solid lighten($c-Blue, 30%);
    @include box-shadow($bs-2);
  }
}
