// ----------------------------------------------------------------------------
//  Layout - Display Table Grid
// ----------------------------------------------------------------------------

@if $helper-grids--display-table == true {

  // fuck
  .table-row {
    display: table;
    height: 100%;
    table-layout: fixed;
    width: 100%;
  }

  .table-col {
    display: table-cell;
    height: 100%;
    padding: 0.75em;
  }

  .table-col-content {
    @include box-sizing(content-box);
    height: 100%;
    padding: 1em;
  }

  @media (max-width: 700px) {
    [class*="table-col"] {
      display: block;
    }
  }

} // -- end @if --
