// ----------------------------------------------------------------------------
//  General Form Elements Helper Classes
// ----------------------------------------------------------------------------

%input-text {
  background-color:   $c-input--bg;
  border:             $input-border-style;
  font-family:        $f-input--family;
  margin-bottom:      $input--margin;
  outline:            0;
  padding:            $input--padding;
  width:              100%;
  -webkit-appearance: none;

  &:focus {
    background-color: $c-input--bg-focus;
    box-shadow: $bs-input--focus;
  }
}


@if $helper-forms--general == true {

  // Containers
  .form {

    // add top/bottom padding
    &-row {
      padding: $form-row--padding;
      position: relative;

      &.row {
        margin-bottom: 0;
      }

      .col {
        @media screen and (max-width: $break-medium) {
          margin-bottom: 0;
        }
      }
    }

    // add emphasis styling to a row or entire form
    &-block {
      border: $form-block--border;
      margin-bottom: $input--margin;
      padding: $form-block--padding;

      &[disabled] {
        position: relative;

        &:after {
          @extend %position-center;
          background: $form-disable-overlay;
          content: '';
        }
      }
    }
  }


  // General text input helper class
  // see 'inputs--secondary' for additional
  // styling for specific input elements



  .input-text {
    @extend %input-text;
    position: relative;
    z-index: 2;
  }

} // -- end @if --
