// ----------------------------------------------------------------------------
//  Input Type: Color
// ----------------------------------------------------------------------------

@if $helper-forms--input-color == true {

  // Color is not supported in all browsers, and extending %input-text
  // breaks the default look in webkit so instead we will carry over some
  // of the input-text styling that doesn't break it in webkit & standardizes
  // it in other browsers

  .input--color {
    background-image: none;
    border: 1px solid $c-grey;
    font-family: $f-brand;
    height: 45px;
    margin-bottom: $unit-px2;
    padding: 0 $unit-px;
    width: 100%;

    &:focus {
      background: $c-lighter;
      border: 1px solid #50B6D5;
      box-shadow: $bs-focus;
    }
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Input Type: File Upload
// ----------------------------------------------------------------------------

@if $helper-forms--input-file == true {

  // The following classes are to be used with the markup at the end of
  // this file.  This styling for file upload inputs currently requires
  // JavaScript to fully make functional. It may not be worth it to
  // implement this due to the JS dependency.

  .input--file {
    bottom: 0;
    cursor: pointer;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;

    &--container {
      position: relative;

      label {
        cursor: default;
      }
    }

    &__area {
      @extend %input-text;
      cursor: pointer;
      display: inline-block;
      width: 75%;
    }
  }


  // Example mark-up:
  // ----------------------------------------------------------------------------
  // <div class="input--file--container">
  //   <input type="file" id="input_file" class="input--file" />

  //   <label for="input_file">File Input</label>

  //   <span class="input--file__area">
  //     <span class="placeholder">Select a file...</span>
  //   </span>

  //   <span class="btn">Select</span>
  // </div>

} // -- end @if --
