// ----------------------------------------------------------------------------
//  Label Reveal on Focus
// ----------------------------------------------------------------------------

@if $helper-forms--label-reveal == true {

  .label-reveal {
    bottom: 0;
    font-size: $txt-tiny;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    transition: bottom .2s, opacity .2s;
    z-index: 1;
  }

  .input-text {
    &:focus ~ .label-reveal,
    &:invalid ~ .label-reveal {
      bottom: 95%;
      line-height: 1;
      opacity: 1;
      padding: .25em;
    }

    &:invalid {
      & ~ .label-reveal {
        background: $c-message--error;
        border-radius: .25em .25em 0 0;
        color: $c-white;
        left: -1px;
        padding: .25em .5em;
      }
    }
  }

  // Example mark-up:
  // ----------------------------------------------------------------------------
  // <div class="form-row">
  //   <input type="text" class="input-text" id="example" />
  //   <label for="example" class="label-reveal">Label</label>
  // </div>

} // -- end @if --
