// ----------------------------------------------------------------------------
//  Radio Buttons & Checkboxes
// ----------------------------------------------------------------------------

// Custom Checkbox base code
%custom-check {
  display: inline-block;
  height: 1em;
  margin: 0 .25em 0 0;
  position: relative;
  vertical-align: sub;
  width: 1em;

  &:after {
    content: '';
    opacity: 0;
  }

  &:hover:after {
    opacity: .3;
  }
}


@if $helper-forms--custom-checkbox-radio == true {

  // Checkbox Holder + Element Styling
  .cr-area {
    position: relative;

    input:checked + .cr:after {
      opacity: 1;
    }

    :focus + .cr {
      box-shadow: $bs-input-focus;
    }
  }


  // Checkbox (CSS only) Styling
  .cb-active {
    @extend %custom-check;
    @include linear-gradient($c-light-grey, top, $c-white, $c-grey);
    border: 1px solid $c-dark-grey;
    border-radius: 2px;

    &:after {
      border-right: none;
      border-top: none;
      border: 5px solid $c-brand--2;
      height: .625em;
      #{$dir}: 1px;
      position: absolute;
      top: -2px;
      transform: rotate(-49deg);
      width: 1.25em;
    }
  }

  .radio-active {
    @extend %custom-check;
    @include linear-gradient($c-light-grey, top, $c-white, $c-grey);
    border-radius: $circle;
    border: 1px solid $c-dark-grey;

    &:after {
      @extend %position-center;
      background: $c-brand--1;
      border-radius: $circle;
      height: .375em;
      width: .375em;
    }
  }

} // -- end @if --





@if $helper-forms--custom-checkbox-radio--slider == true {

  // Check & Radio Slider Styling
  .crs-label {
    vertical-align: middle;
  }

  .cr-slider {
    white-space: nowrap;
  }

  .crs {
    @extend %input-text;
    border-radius: .75em;
    display: inline-block;
    height: 1.75em;
    margin: 0 .25em 0 0;
    max-width: 5em;
    overflow: hidden;
    position: relative;
    vertical-align: middle;

    &:after {
      background: $c-red;
      content: '';
      height: 100%;
      position: absolute;
      right: 50%;
      top: 0;
      transition: .2s all;
      width: 51%;
    }

    &.knob {
      overflow: visible;

      &:after {
        background: $c-white;
        border: 1px solid #aaa;
        border-radius: $circle;
        box-shadow: $bs-1;
        height: 150%;
        top: -25%;
      }
    }

    &.labels:before {
      content: 'Off';
      #{$dir}: 5%;
      position: absolute;
      text-indent: 60%;
      top: 12%;
    }
  }

  .input-slide {
    &:focus + .crs {
      box-shadow: $bs-4;
    }

    &:checked + .crs {
      &.knob {
        background: $c-green !important;
        color: $c-white;

        &:after {
          background: $c-white;
        }
      }

      &:after {
        background: $c-green;
        right: -1px;
      }

      &.labels:before {
        content: 'On';
        text-indent: 5%;
      }
    }
  }

} // -- end @if --









// ----------------------------------------------------------------------------
//  Checkbox/Radio Button Pills
// ----------------------------------------------------------------------------

@if $helper-forms--cr-pills == true {

  // Pill container
  .cr-pill {
    @extend %margin-bottom;
    background: $c-white;
    border-radius: .25em;
    border: 1px solid $c-grey;
    display: inline-block;
    overflow: hidden;
    text-align: center;

    input {
      @extend %is-a11y-hidden;
    }


    &__option {
      border-right: 1px solid $c-grey;
      float: $dir;
      margin-bottom: 0;
      min-width: 3.75em;
      overflow: hidden;
      position: relative;

      &:last-child {
        border-right: 0;
      }

      &:before {
        background: $c-brand--1;
        content: '';
        height: 100%;
        #{$dir}: 0;
        position: absolute;
        top: 0;
        transition: width .2s, background .2s;
        width: 0%;
      }
    }
  }

  input:checked + .cr-pill__option:before {
    width: 100%;
  }

  input:focus + .cr-pill__option {
    box-shadow: inset $bs-focus;
  }

  .cr-pill__label {
    display: block;
    padding: .25em;
    position: relative;
  }

} // -- end @if --
