// ----------------------------------------------------------------------------
//  Radio Buttons & Checkboxes
// ----------------------------------------------------------------------------

// Custom Checkbox base code
%custom-check {
  display: inline-block;
  height: 16px;
  margin: 0 $unit-px 0 0;
  position: relative;
  vertical-align: sub;
  width: 16px;

  &:after {
    content: '';
    opacity: 0;
  }

  &:hover:after {
    opacity: .3;
  }
}


@if $helper-forms--custom-checkbox-radio == true {

  // Checkbox Holder + Element Styling
  .cr-area {
    position: relative;

    :checked + .cr:after {
      opacity: 1;
    }

    :focus + .cr {
      @include box-shadow($bs-input-focus);
    }
  }


  // Checkbox (CSS only) Styling
  .cb-active {
    @extend %custom-check;
    @include border-radius(2px);
    @include linear-gradient($c-light-grey, top, $c-white, $c-grey);
    border: 1px solid $c-dark-grey;

    &:after {
      @include position(top, -2px, left, 1px, absolute);
      @include transform(rotate(-49deg));
      border: 5px solid $c-brand-2;
      border-top: none;
      border-right: none;
      height: 10px;
      width: 20px;
    }
  }

  .radio-active {
    @extend %custom-check;
    @include border-radius($circle);
    @include linear-gradient($c-light-grey, top, $c-white, $c-grey);
    border: 1px solid $c-dark-grey;

    &:after {
      @extend %position-center;
      @include border-radius($circle);
      background: $c-brand-1;
      height: 6px;
      width: 6px;
    }
  }

} // -- end @if --





@if $helper-forms--custom-checkbox-radio--slider == true {

  // Check & Radio Slider Styling
  .crs-label {
    vertical-align: middle;
  }

  .cr-slider {
    white-space: nowrap;
  }

  .crs {
    @extend %input-text;
    @include border-radius(12px);
    display: inline-block;
    height: 28px;
    margin: 0 $unit-px 0 0;
    max-width: 80px;
    overflow: hidden;
    position: relative;
    vertical-align: middle;

    &:after {
      @include position(top, 0, right, 50%, absolute);
      @include transition(.2s all);
      background: $c-red;
      content: "";
      height: 100%;
      width: 51%;
    }

    &.knob {
      overflow: visible;

      &:after {
        @include box-shadow($bs-1);
        background: $c-white;
        border: 1px solid #aaa;
        border-radius: $circle;
        height: 150%;
        top: -25%;
      }
    }

    &.labels:before {
      @include position(top, 12%, left, 5%, absolute);
      content: "Off";
      text-indent: 60%;
    }
  }

  .input-slide {
    &:focus + .crs {
      @include box-shadow($bs-4);
    }

    &:checked + .crs {
      &.knob {
        background: $c-green !important;
        color: $c-white;

        &:after {
          background: $c-white;
        }
      }

      &:after {
        background: $c-green;
        right: -1px;
      }

      &.labels:before {
        content: "On";
        text-indent: 5%;
      }
    }
  }

} // -- end @if --









// ----------------------------------------------------------------------------
//  Checkbox/Radio Button Pills
// ----------------------------------------------------------------------------

@if $helper-forms--cr-pills == true {

  // Pill container
  .cr-pill {
    @extend %margin-bottom-base;
    @include border-radius($unit-px);
    background: $c-white;
    border: 1px solid $c-grey;
    display: inline-block;
    overflow: hidden;
    text-align: center;

    .pill-option {
      border-right: 1px solid $c-grey;
      float: left;
      margin-bottom: 0;
      min-width: 60px;
      overflow: hidden;
      position: relative;

      &:last-child {
        border-right: 0;
      }

      &:before {
        @include transition(all .2s);
        background: $c-light-grey;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 0%;
      }
    }
  }

  :checked + .pill-option:before {
    width: 100%;
  }

  .pill-label {
    display: block;
    padding: $unit-px;
    position: relative;
  }

} // -- end @if --
