// ----------------------------------------------------------------------------
//  Select Element
// ----------------------------------------------------------------------------

@if $helper-forms--select == true {

  // Drop Down Selection
  .select-container {
    @extend %input-text;
    position: relative;

    &:after {
      bottom: 0;
      content: '\25BC';
      height: 16px;
      line-height: 1;
      margin: auto;
      pointer-events: none;
      position: absolute;
      right: 8px;
      top: 0;
    }
  }

  .input-select {
    -webkit-appearance: textarea;
       -moz-appearance: window;
    background: none;
    border: 0;
    font-family: $f-brand;
    margin: 0;
    padding: 0;
    z-index: 2;
  }

  // Example mark-up:
  // ----------------------------------------------------------------------------
  // <div class="select-container">
  //    <select class="input-select">
  //      <option>...</option>
  //      <option>...</option>
  //      <option>...</option>
  //    </select>
  //  </div>

} // -- end @if --







// ----------------------------------------------------------------------------
//  Multi-select Element
// ----------------------------------------------------------------------------

@if $helper-forms--multi-select == true {

  .input-select-multi {
    @extend %input-text;

    option {
      padding: $unit-px 2px;
    }
  }

  // Example mark-up:
  // ----------------------------------------------------------------------------
  //  <select id="multi_select" multiple size="5" class="input-select-multi">
  //    <option>...</option>
  //    <option>...</option>
  //    <option>...</option>
  //  </select>

} // -- end @if --
