// ----------------------------------------------------------------------------
//  Select Element
// ----------------------------------------------------------------------------

@if $helper-forms--select == true {

  // \9 IE hacks in place to work around the fact that IE easily
  // let you hide the default browser select down arrow.

  // Drop Down Selection
  .select-container {
    @extend %input-text;
    overflow: hidden \9; // ie fix
    position: relative;

    &:after {
      border-bottom: 3px solid $c-grey;
      border-right: 3px solid $c-grey;
      bottom: 0;
      content: '';
      height: 10px;
      margin: auto;
      pointer-events: none;
      position: absolute;
      right: .25em;
      top: 0;
      transform-origin: top center;
      transform: rotate(45deg);
      width: 10px;
    }

    select {
      -webkit-appearance: textarea;
         -moz-appearance: window;
      background: none;
      border: 0;
      font-family: inherit;
      font-size: inherit;
      margin: 0;
      padding: 0 34px 0 0;
      width: 115% \9;
      z-index: 2;

      // Remove the default select down arrow in IE10+
      &::-ms-expand {
        display: none;
      }
    }
  }



  // Example mark-up:
  // ----------------------------------------------------------------------------
  //  <label for="select-id-here">Select Something</label>
  //  <div class="select-container">
  //    <select id="select-id-here">
  //      <option>...</option>
  //      <option>...</option>
  //      <option>...</option>
  //    </select>
  //  </div>

} // -- end @if --







// ----------------------------------------------------------------------------
//  Multi-select Element
// ----------------------------------------------------------------------------

@if $helper-forms--multi-select == true {

  .input-multi-select {
    @extend %input-text;

    option {
      padding: .25em;
    }
  }

  .input-multi-select--resize {
    min-height: 4.75em;
    resize: vertical;
  }

  // Example mark-up:
  // ----------------------------------------------------------------------------
  //  <select id="multi_select" multiple size="5" class="input-multi-select">
  //    <option>...</option>
  //    <option>...</option>
  //    <option>...</option>
  //  </select>


  // Example mark-up:
  // ----------------------------------------------------------------------------
  //  <select id="multi_select2" multiple size="5" class="input-multi-select input-multi-select--resize">
  //    <option>...</option>
  //    <option>...</option>
  //    <option>...</option>
  //  </select>

} // -- end @if --
