// ----------------------------------------------------------------------------
//  Select Element
// ----------------------------------------------------------------------------

@if $helper-forms--select == true {

  // \9 IE hacks in place to work around the fact that IE easily
  // let you hide the default browser select down arrow.

  // Drop Down Selection
  .select-container {
    @extend %input-text;
    overflow: hidden \9;
    position: relative;

    &:after {
      bottom: 0;
      content: '\25BC';
      height: 16px;
      line-height: 1;
      margin: auto;
      pointer-events: none;
      position: absolute;
      right: 8px;
      top: 0;
    }
  }

  .input-select {
    -webkit-appearance: textarea;
       -moz-appearance: window;
    background: none;
    border: 0;
    font-family: $f-brand;
    margin: 0;
    padding: 0;
    width: 115% \9;
    z-index: 2;

    // Remove the default select down arrow in IE10+
    &::-ms-expand {
      display: none;
    }
  }

  // Example mark-up:
  // ----------------------------------------------------------------------------
  // <div class="select-container">
  //    <select class="input-select">
  //      <option>...</option>
  //      <option>...</option>
  //      <option>...</option>
  //    </select>
  //  </div>

} // -- end @if --







// ----------------------------------------------------------------------------
//  Multi-select Element
// ----------------------------------------------------------------------------

@if $helper-forms--multi-select == true {

  .input-multi-select {
    @extend %input-text;

    option {
      padding: $unit-px;
    }
  }

  .input-multi-select--resize {
    min-height: 75px;
    resize: vertical;
  }

  // Example mark-up:
  // ----------------------------------------------------------------------------
  //  <select id="multi_select" multiple size="5" class="input-multi-select">
  //    <option>...</option>
  //    <option>...</option>
  //    <option>...</option>
  //  </select>

  // Example mark-up:
  // ----------------------------------------------------------------------------
  //  <select id="multi_select2" multiple size="5" class="input-multi-select input-multi-select--resize">
  //    <option>...</option>
  //    <option>...</option>
  //    <option>...</option>
  //  </select>

} // -- end @if --
