// ----------------------------------------------------------------------------
//  Code Element Variables
// ----------------------------------------------------------------------------

// background color
$code-bg-c:           $c-dark !default;

// text colors
$c-css:               $c-magenta !default;
$c-html:              $c-green !default;
$code-text-c:         $c-off-white !default;

// border styling
$code-border:        1px solid $c-off-black !default;
