// ----------------------------------------------------------------------------
//  Colors: Gradients
// ----------------------------------------------------------------------------

$g-prime:                 top, $c-brand-1, $c-brand-2 !default;
$g-prime-hover:           top, $c-brand-2, $c-brand-1 !default;

$g-alert-error:           top, $c-red, darken($c-red, 20%) !default;
$g-alert-success:         top, $c-green, darken($c-green, 20%) !default;

$g-generic:               top, $c-white, $c-grey !default;
$g-generic-hover:         top, $c-grey, $c-white !default;
