// ----------------------------------------------------------------------------
//  Colors: Generic
//  Generic color choices influenced by - github.com/mrmrs/colors
// ----------------------------------------------------------------------------

// Grey Scale (Dark) Colors
// ----------------------------------------------------------------------------
$c-black:                 #000;     // RGB 0,0,0
$c-off-black:             #111;
$c-darker:                #222;
$c-dark:                  #333;     // RGB 51,51,51
$c-hell:                  #666;     // RGB 102,102,102



// Grey Scale (Medium) Colors
// ----------------------------------------------------------------------------
$c-grey:                  #ccc;       // RGB 204,204,204
$c-dark-grey:             #999;       // RGB 153,153,153
$c-light-grey:            #ddd;       // RGB 221,221,221



// Grey Scale (Lighter) Colors
// ----------------------------------------------------------------------------
$c-white:                 #fff;       // RGB 255,255,255
$c-off-white:             #f0f0f0;
$c-light:                 #e0e0e0;    // RGB 224,224,224
$c-lighter:               #eee;       // RGB 238,238,238



// Generic Colors
// ----------------------------------------------------------------------------
$c-red:                   #ff4136;
$c-green:                 #2ecc40;
$c-blue:                  #0074d9;

$c-magenta:               #f012be;
$c-yellow:                #ffdc00;
$c-orange:                #ff851b;
$c-purple:                #b10dc9;
$maroon:                  #85144b;
$aqua:                    #7fdbff;
$navy:                    #001f3f;
$teal:                    #39cccc;
$olive:                   #3d9970;
$lime:                    #01ff70;



// ----------------------------------------------------------------------------
//  Colors: Branding
// ----------------------------------------------------------------------------

$c-brand-1:               #4aceff;  // light cyan
$c-brand-2:               #00aeef;  // cyan
$c-brand-3:               #0095cc;  // dark cyan
$c-brand-4:               #525252;  // Darker Grey
$c-brand-5:               #b6b5b5;  // Light Grey

$c-neg-1:                 #a00;     // red
$c-neg-2:                 #600;     // dark red

$c-emph-1:                #23d200;  // green
$c-emph-2:                #178900;  // dark green



// ----------------------------------------------------------------------------
//  Colors: Gradients
// ----------------------------------------------------------------------------

$g-prime:                 top, $c-brand-1, $c-brand-2;
$g-prime-hover:           top, $c-brand-2, $c-brand-1;

$g-alert-error:           top, $c-neg-1, $c-neg-2;
$g-alert-success:         top, $c-emph-1, $c-emph-2;

$g-generic:               top, $c-white, $c-grey;
$g-generic-hover:         top, $c-grey, $c-white;



// ----------------------------------------------------------------------------
//  Colors: Simple Names
// ----------------------------------------------------------------------------

$c-header:                $c-brand-4;

$c-border:                $c-grey;

$c-link:                  $c-brand-2;
$c-link-h:                $c-brand-3;

$c-table:                 #fafafa;
$c-table-head:            #444;
$c-table-foot:            $c-off-white;
$c-table-striped:         $c-light;
$c-table-border:          $c-border;

// sets consistent boarder styling for table elements
$table-border:            1px solid $c-border;



// Code Colors
// ----------------------------------------------------------------------------
$c-code-bg:           $c-off-white;
$c-code-border:       $c-light;
$c-css:               $c-magenta;
$c-html:              $c-green;



// Social Button Colors
// ----------------------------------------------------------------------------

// Facebook Button Colors
$c-fb-1:            #3a5b98;
$c-fb-2:            #9baaca;
$c-fb-icon-border:  #496cac;



// Twitter Button Colors
$c-tw-1:            #3096d0;
$c-tw-2:            #96c9e7;
$c-tw-icon-border:  #349dd9;



// Google+ Button Colors
$c-gp-1:            #dd4b39;
$c-gp-2:            #c93e35;
$c-gp-3:            #982b22;
$c-gp-icon-border:  #af352b;
