// ----------------------------------------------------------------------------
//  Body / HTML Vars
// ----------------------------------------------------------------------------

$body-bg-color:           $c-off-white !default;
$body-txt-color:          $c-dark !default;

$body-font-family:        $f-brand !default;
$body-font-weight:        300;
$body-font-size:          100%;
$body-line-height:        1.5;

