// ----------------------------------------------------------------------------
//  Body / HTML Vars
// ----------------------------------------------------------------------------

// Colors
$c-body--bg:                $c-off-white !default;
$c-body--text:              $c-dark !default;

$c-select-text--bg:         $c-brand-1 !default;
$c-select-text--text:       $c-white !default;

$c-link:                    $c-brand-2 !default;
$c-link-h:                  $c-brand-3 !default;


// Fonts
$f-body--family:            $f-brand !default;
$f-body--weight:            300 !default;
$f-body--size:              100% !default;
$f-body--line-height:       1.5 !default;
