// ----------------------------------------------------------------------------
//  Messaging & Tool tip vars
// ----------------------------------------------------------------------------

$c-message--bg:               rgba(255,255,255,.95);
$c-message--border:           1px solid $c-dark;
$c-message--txt:              $c-dark;
