<!doctype html>
<!--[if lte IE 8]><html lang="en" class="ieAll ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ieAll ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" itemscope itemtype="http://schema.org/Person"><!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  
  <title>Brass Tacks: {% block title %}{% endblock %}</title>
  <meta itemprop="name"         content="Microdata of your name" />
  <meta itemprop="description"  content="Enter microdata description of your website" />
  <meta name="description"      content="" />
  <meta name="keywords"         content="" />
  
  <link rel="canonical" href="YORUWEBSITEHERE" />
  
  <!-- Open Graph __ Delete if not needed.
  <meta property="og:title"       content=""/>
  <meta property="og:site_name"   content=""/>
  <meta property="og:type"        content=""/>
  <meta property="og:image"       content=""/>
  <meta property="og:url"         content=""/>
  <meta property="og:description" content=""/>
  <meta property="fb:app_id"      content=""/> 
  -->
  
  <!-- Styles -->
  {{ "master.css" | asset_url | stylesheet_tag }}
  {% block styles %}{% endblock %} <!-- If exists, brings over style blocks from child pages -->
  
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/ico"  href="favicon.ico" />

  <!-- Apple Touch Icon / Startup Screen -->
  <link rel="apple-touch-icon-precomposed"    href="#apple-icon-144.png" />
  <link rel="apple-touch-startup-image"       href="#startup.png" />
  
  <!-- Tile icon for Win8 (144x144 + tile color) __doesn't validate__
  <meta name="msapplication-TileImage" content="#apple-icon-144.png" />
  <meta name="msapplication-TileColor" content="#222222" />
  -->
  
  <!-- Mobile Meta -->
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized"  content="320" />
  <meta name="viewport"         content="width=device-width, minimum-scale=1, initial-scale=1" />
  
  <!-- iOS Web Apps __ Delete if not needed.  
  <meta name="apple-mobile-web-app-capable"           content="yes" />
  <meta name="apple-mobile-web-app-title"             content="" />
  <meta name="apple-mobile-web-app-status-bar-style"  content="black" />
  -->
  
  <!-- Author -->
  <link rel="author" type="text/plain" href="humans.txt" />
  
  <!--[if lt IE 9]> 
    <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

  <body class="fixed-Nav-Left">
    {% include "navigation" %}
    <div class="page">
    
      <header class="header-Base" role="banner">
        {% include "header" %}
      </header>
      
      <main class="content-Base" role="main">
        {% block content %}{% endblock %}
      </main>
      
      <footer class="footer-Base" role="contentinfo">
        {% include "footer" %}
      </footer>
    
    </div> <!-- end .page -->
    
    <!-- scripts -->
    {% block js %}{% endblock %} <!-- Script block allowing child pages to inject their own scripts -->
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. 
    <script type="text/javascript>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    -->
    
  </body>
</html>
