// ----------------------------------------------------------------------------
//  Display Element Classes
// ----------------------------------------------------------------------------

@if $helper-content-displays--inlines == true {

  .display-inline {
    display: inline;
    margin: 0 !important;
    width: auto !important;
  }

  // Inline-block Individual Elements
  // OR
  // ALL elements within a parent element
  .display-inline-block,
  .display-inline-all > * {
    display: inline-block;
    margin-right: $unit-px;
    vertical-align: middle;
    width: auto !important;
  }

} // -- end @if --






@if $helper-content-displays--show-hide == true {

  // display block or none
  .display-block {
    @extend %display-block;
  }


    // Hide Elements with display:none
  .display-none {
    @extend %display-none;
  }


  // Set elements to hide on smaller screens
  @media screen and (max-width: $break-medium) {
    .mobile-hide {
      display: none !important;
    }
  }


  // Set elements to show on smaller screens
  // and hide on larger screens
  .mobile-show {
    display: none !important;

    @media screen and (max-width: $break-medium) {
      display: block !important;
    }
  }


  // Hides from screen readers and browsers
  .hidden {
    @extend %hidden;
  }


  // Hide from browsers but not from screen readers
  .invis {
    @extend %invis;
  }

} // -- end @if --






@if $helper-content-displays--mute == true {

  // Mute an element by changing Opacity
  .mute {
    opacity: .75;

    &--half {
      opacity: .5;
    }

    &--quarter {
      opacity: .25;
    }
  }

} // -- end @if --
