// ----------------------------------------------------------------------------
//  Display Element Silent Classes
//
//  These silent classes may be useful regardless if you need the default
//  Brass Tacks class names they are associated with.
// ----------------------------------------------------------------------------


// Hides from screen readers and browsers
%hidden {
  display: none !important;
  height: 0;
  visibility: hidden;
}

// Hides only from browser rendering, but still
// accessible by screen readers & keyboard controls
%is-a11y-hidden {
  border: 0 !important;
  color: transparent;
  height: 1px !important;
  left: -999999px !important;
  position: absolute !important;
  width: 1px !important;
}



// ----------------------------------------------------------------------------
//  Display Element Classes
// ----------------------------------------------------------------------------

@if $helper-content-displays--inlines == true {

  .display-inline {
    display: inline;
    margin: 0 !important;
    width: auto !important;
  }

  // Inline-block Individual Elements
  // OR
  // ALL elements within a parent element
  .display-inline-block,
  .display-inline-all > * {
    display: inline-block;
    margin-right: $unit-px;
    vertical-align: middle;
    width: auto !important;
  }

} // -- end @if --






@if $helper-content-displays--show-hide == true {

  // display block or none
  .display-block {
    @extend %display-block;
  }


    // Hide Elements with display:none
  .display-none {
    @extend %display-none;
  }


  // Set elements to hide on smaller screens
  @media screen and (max-width: $break-medium) {
    .mobile-hide {
      display: none !important;
    }
  }


  // Set elements to show on smaller screens
  // and hide on larger screens
  .mobile-show {
    display: none !important;

    @media screen and (max-width: $break-medium) {
      display: block !important;
    }
  }


  // Hides from screen readers and browsers
  .is-a11y-hidden {
    @extend %is-a11y-hidden;
  }

} // -- end @if --






@if $helper-content-displays--mute == true {

  // Mute an element by changing Opacity
  .mute {
    opacity: .75;

    &-half {
      opacity: .5;
    }

    &-quarter {
      opacity: .25;
    }
  }

} // -- end @if --
