// ----------------------------------------------------------------------------
//  Shared Emphasis Block Styling
// ----------------------------------------------------------------------------

%emph-shared {
  border: 1px solid $c-light-grey;
  margin-bottom: $unit-px4;
  min-height: 20px;
  padding: $unit-px4;
}






// ----------------------------------------------------------------------------
//  Emphasis Block
// ----------------------------------------------------------------------------

@if $helper-content-emphasis == true {

  .emph-block {
    @extend %emph-shared;
    background: $c-white;
    border-radius: $unit-px;
  }

  // Example mark-up
  // ----------------------------------------------------------------------
  // <div class="emph-block">
  //  ...
  // </div>

} // -- end @if --






@if $helper-content-emphasis--alt == true {

  // Transparent Emphasis Block
  // For use when needing to place an emphasis block in a columned layout,
  // & need to have consistent typography / content base without the background
  // or bordering of the block.

  .emph-transparent {
    @extend %emph-shared;
  }

  // Example mark-up
  // ----------------------------------------------------------------------------
  // <div class="emph-transparent">
  //  ...
  // </div>



  // A smaller emphasis block
  .emph-block--small {
    padding: $unit-px2
  }

  // Example mark-up
  // ----------------------------------------------------------------------------
  // <div class="emph-block emph-small">
  //  ...
  // </div>

 } // -- end @if --





@if $helper-content-emphasis--img == true {

  //  Emphasis Image
  .emph-img {
    border-radius: $unit-px;
    border: 1px solid $c-dark-grey;
    display: inline-block;
    overflow: hidden;

    img {
      border: 3px solid $c-off-white;
      display: block;
      width: 100%;
    }

    &__caption {
      background: $c-white;
      padding: 4px 12px;
    }
  }

  // Example mark-up
  // ----------------------------------------------------------------------------
  // <div class="emph-img">
  //   <img src="..." alt="..." />
  // </div>

} // -- end @if --
