// ----------------------------------------------------------------------------
//  Media Element
// ----------------------------------------------------------------------------

@if $helper-content-media-element == true {

  // Standard Media Element
  .media-block {
    margin-bottom: $unit-em * 2;

    // Inside the text area for the media element, make sure the final
    // element has a margin-bottom of zero so as not to add increase the
    // margin-bottom of the main media element.
    &__text {
      overflow: hidden;

      > :last-child {
        margin-bottom: 0;
      }
    }

    &__title {
      font-size: $txt-h3;
      line-height: 1.2;
      margin-bottom: .5em;
    }


    // the .media-object contains the photo, illustration, video,
    // icon / avatar or other like media item.
    &__object {
      float: left;
      margin: 0 1em .5em 0;
      max-width: 100%;

      > * {
        display: block;
      }
    }

  } // end .media


  // Example mark-up:
  // ----------------------------------------------------------------------------
  //  <div class="media-block">
  //    <div class="media-block__object w-40 w-default">
  //      <img src="http://placekitten.com/400/400" alt="" />
  //    </div>
  //    <div class="media-block__text">
  //      <h2 class="media-block__title">Title for Media Element</h2>
  //      <p class="txt-h5">sub title</p>
  //      <p>Paragraph text to go along with media element.</p>
  //    </div>
  //  </div>

  // Divs were used in this example, but the media element could be applied to
  // various situations. e.g. It could be used for a header or footer area where
  // a logo is placed on the right or left w/text to the side.

} // -- end @if --






// ----------------------------------------------------------------------------
//  Media Element Reversed
// ----------------------------------------------------------------------------

@if $helper-content-media-element--reverse == true {

  // Have media object appear on the right side w/ text on the left
  .media-block--reverse {

    .media-block__object {
      float: right;
      margin: 0 0 .5em 1em;
    }
  }

} // -- end @if --
