// ----------------------------------------------------------------------------
//  Media Object
// ----------------------------------------------------------------------------

%media {
  @extend %clearfix;
  margin-bottom: $unit-em*2;

  .media-text >:last-child {
    margin-bottom: 0;
  }

  .media-object {
    float: left;
    margin: 0 $unit-px4 $unit-px2 0;
    max-width: $media-object-area;
  }
}



// ----------------------------------------------------------------------------
//  Emphasis Block
// ----------------------------------------------------------------------------

%emph-shared {
  @include last-child-0();
  margin-bottom: $unit-px4;
  min-height: 20px;
  padding: $unit-px4;
}



// ----------------------------------------------------------------------------
//  Messaging Blocks
// ----------------------------------------------------------------------------

// Messaging Banners
%close-message {
  @include border-radius($circle);
  @include position(top, -$unit-em*.5, right, -$unit-em*.5, absolute);
  border: 1px solid;
  padding: $unit-px $unit-px3;
  text-decoration: none;
}



// ----------------------------------------------------------------------------
//  Tool Tips
// ----------------------------------------------------------------------------

%tool-tip {
  //  extend this rule into the a [data-tooltip] selector
  cursor: help;
  display: inline-block;
  position: relative;

  img {
    display: block;
  }

  &:after {
    @include position(bottom, -20%, left, 0, absolute);
    @include transition(all 0.35s);
    content: attr(data-tooltip);
    font-size: $txt-small;
    opacity: 0;
    padding: $unit-px $unit-px3;
    text-align: center;
    width: 100%;
  }

  &:hover {
    text-decoration: none;

    &:after {
      bottom: 0;
      opacity: 1;
    }
  }
}
