// ----------------------------------------------------------------------------
//  General Form Elements
// ----------------------------------------------------------------------------

// Basic reset / normalizing for form elements
%reset-form-elements {
  @extend %reset-spacing;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.25;
  text-transform: none;
}



// Base label styling for use with element & class to mimic element
%label {
  display: inline-block;
  margin-bottom: $unit-px;

  &[for] {
    cursor: pointer;
  }
}



// ----------------------------------------------------------------------------
//  Inputs
// ----------------------------------------------------------------------------

// Custom inputs & textarea base code
%input-text {
  @include border-radius($unit-px);
  background: $c-white;
  border: 1px solid $c-grey;
  font-family: $f-brand;
  margin-bottom: $unit-px2;
  padding: $unit-px2 $unit-px;
  width: 100%;
  -webkit-appearance: none;

  &:focus {
    background: $c-off-white;
    @include box-shadow($bs-4);
  }
}



// Custom Checkbox base code
%custom-check {
  display: inline-block;
  height: 16px;
  margin: 0 $unit-px 0 0;
  position: relative;
  vertical-align: sub;
  width: 16px;

  &:after {
    content: '';
    opacity: 0;
  }

  &:hover::after {
    opacity: .3;
  }
}
