// ----------------------------------------------------------------------------
//  Grids
// ----------------------------------------------------------------------------

%col-fixed-width {
  @media only screen and (max-width: $break-medium) {
    padding: 0;
  }

  .col-fixed-width {
    @media only screen and (max-width: $break-medium) {
      float: none;
      margin: 0;
      padding-left: 40px;
      width: auto;
    }
  }
}


// ----------------------------------------------------------------
//  Margins
// ----------------------------------------------------------------

// Consistent margin bottom
%margin-bottom-base {
  margin-bottom: $unit-px4;
}

%margin-bottom-2x {
  margin-bottom: $unit-px2;
}


// ----------------------------------------------------------------
//  Positioning
// ----------------------------------------------------------------

// Make a file for this
%position-center {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}


// Empty content rule when positioning :before & :after
%content-empty {
  content: '';
}
