// ----------------------------------------------------------------------------
//  Buttons
// ----------------------------------------------------------------------------

// General button setup to extend into button classes
%btn {
  -webkit-appearance: none;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  font: {
    family: $f-btn-family;
      size: $f-btn-size;
    weight: $f-btn-weight;
  }
  line-height: 1;
  min-width: 60px;
  padding: $btn-pad $btn-pad*2;
  text-align: center;
  text-decoration: none !important; // never have an underline on button text

  &:focus {
    @include box-shadow($bs-btn-focus);
    outline: 0;
  }
}



// Buttons with Icons
%btn-icon {
  @include position(top, 0, left, 0, absolute);
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 40px;
}






// ----------------------------------------------------------------------------
//  General Button Styling
// ----------------------------------------------------------------------------

@if $helper-btn--general == true {

  .btn {
    @extend %btn;
    @include btn-style($btn-bg, $btn-border, $btn-text, $btn-bg-2);
  }

} // -- end @if --


@if $helper-btn--prime == true {

  .btn-prime {
    @extend %btn;
    @include btn-style($btn-bg-prime, $btn-border-prime, $btn-text-prime, $btn-bg-2-prime);
  }

} // -- end @if --


@if $helper-btn--emph == true {

  .btn-emph {
    @extend %btn;
    @include btn-style($btn-bg-emph, $btn-border-emph, $btn-text-emph, $btn-bg-2-emph);
  }

} // -- end @if --


@if $helper-btn--neg == true {

  .btn-neg {
    @extend %btn;
    @include btn-style($btn-bg-neg, $btn-border-neg, $btn-text-neg, $btn-bg-2-neg);
  }

} // -- end @if --


@if $helper-btn--disable == true {

  .btn-disable, .btn[disabled] {
    @extend .btn;
    @include btn-style($btn-bg-disable, $btn-border-disable, $btn-text-disable, $btn-bg-disable);
    cursor: not-allowed;
    opacity: .3;

    &:visited {
      background-color: $btn-bg-disable;
    }
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Sizing Variations
// ----------------------------------------------------------------------------

$btn-sizes: (
// size     font-size   padding
   tiny     $txt-tiny   $btn-pad-tiny,
   small    $txt-small  $btn-pad-small,
   large    $txt-h3     $btn-pad-large,
   xlarge   $txt-h2     $btn-pad-xlarge
);


@if $helper-btn--sizing == true {

  .btn {

    @each $bsv in $btn-sizes {
      &-#{nth($bsv, 1)} {
        font-size: nth($bsv, 2);
        padding: nth($bsv, 3)
      }
    }

    &-wide {
      display: block;
      width: 100%;
    }
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Border Radius Styling
// ----------------------------------------------------------------------------

@if $helper-btn--rounding == true {

  .btn {

    &-soft {
      @include border-radius($unit-px2);
    }

    &-round {
      @extend %circle;
    }
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Clear & Close Buttons
// ----------------------------------------------------------------------------

@if $helper-btn--clear == true {

  // Clear button for search inputs
  .btn-clear {
    @extend %content-empty;
    //@extend %sprite;
    @include position-vertical-center(right, 6px, absolute);
    //background-position: -165px -28px;
    //
    //  TODO
    //  create an X img for this button
    //
    border: none;
    height: 66%;
    width: 24px;

    // &:hover {
    //   background-position: -165px -1px;
    // }
  }

} // -- end @if --


@if $helper-btn--close == true {

  // Close buttons for modal windows
  .btn-close {
    @extend %circle;
    @include position(top, -6px, left, -6px, absolute);
    min-width: 1px !important;
    padding: 5px 7px;
    text-transform: uppercase;
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Button Pills
// ----------------------------------------------------------------------------

@if $helper-btn--pills == true {

  // Pill container
  .btn-pill {
    @extend %clearfix;
    @extend %margin-bottom-base;

    &>:first-child {
      @include border-radius($unit-px2 0 0 $unit-px2);
    }

    &>:last-child {
      @include border-radius(0 $unit-px2 $unit-px2 0);
    }

    &>:not(:first-child) {
      border-left: none;
    }

    .btn {
      float: left;
      margin-bottom: 0;
      min-width: 100px;

      &-small {
        min-width: 80px;
        padding-bottom: 6px;
        padding-top: 6px;
      }
    }

  }

} // -- end @if --
