// ----------------------------------------------------------------------------
//  Social Buttons
// ----------------------------------------------------------------------------

@if $helper-btn--social == true {

  // Social Buttons Shared Styling
  [class*="btn-social"] {
    color: $c-white !important;
    min-width: 162px;
    padding-left: 50px;
    position: relative;
    text-align: left;
    text-shadow: $ts-primary;
  }

  .social-icon {
    @extend %btn-icon;
  }

} // -- end @if --



@if $helper-btn--social__fb == true {

  .btn-social-fb {
    background: $c-fb-1;
    border-color: $c-fb-2;

    .social-icon {
      //background-image: url();
      border-color: $c-fb-2;
    }

    &:hover {
      background: $c-fb-2;

      .social-icon {
        border-color: $c-fb-icon-border;
      }
    }
  }

} // -- end @if --



@if $helper-btn--social__tw == true {

  .btn-social-tw {
    background-color: $c-tw-1;
    border-color: $c-tw-2;

    .social-icon {
      //background-image: url();
      border-color: $c-tw-2;
    }

    &:hover {
      background: $c-tw-2;

      .social-icon {
        border-color: $c-tw-icon-border;
      }
    }
  }

} // -- end @if --



@if $helper-btn--social__gp == true {

  .btn-social-g {
    background-color: $c-gp-1;
    border-color: $c-gp-3;

    .social-icon {
      //background-image: url();
      border-color: $c-gp-3;
    }

    &:hover {
      background: $c-gp-3;

      .social-icon {
        border-color: $c-gp-icon-border;
      }
    }
  }

} // -- end @if --
