// ----------------------------------------------------------------------------
//  Display Element Classes
// ----------------------------------------------------------------------------

@if $helper-content-displays--inlines == true {


  .inline {

    // Convert to inline
    &-element {
      display: inline;
      margin: 0 !important;
      width: auto !important;
    }


    // Inline-block Individual Elements
    // OR
    // ALL elements within a parent element
    &-block-element,
    &-all > * {
      @extend %d-inline-block;
      margin-right: $unit-px;
      width: auto !important;
    }


    // Inline items with a list element
    &-list {
      margin-bottom: $unit-px4;

      > li {
        display: inline-block;
        margin-bottom: 0;
        margin-right: $unit-px;
        vertical-align: middle;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  } // end .inline-

} // -- end @if --






@if $helper-content-displays--show-hide == true {

  // display block or none
  .d {

    // Show Elements with display:block
    &-block {
      @extend %d-block;
    }


    // Hide Elements with display:none
    &-none {
      @extend %d-none;
    }

  }


  // Set elements to hide on smaller screens
  @media screen and (max-width: $break-medium) {
    .mobile-hide {
      display: none !important;
    }
  }


  // Set elements to show on smaller screens
  // and hide on larger screens
  .mobile-show {
    display: none !important;

    @media screen and (max-width: $break-medium) {
      display: block !important;
    }
  }


  // Hides from screen readers and browsers
  .hidden {
    @extend %hidden;
  }


  // Hide from browsers but not from screen readers
  .invis {
    @extend %invis;
  }

} // -- end @if --






@if $helper-content-displays--mute == true {

  // Mute an element by changing Opacity
  .mute {
    opacity: .75;

    &-half {
      opacity: .5;
    }

    &-quarter {
      opacity: .25;
    }
  }

} // -- end @if --
