// ----------------------------------------------------------------------------
//  CSS Block Shapes
// ----------------------------------------------------------------------------

// Prefect Square
@mixin square($measurement) {
  height: $measurement;
  width:  $measurement;
}


// Wide Rectangle
@mixin rectangle-wide($measurement, $number) {
  height: $measurement;
  width:  $measurement*$number;
}


// Tall Rectangle
@mixin rectangle-tall($measurement, $number) {
  height: $measurement*$number;
  width:  $measurement;
}
