// ----------------------------------------------------------------------------
//  Transition
// ----------------------------------------------------------------------------

// Generic Transitions
@mixin transition($values) {
  @include vendor(transition, $values, $o: false, $ms: false);
}


// Generic Transforms
@mixin transform($values){
  @include vendor(transform, $values);
}
