// ----------------------------------------------------------------
//  Typography
// ----------------------------------------------------------------

// Custom Text Selection Styling
@mixin select-text-default($select-bg, $txt-color, $txt-shadow) {
  background:   $select-bg;
  color:        $txt-color;
  text-shadow:  $txt-shadow;
}


// Include this into elements to have text selection colors be specific to region
@mixin select-text($select-bg, $txt-color, $txt-shadow) {
  ::-moz-selection  { @include select-text-default($select-bg, $txt-color, $txt-shadow); }
  ::selection       { @include select-text-default($select-bg, $txt-color, $txt-shadow); }
}



// Placeholder Text Styling
@mixin placeholder-text($c-text, $f-style) {
  color: $c-text;
  font-style: $f-style;
}



// Multi-Column Text Blocks
@mixin multi-col($cols, $gap, $rule-width, $rule-location, $rule-color) {
  @include vendor(column-count, $cols, $o: false, $ms: false);
  @include vendor(column-gap, $gap, $o: false, $ms: false);
  @include vendor(column-rule, $rule-width $rule-location $rule-color, $o: false, $ms: false);
}



// Anti-aliasing Text
@mixin antialiased {
  @include vendor(font-smoothing, antialiased, $o: false, $ms: false, $moz: false);
}



// Code Bordering
@mixin code-border($border-width, $border-emph-width, $border-color) {
  border: $border-width solid $border-color;
  border-left-width: $border-emph-width;
}



// Code Coloring
@mixin code-color($c-code-color) {
  border-left-color: $c-code-color;
  color: $c-code-color;
}

// Example:
// ----------------------------------------------------------------------------
// @include code-color(#f00);



// Truncate Text
@mixin truncate-text($truncation-boundary) {
  display: inline-block;
  max-width: $truncation-boundary;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Example
// ----------------------------------------------------------------------------
// @include truncate-text(100%);
