// ----------------------------------------------------------------
//  Displays
// ----------------------------------------------------------------

%d-block {
  display: block;
}

%d-inline-block {
  display: inline-block;
}

%d-inline {
  display: inline;
}

%d-none {
  display: none;
}
