// ----------------------------------------------------------------
//  Positioning
// ----------------------------------------------------------------

// Make a file for this
%position-center {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

// Empty content rule when positioning :before & :after
%content-empty {
  content: '';
}
