// ----------------------------------------------------------------------------
//  Social Buttons
// ----------------------------------------------------------------------------

// Social button shared styling
%btn-social {
  @extend %btn;
  min-width: 162px;
  padding-left: 56px;
  position: relative;
  text-align: left;
}


@if $helper-btn--social == true {

  .social-icon {
    @extend %btn-icon;
    border-right: 1px solid;
  }

} // -- end @if --


@if $helper-btn--social__fb == true {

  .btn-facebook {
    @extend %btn-social;
    background: $c-fb-1;
    border-color: $c-fb-2;

    .social-icon {
      //background-image: url();
      border-color: $c-fb-2;
    }

    &:hover {
      background: $c-fb-2;

      .social-icon {
        border-color: $c-fb-icon-border;
      }
    }
  }

} // -- end @if --


@if $helper-btn--social__tw == true {

  .btn-twitter {
    @extend %btn-social;
    background-color: $c-tw-1;
    border-color: $c-tw-2;

    .social-icon {
      //background-image: url();
      border-color: $c-tw-2;
    }

    &:hover {
      background: $c-tw-2;

      .social-icon {
        border-color: $c-tw-icon-border;
      }
    }
  }

} // -- end @if --


@if $helper-btn--social__gp == true {

  .btn-google {
    @extend %btn-social;
    background-color: $c-gp-1;
    border-color: $c-gp-3;

    .social-icon {
      //background-image: url(../../assets/img/gp.png);
      border-color: $c-gp-3;
    }

    &:hover {
      background: $c-gp-3;

      .social-icon {
        border-color: $c-gp-icon-border;
      }
    }
  }

} // -- end @if --
