@if $import-helper-btn-general == true {

// ----------------------------------------------------------------------------
//  General Button Styling
// ----------------------------------------------------------------------------

.btn {
  @extend %btn;
  @include btn-style($btn-bg, $btn-border, $btn-text, $btn-bg-2);
}

.btn-prime {
  @extend %btn;
  @include btn-style($btn-bg-prime, $btn-border-prime, $btn-text-prime, $btn-bg-2-prime);
}

.btn-emph {
  @extend %btn;
  @include btn-style($btn-bg-emph, $btn-border-emph, $btn-text-emph, $btn-bg-2-emph);
}

.btn-neg {
  @extend %btn;
  @include btn-style($btn-bg-neg, $btn-border-neg, $btn-text-neg, $btn-bg-2-neg);
}

.btn-disable {
  @extend .btn;
  @include btn-style($btn-bg-disable, $btn-border-disable, $btn-text-disable, $btn-bg-disable);
  cursor: not-allowed;
  opacity: .3;

  &:visited {
    background-color: $btn-bg-disable;
  }
}


// ----------------------------------------------------------------------------
//  Sizing Variations
// ----------------------------------------------------------------------------

.btn-tiny {
  font-size: $txt-tiny;
  padding: $btn-pad-tiny;
}

.btn-small {
  font-size: $txt-small;
  padding: $btn-pad-small;
}

.btn-large {
  font-size: $txt-h3;
  padding: $btn-pad-large;
}

.btn-xlarge {
  font-size: $txt-h2;
  padding: $btn-pad-xlarge;
}


.btn-wide {
  display: block;
  width: 100%;
}


// ----------------------------------------------------------------------------
//  Border Radius Styling
// ----------------------------------------------------------------------------

.btn-soft {
  @include border-radius($unit-px2);
}

.btn-round {
  @extend %circle;
}


// ----------------------------------------------------------------------------
//  Close Button
// ----------------------------------------------------------------------------

// Clear button for search inputs
.btn-clear {
  @extend %content-empty;
  @extend %sprite;
  @include position-vertical-center(right, 6px, absolute);
  background-position: -165px -28px;
  border: none;
  height: 66%;
  width: 24px;

  &:hover {
    background-position: -165px -1px;
  }
}


// Close buttons for modal windows
.btn-close {
  @include border-radius($circle);
  @include position(top, -6px, left, -6px, absolute);
  min-width: 1px!important;
  padding: 5px 7px;
  text-transform: uppercase;
}


// ----------------------------------------------------------------------------
//  Button Pills
// ----------------------------------------------------------------------------

// Pill container
.btn-pill {
  @extend %clearfix;
  @extend %margin-bottom-base;

  &>:first-child {
    @include border-radius($unit-px2 0 0 $unit-px2);
  }

  &>:last-child {
    @include border-radius(0 $unit-px2 $unit-px2 0);
  }

  &>:not(:first-child) {
    border-left: none;
  }

  .btn {
    float: left;
    margin-bottom: 0;
    min-width: 100px;
  }

  .btn-small {
    min-width: 80px;
    padding-bottom: 6px;
    padding-top: 6px;
  }
}


// ----------------------------------------------------------------------------
} // -- end @if --
// ----------------------------------------------------------------------------

