// ----------------------------------------------------------------------------
//  Code Block Coloring
// ----------------------------------------------------------------------------

@mixin code-block($cd-bg: $c-code--bg, $cd-border: $code-border, $cd-txt: $c-code--text, $code-border-emph: false) {
  background-color: $cd-bg;
  border: $cd-border;
  border-left-width: $code-border-emph;
  color: $cd-txt;
}
