// ----------------------------------------------------------------------------
//  Code Block Coloring
// ----------------------------------------------------------------------------

@mixin code-block($c-code-bg, $code-border, $code-text-c, $code-border-emph: false) {
  background-color: $code-bg-c;
  border: $code-border;
  border-left-width: $code-border-emph;
  color: $code-text-c;
}
