// ----------------------------------------------------------------------------
//  Media Object
// ----------------------------------------------------------------------------

%media {
  @extend %clearfix;
  margin-bottom: $unit-em * 2;
}



// ----------------------------------------------------------------------------
//  Emphasis Block
// ----------------------------------------------------------------------------

%emph-shared {
  @extend %last-child-0;
  margin-bottom: $unit-px4;
  min-height: 20px;
  padding: $unit-px4;
}
