// ----------------------------------------------------------------------------
//  Media Object
// ----------------------------------------------------------------------------

%media {
  @extend %clearfix;
  margin-bottom: $unit-em * 2;
}



// ----------------------------------------------------------------------------
//  Emphasis Block
// ----------------------------------------------------------------------------

%emph-shared {
  @extend %last-child-0;
  margin-bottom: $unit-px4;
  min-height: 20px;
  padding: $unit-px4;
}




// ----------------------------------------------------------------------------
//  Tool Tips
// ----------------------------------------------------------------------------

%tool-tip {
  //  extend this rule into the a [data-tooltip] selector
  cursor: help;
  display: inline-block;
  position: relative;

  img {
    display: block;
  }

  &:after {
    @include position(bottom, -20%, left, 0, absolute);
    @include transition(all 0.35s);
    content: attr(data-tooltip);
    font-size: $txt-small;
    opacity: 0;
    padding: $unit-px $unit-px3;
    text-align: center;
    width: 100%;
  }

  &:hover {
    text-decoration: none;

    &:after {
      bottom: 0;
      opacity: 1;
    }
  }
}
