// ----------------------------------------------------------------------------
//  Modal Push Down
// ----------------------------------------------------------------------------

// Modal Push Down / container
.modal-push-down {
  height: 0;
  opacity: 0;
  overflow: auto;
  transition: opacity .4s;
  visibility: hidden;

  &[aria-hidden='false'] {
    height: auto;
    opacity: 1;
    visibility: visible;
  }
}

.modal-push-down__content {
  position: relative;
  padding: 20px;
}

// Example mark-up:
// ----------------------------------------------------------------------------
// <button class="btn js-btn--mpd-open" type="button">Open</button>

// <div class="modal-push-down" aria-hidden="true" role="dialog" aria-labelledby="modal_title_X">
//   <div class="modal-push-down__content" role="document">
//     <h2 class="txt-h4" id="modal_title">
//       Modal Title
//     </h2>
//     <p>
//       ...
//     </p>
//     <button type="button" class="btn btn--close js-btn--mpd-close" aria-label="close">
//       &times;
//     </button>
//   </div>
// </div>
