// ----------------------------------------------------------------------------
//  Project Specific Extended HTML Styling
// ----------------------------------------------------------------------------

// Full container for the entire page.
.page {}


// Generic tag to wrap around content within sections to apply a max width
// to the interior content while allowing for larger sections to expand
// the whole page for BG styling purposes
.content {
  margin: 0 auto;
  max-width: 1000px;
  padding: $unit-px5;
}
