@if $import-helper-messaging == true{

// ----------------------------------------------------------------------------
//  Messaging
// ----------------------------------------------------------------------------

.message-position {
  @include position(top, 0, left, $unit-per, fixed);
  width: 80%;
}

.message-container {
  @include transition(all .3s linear);
  border: 1px solid;
  margin-bottom: $unit-em;
  padding: $unit-em*.35 $unit-em*.5;
  position: relative;
  text-shadow: 0 1px 1px rgba(255,255,255,.6);
}

.message-title {}

.message-text {
  margin-bottom: 0;
}

.message-warning {
  @include messaging-unit($c-orange, $c-dark);
}

.message-error {
  @include messaging-unit($c-red, $c-off-white);
}

.message-success {
  @include messaging-unit($c-green, $c-off-white);
}

.message-info {
  @include messaging-unit($c-blue, $c-off-white);
}

.close-message {
  @extend %circle;
  @include position(top, -$unit-em*.5, right, -$unit-em*.5, absolute);
  border: 1px solid;
  padding: $unit-px $unit-px3;
  text-decoration: none;
}


// ----------------------------------------------------------------------------
} // -- end @if --
// ----------------------------------------------------------------------------
