@if $import-media-img-svg == true{

// ----------------------------------------------------------------------------
//  Media Elements: Images & SVG
// ----------------------------------------------------------------------------

// If an image doesn't load, make the alt text noticable
img {
  @extend %reset-border;
  @extend %italic;
  color: $c-red;
  max-width: 100%;
}

// Corrects overflow issue in IE9
svg:not(:root) {
  overflow: hidden;
}


// ----------------------------------------------------------------------------
} // -- end @if --
// ----------------------------------------------------------------------------
