// ----------------------------------------------------------------------------
//  Set last child to margin-bottom: 0;
// ----------------------------------------------------------------------------

%last-child-0 {
  & > :last-child {
    margin-bottom: 0;
  }
}

// ----------------------------------------------------------------
//  Silent Margins
// ----------------------------------------------------------------

// Consistent margin bottom
%margin-bottom-base {
  margin-bottom: $unit-px4;
}

%margin-bottom-2x {
  margin-bottom: $unit-px2;
}
