// ----------------------------------------------------------------------------
//  Positioning Elements
// ----------------------------------------------------------------------------

// Position via a coordinate on each axis & position type
@mixin position($t-or-b, $tb-unit, $l-or-r, $lr-unit, $position) {
  position: $position;

  // Declare bottom or top
  @if $t-or-b == bottom {
    bottom: $tb-unit;
  }

  @else if $t-or-b == top {
    top: $tb-unit;
  }

  // Declare left or right
  @if $l-or-r == left {
    left: $lr-unit;
  }

  @else if $l-or-r == right {
    right: $lr-unit;
  }
}

// Example:
// ----------------------------------------------------------------------------
// @include position(bottom, 10px, left, 333px, fixed);



@mixin position-vertical-center($l-or-r, $lr-unit, $position) {
  bottom: 0;
  margin: auto 0;
  position: $position;
  top: 0;

  // Declare left or right
  @if $l-or-r == left {
    left: $lr-unit;
  }

  @else if $l-or-r == right {
    right: $lr-unit;
  }
}

// Example:
// ----------------------------------------------------------------------------
// @include position(left, 333px, absolute);



// Position elements in the center of all the things
%position-center {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}



// Empty content rule when positioning ::before & ::after
%content-empty {
  content: "";
}
