%btn--full-height {
  height: 100%;
  padding: 0 8px;
  position: absolute;
  top: 0;
  z-index: 2;
}

// ----------------------------------------------------------------------------
//  Input Type: Search w/ button combo
// ----------------------------------------------------------------------------

.form-search {
  padding: 0;
  position: relative;

  .input-text {
    @include truncate-text(100%);
    margin-bottom: 0;
    padding-right: $unit-px*30;
  }
}

.btn--search {
  @extend %btn--full-height;
  padding: 0 12px;
  right: -1px;
}

// Put a search button in-line with search input field via position: absolute;

// Example mark-up:
// ----------------------------------------------------------------------------
// <form role="search" class="form-row form-row--search">
//   <input type="search" class="input-text" aria-labelledby="s" />
//   <input type="submit" value="Search" id="s" class="btn btn--prime btn--search" />
// </form>






// ----------------------------------------------------------------------------
//  Input Type: Search with clear button
//  ** requires clear-search.js **
// ----------------------------------------------------------------------------

// Clear button for search inputs
.btn--clear {
  @extend %btn--full-height;
  font-family: 1.4em;
  margin: auto;
  opacity: 0;
  padding: 0;
  right: 0;
  transition: opacity .2s;
  width: 30px;
  visibility: hidden;

  &[data-show-btn='true'] {
    opacity: 1;
    visibility: visible;
  }

  &:hover,
  &:focus {
    background: $c-off-white;
    border-color: darken($c-brand--1, 20%);
    color: darken($c-brand--1, 20%);
  }

  &:active {
    background: $c-light-grey;
  }
}


// Example mark-up:
// ----------------------------------------------------------------------------
//  <div class="form-search search-area--clear">
//    <input type="search" id="search_input_clear" class="input-text js-clear" name="search_input" />
//    <label for="search_input_clear" class="label-reveal">
//      Search for...
//    </label>
//  </div>


// Note:
// The btn--clear component requires JavaScript to function properly.
// Please see the Brass Tacks search component demo & search-clear.js
// companion file.
