// ----------------------------------------------------------------
//		Basic Style Normalizing/Resetting
// ----------------------------------------------------------------

// Make a smarter Box Model
*, *:before, *:after{@include box-sizing(border-box)}

// Just to make sure the HTML doesn't act like a bitch
html{overflow-y:scroll; min-height:100%}

html, body{@extend %reset}

// Reset the Standard Tags, 
// extend to all tags that need this
// for better organization of code
%reset{border:0; margin:0; outline:0; padding:0}

// Styling for HTML5 sepecific elements/selectors
@import 'html5-Elements';

// Styling for base typographical elements
@import 'typography';

// Easy re-styling for <hr /> tags
hr{
  @extend %reset;
  border-bottom:1px solid rgba(255,255,255,.2);
  border-top:   1px solid rgba(0,0,0,.2); 
  display:block; 
  height:1px; 
  margin:$spacing*2 0; 
}

// Styling for base media elements
@import 'media-Elements';

// Styling for base form elements
@import 'form-Reset';
