// ----------------------------------------------------------------
//		Basic Style Normalizing/Resetting
// ----------------------------------------------------------------

// Make a smarter Box Model
*, *:before, *:after{
  @include box-sizing(border-box);
}

html{
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
}

html, body{
  @extend %mp-Reset;
  height:100%;  
}

body{
  @extend %font-Size-LH;
}

// Removes grey background color from active links in IE10
a{
  background:transparent;
}

// Base HTML5 sepecific elements/selectors rules
@import 'html5-Elements';

// Base media element rules
@import 'media-Elements';

// Base typographical element rules
@import 'typography-Base';        // Base elements for typography
@import 'typography-Code';        // Code styling
@import 'typography-Decorative';  // Decorative text elements
@import 'typography-Lists';       // Lists styling

// Base table element rules
@import 'tables';

// Base form element rules
@import 'forms';

// Base navigation rules
@import 'navs';

// Easy re-styling for <hr /> tags
hr{
  border:0;
  border-bottom:1px solid rgba(255,255,255,.2);
  border-top:   1px solid rgba(0,0,0,.2); 
  @extend %d-Block;
  height:1px; 
  margin:$px-Unit*2 0;
}
