// ----------------------------------------------------------------
//		Basic Style Normalizing/Resetting
// ----------------------------------------------------------------

// Make a smarter Box Model
*, *:before, *:after{
  @include box-sizing(border-box);
}

html, body{
  @extend %reset;
  height:100%;  
}

html{
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
}

body{
  @extend %font-Size-LH;
}

// Placeholder classes are used so elements can be easily
// broken out into modular files.

// If you would like to change the basic values of these 
// elements, simply either delete the place holder reference
// and add your own styling, or edit the placeholder class
// in the corresponding Brass Tacks placeholders .scss file.