// ----------------------------------------------------------------
//		Form Elements Standardization
// ----------------------------------------------------------------

// Standardize form elements for all browsers and add in additional base styling
button, fieldset, form, input, select, textarea{
  @extend %reset;
  @extend %margin-bottom;
  font:{family:$arial; size:100%}; 
  line-height:normal; 
  text-transform:none;
}

// Makes buttons look like buttons with appropriate cursors
button, html input[type='button'], input[type='reset'], input[type='submit']{cursor:pointer; -webkit-appearance:button}

// Makes it look like a normal text input, only with a (x) when text has been entered
input[type='search']{-webkit-appearance:textfield} 

// Disabled input styling
input[disabled]{
  background:$c-Light;
  cursor:not-allowed;
}

// Read Only input styling
input[readonly]{background:$c-Disabled}

// Removes extra inner padding for webkit
input[type='search']::-webkit-search-decoration{-webkit-appearance:none} 

// Removes inner padding & border in Firefox 4+
button::-moz-focus-inner, input::-moz-focus-inner{border:0; padding:0}

// Makes sure that overflow shows and text is aligned to top of area
// also make resizing not extend beyond the max-width for the content area
textarea{
  max-width:100%;
  min-height:40px;
  overflow:auto;
  resize:both;
  vertical-align:top;
}
