// ----------------------------------------------------------------
//		Form Elements Standardization
// ----------------------------------------------------------------

// Standardize form elements for all browsers and add in additional base styling
button, fieldset, form, input, select, textarea{
  @extend %reset;
  @extend %margin-bottom;
  @extend %base;
  line-height:normal;
  text-transform:none;
}

legend{@extend %reset}

// Makes buttons look like buttons with appropriate cursors
button,
html input[type='button'],
input[type='reset'],
input[type='submit']{
  cursor:pointer;
  -webkit-appearance:button;
}

// Makes it look like a normal text input, only with a (x) when text has been entered
input[type='search']{
  -webkit-appearance:textfield;
} 

// Disabled input styling
input[disabled]{
  background:$c-Light;
  cursor:not-allowed;
}

// Read Only input styling
input[readonly]{
  background:$c-Disabled;
}

// Removes extra inner padding for webkit
input[type='search']::-webkit-search-decoration{
  -webkit-appearance:none;
} 

// Removes inner padding & border in Firefox 4+
button::-moz-focus-inner, input::-moz-focus-inner{
  border:0;
  padding:0;
}

// Base styling for text input elements
input{
  &[type="date"], &[type="email"], &[type="file"], &[type="number"], &[type="password"], &[type="search"], 
  &[type="tel"], &[type="text"], &[type="time"], &[type="url"]{
    @extend %input-Area;
  }
}

// Makes sure that overflow shows and text is aligned to top of area
// also make resizing not extend beyond the max-width for the content area
textarea{
  @extend %input-Area;
  display:block;
  max-width:800px;
  min-height:40px;
  min-width:60px;
  overflow:auto;
  resize:both;
  vertical-align:top;
  width:80%;
}

// Form Element Placeholders
label{
  display:block;
  margin-bottom:$px-Unit;

  &[for]{
    cursor:pointer;
  }
}

// Legend
legend{
  @extend %eps;
  margin-left:-$px-Unit;
  padding:0 $px-Unit;
}