// ----------------------------------------------------------------
//		Text Helpers
// ----------------------------------------------------------------
// Align Text
.txt-Center	{text-align:center}
.txt-Left	{text-align:left}
.txt-Right	{text-align:right}
.txt-Just	{text-align:justify}

// Truncate Text
%truncate{@include truncate(100%)}

// Applies a degree symbol
%degree:after{content:"\00BA"}

// Applies >> to a link/btn
%go:after{content:"\00A0" "\00BB"}

// Word Wraps
%auto-wrap	  {word-wrap:auto}
%breakword	  {word-wrap:break-word}
%normal-wrap  {word-wrap:normal}

// Highlight Text
.highlight, %highlight{
	background:$c-Highlight;
	color:$c-Darker;
	@include border-radius(3px);
	display:inline-block;
	padding:$spacing;
	vertical-align:text-top;
}

// Skew Text/Highlight
.slant{
	@extend %highlight;
	@include vendor(transform, skewX(-16deg));
}

.text-Correct{
	display:inline-block;
	@include vendor(transform, skewX(16deg));
}
	
/*
	Code Example: Slanted Text w/Highlight
	--------------------------
	<span class="slant">
		Text Goes here
	</span>
	
	Code Example: Normal flowing text w/slanted highlight
	--------------------------
	<span class="slant">
		<span class="text-Correct">Text Goes here</span>
	</span>
*/


// ----------------------------------------------------------------
//		Floats & Clearing
// ----------------------------------------------------------------
.float-Left	  {float:left}
.float-Right  {float:right}
.float-None	  {float:none}
.clear		  {clear:both}
.clearfix	  {@include clearfix}
.overflow	  {overflow:hidden}


// ----------------------------------------------------------------
//		Showing & Hiding
// ----------------------------------------------------------------
.d-Block, .show{display:block}
.d-None, .mobile-Show{display:none} 
	// change display value for .mobile-Show in the appropriate @media break-point
	
// Hides from screenreaders and browsers
.hidden{display:none!important; visibility:hidden}

// Hide from browsers but not from screen readers
.invis, %invis{@include invisible}


// ----------------------------------------------------------------
//		List Manipulation
// ----------------------------------------------------------------
// Kill list styling - extend into Navigations & for lists that don't require markings
.kill-List, %kill-List{list-style:none; padding:0}
// Give numerical values to a semantically unordered list
.numbered{list-style:decimal}  


// ----------------------------------------------------------------
//		Reoccuring HTML Elements
// ----------------------------------------------------------------
// Profile Picture
.pic, %pic{
	border:1px solid $c-White;
	@include border-radius(4px);
	@include box-shadow($bs-4);
	display:inline-block;
	overflow:hidden;
	width:90px;
	
	img{display:block}
}

// Make picture into a circle
.pic-Rounded{
	@extend %pic;
	@include border-radius(100px);
}
/* 
	Code Example
	--------------------------
	<a href="#" title="TITLE" class="pic-Rounded">
		<img src="assets/img/little-V.jpg" alt="" />
	</a>
*/

// Media Item
.media, %media{
	margin-bottom:$spacing*4;
	@extend .clearfix;
	position:relative;
	z-index:2;
	.media-Text >:last-child{margin-bottom:0}
	.media-Object{float:left; margin:0 $spacing*4 $spacing*2 0; max-width:30%;}
}

// Have media element appear on the right hand side
.media-Reverse, %media-Reverse{
	@extend %media;
	.media-Object{float:right; margin:0 0 $spacing*2 $spacing*4; max-width:30%}
}

.media-No-Wrap{
	@extend %media;
	padding-left:100px;
	.media-Text{float:left; width:100%}
	.media-Object{margin-left:-100px; margin-right:0}
}

.media-No-Wrap-Reverse{
	@extend %media-Reverse;
	padding-right:100px;
	.media-Object{margin-right:-100px; margin-left:0}
}
/* 
	Code Example
	--------------------------
	<div class="media">
		<div class="media-Object">
			<img src="assets/img/little-V.jpg" alt="" />
		</div>
		<div class="media-Text">
			<h1>Title for Meida Element</h1>
			<p>Paragraph text to go along with media element.</p>
		</div>
	</div>
	
	-- 	Divs were used in this example, but the media element could be applied to various situations.
		Ie. could be used for a header or footer area where a logo is placed on the right or left w/text to the side.
*/


// Shout Out - blockquote / blockquote like styling for emphasizing text
.shout-Out{
	background:$c-Lighter;
	border-left:4px solid $c-Dark;
	padding:$spacing*4;
	&:before, &:after{display:none}
}


// Call out boxes
.emph-Block{
	background:#fafafa;
	border:1px solid #ddd;
	@include border-radius(4px);
	@include box-shadow($bs-4);
	margin-bottom:$spacing*4;
	min-height:50px;
	padding:$spacing*4;
	
	& > :last-child{margin-bottom:0}
}


// Multi-Columned Text
.multi{
	@include base-vendor(column-count, 3);
	@include base-vendor(column-gap, $spacing*10);
	@include base-vendor(column-rule, 1px outset #eee);
}
