// ----------------------------------------------------------------
//		HR Element
// ----------------------------------------------------------------

hr{
  border:0;
  border-bottom:1px solid rgba(0,0,0,.2);
  display:block;
  height:1px; 
  margin:$px-Unit*2 0;
}