// ----------------------------------------------------------------
//		Basic Setups for Navigation Elements
// ----------------------------------------------------------------

nav{
  ul,
  ol{
    @extend %clearfix;
    @extend %mp-Reset;
    list-style:none; 
  }

  li{
    margin:0;	
  }

  a{
    display:inline-block;
    padding:$px-Unit $px-Unit*2; 
    text-decoration:underline;

    &:hover{
      text-decoration:none;
    }
  }
}
