// ----------------------------------------------------------------
//		Basic Setups for Navigation Elements
// ----------------------------------------------------------------

nav{
  ul, ol{
    @extend %reset;
    @extend %clearfix;
    @extend %kill-List; 
  }

  li{
    margin:0;	
  }

  a{
    display:inline-block;
    padding:$unit-px $unit-px*2; 
  }
}

// Placeholder classes are used so elements can be easily
// broken out into modular files.

// If you would like to change the basic values of these 
// elements, simply either delete the place holder reference
// and add your own styling, or edit the placeholder class
// in the corresponding Brass Tacks placeholders .scss file.
