// ----------------------------------------------------------------------------
//  Tables
// ----------------------------------------------------------------------------

// Removes most of the table spacing issues
table{
  @extend %reset;
  @extend %margin-bottom;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: $base;
  width: 100%; // make tables always take up 100% width of their parent
}

tr{
  @extend %reset;
}

th, td{
  @extend %reset;
  padding: $unit-px $unit-px*2;
  text-align: left;
}

caption{ // **
  @extend %reset;
}

// **
// The <caption> tag must be inserted immediately after the <table> tag.

// You can specify only one caption per table.

// Tip: By default, the table caption will be center-aligned above a table. 
// However, the CSS properties "text-align" and "caption-side" can be used to
// align and place the caption.


// ----------------------------------------------------------------------------


// Placeholder classes are used so elements can be easily
// broken out into modular files.

// If you would like to change the basic values of these 
// elements, simply either delete the place holder reference
// and add your own styling, or edit the placeholder class
// in the corresponding Aereo Master Styles placeholders .scss file.
