// ----------------------------------------------------------------
// Tables
// ----------------------------------------------------------------

// Resets main table tags
caption, table, td, th, tr{@extend %reset}


// Removes most of the table spacing issues
table{
  @extend %margin-bottom;
  border-collapse:collapse;
  border-spacing:0;
  font-size:$base;
  width:100%; // make tables always take up the entire width of their containing parent.

  th, td{
    padding:$px-Unit $px-Unit*2;
    text-align:left;
  }
}
