// ----------------------------------------------------------------
//		Basic Styling: Code Elements
// ----------------------------------------------------------------

code, kbd, samp{
  @extend %margin-Bottom;
  background:#F2F2F2;
  border:1px solid #E3E3E3;
  border-left-width:6px;
  display:block;
  font-family:monospace, serif; 
  font-size:$base;
  padding:$px-Unit*2;
}

pre{
  overflow:auto; 
  white-space:pre-wrap;
}

mark{
  background:#eee;
  border-bottom:1px solid #ddd;
  color:$c-Dark;
}

p, li{
  code, kbd,
  pre, samp{
    display:inline-block; 
    margin:0;
    padding:$px-Unit;
  }
}
