// ----------------------------------------------------------------
//		Basic Styling: Code Elements
// ----------------------------------------------------------------

code, kbd, samp{
  @extend %margin-bottom;
  background:#F2F2F2;
  border:1px solid #E3E3E3;
  border-left-width:6px;
  display:block;
  font-family:monospace, serif; 
  font-size:$base;
  padding:$spacing*2;
}

pre{
  overflow:auto; 
  white-space:pre-wrap;
  
  mark{   // test out styling for this
    background:#eee;
    border-bottom:1px solid #ddd;
    color:#333;
  }
}


p, li{
  code, kbd, pre, samp{
    display:inline-block; 
    margin:0;
    padding:$spacing;
  }
}

.code-Line{
  display:block;
}

.indent-1{
  text-indent:1em;
}
.indent-2{
  text-indent:2em;
}
.indent-3{
  text-indent:3em;
}

// Coloring for code types
.comment{color:#99a}

// HTML

// CSS
.important{color:#f00}
.selector{color:#111}
.value{color:#709c34}
.rule{color:#2e9fe8}
.var{color:#9952b2}
.at{color:#c3793e}

