// ----------------------------------------------------------------------------
//  Anti-aliasing Text
// ----------------------------------------------------------------------------

// Auto set font-smoothing to anti-aliased in webkit and w/out vendor prefix
@mixin antialiased {
  @include vendor(font-smoothing, antialiased, $o: false, $ms: false, $moz: false);
}

// Example
// ----------------------------------------------------------------------------
// @include antialiased;




// ----------------------------------------------------------------------------
//  Text Optimizations
// ----------------------------------------------------------------------------

%txt-optimize-legibility {
  text-rendering: optimizeLegibility;
}


%txt-optmize-speed {
  text-rendering: optimizeSpeed;
}



// ----------------------------------------------------------------------------
//  Declaring Fonts w/ Font-Face
// ----------------------------------------------------------------------------
@mixin font-face ($family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
           url('#{$file-path}.woff') format('woff'),
           url('#{$file-path}.ttf') format('truetype'),
           url('#{$file-path}.svg##{$family}') format('svg');
     font-style: $style;
    font-weight: $weight;
  }
}

// Example
// ----------------------------------------------------------------------------
// @include font-face(Open Sans, assets/fonts/file-name);
