// ----------------------------------------------------------------------------
//  Text Selection Styling
// ----------------------------------------------------------------------------

// Include this into elements to have text selection colors be specific to region
@mixin select-text($select-bg, $txt-color, $txt-shadow) {
  ::-moz-selection  {
    background:   $select-bg;
    color:        $txt-color;
    text-shadow:  $txt-shadow;
  }

  ::selection       {
    background:   $select-bg;
    color:        $txt-color;
    text-shadow:  $txt-shadow;
  }
}
