// ----------------------------------------------------------------------------
//		Project Specific Extended HTML Stylings
// ----------------------------------------------------------------------------
body{
  background:$c-lighter;
  font-family:$brand;
  font-weight:300;
}

// Highlight Text Selection
@include select-text($c-darker, $c-light, none);

// Full container for the entire page.  
.page{}

// Generic tag to wrap around content within sections to apply a max width to the interior content
// while allowing for larger sections to expand the whole page for BG purposes
.content{
  @include last-child-0();
  margin:0 auto;
  max-width:1000px;
  padding:$unit-px*5;
}

// Tool tip example
[data-tooltip]{
  @extend %tool-tip;
}

// ----------------------------------------------------------------------------
//		Project Specific Link Stylings
// ----------------------------------------------------------------------------
a{   
  color:$c-link;
  
  &:hover, &:active{
    color:darken($c-link, 15%);
  }
  
  &:visited{
    color:darken($c-link, 30%);
  }
  
  &:focus{
    @extend %outline-none;
  }
}

// Outlines - this is considered bad for accessiblity.
// Needs to be rewritten to not be default, but to also have a visual indicator
:focus, input[type="submit"]::-moz-focus-inner{
  @extend %outline-none;
}

@import 'header';		     // Project Specific Header Styling
@import 'main';			     // Project Specific Main Content Area Styling
@import 'footer';		     // Project Specific Footer Styling
@import 'typography';    // Project Specific Footer Styling
@import 'forms';         // Project Specific Footer Styling
