// ----------------------------------------------------------------
//		Project Specific: Header Area
// ----------------------------------------------------------------

// Apply to <header> for styling
.header-Base{
  background:#fafafa;
}

// Apply to child div inside of header for padding/margin
.header-Content{
	@extend .content;
}

// Extend the .nav class to style your header navigation
.header-Nav{
	background:#f8f8f8;
	border-bottom:1px solid #eee;
	border-top:1px solid #eee;
	margin:$px-Unit*4 auto;
	
	a, a:visited{
	  padding:$px-Unit*2 $px-Unit*3;
	  text-decoration:none;
	  
		&:hover{background:#eee;}
		&.selected, &:active{background:#ddd;}
	}
}

.section-Title{
  background:#e96a4e;
  border-bottom:1px solid rgba(0,0,0,.3);
  border-top:1px solid rgba(0,0,0,.3);
  padding:$px-Unit $px-Unit*3;
  
  &:first-child{
    border-top:0;
  }
}