// ----------------------------------------------------------------------------
//  Project Specific: Main Content Area
// ----------------------------------------------------------------------------

// Apply to <main> or top level <section> for styling
.content-base {
  min-height: 500px;
  padding-bottom: $unit-px*5;

  .content {
    @include box-shadow($bs-4);
    background: $c-white; 
    border: 1px solid $c-light; 
  }
}

// Additional Content Area stylings go below...
.table-2col {
  td{
    width: 50%;
  }
}

// Add a border to .nav so it is easier to see in examples
.nav {
  ul, ol{
    border: 1px solid $c-light;
  }
}
