// ----------------------------------------------------------------------------
//  Navigation Controller
// ----------------------------------------------------------------------------

// The main controller file for the content elements helper files.
// This file exists to centralize code that may be used across multiple files
// in this category.

// ----------------------------------------------------------------------------
//  Silent Classes
// ----------------------------------------------------------------------------

%media {
  @extend %clearfix;
  margin-bottom: $unit-em*2;

  .media-text >:last-child {
    margin-bottom: 0;
  }

  .media-object {
    float: left;
    margin: 0 $unit-px4 $unit-px2 0;
    max-width: $media-object-area;
  }
}
