@if $import-helper-inline == true{

// ----------------------------------------------------------------------------
//  Inlining Elements
// ----------------------------------------------------------------------------

// Convert to inline
.inline {
  @extend %d-inline;
  margin: 0;
  padding: 0;
}

// Inline-block Individual Elements
.inline-element {
  @extend %d-inline-block;
  margin-right: $unit-px;
  width: auto!important;
}


// Inline items with a list element
.inline-list {
  margin-bottom: $unit-px4;

  > li {
    display: inline-block;
    margin-bottom: 0;
    margin-right: $unit-px;
    vertical-align: middle;

    &:last-child{
      margin-right: 0;
    }
  }
}


// inline all elements within a parent
.inline-all{
  > * {
    @extend .inline-element;
  }
}


// ----------------------------------------------------------------------------
} // -- end @if --
// ----------------------------------------------------------------------------
