// ----------------------------------------------------------------
//  Breadcrumb Navigation
// ----------------------------------------------------------------

@if $helper-nav--breadcrumbs == true {

  .bread {
    li {
      @extend %d-inline-block;

      &:last-child:after {
        @extend %content-empty;
      }

      &:after {
        content: ">";
        @extend %d-inline-block;
      }
    }
  }

  .bread a,
  .active-crumb {
    @extend %d-inline-block;
    padding: $unit-px;
  }

  .active-crumb {
    font-weight: 400;
  }


  // Example mark-up
  // ----------------------------------------------------------------------------
  // <nav class="nav">
  //   <ol class="bread">
  //     <li>
  //       <a href="#!" title="back to #">Index</a>
  //     </li>
  //     <li>
  //       <a href="#!" title="back to #">Sub Page</a>
  //     </li>
  //     <li class="active-crumb">
  //       Current Page
  //     </li>
  //   </ol>
  // </nav>

} // -- end @if --
