@if $import-helper-nav-fixed == true{

// ----------------------------------------------------------------------------
//  Fixed Position Sidebar Nav
// ----------------------------------------------------------------------------

.nav-fixed-area {
  @include nav-fixed-area();
  // Default setting is top fixed nav, with a padding-top: 40px added to the
  // body to place the nav into.
  //
  // edit this class, or create a new one if you want to change the value
  // or location of the padding


  // Place the burger nav icon/button to the right or left,
  // only applies if within a .nav-fixed-area
  .btn-mobile {
    @include nav-mobile-btn($x: $unit-px2, $y: $unit-px2);
    // Default setting is top / right
  }
}



// Horizontal or Vertical fixed navigations
// default to top/left horizontal nav w/no overflow
.nav-fixed {
  @include nav-fixed($f-height: $height-nav-fixed, $f-width: 100%);
  background: $c-dark;
  line-height: $height-nav-fixed;

  a {
    color: $c-white;
    display: block;

    &:hover,
    &:visited {
      background: rgba(0,0,0,.6);
      color: $c-white;
      text-decoration: none;
    }
  }
}



// ----------------------------------------------------------------------------
} // -- end @if --
// ----------------------------------------------------------------------------
