@if $import-helper-nav-fixed == true{

// ----------------------------------------------------------------------------
//  Fixed Position Sidebar Nav
// ----------------------------------------------------------------------------

// Add a class to the body tag
.nav-fixed-left {
  padding-left: $width-nav-fixed; // = width of nav

  .side-nav-fixed {
    left: 0;
  }

  .btn-mobile {
    left: $unit-px2;
    top: $unit-px2;
  }
}

.nav-fixed-right {
  padding-right: $width-nav-fixed; // = width of nav

  .side-nav-fixed {
    right: 0;
  }

  .btn-mobile {
    right: $unit-px2;
    top: $unit-px2;
  }
}

.nav-fixed-top {
  padding-top: $height-nav-fixed; // = height of nav
}


// Horizontal or Vertical navigations
.top-nav-fixed {
  @extend %nav-fixed;
  height: $height-nav-fixed;
}

.side-nav-fixed {
  @extend %nav-fixed;
  height: 100%;
  overflow-y: auto;
  width: $width-nav-fixed;
}


// ----------------------------------------------------------------------------
} // -- end @if --
// ----------------------------------------------------------------------------
