@if $import-helper-nav-vertical == true{

// ----------------------------------------------------------------------------
//  Vertical Navigations
// ----------------------------------------------------------------------------

// to be placed on the <ul> or <ol>
.nav-v {
  @extend %nav;

  a {
    border-bottom: 1px solid $c-dark-grey;
    position: relative;
    text-decoration: none;

    &:hover, &.active {
      border-bottom-color: $c-link-h;
    }
  }
}

// Example mark-up:
// ----------------------------------------------------------------------------
// <nav role="navigation">
//   <ol class="nav-v">
//     <li>
//       <a href="#!" title="#!">Link 1</a>
//     </li>
//     <li>
//       <a href="#!" title="#!">Link 2</a>
//     </li>
//    </ol>
// </nav>


// ----------------------------------------------------------------------------
} // -- end @if --
// ----------------------------------------------------------------------------
