<nav class="header-Nav">
	<ul class="c-Nav">
		<li>
			<a href="index" title="wtf...a home button?">Home</a>
		</li>
		<li>
			<a href="buttons" title="Button Styling">Buttons</a>
		</li>
		<li>
			<a href="content-media" title="Content: Media">Content: Media</a>
		</li>
		<li>
			<a href="content-text" title="Content: Text">Content: Text</a>
		</li>
		<li>
			<a href="css3-examples" title="CSS3 Examples">CSS3 Examples</a>
		</li>
		<li>
			<a href="fonts" title="Fonts">Fonts &amp; Text</a>
		</li>
		<li>
			<a href="forms" title="Form Styling">Forms</a>
		</li>
		<li>
			<a href="jquery-components" title="jQuery Examples">jQuery</a>
		</li>
		<li>
			<a href="layout" title="Layout Examples">Layout</a>
		</li>
		<li>
			<a href="lists" title="List Elements">Lists</a>
		</li>
		<li>
			<a href="nav-element" title="Navigation Elements">Navs</a>
		</li>
		<li>
			<a href="tables" title="Table Element">Tables</a>
		</li>
	</ul>
</nav>