<nav class="side-nav-fixed" role="navigation">
  <ul class="v-nav">
    <li class="section-title">
      Base Styling
    </li>
    <li>
      <a href="forms" title="Form Styling">Forms</a>
    </li>
    <li>
      <a href="media" title="Media Elements">Media Elements</a>
    </li>
    <li>
      <a href="navs" title="Navigation Elements">Navs</a>
    </li>
    <li>
      <a href="tables" title="Table Element">Tables</a>
    </li>
    <li>
      <a href="text" title="Text elements">Text Elements</a>
    </li>
    <li class="section-title">
      Helpers
    </li>
    <li>
      <a href="buttons" title="Button Styling">Buttons</a>
    </li>
    <li>
      <a href="extended" title="Extended Elements">Extended Elements</a>
    </li>
    <li>
      <a href="layout" title="Layout Examples">Layout</a>
    </li>
    <li>
      <a href="messaging-modals" title="Messaging &amp; Modal Boxes">Messages/Modals</a>
    </li>
  </ul>
</nav>
