<nav class="side-Nav-Fixed" role="navigation">
  <ul class="v-Nav">
    <li class="section-Title">
      Base Styling
    </li>
    <li>
      <a href="text" title="Basic Text elements">Basic Elements</a>
    </li>
    <li>
      <a href="forms" title="Form Styling">Forms</a>
    </li>
    <li>
      <a href="media" title="Media Elements">Media Elements</a>
    </li>
    <li>
      <a href="navs" title="Navigation Elements">Navs</a>
    </li>
    <li>
      <a href="tables" title="Table Element">Tables</a>
    </li>
    
    <li class="section-Title">
      Includes
    </li>
    <li>
      <a href="#!" title="Included Variables" style="text-decoration:line-through">BT Mixins</a>
    </li>
    <li>
      <a href="#!" title="Included Variables (coming soon)" style="text-decoration:line-through">BT Placeholders</a>
    </li>
    <li>
      <a href="vars" title="Included Variables (coming soon)">BT Variables</a>
    </li>
    
    <li class="section-Title">
      Helpers
    </li>
    <li>
      <a href="buttons" title="Button Styling">Buttons</a>
    </li>
    <li>
      <a href="extended" title="Extended Elements">Extended Elements</a>
    </li>
    <li>
      <a href="layout" title="Layout Examples">Layout</a>
    </li>
    <li>
      <a href="messaging-modals" title="Messaging &amp; Modal Boxes">Messages/Modals</a>
    </li>
    <li>
      <a href="helpers" title="Misc. helper classes">Misc. Helpers</a>
    </li>

    <li class="section-Title">
      Extras
    </li>
    <li>
      <a href="jquery-components" title="jQuery Examples">jQuery</a>
    </li>
    
    <li>
      <a href="#!" title="coming soon" style="text-decoration:line-through">Further Examples</a>
    </li>
    
  </ul>
</nav>
