// ----------------------------------------------------------------
// Project Specific Variables
// ----------------------------------------------------------------

// Base Branding Colors  ------------------------------------------
$c-Brand-1:		#54a4a3;
$c-Brand-2:		#d48371;
$c-Brand-3:		#7e984c;


// Button & Link Colors  ------------------------------------------
$c-Btn-1:     $c-Brand-1;
$c-Btn-2:     $c-Brand-2;
$c-Btn-3:     $c-Brand-3;

$c-Link:		  $c-Brand-2;


// Fonts Families  ------------------------------------------------

$brand:     'Open Sans'; // replace this with your main brand font
