// ----------------------------------------------------------------
// Project Specific Variables
// ----------------------------------------------------------------

// Edit these variables for 

// ----------------------------------------------------------------
// Base Branding Colors
// ----------------------------------------------------------------
$c-brand-1:		#40b5bb;
$c-brand-2:		#2c8692;
$c-brand-3:		#fc7a14;


// ----------------------------------------------------------------
// Button & Link Colors
// ----------------------------------------------------------------
$c-btn-1:     $c-brand-1;
$c-btn-2:     $c-brand-2;
$c-btn-3:     $c-brand-3;

$c-btn-neg:		$c-dark-grey;
$c-disabled:	$c-lighter;

$c-link:		  $c-brand-2;

// Color for Radio/Check box buttons
$c-btn-rc:		$c-light;

// Required / Error Text Color
$c-required:	$c-red;

// Underlines & Highlights
$c-Highlight:	$c-yellow;
$c-underline:	$c-grey; // not for links
$c-border:		$c-grey;


// ----------------------------------------------------------------
// Tables
// ----------------------------------------------------------------
$c-table:         $c-lighter;
$c-table-Head:    $c-light;
$c-table-Foot:    $c-lighter;

$c-table-striped: $c-light;
$c-table-border:  $c-grey;

// sets consistent boarder styling for table elements
$border-table:    1px solid $c-table-border;


// Fonts Families  ------------------------------------------------
$brand:     'Open Sans'; // replace this with your main brand font
