// ----------------------------------------------------------------
// Project Specific Variables
// ----------------------------------------------------------------

// Edit these variables for 

// ----------------------------------------------------------------
// Base Branding Colors
// ----------------------------------------------------------------
$c-Brand-1:		#40b5bb;
$c-Brand-2:		#2c8692;
$c-Brand-3:		#fc7a14;


// ----------------------------------------------------------------
// Button & Link Colors
// ----------------------------------------------------------------
$c-Btn-1:     $c-Brand-1;
$c-Btn-2:     $c-Brand-2;
$c-Btn-3:     $c-Brand-3;

$c-Btn-Neg:		$c-Dark-Grey;
$c-Disabled:	$c-Lighter;

$c-Link:		  $c-Brand-2;

// Color for Radio/Check box buttons
$c-Btn-RC:		$c-Light;

// Required / Error Text Color
$c-Required:	$c-Red;

// Underlines & Highlights
$c-Highlight:	$c-Yellow;
$c-Underline:	$c-Grey; // not for links
$c-Border:		$c-Grey;


// ----------------------------------------------------------------
// Tables
// ----------------------------------------------------------------
$c-Table:         $c-Lighter;
$c-Table-Head:    $c-Light;
$c-Table-Foot:    $c-Lighter;

$c-Table-Striped: $c-Light;
$c-Table-Border:  $c-Grey;

// sets consistent boarder styling for table elements
$border-Table:    1px solid $c-Table-Border;


// Fonts Families  ------------------------------------------------
$brand:     'Open Sans'; // replace this with your main brand font
