// ----------------------------------------------------------------
//  CSS Animation
// ----------------------------------------------------------------
@mixin keyframe($animation-name){
  @-webkit-keyframes $animation-name{
    @content;
  }

  @-moz-keyframes $animation-name{
    @content;
  }

  @-ms-keyframes $animation-name{
    @content;
  }

  @-o-keyframes $animation-name{
    @content;
  }

  @keyframes $animation-name{
    @content;
  }
}


// Create CSS keyframe animations for all vendors in one go, e.g.:

//   .foo{
//     @include vendor(animation, shrink 3s);
//  }

// @include keyframe(shrink){
//   from{
//     font-size:5em;
//   }
// }

// Courtesy of @integralist: twitter.com/integralist/status/260484115315437569
