// ----------------------------------------------------------------------------
// Linear Gradient
// ----------------------------------------------------------------------------

@mixin linear-gradient($grad-line, $grad-colors...) {
  background: -webkit-linear-gradient($grad-line, $grad-colors);
  background:    -moz-linear-gradient($grad-line, $grad-colors);
  background:      -o-linear-gradient($grad-line, $grad-colors);
  background:         linear-gradient($grad-line, $grad-colors);
}
    //  grad-line - use either ###deg or top, let, bottom, right
    //  example:
    //  @include linear-gradient(80deg, #fcc, #f23);
    //  @include linear-gradient(top, #fcc, #f23);


// ----------------------------------------------------------------------------
//  Radial Gradient
// ----------------------------------------------------------------------------
@mixin radial-gradient($radial...) {
  background: -webkit-radial-gradient($radial);
  background:    -moz-radial-gradient($radial);
  background:      -o-radial-gradient($radial);
  background:         radial-gradient($radial);
}
