// ----------------------------------------------------------------------------
//  Hidden Elements Mixins
// ----------------------------------------------------------------------------

// Truncate Text
@mixin truncate($truncation-boundary){
  max-width:$truncation-boundary;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

// Usage example  --  @include truncate(100%);
