// ----------------------------------------------------------------
//  Fixed Position Elements
// ----------------------------------------------------------------

@mixin position($t-or-b, $tb-Unit, $l-or-r, $lr-Unit, $position){
  @if $t-or-b == bottom{
    bottom:$tb-Unit;
  }
  @else if $t-or-b == top{
    top:$tb-Unit;
  }

  position:$position;

  @if $l-or-r == left{
    left:$lr-Unit;
  }
  @else if $l-or-r == right{
    right:$lr-Unit;
  }
}

// Example:
// @include fixed-Block($tb:bottom, $tb-Unit:10px, $lr:right, $lr-Unit:20px, $position:absolute);
// or
// @include fixed-Block(bottom, 10px, left, 333px, fixed);
