// ----------------------------------------------------------------------------
//  Display Element Classes
// ----------------------------------------------------------------------------

@if $helper-content-displays--inlines == true {

  // Convert to inline
  .inline-element {
    @extend %d-inline;
    margin: 0 !important;
    width: auto !important;
  }

  // Inline-block Individual Elements
  .inline-block-element {
    @extend %d-inline-block;
    margin-right: $unit-px;
    width: auto !important;
  }


  // Inline items with a list element
  .inline-list {
    margin-bottom: $unit-px4;

    > li {
      display: inline-block;
      margin-bottom: 0;
      margin-right: $unit-px;
      vertical-align: middle;

      &:last-child{
        margin-right: 0;
      }
    }
  }


  // inline all elements within a parent
  .inline-all{
    > * {
      @extend .inline-block-element;
    }
  }

} // -- end @if --






@if $helper-content-displays--show-hide == true {

  // Show Elements with display:block
  .d-block {
    @extend %d-block;
  }


  // Hide Elements with display:none
  .d-none {
    @extend %d-none;
  }

  @media only screen and (max-width: $break-medium) {
    .mobile-hide {
      display: none !important;
    }
  }

  .mobile-show {
    display: none !important;

    @media only screen and (max-width: $break-medium) {
      display: block !important;
    }
  }

  // Hides from screenreaders and browsers
  .hidden {
    @extend %hidden;
  }


  // Hide from browsers but not from screen readers
  .invis {
    @extend %invis;
  }

} // -- end @if --






@if $helper-content-displays--mute == true {

  // Mute an element by changing Opacity
  .mute {
    opacity: .75;
  }

  .mute-half {
    opacity: .5;
  }

} // -- end @if --
