// ----------------------------------------------------------------------------
//  Emphasis Block
// ----------------------------------------------------------------------------

@if $helper-emphasis == true {

  .emph-block {
    @extend %emph-shared;
    @include border-radius($unit-px);
    @include box-shadow($bs-4);
    background: $c-off-white;
    border: 1px solid $c-light-grey;
  }

  // Example mark-up
  // ----------------------------------------------------------------------------
  // <div class="emph-block">
  //  ...
  // </div>



  // Transparent Emphasis Block
  // For use when needing to place an emphasis block in a columned layout,
  // & need to have consistent typography / content base without the background
  // or bordering of the block.

  .emph-transparent {
    @extend %emph-shared;
  }

  // Example mark-up
  // ----------------------------------------------------------------------------
  // <div class="emph-transparent">
  //  ...
  // </div>



  // A smaller emphasis block
  .emph-small {
    padding: $unit-px2
  }

  // Example mark-up
  // ----------------------------------------------------------------------------
  // <div class="emph-block emph-small">
  //  ...
  // </div>



  //  Emphasis Image
  .emph-img {
    @include border-radius($unit-px2);
    @include box-shadow($bs-4);
    border: 1px solid $c-dark-grey;
    display: inline-block;
    overflow: hidden;

    img {
      border: 3px solid $c-off-white;
      display: block;
      width: 100%;
    }
  }

  // Example mark-up
  // ----------------------------------------------------------------------------
  // <div class="emph-img">
  //   <img src="..." alt="..." />
  // </div>

} // -- end @if --
