// ----------------------------------------------------------------------------
//  Media Element
// ----------------------------------------------------------------------------

@if $helper-media-element == true {

// Standard Media Element
.media {
  @extend %media;
}


// Inside the text area for the media element, make sure the final
// element has a margin-bottom of zero so as not to add increase the
// margin-bottom of the main media element.
.media-text > :last-child {
  margin-bottom: 0;
}



// the .media-object contains the photo, illustration, video,
// icon / avatar or other like media item.
.media-object {
  float: left;
  margin: 0 $unit-px4 $unit-px2 0;
  max-width: $media-object-area;  // default 30% max-width
}


// Example mark-up:
// ----------------------------------------------------------------------------
//  <div class="media">
//    <div class="media-object">
//      <img src="img.jpg" alt="" />
//    </div>
//    <div class="media-text">
//      <h1 class="media-title">Title for Media Element</h1>
//      <p class="media-subtitle">sub title</p>
//      <p>Paragraph text to go along with media element.</p>
//    </div>
//  </div>

// Divs were used in this example, but the media element could be applied to
// various situations. e.g. It could be used for a header or footer area where
// a logo is placed on the right or left w/text to the side.



// Titles in media elements may require slightly different typography styling
// to long-form content areas. These are helper classes to make titles to
// reduce the spacing between titles, subtitles and additional text / elements
// inside of a media element.

.media-title,
.media-subtitle {
  line-height: 1.3;
  margin-bottom: $unit-px;
}






// ----------------------------------------------------------------------------
//  Media Element Customization
// ----------------------------------------------------------------------------

// Have media object appear on the right side w/ text on the left
.media-reverse {
  @extend %media;

  .media-object {
    float: right;
    margin: 0 0 $unit-px2 $unit-px4;
  }
}



// Media Element that prevents text-wrapping around the media object
// ** Helper class, use in addition to .media or .media-reverse **
.media-no-wrap {

  .media-text {
    float: left;
    width: 70%;
  }

  .media-object {
    @include calc(max-width, '30% - 16px');
  }
}



.media-no-wrap-split {

  .media-text {
    float: left;
    width: 50%;
  }

  .media-object {
    @include calc(max-width, '50% - 16px');
  }
}



.media-no-wrap-fourth {

  .media-text {
    float: left;
    width: 75%;
  }

  .media-object {
    @include calc(max-width, '25% - 16px');
  }
}



.media-no-wrap-opposite {

  .media-text {
    float: left;
    width: 30%;
  }

  .media-object {
    @include calc(max-width, '70% - 16px');
  }
}

} // -- end @if --
