@if $import-helper-show-hide == true{

// ----------------------------------------------------------------------------
//  Showing & Hiding
// ----------------------------------------------------------------------------

// Show Elements with display:block
.d-block {
  @extend %d-block;
}


// Hide Elements with display:none
.d-none {
  @extend %d-none;
}

@media only screen and (max-width: $break-medium) {
  .mobile-hide {
    display: none!important;
  }
}

.mobile-show {
  display: none!important;

  @media only screen and (max-width: $break-medium) {
    display: block!important;
  }
}


// Mute an element by changing Opacity
.mute {
  opacity: .75;
}

.mute-more {
  opacity: .5;
}


// Hides from screenreaders and browsers
.hidden {
  @extend %hidden;
}


// Hide from browsers but not from screen readers
.invis {
  @extend %invis;
}


// ----------------------------------------------------------------------------
} // -- end @if --
// ----------------------------------------------------------------------------
