@if $import-form-inputs == true{

// ----------------------------------------------------------------------------
//  Form Elements: Input Elements
// ----------------------------------------------------------------------------

// General Form Element Reset
input {
  @extend %txt-base;
  @extend %reset-form-elements;
}


// Disabled input styling
input[disabled] {
  background: $c-light;
  cursor: not-allowed;
}


// Read Only input styling
input[readonly], input[readonly]:focus {
  background: $c-lighter;
}


// Removes extra inner padding for webkit
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}


// Makes it look like a normal text input, only with a (x) when text has been entered
input[type='search'] {
  -webkit-appearance: textfield;
}


// ----------------------------------------------------------------------------
} // -- end @if --
// ----------------------------------------------------------------------------
