// ----------------------------------------------------------------------------
//  Address, Details & Summary Elements
// ----------------------------------------------------------------------------

@if $base-address == true {

  address {
    @extend %display-block;
    @extend %margin-bottom;
  }

} // -- end @if --


@if $base-details == true {

  details {
    @extend %display-block;
    @extend %margin-bottom;
  }

} // -- end @if --


@if $base-summary == true {

  summary {
    @extend %display-block;
    @extend %margin-bottom;
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Figure & Figure Caption
// ----------------------------------------------------------------------------

@if $base-fig-figcaption == true {

  figure, figcaption {
    @extend %display-block;
  }

  figure {
    @extend %margin-bottom;

    img {
      @extend %display-block;
    }
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Code, kbd & samp Elements
// ----------------------------------------------------------------------------

%kbd-code-samp {
  @extend %margin-bottom;
  background: $c-code--bg;
  color: $c-code--text;
  border: $code-border;
  border-left-width: 4px;
  display: block;
  font: $f-code--size $f-code--family;
  padding: $unit-px2;
}

// if a child of an element revise styling
%kbd-code-samp__child {
  display: inline-block;
  font-size: $txt-tiny;
  margin: 0;
  padding: $unit-px/2 $unit-px;
}

@mixin kbd-code-samp-child( $el ) {
  #{$el} {
    @extend %kbd-code-samp;
  }

  p, li, blockquote {
    #{$el} {
      @extend %kbd-code-samp__child;
    }
  }
}


// Code
@if $base-code == true {

  @include kbd-code-samp-child( code );

} // -- end @if --


// Kbd
@if $base-kbd == true {

  @include kbd-code-samp-child( kbd );

} // -- end @if --


// Samp
@if $base-samp == true {

  @include kbd-code-samp-child( samp );

} // -- end @if --
