// ----------------------------------------------------------------------------
//  Address, Details & Summary Elements
// ----------------------------------------------------------------------------

%address-details-summary {
  @extend %d-block;
  @extend %margin-bottom-base;
}


@if $base-address == true {

  address {
    @extend %address-details-summary;
  }

} // -- end @if --


@if $base-details == true {

  details {
    @extend %address-details-summary;
  }

} // -- end @if --


@if $base-summary == true {

  summary {
    @extend %address-details-summary;
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Figure & Figure Caption
// ----------------------------------------------------------------------------

@if $base-fig-figcaption == true {

  figure, figcaption {
    @extend %d-block;
  }

  figure {
    @extend %margin-bottom-base;

    img {
      @extend %d-block;
    }
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Code, kbd & samp Elements
// ----------------------------------------------------------------------------

%kbd-code-samp {
  @extend %margin-bottom-base;
  background: $c-code-bg;
  color: $c-code-text;
  border: $code-border;
  border-left-width: 4px;
  display: block;
  font: $f-code--size $f-code--family;
  padding: $unit-px2;
}

// if a child of an element revise styling
%kbd-code-samp--child {
  display: inline-block;
  font-size: $txt-tiny;
  margin: 0;
  padding: $unit-px/2 $unit-px;
}


// Code
@if $base-code == true {

  code {
    @extend %kbd-code-samp;
  }

  p, li {
    code {
      @extend %kbd-code-samp--child;
    }
  }

} // -- end @if --


// Kbd
@if $base-kbd == true {

  kbd {
    @extend %kbd-code-samp;
  }

  p, li {
    kbd {
      @extend %kbd-code-samp--child;
    }
  }

} // -- end @if --


// Samp
@if $base-samp == true {

  samp {
    @extend %kbd-code-samp;
  }

  p, li {
    samp {
      @extend %kbd-code-samp--child;
    }
  }

} // -- end @if --
