// ----------------------------------------------------------------------------
//  HR Element
// ----------------------------------------------------------------------------

@if $base-hr == true {

  hr {
    @extend %display-block;
    border: 0;
    border-bottom: $divider--border__dark;
    height: 1px;
    margin: $hr-margin;
  }

} // -- end @if --
