// ----------------------------------------------------------------------------
//  List Resets
// ----------------------------------------------------------------------------

// Reset default list styling
%list-unstyled {
  list-style: none;
  padding: 0;
}


// Normalize margins on list elements
%list-elements-margin {
  margin: 0 0 1em;
}







// ----------------------------------------------------------------------------
//  List Elements
// ----------------------------------------------------------------------------

@if $base-lists == true {

  // Un/Ordered lists
  ol, ul {
    @extend %list-elements-margin;
    padding-left: 1.5em;

    ol, ul {
      // keep equal spacing li content followed by lists within lists
      margin-top: .5em;
    }
  }

  ol ol {
    list-style-type: lower-alpha;
  }

  ol ol ol {
    list-style-type: lower-roman;
  }

  li {
    @extend %margin-bottom;
  }

} // -- end @if --







// ----------------------------------------------------------------------------
//  Definition List Elements
// ----------------------------------------------------------------------------

@if $base-lists--def == true {

  dl {
    @extend %list-elements-margin;
  }

  dt {
    @extend %txt-bold;
  }

  dd {
    @extend %list-elements-margin;
    padding-left: 1em;
  }

} // -- end @if --
