// ----------------------------------------------------------------------------
//  Heading Elements
// ----------------------------------------------------------------------------

@if $base-heading == true {

  h1, h2, h3, h4, h5, h6 {
    color: $c-headings;
  }

  @for $i from 1 through 6 {
    h#{$i} {
      @extend %reset-spacing;
      @extend %margin-bottom-base;
      @extend %txt-h#{$i};
    }
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Paragraph Element
// ----------------------------------------------------------------------------

@if $base-paragraph == true {

  p {
    @extend %margin-bottom-base;
    margin-top: 0;
  }

} // -- end @if --





// ----------------------------------------------------------------------------
//  Small Element
// ----------------------------------------------------------------------------

@if $base-small == true {

  small {
    @extend %txt-small;
    @extend %d-block;
    @extend %margin-bottom-base;
  }

  // When used outside of a typographical parent element, <small> should be
  // treated as a block level element.

  // If small exists as a parent of a typographical element, it should be
  // treated as an inline-block element, with it's margin removed for
  // line-height standardization.

  h1, h2, h3, h4, h5, h6, p, li {
    small {
      display: inline-block;
      margin: 0;
    }
  }

} // -- end @if --
