// ----------------------------------------------------------------------------
//  Quote Element
// ----------------------------------------------------------------------------

@if $base-q == true {

  // Set consistent quotes across browsers
  q {
    quotes: "\201C" "\201D" "\2018" "\2019";
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Blockquote
// ----------------------------------------------------------------------------

// Basic Blockquote Setup

@if $base-blockquote-basic == true {

  blockquote {
    @extend %reset--spacing;
    @extend %margin-bottom--base;
    @extend %txt-h6;
    @extend %txt-italic;
    color: $c-blockquote;
  }

}


// In-depth blockquote setup

@if $base-blockquote == true {

  blockquote {

    p {
      margin-bottom: 0;

      &:after,
      &:before {
        font: 400 $f-blockquote-quotes $s-blockquote-quotes;
        line-height: 0;
        position: relative;
        top: 2px;
      }

      &:after {
        content: "\201D";
        right: -1px;
      }

      &:before {
        content: "\201C";
        left: -1px;
      }
    }

    small {
      color: $c-blockquote-small;
      font-size: $s-blockquote-small;
      font-style: normal;
      margin-bottom: 0;
      padding-left: $unit-px3;

      &:before {
        content: "– ";
      }
    }
  }

  // Example mark-up:
  // --------------------------------------------------------
  // <blockquote>
  //   <p>
  //     copy goes here
  //   </p>
  //   <small>
  //     <cite>
  //       Citation goes here
  //     </cite>
  //   </small>
  // </blockquote>

} // -- end @if --
