//----------------------------------------------------------------------------
//  Shared 'help' Styling
// ---------------------------------------------------------------------------

%help {
  border-bottom: 1px dotted $c-help-underline;
  cursor: help;
}

// the %help silent class is extended into <abbr> and <dfn> elements that
// have [title] attributes set.





//----------------------------------------------------------------------------
//  Abbr Element
// ---------------------------------------------------------------------------

@if $base-abbr == true {

  abbr[title] {
    @extend %help;
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Bold & Italic Elements
// ----------------------------------------------------------------------------

@if $base-bold-italic == true {

  // Consistent bolding
  b, strong {
    @extend %txt-bold;
  }

  // Consistent italics
  i, em {
    @extend %txt-italic;
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Cite Elements
// ----------------------------------------------------------------------------

@if $base-cite == true {

  cite {
    @extend %txt-bold;
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Dfn Element
// ----------------------------------------------------------------------------

@if $base-dfn == true {

  dfn {
    @extend %txt-italic;

    &[title] {
      @extend %help;
    }
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Ins Elements
// ----------------------------------------------------------------------------

@if $base-ins == true {

  ins {
    color: $c-ins;
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Mark Element
// ----------------------------------------------------------------------------

@if $base-mark == true {

  // IE 8/9 doesn't highlight background by default
  mark {
    background: $c-mark--bg;
    color: $c-mark--txt;
    border-bottom: 1px solid $c-mark--border;
    padding: 0 2px;
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Pre Element
// ----------------------------------------------------------------------------

@if $base-pre == true {

  pre {
    @extend %reset--spacing;
    overflow: auto;
    white-space: pre-wrap;

    @if $base-code == true {
      code {
        line-height: 1.5;
      }
    }
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Sub/Sup Elements
// ----------------------------------------------------------------------------

@if $base-sub-sup == true {

  // Prevents sub & sup from affecting the line-height
  sub, sup {
    @extend %txt-small;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -.25em;
  }

  sup {
    top: -.5em;
  }

} // -- end @if --
