// ----------------------------------------------------------------
// Fonts Families
// ----------------------------------------------------------------
$brand:		'Open Sans'; // replace this with your main brand font
$arial:		Arial, "Helvetica Neue", Helvetica, sans-serif;
$georgia:	Georgia, Cambria, "Times New Roman", Times, serif;
$helvetica:	"Helvetica Neue", Helvetica, Arial, sans-serif;
$verdana:	Verdana, Geneva, sans-serif;


// ----------------------------------------------------------------
// Font Size Declarations 
// ----------------------------------------------------------------
$base-font:1em; // 1em = 16px

$giga:	$base-font * 4.375;		// 70px
$ultra: $base-font * 3.75;	  	// 60px
$mega:  $base-font * 3.5;		// 56px

$alpha: $base-font * 3.125;	  	// 50px
$beta:  $base-font * 2.5;		// 40px
$gamma: $base-font * 2;	  		// 32px
$delta: $base-font * 1.625;	  	// 26px
$eps:	$base-font * 1.25;		// 20px
$zeta:	$base-font * 1;	  		// 16px

$base:  $base-font * .875;		// 14px
$tiny:  $base-font * .75;		// 12px
$mini:  $base-font * .625;		// 10px


// ----------------------------------------------------------------
//		Site-Wide Typography Standards
// ----------------------------------------------------------------

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,700italic,600,400italic,300italic,600italic);

.giga				{font:{size:$giga; 	weight:700;}}
.ultra				{font:{size:$ultra; weight:600;}}
.mega				{font:{size:$mega; 	weight:300;}}
h1, .alpha			{font:{size:$alpha; weight:400;}}
h2, .beta			{font:{size:$beta; 	weight:400;}}
h3, .gamma			{font:{size:$gamma; weight:400;}}
h4, .delta			{font:{size:$delta; weight:300;}}
h5, .eps			{font:{size:$eps;  	weight:300;}}
h6, .zeta			{font:{size:$zeta; 	weight:300;}}
p, li, li p, .base	{font:{size:$base; 	weight:300;}}
small, .tiny		{font:{size:$tiny; 	weight:300;}}
.mini				{font:{size:$mini; 	weight:300;}}


// ----------------------------------------------------------------
//	Colors
// ----------------------------------------------------------------

// Base Branding Colors
$c-Brand-1:		#54a4a3;
$c-Brand-2:		#d48371;
$c-Brand-3:		#7e984c;

// Base Darker Colors
$c-Dark:		#444;
$c-Darker:		#101010;

// Base Ligher Colors
$c-Light:		#eee;
$c-Lighter:		#f8f8f8;

$c-Body-Copy:	$c-Dark;
$c-Heading:		$c-Darker;

$c-BG:			#f8f8f8;

$c-Link:		$c-Brand-2;

// Button Colors
$c-Btn-1:		$c-Brand-1;
$c-Btn-2:		$c-Brand-2;
$c-Btn-3:		$c-Brand-3;

$c-Btn-Neg:		#aaa;
$c-Disabled:	#fafafa;

// Color for Radio/Check box buttons
$c-Btn-RC:		#eee;

// Required / Error Text Color
$c-Required:	#f00;


// ----------------------------------------------------------------
//		Branding Helpers
// ----------------------------------------------------------------
.brand{
	/* put brand color here */
	font-family:$brand; font-weight:300;
}
.brand-Color{color:$c-Brand-1}
.brand-Font{font-family:$brand; font-weight:300}


// ----------------------------------------------------------------
//		Links
// ----------------------------------------------------------------
a{
	color:$c-Link;
	&:hover, &:active{}
	&:visited{}
}
// example - :hover{color:darken($c-Link, 15%)}









