// ----------------------------------------------------------------
//		Branding Helpers - to be defined by variables
// ----------------------------------------------------------------
.brand{
	/* put brand color here */
	font-family:$brand; font-weight:300;
}
.brand-Color{/* put brand color here */}
.brand-Font{font-family:$brand; font-weight:300}


// ----------------------------------------------------------------
//		Site-Wide Typography Standards
// ----------------------------------------------------------------

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,700italic,600,400italic,300italic,600italic);

.giga				{font:{size:$giga; 	weight:700;}}
.ultra				{font:{size:$ultra; weight:600;}}
.mega				{font:{size:$mega; 	weight:300;}}
h1, .alpha			{font:{size:$alpha; weight:400;}}
h2, .beta			{font:{size:$beta; 	weight:400;}}
h3, .gamma			{font:{size:$gamma; weight:400;}}
h4, .delta			{font:{size:$delta; weight:300;}}
h5, .eps			{font:{size:$eps;  	weight:300;}}
h6, .zeta			{font:{size:$zeta; 	weight:300;}}
p, li, li p, .base	{font:{size:$base; 	weight:300;}}
.tiny				{font:{size:$tiny; 	weight:300;}}
.mini				{font:{size:$mini; 	weight:300;}}


// ----------------------------------------------------------------
//		Links
// ----------------------------------------------------------------
a{
	color:$c-Link;
	&:hover, &:active{}
	&:visited{}
}
// example - :hover{color:darken($c-Link, 15%)}









