// ----------------------------------------------------------------
//		Text Helpers
// ----------------------------------------------------------------
// Align Text
.txt-Center	{text-align:center}
.txt-Left	{text-align:left}
.txt-Right	{text-align:right}

// Truncate Text
.truncate{@include truncate(100%)}

// Applies a degree symbol
%degree:after{content:"\00BA"}

// Applies >> to a link/btn
.go:after{content:"\00A0" "\00BB"}

// Highlight Text
.highlight, %highlight{
	background:#888;
	color:#fff;
	@include border-radius(3px);
	display:inline-block;
	padding:2px 4px;
	vertical-align:text-top;
}

// Skew Text/Highlight
.slant {
	@extend %highlight;
	   -moz-transform:skewX(-16deg);
	     -o-transform:skewX(-16deg);
	-webkit-transform:skewX(-16deg);
		    transform:skewX(-16deg);
}

.text-Correct{
	display: inline-block;
	   -moz-transform:skewX(16deg);
		 -o-transform:skewX(16deg);
	-webkit-transform:skewX(16deg);
			transform:skewX(16deg);
}
	
/*
	Code Example: Slanted Text w/Highlight
	--------------------------
	<span class="slant">
		Text Goes here
	</span>
	
	Code Example: Normal flowing text w/slanted highlight
	--------------------------
	<span class="slant">
		<span class="text-Correct">Text Goes here</span>
	</span>
*/


// ----------------------------------------------------------------
//		Floats & Clearing
// ----------------------------------------------------------------
.float-Left	  {float:left}
.float-Right  {float:right}
.float-None	  {float:none}
.clear		  {clear:both}
.clearfix	  {@include clearfix}
.overflow	  {overflow:hidden}


// ----------------------------------------------------------------
//		Showing & Hiding
// ----------------------------------------------------------------
.d-Block, .show{display:block}
.d-None, .hide, .mobile-Show{display:none} 
	// change display value for .mobile-Show in the appropriate @media break-point


// ----------------------------------------------------------------
//		List Manipulation
// ----------------------------------------------------------------
// Kill list styling - extend into Navigations & for lists that don't require markings
.kill-List, %kill-List{list-style:none; padding:0}
// Give numerical values to a semantically unordered list
.numbered{list-style:decimal}  


// ----------------------------------------------------------------
//		Reoccuring HTML Elements
// ----------------------------------------------------------------
// Profile Picture
.pic, %pic{
	border:1px solid #fff;
	@include border-radius(4px);
	@include box-shadow($bs-5);
	display:inline-block;
	overflow:hidden;
	width:90px;
	
	img{display:block; position:relative; z-index:-1}
		// the position relative/z-index allows for box-shadow inset on the parent container
}

// Make picture into a circle
.pic-Rounded{
	@extend %pic;
	@include border-radius(100px);
}
/* 
	Code Example
	--------------------------
	<a href="#" title="TITLE" class="pic-Rounded">
		<img src="assets/img/little-V.jpg" alt="" />
	</a>
*/

// Media Item
.media, %media{
	margin-bottom:$spacing*4;
	overflow:hidden;
	position:relative;
	z-index:2;
	.media-Text >:last-child{margin-bottom:0}
	.media-Object{float:left; margin:0 $spacing*4 $spacing*2 0; max-width:30%;}
}

// Have media element appear on the right hand side
.media-Reverse, %media-Reverse{
	@extend %media;
	.media-Object{float:right; margin:0 0 $spacing*2 $spacing*4; max-width:30%}
}

.media-No-Wrap{
	@extend %media;
	padding-left:100px;
	.media-Text{float:left; width:100%}
	.media-Object{margin-left:-100px; margin-right:0}
}

.media-No-Wrap-Reverse{
	@extend %media-Reverse;
	padding-right:100px;
	.media-Object{margin-right:-100px; margin-left:0}
}
/* 
	Code Example
	--------------------------
	<div class="media">
		<div class="media-Object">
			<img src="assets/img/little-V.jpg" alt="" />
		</div>
		<div class="media-Text">
			<h1>Title for Meida Element</h1>
			<p>Paragraph text to go along with media element.</p>
		</div>
	</div>
	
	-- 	Divs were used in this example, but the media element could be applied to various situations.
		Ie. could be used for a header or footer area where a logo is placed on the right or left w/text to the side.
*/



// Call out boxes
.callout{
	background:#fafafa;
	border:1px solid #ddd;
	@include border-radius(4px);
	@include box-shadow($bs-4);
	margin-bottom:$spacing*4;
	min-height:50px;
	padding:$spacing*4;
	
	& > :last-child{margin-bottom:0}
}


// Multi-Columned Text
.multi{
	   -moz-column-count:3;
	-webkit-column-count:3;
			column-count:3;
			
	   -moz-column-gap:$spacing*10;
	-webkit-column-gap:$spacing*10;
			column-gap:$spacing*10;
			
	   -moz-column-rule:1px outset #eee; 
	-webkit-column-rule:1px outset #eee;
			column-rule:1px outset #eee;
}


// Tool Tips / Hover Desc.
/* 
	the tool tips 
	-- default position is to show tool-tip as pop-under
	-- use additional helper classes to reassign where tool-tip displayes.
	
	Default HTML:
	
	<a href="#" title="Title" class="tool-Tip">
		Content Goes Here
	</a>
*/

.tool-Tip{
	cursor:help;
	display:inline-block;
	position:relative;
	
	&:after{
		background:#fff;
		background:rgba(255,255,255,.95);
		border:1px solid #333;
		border-radius:4px;
		color:#333;
		content:attr(title);
		font-size:12px;
		left:0; 
		opacity:0;
		padding:5px 10px;
		position:absolute;
		text-align:center;
		top:90%;
		-moz-transition:all 0.35s; -webkit-transition:all 0.35s; -o-transition:all 0.35s; transition:all 0.35s;
		width:100%;
	}
	
	&:hover{
		text-decoration:none;
	}
	
	&:hover:after{
		opacity:1;
		top:105%
	}
		
}

.above{
	
	&:after{
		bottom:90%;
		top:auto;
	}
	
	&:hover:after{
		bottom:105%;
		top:auto;
	}
}

.img-Bottom{
	img{display:block}
	
	&:after{bottom:-5%; top:auto}
	&:hover:after{bottom:0; top:auto}
}

.img-Top{
	img{display:block}
	
	&:after{top:-5%}
	&:hover:after{top:0}
	
}

.img-Left{
	img{display:block}
	
	&:after{height:100%; left:-5%; top:0; width:50%}
	&:hover:after{left:0; top:0}
	
}

.img-Right{
	img{display:block}
	
	&:after{height:100%; left:auto; right:-5%; top:0; width:50%}
	&:hover:after{left:auto; right:0; top:0}
	
}






































