// ----------------------------------------------------------------
//		Basic Setups for Navigation Elements
// ----------------------------------------------------------------

// The main navigation class
.nav{
	ul{list-style:none; margin:0; padding:0}
	li{margin:0}
	a{text-decoration:underline;
		&:hover{text-decoration:none}
		
		.selected{}
	}
}


// ----------------------------------------------------------------
// Basic rules for Horizontal Navigations
// ----------------------------------------------------------------
.h-Nav{
	@extend .clearfix;
	& > li{float:left}
	
	// Set drop menu location to the bottom of the hovered link
	.drop-Menu{
		left:0; top:100%;
		
		// don't use floats, but instead use display inline-block and center navigation links
		&.center{
		font-size:0; text-align:center;
			// font-size:0; deletes the white space between the <li>s 
			// However, the font size inside of the <li>'s must be reset when using this trick.
			
			& > li{display:inline-block; float:none; font-size:$base}
				// Sets links to the base font-size.  Update for your own uses.
		}
	}
}

	
// ----------------------------------------------------------------
// Basic rules for Vertical Navigations
// ----------------------------------------------------------------
.v-Nav{
	/* really only needs styling applied to it, as vertical nav is default */
	.drop-Menu{left:100%; top:0} // Set drop menu location to the right of the hovered link
}
	
// ----------------------------------------------------------------
// Basic rules for Drop Down Menus (applied to both horizontal & vertical navs)
// ----------------------------------------------------------------
.drop-Start{position:relative;
	&:hover{
		background:#eee;
		.drop-Menu{visibility:visible}
	}
	a{
		white-space:nowrap
	}
}
.drop-Menu{background:#eee; border:1px solid #ddd; position:absolute; visibility:hidden; z-index:2}
