// ----------------------------------------------------------------
//		Project Specific Styling
//
//		If this file is too large then it may make sense to 
//		abstract out more of the styling contained within
//		or at the very least, break the project specific file
//		up into smaller increments.
// ----------------------------------------------------------------

// Update HTML/BODY tags with appropriate styling
body{background:#fafafa; font-family:$brand; font-weight:300}

// Full container for the entire page.  
// overflow-x hidden so we don't get any horizontal scroll bars we may not want if 
// we're using modal boxes or drop down menus that may inch off the side of the page
// by accident, or on purpose.
.page{overflow-x:hidden}

// Generic tag to wrap around content within sections to apply a max width to the interior content
// while allowing for larger sections to expand the whole page for BG purposes
.content{
	margin:0 auto; max-width:900px; padding:$spacing*3;
	& > :last-child{margin-bottom:0}	// kill any extra margin on the last element in the .content div
}

// ----------------------------------------------------------------
//	Header Area
// ----------------------------------------------------------------

// Extend the .nav class to style your header navigation
.header-Nav{
	@extend .nav;
	a{/* add in project styling for header a tags here */
		&:hover{/* add in project styling for a:hover here */}
		&.selected{/* add in project styling for a.selected here */}
	}
}

// Apply to <header> for styling
.base-Header{}


// ----------------------------------------------------------------
//	Content Area
// ----------------------------------------------------------------

// Apply to <main> or top level <section> for styling
.base-Content{}





// ----------------------------------------------------------------
//	Footer Area
// ----------------------------------------------------------------

// Apply to <footer> for styling
.base-Footer{
	background:#2d2d2d;
	color:#fff;
}

// Extend the .nav class to style your footer navigation
.footer-Nav{
	@extend .nav;
	a{/* add in project styling for footer a tags here */
		&:hover{/* add in project styling for a:hover here */}
		&.selected{/* add in project styling for a.selected here */}
	}
}