// ----------------------------------------------------------------
// Tables
// ----------------------------------------------------------------

$table-Border:	1px solid #ccc; // sets consistent boarder styling for table elements

// Removes most of the table spacing issues
table{border-collapse:collapse; border-spacing:0}

.base-Table{
	background:#fafafa;
	font-size:$base;
	width:100%; // make tables always take up the entire width of their containing parent.
	
	th, td{padding:$spacing; text-align:left}
}

.table-Header{
	background:#eee;
}

.table-Body{
	// style?
}

.table-Footer{
	background:#e3e3e3;
}

.border-Table{
	@extend .base-Table;
	border-bottom:$table-Border;
	border-right:$table-Border;
	
	tr{border-top:$table-Border}
	th, td{border-left:$table-Border}
}

.stripe-Table{
	@extend .base-Table;
	
	tr:nth-child(2n){background:$c-Light}
}