// ----------------------------------------------------------------
// Border Radius Base Default	- t-l  t-r  b-r  b-l
// ----------------------------------------------------------------
$radius:	3px;


// ----------------------------------------------------------------
// Box Shadow Types  (these are just examples.  Make your own!)
// ----------------------------------------------------------------
$bs-1:		0 0 6px rgba(0,0,0,.25);
$bs-2:		$bs-1 inset;
$bs-3:		$bs-1, $bs-1 inset;
$bs-4:		0 8px 8px -8px rgba(0,0,0,.5);
$bs-5:		$bs-4, 0 0 6px rgba(0,0,0,.75) inset;
$bs-6:		0 0 6px rgba(255,255,255,.5) inset;


// ----------------------------------------------------------------
// Layout
// ----------------------------------------------------------------
$spacing:4px;


// ----------------------------------------------------------------
//		Media Query Break Points
// ----------------------------------------------------------------
$break-Mini:    480px;
$break-Tiny:    500px;
$break-Small:   600px;
$break-Medium:  800px;
$break-Large:   1000px;
$break-xLarge:  1200px;
$break-xxLarge: 1600px;
