.js-Header {
  display: none; }

.h-Pad {
  padding-top: 177px; }
  @media (max-device-width: 480px), screen and (max-width: 820px) {
    .h-Pad {
      padding-top: 147px; } }

.header-Base, .header-Fixed, .header-Hide, .header-Fixed-Shrink {
  background: #446CB3;
  border-bottom: 1px solid #333;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.2);
  color: #fff;
  height: 147px;
  margin-top: 30px;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
  @media (max-device-width: 480px), screen and (max-width: 820px) {
    .header-Base, .header-Fixed, .header-Hide, .header-Fixed-Shrink {
      line-height: 1;
      font-size: 80%;
      margin-top: 0;
      overflow: hidden;
      padding-top: 20px; } }

.header-Fixed, .header-Hide, .header-Fixed-Shrink {
  left: 0;
  margin: 0;
  position: fixed;
  top: 30px;
  width: 100%;
  z-index: 10; }
  @media (max-device-width: 480px), screen and (max-width: 820px) {
    .header-Fixed, .header-Hide, .header-Fixed-Shrink {
      top: 0; } }

.header-Hide {
  z-index: 3; }

.header-Fixed-Shrink.shrinky {
  font-size: 70% !important;
  height: 110px; }

.header-Content, .main-Content, .footer-Content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 10px 20px; }
  .header-Content :last-child, .main-Content :last-child, .footer-Content :last-child {
    margin-bottom: 0; }

.footer-Content a {
  color: #fff; }

.nav-Container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 12; }
  .nav-Container a {
    color: #fff; }
  .nav-Container .c-Nav {
    background: #6684ba;
    border-bottom: 1px solid #22437d; }
    @media (max-device-width: 480px), screen and (max-width: 820px) {
      .nav-Container .c-Nav {
        -moz-transition: all 0.35s;
        -o-transition: all 0.35s;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
        bottom: -400px;
        position: fixed;
        left: 0;
        width: 100%; }
        .nav-Container .c-Nav li {
          display: block;
          text-align: left; }
          .nav-Container .c-Nav li a {
            display: block; } }

@media (max-device-width: 480px), screen and (max-width: 820px) {
  .slide-Up {
    bottom: 0 !important; } }

.btn-Nav {
  background-color: #6684ba;
  border: 1px solid #333;
  display: none; }
  @media (max-device-width: 480px), screen and (max-width: 820px) {
    .btn-Nav {
      display: block; } }

.main {
  background: #fff;
  min-height: 800px;
  position: relative;
  z-index: 5; }
