@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,700,700italic,600,400italic,300italic,600italic);
/*
  *****************************************************************************
  *
  * Title of framework
  * by Scott O'Hara - @scottohara
  * 0.x - December 3, 2013
  *
  *****************************************************************************
*/
html, body, nav ul, nav ol, h1, h2, h3, h4, h5, h6, p, blockquote, pre, fieldset, form, input, textarea, button, select, legend, table {
  margin: 0;
  padding: 0; }

img, fieldset, table {
  border: 0;
  outline: 0; }

a:active, a:hover, a:visited:active, a:visited:hover, input[type="submit"]::-moz-focus-inner {
  outline: 0; }

nav ul, nav ol, .kill-list, .inline-list {
  list-style: none;
  margin: 0;
  padding: 0; }

html, body {
  font-size: 100%;
  line-height: 1.5; }

.txt-xxlarge, .txt-xlarge, .txt-large, h1, .txt-h1 {
  line-height: 1; }

.txt-xxlarge {
  font-size: 4.375em;
  font-weight: 700; }

.txt-xlarge {
  font-size: 3.75em;
  font-weight: 600; }

.txt-large {
  font-size: 3.5em;
  font-weight: 300; }

h1, .txt-h1 {
  font-size: 3.125em;
  font-weight: 400; }

h2, .txt-h2 {
  font-size: 2.5em;
  font-weight: 400; }

h3, .txt-h3 {
  font-size: 2em;
  font-weight: 400; }

h4, .txt-h4 {
  font-size: 1.625em;
  font-weight: 300; }

h5, legend, .txt-h5 {
  font-size: 1.25em;
  font-weight: 300; }

h6, blockquote, .txt-h6 {
  font-size: 1.125em;
  font-weight: 300; }

input, textarea, select, table, .txt-base {
  font-size: 1em;
  font-weight: 300; }

small, sub, sup, .txt-small {
  font-size: 0.75em;
  font-weight: 300; }

.txt-mini {
  font-size: 0.625em;
  font-weight: 300; }

b, strong, dt, thead, th {
  font-weight: bold; }

dfn, i, em, blockquote, img {
  font-style: italic; }

.hidden {
  display: none !important;
  visibility: hidden; }

.invis {
  border: 0 !important;
  height: 1px !important;
  left: -999999px !important;
  overflow: hidden !important;
  position: absolute !important;
  width: 1px !important; }

.media:after, .media-reverse:after, .media-no-wrap-reverse:after, .media-no-wrap:after, .clearfix:after, .row:after, .btn-pill:after, .h-nav:after {
  clear: both;
  content: "";
  display: table; }

h1, h2, h3, h4, h5, h6, p, small, li, blockquote, address, details, summary, code, kbd, samp, figure, fieldset, form, table, .btn-pill {
  margin-bottom: 8px; }

article, aside, canvas, footer, header, main, section, nav, small, details, summary, figure, figcaption, figure img, textarea, .d-block {
  display: block; }

[hidden], .d-none, .mobile-show {
  display: none; }

*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  background: white;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

nav li {
  margin: 0; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #cccccc;
  cursor: help; }

ol, ul, dl, dd {
  margin: 0 0 8px; }

::-moz-selection {
  background: #4aceff;
  color: white;
  text-shadow: none; }

::selection {
  background: #4aceff;
  color: white;
  text-shadow: none; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, p small, li small {
  display: inline-block;
  margin: 0; }

a, a:visited {
  background: transparent;
  color: #00aeef; }
  a:active, a:hover, a:visited:active, a:visited:hover {
    color: #0095cc; }
  a:focus, a:visited:focus {
    outline: thin dotted; }

ol, ul {
  padding-left: 24px; }
  ol > :last-child, ul > :last-child {
    margin-bottom: 0; }
  ol ol, ol ul, ul ol, ul ul {
    margin-top: 8px; }

dl > :last-child {
  margin-bottom: 0; }

dd {
  padding-left: 16px; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

blockquote:after, blockquote:before {
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: 2px; }
blockquote:after {
  content: "\201D";
  right: -1px; }
blockquote:before {
  content: "\201C";
  left: -1px; }

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

address > :last-child {
  margin-bottom: 0; }

details > :last-child, summary > :last-child {
  margin-bottom: 0; }

code, kbd, samp {
  border: 1px solid #e3e3e3;
  border-left-width: 6px;
  background: #f2f2f2;
  display: block;
  font-family: monospace, serif;
  font-size: 1em;
  padding: 8px; }

p code, p kbd, p pre, p samp, li code, li kbd, li pre, li samp {
  display: inline-block;
  margin: 0;
  padding: 4px; }

pre {
  overflow: auto;
  white-space: pre-wrap; }

video, embed,
object {
  display: inline-block;
  max-width: 100%; }

img {
  color: #a32828;
  max-width: 100%; }

svg:not(:root) {
  overflow: hidden; }

fieldset, form, input, textarea, button, select {
  font-weight: 400;
  line-height: 1.25;
  text-transform: none; }

label {
  display: inline-block;
  margin-bottom: 4px; }
  label[for] {
    cursor: pointer; }

input:required {
  color: #a32828; }

input[disabled] {
  background: #e0e0e0;
  cursor: not-allowed; }

input[readonly] {
  background: #eeeeee; }

input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type='search'] {
  -webkit-appearance: textfield; }

textarea {
  min-height: 40px;
  min-width: 60px;
  overflow: auto;
  resize: vertical;
  vertical-align: top; }
  textarea:required {
    color: #a32828; }

button,
input[type='reset'],
input[type='submit'],
html input[type='button'] {
  cursor: pointer;
  -webkit-appearance: button; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

legend {
  margin-left: -4px;
  padding: 0 4px; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

th, td {
  padding: 4px 8px;
  text-align: left;
  vertical-align: top; }

hr {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  height: 1px;
  margin: 8px 0; }

.media, .media-reverse, .media-no-wrap-reverse, .media-no-wrap {
  margin-bottom: 2em; }
  .media .media-text > :last-child, .media-reverse .media-text > :last-child, .media-no-wrap-reverse .media-text > :last-child, .media-no-wrap .media-text > :last-child {
    margin-bottom: 0; }
  .media .media-object, .media-reverse .media-object, .media-no-wrap-reverse .media-object, .media-no-wrap .media-object {
    float: left;
    margin: 0 16px 8px 0;
    max-width: 30%; }

.emph-block {
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 6px rgba(0, 200, 222, 0.25);
  box-shadow: 0 0 6px rgba(0, 200, 222, 0.25);
  background: #f0f0f0;
  border: 1px solid #dddddd;
  margin-bottom: 16px;
  min-height: 50px;
  padding: 16px; }
  .emph-block > :last-child {
    margin-bottom: 0; }

.frame {
  border: 1px solid #3a3a3a;
  display: inline-block; }
  .frame img {
    border: 4px solid #f0f0f0;
    display: block; }

.pic {
  border-radius: 8px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 6px rgba(0, 200, 222, 0.25);
  box-shadow: 0 0 6px rgba(0, 200, 222, 0.25);
  border: 1px solid #f0f0f0;
  display: inline-block;
  overflow: hidden; }
  .pic img {
    display: block;
    width: 100%; }

@media (max-device-width: 480px), screen and (max-width: 800px) {
  .mobile-show {
    display: block; } }
.mute {
  opacity: .75; }

.mute-more {
  opacity: .5; }

.media-reverse .media-object, .media-no-wrap-reverse .media-object {
  float: right;
  margin: 0 0 8px 16px; }

.media-no-wrap {
  padding-left: 116px; }
  .media-no-wrap .media-text {
    float: left;
    width: 100%; }
  .media-no-wrap .media-object {
    margin-left: -116px;
    width: 100px; }

.media-no-wrap-reverse {
  padding-right: 116px; }
  .media-no-wrap-reverse .media-text {
    width: 100%; }
  .media-no-wrap-reverse .media-object {
    margin-right: -116px;
    width: 100px; }

.hr-dual {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2); }

.hr-dash {
  border-style: dashed; }

.hr-dot {
  border-style: dotted; }

.hr-dual-spaced {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  height: 4px;
  position: relative; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.float-none {
  float: none; }

.clear {
  clear: both; }

.overflow {
  overflow: hidden; }

.row {
  margin-bottom: 20px;
  margin-left: -40px; }
  .row.half-gutter {
    margin-left: -20px; }

.col {
  float: left;
  margin-bottom: 0;
  padding-left: 40px;
  position: relative;
  width: 100%; }
  .col > :last-child {
    margin-bottom: 0; }
  @media (max-device-width: 480px), screen and (max-width: 800px) {
    .col {
      margin-bottom: 8px; } }

.half-gutter .col {
  padding-left: 20px; }

.w-100 {
  width: 100%; }

.w-90 {
  width: 90%; }

.w-80 {
  width: 80%; }

.w-75 {
  width: 75%; }

.w-70 {
  width: 70%; }

.w-66 {
  width: 66.6666%; }

.w-60 {
  width: 60%; }

.w-50 {
  width: 50%; }

.w-40 {
  width: 40%; }

.w-33 {
  width: 33.3333%; }

.w-30 {
  width: 30%; }

.w-25 {
  width: 25%; }

.w-20 {
  width: 20%; }

.w-10 {
  width: 10%; }

@media (max-device-width: 480px), screen and (max-width: 800px) {
  .w-90, .w-80, .w-75, .w-70, .w-66,
  .w-60, .w-50, .w-40, .w-33, .w-30,
  .w-25, .w-20, .w-10 {
    width: 100%; } }
.rfl-300 {
  padding-left: 300px; }
  @media (max-device-width: 380px), screen and (max-width: 800px) {
    .rfl-300 {
      padding: 0; } }
  .rfl-300 .f-col {
    float: left;
    margin-left: -260px;
    width: 260px; }
    @media (max-device-width: 380px), screen and (max-width: 800px) {
      .rfl-300 .f-col {
        float: none;
        margin: 0;
        padding-left: 40px;
        width: auto; } }

.rfr-300 {
  padding-right: 300px; }
  @media (max-device-width: 380px), screen and (max-width: 800px) {
    .rfr-300 {
      padding: 0; } }
  .rfr-300 .f-col {
    float: right;
    margin-right: -300px;
    width: 260px; }
    @media (max-device-width: 380px), screen and (max-width: 800px) {
      .rfr-300 .f-col {
        float: none;
        margin: 0;
        padding-left: 40px;
        width: auto; } }

.table-header {
  background: #444444;
  color: white; }

.table-footer {
  background: #f0f0f0; }

.table-border {
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc; }
  .table-border tr {
    border-top: 1px solid #cccccc; }
  .table-border th, .table-border td {
    border-left: 1px solid #cccccc; }

.table-stripe tr:nth-child(2n) {
  background: #e0e0e0; }

.table-row-stripe {
  background: #e0e0e0; }

.table-mobile {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
  @media (max-device-width: 480px), screen and (max-width: 800px) {
    .table-mobile {
      border: 1px solid #cccccc; }
      .table-mobile table, .table-mobile th, .table-mobile td, .table-mobile tr {
        white-space: nowrap; } }

.input-area, .crs, .select-container, .multi-select, .input-file-text {
  border-radius: 4px;
  background-clip: padding-box;
  background: white;
  border: 1px solid #cccccc;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: 8px;
  padding: 8px 4px;
  width: 100%;
  -webkit-appearance: none; }
  .input-area:focus, .crs:focus, .select-container:focus, .multi-select:focus, .input-file-text:focus {
    background: #f0f0f0;
    -webkit-box-shadow: 0 0 6px rgba(0, 200, 222, 0.25);
    box-shadow: 0 0 6px rgba(0, 200, 222, 0.25); }

.cb-css {
  display: inline-block;
  height: 16px;
  margin: 0 4px 0 0;
  position: relative;
  vertical-align: sub;
  width: 16px; }
  .cb-css:after {
    content: '';
    opacity: 0; }
  .cb-css:hover::after {
    opacity: .3; }

.form-row {
  padding: 4px 0; }

.fieldset {
  border: 1px solid #cccccc;
  margin-bottom: 8px;
  padding: 8px 12px; }

.dis-label {
  cursor: not-allowed; }

.inline-element, .inline-all input, .inline-all textarea, .inline-all label {
  display: inline-block;
  margin-right: 4px;
  width: auto; }

.cr-area {
  position: relative; }
  .cr-area :checked + .cb:after {
    opacity: 1; }
  .cr-area :focus + .cb {
    -webkit-box-shadow: 0 0 6px rgba(0, 200, 222, 0.25);
    box-shadow: 0 0 6px rgba(0, 200, 222, 0.25); }

.cb-css {
  border-radius: 2px;
  background-clip: padding-box;
  background-color: #dddddd;
  background: -moz-linear-gradient(top, white, #cccccc);
  background: -o-linear-gradient(top, white, #cccccc);
  background: -webkit-linear-gradient(top, white, #cccccc);
  background: linear-gradient(top, white, #cccccc);
  border: 1px solid #999999; }
  .cb-css:after {
    position: absolute;
    top: -2px;
    left: 1px;
    -moz-transform: rotate(-49deg);
    -ms-transform: rotate(-49deg);
    -o-transform: rotate(-49deg);
    -webkit-transform: rotate(-49deg);
    transform: rotate(-49deg);
    border: 5px solid #00aeef;
    border-top: none;
    border-right: none;
    height: 10px;
    width: 20px; }

.crs-label {
  vertical-align: middle; }

.cr-slider {
  white-space: nowrap; }

.crs {
  border-radius: 12px;
  background-clip: padding-box;
  display: inline-block;
  height: 28px;
  margin: 0 4px 0 0;
  max-width: 80px;
  overflow: hidden;
  position: relative;
  vertical-align: middle; }
  .crs:after {
    position: absolute;
    top: 0;
    right: 50%;
    -moz-transition: 0.2s all;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    background: #a32828;
    content: "";
    height: 100%;
    width: 51%; }
  .crs.knob {
    overflow: visible; }
    .crs.knob:after {
      -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
      background: white;
      border: 1px solid #aaa;
      border-radius: 2000px;
      height: 150%;
      top: -25%; }
  .crs.labels:before {
    position: absolute;
    top: 12%;
    left: 5%;
    content: "Off";
    text-indent: 60%; }

.input-slide:focus + .crs {
  -webkit-box-shadow: 0 0 6px rgba(0, 200, 222, 0.25);
  box-shadow: 0 0 6px rgba(0, 200, 222, 0.25); }
.input-slide:checked + .crs.knob {
  background: #27ae60 !important;
  color: white; }
  .input-slide:checked + .crs.knob:after {
    background: white; }
.input-slide:checked + .crs:after {
  background: #27ae60;
  right: -1px; }
.input-slide:checked + .crs.labels:before {
  content: "On";
  text-indent: 5%; }

.select-container {
  background: url(../img/drop-arrow.png) no-repeat 99% center white;
  display: block;
  overflow: hidden; }

.input-select {
  background: none;
  border: 0;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding: 0 16px 0 0;
  position: relative;
  width: 130%;
  -webkit-appearance: textarea; }

.multi-select option {
  padding: 4px 2px; }

.search-area {
  margin-bottom: 8px;
  position: relative; }
  .search-area .input-area {
    margin-bottom: 0;
    padding-right: 40px;
    width: 75%; }
  .search-area .btn-search {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding-top: 6px; }

.search-clear {
  position: relative; }
  .search-clear .input-area {
    background-repeat: no-repeat;
    background-position: 6px center;
    padding-left: 40px; }

.file-input-area {
  position: relative; }
  .file-input-area label {
    cursor: default; }

.input-file {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  height: 100%;
  opacity: 0;
  width: 100%;
  z-index: 9; }

.input-file-text {
  cursor: pointer;
  display: inline-block;
  width: 75%; }

.close-message {
  border-radius: 2000px;
  background-clip: padding-box;
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  border: 1px solid;
  padding: 4px 12px;
  text-decoration: none; }

[data-tooltip] {
  cursor: help;
  display: inline-block;
  position: relative; }
  [data-tooltip] img {
    display: block; }
  [data-tooltip]:after {
    position: absolute;
    bottom: -20%;
    left: 0;
    -moz-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    content: attr(data-tooltip);
    font-size: 0.75em;
    opacity: 0;
    padding: 4px 12px;
    text-align: center;
    width: 100%; }
  [data-tooltip]:hover {
    text-decoration: none; }
    [data-tooltip]:hover:after {
      bottom: 0;
      opacity: 1; }

.message-position {
  position: fixed;
  top: 0;
  left: 10%;
  width: 80%; }

.message-container {
  border-radius: 4px;
  background-clip: padding-box;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border: 1px solid;
  margin-bottom: 1em;
  padding: 0.35em 0.5em;
  position: relative;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6); }

.message-text {
  margin-bottom: 0; }

.message-warning {
  background: #fcf196;
  border-color: #f8e01b;
  color: #7b6e04; }
  .message-warning ::-moz-selection {
    background: #f8e01b;
    color: #3a3a3a;
    text-shadow: none; }
  .message-warning ::selection {
    background: #f8e01b;
    color: #3a3a3a;
    text-shadow: none; }
  .message-warning .close-message {
    background: #faea65;
    border-color: #f8e01b;
    color: #3a3a3a; }
    .message-warning .close-message:hover {
      background: #f8e01b;
      color: #3a3a3a; }

.message-error {
  background: #cc3232;
  border-color: #661919;
  color: black; }
  .message-error ::-moz-selection {
    background: #661919;
    color: #f0f0f0;
    text-shadow: none; }
  .message-error ::selection {
    background: #661919;
    color: #f0f0f0;
    text-shadow: none; }
  .message-error .close-message {
    background: #a32828;
    border-color: #661919;
    color: #f0f0f0; }
    .message-error .close-message:hover {
      background: #661919;
      color: #f0f0f0; }

.message-success {
  background: #36d278;
  border-color: #19703e;
  color: black; }
  .message-success ::-moz-selection {
    background: #19703e;
    color: #f0f0f0;
    text-shadow: none; }
  .message-success ::selection {
    background: #19703e;
    color: #f0f0f0;
    text-shadow: none; }
  .message-success .close-message {
    background: #27ae60;
    border-color: #19703e;
    color: #f0f0f0; }
    .message-success .close-message:hover {
      background: #19703e;
      color: #f0f0f0; }

.message-info {
  background: #93c7ef;
  border-color: #238ddf;
  color: #0e3d61; }
  .message-info ::-moz-selection {
    background: #238ddf;
    color: #f0f0f0;
    text-shadow: none; }
  .message-info ::selection {
    background: #238ddf;
    color: #f0f0f0;
    text-shadow: none; }
  .message-info .close-message {
    background: #66b0e9;
    border-color: #238ddf;
    color: #f0f0f0; }
    .message-info .close-message:hover {
      background: #238ddf;
      color: #f0f0f0; }

[data-tooltip]:after {
  border-radius: 4px;
  background-clip: padding-box;
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid #3a3a3a;
  color: #3a3a3a; }

.btn-facebook, .btn-twitter, .btn-google, .btn, .btn-disable, .btn-prime, .btn-emph, .btn-neg, .btn-cancel {
  border-radius: 8px;
  background-clip: padding-box;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none !important;
  -webkit-appearance: none; }
  .btn-facebook:focus, .btn-twitter:focus, .btn-google:focus, .btn:focus, .btn-disable:focus, .btn-prime:focus, .btn-emph:focus, .btn-neg:focus, .btn-cancel:focus {
    -webkit-box-shadow: 0 0 6px rgba(0, 200, 222, 0.25);
    box-shadow: 0 0 6px rgba(0, 200, 222, 0.25); }

.btn-facebook, .btn-twitter, .btn-google {
  color: white !important;
  min-width: 162px;
  padding-left: 56px;
  position: relative;
  text-align: left;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }

.social-icon {
  position: absolute;
  top: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 40px; }

.btn, .btn-disable {
  background-color: #cccccc;
  border-color: #999999;
  color: #525252 !important; }
  .btn:active, .btn-disable:active, .btn:hover, .btn-disable:hover {
    background-color: #999999; }
  .btn:focus, .btn-disable:focus {
    -webkit-box-shadow: 0 0 6px rgba(0, 200, 222, 0.25);
    box-shadow: 0 0 6px rgba(0, 200, 222, 0.25);
    outline: 0; }

.btn-prime {
  background-color: #4aceff;
  border-color: #00aeef;
  color: white !important;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }
  .btn-prime:hover {
    background-color: #00aeef; }

.btn-emph {
  background-color: #23d200;
  border-color: #178900;
  color: white !important;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }
  .btn-emph:hover {
    background-color: #178900; }

.btn-neg {
  background-color: #aa0000;
  border-color: #660000;
  color: white !important; }
  .btn-neg:hover {
    background-color: #660000; }

.btn-cancel {
  background-color: #3a3a3a;
  border-color: #666666;
  color: white !important; }
  .btn-cancel:hover {
    background-color: #666666; }

.btn-disable {
  cursor: not-allowed;
  opacity: .3; }
  .btn-disable:hover, .btn-disable:visited {
    background-color: #cccccc; }

.btn-small {
  font-size: 0.75em;
  padding: 4px 8px; }

.btn-large {
  font-size: 2em;
  padding: 12px 16px; }

.btn-xlarge {
  font-size: 2.5em;
  padding: 12px 20px; }

.btn-wide {
  display: block; }

.btn-square, .btn-pill .btn, .btn-pill .btn-disable {
  border-radius: 0;
  background-clip: padding-box; }

.btn-round {
  border-radius: 2000px;
  background-clip: padding-box; }

.btn-clear {
  border-radius: 2000px;
  background-clip: padding-box;
  position: absolute;
  top: 17%;
  right: 6px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 600 !important;
  padding: 5px 7px;
  text-indent: 1px;
  text-transform: uppercase; }

.btn-pill > :first-child {
  border-radius: 8px 0 0 8px;
  background-clip: padding-box; }
.btn-pill > :last-child {
  border-radius: 0 8px 8px 0;
  background-clip: padding-box; }
.btn-pill > :not(:first-child) {
  border-left: none; }
.btn-pill .btn, .btn-pill .btn-disable {
  float: left;
  margin-bottom: 0;
  min-width: 100px; }
.btn-pill .btn-small {
  min-width: 80px;
  padding-bottom: 6px;
  padding-top: 6px; }

.social-icon {
  border-right: 1px solid; }

.btn-facebook {
  background: #3a5b98;
  border-color: #3a5b98; }
  .btn-facebook .social-icon {
    border-color: #3a5b98; }
  .btn-facebook:hover {
    background: #3a5b98; }
    .btn-facebook:hover .social-icon {
      border-color: #496cac; }

.btn-twitter {
  background-color: #3096d0;
  border-color: #3096d0; }
  .btn-twitter .social-icon {
    border-color: #3096d0; }
  .btn-twitter:hover {
    background: #3096d0; }
    .btn-twitter:hover .social-icon {
      border-color: #349dd9; }

.btn-google {
  background-color: #dd4b39;
  border-color: #982b22; }
  .btn-google .social-icon {
    border-color: #982b22; }
  .btn-google:hover {
    background: #982b22; }
    .btn-google:hover .social-icon {
      border-color: #af352b; }

.txt-center {
  text-align: center; }

.txt-justify {
  text-align: justify; }

.txt-left {
  text-align: left; }

.txt-right {
  text-align: right; }

.txt-callout {
  background: #eeeeee;
  border-left: 4px solid #3a3a3a;
  padding: 16px; }
  .txt-callout:after, .txt-callout:before {
    display: none; }

.txt-highlight, .txt-slant {
  border-radius: 4px;
  background-clip: padding-box;
  background: #a32828;
  color: white;
  display: inline-block;
  padding: 4px; }

.txt-slant {
  -moz-transform: skewX(-16deg);
  -ms-transform: skewX(-16deg);
  -o-transform: skewX(-16deg);
  -webkit-transform: skewX(-16deg);
  transform: skewX(-16deg); }

.txt-correct {
  -moz-transform: skewX(16deg);
  -ms-transform: skewX(16deg);
  -o-transform: skewX(16deg);
  -webkit-transform: skewX(16deg);
  transform: skewX(16deg);
  display: inline-block; }

.number-list {
  list-style-type: decimal; }

.inline-list > li {
  display: inline-block;
  vertical-align: top; }

.top-nav-fixed, .side-nav-fixed {
  background: #3a3a3a;
  position: fixed;
  top: 0;
  z-index: 1000; }
  .top-nav-fixed a, .side-nav-fixed a {
    color: white; }
    .top-nav-fixed a:hover, .side-nav-fixed a:hover, .top-nav-fixed a:visited, .side-nav-fixed a:visited {
      background: rgba(0, 0, 0, 0.6);
      color: white;
      text-decoration: none; }

.v-nav .drop-menu {
  left: 100%;
  top: 0; }

.h-nav .drop-menu {
  left: 0;
  top: 100%; }

.bread li {
  display: inline-block; }
  .bread li:last-child:after {
    content: none; }
  .bread li:after {
    content: ">";
    display: inline-block; }

.bread a,
.active-crumb {
  display: inline-block;
  padding: 4px; }

.active-crumb {
  font-weight: 400; }

.drop-container {
  position: relative; }
  .drop-container:hover {
    background: #e0e0e0; }
    .drop-container:hover .drop-menu {
      visibility: visible; }
  .drop-container a {
    white-space: nowrap; }

.drop-menu {
  background: #e0e0e0;
  border: 1px solid #dddddd;
  margin: 0;
  position: absolute;
  visibility: hidden;
  z-index: 5; }
  .drop-menu a {
    padding: 4px 12px; }

.h-nav > li {
  float: left; }

.c-nav {
  text-align: center; }
  .c-nav > li {
    display: inline-block; }

.v-nav a {
  display: block; }

.fixed-nav-left {
  padding-left: 200px; }
  .fixed-nav-left .side-nav-fixed {
    left: 0; }
  .fixed-nav-left .btn-nav {
    left: 8px;
    top: 8px; }

.fixed-nav-right {
  padding-right: 200px; }
  .fixed-nav-right .side-nav-fixed {
    right: 0; }
  .fixed-nav-right .btn-nav {
    right: 8px;
    top: 8px; }

.fixed-nav-top {
  padding-top: 100px; }

.top-nav-fixed {
  height: 100px; }

.side-nav-fixed {
  height: 100%;
  overflow-y: auto;
  width: 200px; }

.btn-nav {
  background: url(../img/nav-Icon.png) no-repeat center center;
  background-size: 75%;
  height: 24px;
  position: fixed;
  right: 4px;
  top: 4px;
  width: 28px; }
