@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,700italic,600,400italic,300italic,600italic);
/*
  *******************************************************************************************************
  * Brass Tacks
  * by Scott O'Hara - @scottohara - scottohara.me  -  https://github.com/bleachedgraphics
  * v 0.6.7.1.1 - August 3, 2013
  *
  * This framework is still and development.  If you have any suggestions/fixes/comments, please
  * create an issue - https://github.com/bleachedgraphics/Brass-Tacks/issues 
  * Thank you!
  *
  *******************************************************************************************************
*/
html, body, audio,
embed,
img,
object,
video, blockquote, h1, h2, h3, h4, h5, h6, p, pre, caption, table, td, th, tr, button, fieldset, form, input, select, textarea, legend, hr {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0; }

nav ul:after,
nav ol:after, .clearfix:after, .media:after, .media-Reverse:after, .media-No-Wrap-Reverse:after, .media-No-Wrap:after, .row:after, .c-Row:after {
  clear: both;
  content: "";
  display: table; }

blockquote, h1, h2, h3, h4, h5, h6, li, p, small, code, kbd, samp, table, button, fieldset, form, input, select, textarea {
  margin-bottom: 8px; }

.invis, .input-Hide, .input-Checkbox .checkbox, .input-Radio {
  border: 0 !important;
  height: 1px !important;
  left: -999999px !important;
  overflow: hidden !important;
  position: absolute !important;
  width: 1px !important; }

input[type="email"], input[type="file"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], textarea, .select-Container, .multi-Select, .input-File-Text, .input-Number {
  background: #fdfdfd;
  border: 1px solid #cccccc;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.25;
  margin-bottom: 8px;
  padding: 8px 4px;
  width: 75%; }
  input[type="email"]:focus, input[type="file"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, textarea:focus, .select-Container:focus, .multi-Select:focus, .input-File-Text:focus, .input-Number:focus {
    background: #f0f0f0;
    border: 1px solid #ecf5fc;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25) inset; }

.giga {
  font-size: 4.375em;
  font-weight: 700; }

.ultra {
  font-size: 3.75em;
  font-weight: 600; }

.mega {
  font-size: 3.5em;
  font-weight: 300; }

h1, .alpha {
  font-size: 3.125em;
  font-weight: 400; }

h2, .beta {
  font-size: 2.5em;
  font-weight: 400; }

h3, .gamma {
  font-size: 2em;
  font-weight: 400; }

h4, .delta {
  font-size: 1.625em;
  font-weight: 300; }

h5, .eps, legend {
  font-size: 1.25em;
  font-weight: 300; }

h6, .zeta, blockquote {
  font-size: 1.125em;
  font-weight: 300; }

p, li, li p, li a, .base, button, fieldset, form, input, select, textarea {
  font-size: 1em;
  font-weight: 300; }

.tiny, small, sub, sup {
  font-size: 0.75em;
  font-weight: 300; }

.mini {
  font-size: 0.625em;
  font-weight: 300; }

.kill-List {
  list-style: none;
  padding: 0; }

.message-Warning, .message-Error, .message-Success, .message-Info {
  border-radius: 4px;
  background-clip: padding-box;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border: 1px solid;
  margin-bottom: 1em;
  padding: 0.35em 0.5em;
  position: relative;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6); }
  .message-Warning p, .message-Error p, .message-Success p, .message-Info p {
    margin-bottom: 0; }

.message-Holder {
  left: 10%;
  position: fixed;
  top: 0;
  width: 80%; }

.close-Message {
  border: 1px solid;
  position: absolute;
  text-decoration: none; }

[data-tooltip] {
  cursor: help;
  display: inline-block;
  position: relative; }
  [data-tooltip] img {
    display: block; }
  [data-tooltip]:after {
    background: #fdfdfd;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #333;
    border-radius: 4px;
    color: #333;
    content: attr(data-tooltip);
    font-size: 12px;
    left: 0;
    opacity: 0;
    padding: 4px 12px;
    position: absolute;
    text-align: center;
    top: 90%;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    width: 100%; }
  [data-tooltip]:hover {
    text-decoration: none; }
    [data-tooltip]:hover:after {
      opacity: 1;
      top: 105%; }

.tip-Above:after {
  bottom: 90%;
  top: auto; }
.tip-Above:hover:after {
  bottom: 105%;
  top: auto; }

.tip-Bottom:after {
  bottom: -5%;
  top: auto; }
.tip-Bottom:hover:after {
  bottom: 0;
  top: auto; }

.tip-Top:after {
  top: -5%; }
.tip-Top:hover:after {
  top: 0; }

.tip-Left:after {
  height: 100%;
  left: -5%;
  top: 0;
  width: 50%; }
.tip-Left:hover:after {
  left: 0;
  top: 0; }

.tip-Right:after {
  height: 100%;
  left: auto;
  right: -5%;
  top: 0;
  width: 50%; }
.tip-Right:hover:after {
  left: auto;
  right: 0;
  top: 0; }

/* 
	the tool tips 
	-- default position is to show tool-tip as pop-under
	-- use additional helper classes to reassign where tool-tip displayes.
	
	Default HTML:
	
	<a href="#" title="Title" data-tooltip="Tool Tip Here">
		Content Goes Here
	</a>
	
	<span data-tooltip="Tool Tip Here">
		Content Goes Here
	</span>
*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  overflow-y: scroll;
  min-height: 100%; }

html, body {
  height: 100%; }

article, aside, details, figure, figcaption,
footer, header, main, nav, section, summary {
  display: block; }

[hidden] {
  display: none; }

audio,
embed,
img,
object,
video {
  max-width: 100%; }

img {
  color: #ff3e3e;
  font-style: italic; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

svg:not(:root) {
  overflow: hidden; }

body {
  font-size: 100%;
  line-height: 1.5; }

small {
  display: block; }

p small, li small {
  display: inline-block;
  margin: 0; }

code, kbd, samp {
  background: #F2F2F2;
  border: 1px solid #E3E3E3;
  border-left-width: 6px;
  display: block;
  font-family: monospace, serif;
  font-size: 1em;
  padding: 8px; }

pre {
  overflow: auto;
  white-space: pre-wrap; }
  pre mark {
    background: #eee;
    border-bottom: 1px solid #ddd;
    color: #333; }

p code, p kbd, p pre, p samp, li code, li kbd, li pre, li samp {
  display: inline-block;
  margin: 0;
  padding: 4px; }

.code-Line {
  display: block; }

.indent-1 {
  text-indent: 1em; }

.indent-2 {
  text-indent: 2em; }

.indent-3 {
  text-indent: 3em; }

.comment {
  color: #99a; }

.important {
  color: #f00; }

.selector {
  color: #111; }

.value {
  color: #709c34; }

.rule {
  color: #2e9fe8; }

.var {
  color: #9952b2; }

.at {
  color: #c3793e; }

b, strong {
  font-weight: bold; }

i, em, dfn {
  font-style: italic; }

blockquote {
  font-style: italic; }
  blockquote:before, blockquote:after {
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1;
    position: relative;
    top: 2px; }
  blockquote:before {
    content: '"';
    left: -1px; }
  blockquote:after {
    content: '"';
    right: -1px; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #cccccc;
  cursor: help; }

mark {
  background: #faea65;
  color: #1a1a1a; }

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

ol, ul {
  margin: 0 0 8px;
  padding: 0 0 0 24px; }
  ol > li:last-child, ul > li:last-child {
    margin-bottom: 0; }
  ol li ol,
  ol li ul, ul li ol,
  ul li ul {
    margin-top: 8px; }
  ol li li, ul li li {
    font-size: 1em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 0 8px;
  padding-left: 16px; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
  width: 100%; }
  table th, table td {
    padding: 4px 8px;
    text-align: left; }

button, fieldset, form, input, select, textarea {
  line-height: normal;
  text-transform: none; }

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type='search'] {
  -webkit-appearance: textfield; }

input[disabled] {
  background: #eeeeee;
  cursor: not-allowed; }

input[readonly] {
  background: #f0f0f0; }

input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  display: block;
  max-width: 800px;
  min-height: 40px;
  min-width: 60px;
  overflow: auto;
  resize: both;
  vertical-align: top;
  width: 80%; }

label {
  display: block;
  margin-bottom: 4px; }
  label[for] {
    cursor: pointer; }

legend {
  margin-left: -4px;
  padding: 0 4px; }

nav ul,
nav ol {
  list-style: none;
  margin: 0;
  padding: 0; }
nav li {
  margin: 0; }
nav a {
  display: inline-block;
  padding: 4px 8px;
  text-decoration: underline; }
  nav a:hover {
    text-decoration: none; }

hr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  height: 1px;
  margin: 8px 0; }

.numbered {
  list-style-type: decimal; }

.shout-Out {
  background: #f0f0f0;
  border-left: 4px solid #333333;
  padding: 16px; }
  .shout-Out:before, .shout-Out:after {
    display: none; }

.txt-Center {
  text-align: center; }

.txt-Left {
  text-align: left; }

.txt-Right {
  text-align: right; }

.txt-Just {
  text-align: justify; }

.highlight, .slant {
  background: #faea65;
  color: #1a1a1a;
  border-radius: 4px;
  background-clip: padding-box;
  display: inline-block;
  padding: 4px; }

.slant {
  -moz-transform: skewX(-16deg);
  -ms-transform: skewX(-16deg);
  -o-transform: skewX(-16deg);
  -webkit-transform: skewX(-16deg);
  transform: skewX(-16deg); }

.text-Correct {
  display: inline-block;
  -moz-transform: skewX(16deg);
  -ms-transform: skewX(16deg);
  -o-transform: skewX(16deg);
  -webkit-transform: skewX(16deg);
  transform: skewX(16deg); }

/*
	Code Example: Slanted Text w/Highlight
	--------------------------
	<span class="slant">
		Text Goes here
	</span>
	
	Code Example: Normal flowing text w/slanted highlight
	--------------------------
	<span class="slant">
		<span class="text-Correct">Text Goes here</span>
	</span>
*/
.line-Tight {
  line-height: 1.2; }

.multi {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-gap: 40px;
  -webkit-column-gap: 40px;
  column-gap: 40px;
  -moz-column-rule: 1px outset #eeeeee;
  -webkit-column-rule: 1px outset #eeeeee;
  column-rule: 1px outset #eeeeee; }

.nav ul, .footer-Nav ul,
.nav ol,
.footer-Nav ol {
  border: 1px solid #cccccc;
  padding: 4px; }
.nav a, .footer-Nav a {
  display: block;
  padding: 4px 8px;
  text-decoration: underline; }
  .nav a:hover, .footer-Nav a:hover {
    text-decoration: none; }

.h-Nav > li, .bread > li {
  float: left; }

.c-Nav {
  font-size: 0;
  text-align: center; }

.c-Nav > li, .ah-Nav a {
  display: inline-block;
  font-size: 16px; }

.v-Nav a {
  display: block; }

.ah-Nav {
  font-size: 0; }

.av-Nav .drop-Start {
  display: block; }

.drop-Start {
  position: relative; }
  .drop-Start:hover {
    background: #eee; }
    .drop-Start:hover .drop-Menu {
      visibility: visible; }
  .drop-Start a {
    white-space: nowrap; }

.drop-Menu {
  background: #eee;
  border: 1px solid #ddd;
  position: absolute;
  visibility: hidden;
  z-index: 5; }

.v-Nav .drop-Menu, .av-Nav .drop-Menu {
  left: 100%;
  top: 0; }

.h-Nav .drop-Menu, .bread .drop-Menu, .ah-Nav .drop-Menu {
  left: 0;
  top: 100%; }

.bread li:last-child:after {
  content: none; }
.bread li:after {
  content: ">";
  display: inline-block; }
.bread a {
  display: inline-block; }
.bread span {
  display: inline-block;
  padding: 4px 8px; }

.fixed-Nav-Left {
  padding-left: 200px; }
  .fixed-Nav-Left .side-Nav-Fixed {
    left: 0; }
  .fixed-Nav-Left .btn-Nav {
    left: 8px;
    top: 8px; }

.fixed-Nav-Right {
  padding-right: 200px; }
  .fixed-Nav-Right .side-Nav-Fixed {
    right: 0; }
  .fixed-Nav-Right .btn-Nav {
    right: 8px;
    top: 8px; }

.fixed-Nav-Top {
  padding-top: 100px; }

.top-Nav-Fixed, .side-Nav-Fixed {
  background: #dc4732;
  position: fixed;
  top: 0;
  z-index: 1000; }
  .top-Nav-Fixed a, .side-Nav-Fixed a {
    color: white; }
    .top-Nav-Fixed a:hover, .side-Nav-Fixed a:hover, .top-Nav-Fixed a:visited, .side-Nav-Fixed a:visited {
      background: rgba(0, 0, 0, 0.6);
      color: #fdfdfd;
      text-decoration: none; }

.top-Nav-Fixed {
  height: 100px; }

.side-Nav-Fixed {
  height: 100%;
  overflow-y: auto;
  width: 200px; }

.btn-Nav {
  background: url(../img/nav-Icon.png) no-repeat center center;
  -moz-background-size: 75%;
  -ms-background-size: 75%;
  -o-background-size: 75%;
  -webkit-background-size: 75%;
  background-size: 75%;
  height: 24px;
  position: fixed;
  right: 4px;
  top: 4px;
  width: 28px; }

/*
  Code Example

<a class="btn btn-Nav" id="btn-Nav-1" href="#show-Nav">
    <span class="hidden">Show Navigation</span>
</a>
*/
.float-Left {
  float: left; }

.float-Right {
  float: right; }

.float-None {
  float: none; }

.clear {
  clear: both; }

.overflow {
  overflow: hidden; }

.d-Block, .show {
  display: block; }

.d-None, .mobile-Show {
  display: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

.pic, .pic-Rounded {
  border: 1px solid #fdfdfd;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.5);
  display: inline-block;
  overflow: hidden;
  width: 90px; }
  .pic img, .pic-Rounded img {
    display: block; }

.pic-Rounded {
  border-radius: 130px;
  background-clip: padding-box; }

/* 
	Code Example
	--------------------------
	<a href="#" title="TITLE" class="pic-Rounded">
		<img src="assets/img/little-V.jpg" alt="" />
	</a>
*/
.media, .media-Reverse, .media-No-Wrap-Reverse, .media-No-Wrap {
  margin-bottom: 16px;
  position: relative;
  z-index: 2; }
  .media .media-Text > :last-child, .media-Reverse .media-Text > :last-child, .media-No-Wrap-Reverse .media-Text > :last-child, .media-No-Wrap .media-Text > :last-child {
    margin-bottom: 0; }
  .media .media-Object, .media-Reverse .media-Object, .media-No-Wrap-Reverse .media-Object, .media-No-Wrap .media-Object {
    float: left;
    margin: 0 16px 8px 0;
    max-width: 30%; }

.media-Reverse .media-Object, .media-No-Wrap-Reverse .media-Object {
  float: right;
  margin: 0 0 8px 16px;
  max-width: 30%; }

.media-No-Wrap {
  padding-left: 100px; }
  .media-No-Wrap .media-Text {
    float: left;
    width: 100%; }
  .media-No-Wrap .media-Object {
    margin-left: -100px;
    margin-right: 0; }

.media-No-Wrap-Reverse {
  padding-right: 100px; }
  .media-No-Wrap-Reverse .media-Object {
    margin-right: -100px;
    margin-left: 0; }

/* 
	Code Example
	--------------------------
	<div class="media">
		<div class="media-Object">
			<img src="assets/img/little-V.jpg" alt="" />
		</div>
		<div class="media-Text">
			<h1>Title for Meida Element</h1>
			<p>Paragraph text to go along with media element.</p>
		</div>
	</div>
	
	-- 	Divs were used in this example, but the media element could be applied to various situations.
		Ie. could be used for a header or footer area where a logo is placed on the right or left w/text to the side.
*/
.emph-Block {
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.5);
  margin-bottom: 16px;
  min-height: 50px;
  padding: 16px; }
  .emph-Block > :last-child {
    margin-bottom: 0; }

.btn, .btn-Small, .btn-Large, .btn-XLarge, .btn-Radio {
  background: #333333;
  border-radius: 4px;
  background-clip: padding-box;
  color: #f0f0f0;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none !important;
  -moz-transition: all 0.25s ease-in-out 0s;
  -ms-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
  -webkit-appearance: none; }
  .btn.btn-Pad, .btn-Pad.btn-Small, .btn-Pad.btn-Large, .btn-Pad.btn-XLarge, .btn-Pad.btn-Radio {
    padding: 8px 16px; }
  .btn:hover, .btn:active, .btn-Small:hover, .btn-Large:hover, .btn-XLarge:hover, .btn-Radio:hover, .input-Radio.selected-Radio .btn-Radio, .btn-Small:active, .btn-Large:active, .btn-XLarge:active, .btn-Radio:active {
    background: #1a1a1a;
    -webkit-box-shadow: 0 0 6px rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5) inset;
    color: #f0f0f0; }
  .btn:visited, .btn-Small:visited, .btn-Large:visited, .btn-XLarge:visited, .btn-Radio:visited {
    color: #f0f0f0; }

.btn-Small {
  font-size: 0.75em;
  padding: 4px 8px; }
  .btn-Small.btn-Pad {
    padding: 4px 12px; }

.btn-Large {
  font-size: 2em;
  padding: 12px; }
  .btn-Large.btn-Pad {
    padding: 12px 20px; }

.btn-XLarge {
  font-size: 2.5em;
  padding: 12px 16px; }
  .btn-XLarge.btn-Pad {
    padding: 16px 24px; }

.btn-Wide {
  display: block; }

.btn-Action {
  background: #54a4a3; }
  .btn-Action:hover {
    background: #3a7171; }

.btn-Action-2 {
  background: #d48371; }
  .btn-Action-2:hover {
    background: #bf523a; }

.btn-Action-3 {
  background: #7e984c; }
  .btn-Action-3:hover {
    background: #546532; }

.btn-Neg,
.btn-Neg:hover {
  background: #aaaaaa;
  color: #f0f0f0; }

.btn-Disable, .btn-Disable:hover, .btn-Disable:visited {
  background: #f0f0f0;
  border: 1px solid #eee;
  color: #333333;
  cursor: default; }

.btn-Square, .btn-Center {
  border-radius: 0;
  background-clip: padding-box; }

.btn-Round {
  border-radius: 12px;
  background-clip: padding-box; }

.btn-Left {
  border-radius: 12px 0 0 12px;
  background-clip: padding-box; }

.btn-Right {
  border-radius: 0 12px 12px 0;
  background-clip: padding-box; }

.row, .c-Row {
  margin-left: -40px;
  margin-bottom: 20px; }
  .row.half-Gutter, .half-Gutter.c-Row {
    margin-left: -20px; }

.col {
  float: left;
  margin-bottom: 0 !important;
  padding-left: 40px;
  position: relative;
  width: 100%; }

.half-Gutter .col {
  padding-left: 20px; }

.c-Row {
  font-size: 0;
  text-align: center; }
  .c-Row .col {
    display: inline-block;
    float: none;
    font-size: 16px;
    text-align: left; }

.col-90 {
  width: 90%; }

.col-80 {
  width: 80%; }

.col-75 {
  width: 75%; }

.col-66 {
  width: 66.6666%; }

.col-60 {
  width: 60%; }

.col-50 {
  width: 50%; }

.col-40 {
  width: 40%; }

.col-33 {
  width: 33.3333%; }

.col-25 {
  width: 25%; }

.col-20 {
  width: 20%; }

.col-10 {
  width: 10%; }

@media (max-device-width: 480px), screen and (max-width: 800px) {
  .col-90, .col-80, .col-75, .col-66,
  .col-60, .col-50, .col-40, .col-33,
  .col-25, .col-20, .col-10 {
    width: 100%; } }
.rfl {
  padding-left: 300px; }
  @media (max-device-width: 480px), screen and (max-width: 800px) {
    .rfl {
      padding: 0; } }
  .rfl .f-Col {
    float: left;
    margin-left: -260px;
    width: 260px; }
    @media (max-device-width: 480px), screen and (max-width: 800px) {
      .rfl .f-Col {
        float: none;
        margin: 0;
        padding-left: 40px;
        width: auto; } }

.rfr {
  padding-right: 300px; }
  @media (max-device-width: 480px), screen and (max-width: 800px) {
    .rfr {
      padding: 0; } }
  .rfr .f-Col {
    float: right;
    margin-right: -300px;
    width: 260px; }
    @media (max-device-width: 480px), screen and (max-width: 800px) {
      .rfr .f-Col {
        float: none;
        margin: 0;
        padding-left: 40px;
        width: auto; } }

.block {
  background: #ccc;
  color: #333;
  padding: 4px; }
  .block > :last-child {
    margin-bottom: 0; }

.b-Col {
  padding-left: 6px;
  padding-right: 6px;
  position: relative; }
  .b-Col:before, .b-Col:after {
    background: url("../img/border.png") no-repeat 0 -20px;
    content: "";
    height: 200px;
    opacity: 0.2;
    position: absolute;
    top: 0;
    width: 1px; }
  .b-Col:before {
    left: -14px; }
  .b-Col:after {
    right: -14px; }

.table-Header {
  background: #eeeeee; }

.table-Footer {
  background: #e3e3e3; }

.table-Border {
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc; }
  .table-Border tr {
    border-top: 1px solid #cccccc; }
  .table-Border th, .table-Border td {
    border-left: 1px solid #cccccc; }

.table-Stripe tr:nth-child(2n) {
  background: #eeeeee; }

.table-Row-Stripe {
  background: #eeeeee; }

.table-Mobile {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
  .table-Mobile table, .table-Mobile th, .table-Mobile td, .table-Mobile tr {
    white-space: nowrap; }

.message-Warning {
  background: #fdf7c8;
  border-color: #f8e01b;
  color: #5d5303; }
  .message-Warning ::-moz-selection {
    background: #f8e01b;
    color: #333333;
    text-shadow: none; }
  .message-Warning ::selection {
    background: #f8e01b;
    color: #333333;
    text-shadow: none; }
  .message-Warning .close-Message {
    background: #faea65;
    border-color: #f8e01b;
    color: #766904; }
    .message-Warning .close-Message:hover {
      background: #f8e01b; }

.message-Error {
  background: #ff7171;
  border-color: #f10000;
  color: #5d0000; }
  .message-Error ::-moz-selection {
    background: #f10000;
    color: #fdfdfd;
    text-shadow: none; }
  .message-Error ::selection {
    background: #f10000;
    color: #fdfdfd;
    text-shadow: none; }
  .message-Error .close-Message {
    background: #ff3e3e;
    border-color: #f10000;
    color: white; }
    .message-Error .close-Message:hover {
      background: #f10000; }

.message-Success {
  background: #8ad95a;
  border-color: #4c9222;
  color: #162a0a; }
  .message-Success ::-moz-selection {
    background: #4c9222;
    color: #fdfdfd;
    text-shadow: none; }
  .message-Success ::selection {
    background: #4c9222;
    color: #fdfdfd;
    text-shadow: none; }
  .message-Success .close-Message {
    background: #6ccf31;
    border-color: #4c9222;
    color: white; }
    .message-Success .close-Message:hover {
      background: #4c9222; }

.message-Info {
  background: #93c7ef;
  border-color: #238ddf;
  color: #0d3a5c; }
  .message-Info ::-moz-selection {
    background: #238ddf;
    color: #fdfdfd;
    text-shadow: none; }
  .message-Info ::selection {
    background: #238ddf;
    color: #fdfdfd;
    text-shadow: none; }
  .message-Info .close-Message {
    background: #66b0e9;
    border-color: #238ddf;
    color: white; }
    .message-Info .close-Message:hover {
      background: #238ddf; }

.close-Message {
  border-radius: 80px;
  background-clip: padding-box;
  padding: 4px 12px;
  right: -0.5em;
  top: -0.5em; }

.grouping {
  padding: 4px 0; }

.fieldset {
  border: 1px solid #cccccc;
  margin-bottom: 8px;
  padding: 8px 12px; }

.legend-Header {
  border-bottom: 1px solid #cccccc; }

.inline-Element, .inline-All input, .inline-All textarea, .inline-All label {
  display: inline-block;
  margin-right: 4px;
  width: auto; }

.dis-Label {
  cursor: not-allowed; }

/* Check/Radio Inputs & Labels */
.option-Container {
  position: relative; }
  .option-Container:hover .btn-Radio,
  .option-Container:hover .btn-Check {
    border-color: #333; }

.option-Label {
  cursor: pointer;
  display: block;
  padding-left: 28px;
  position: relative;
  z-index: 2; }

/* ROUNDED TWO */
.input-Checkbox {
  position: relative; }
  .input-Checkbox .visual-Check {
    background: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 1000px;
    background-clip: padding-box;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    position: relative;
    top: 4px;
    width: 20px; }
    .input-Checkbox .visual-Check:after {
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      border: 3px solid #000;
      border-top: none;
      border-right: none;
      content: '';
      height: 5px;
      left: 5px;
      opacity: 0;
      position: absolute;
      top: 6px;
      width: 8px; }
    .input-Checkbox .visual-Check:hover::after {
      opacity: .3; }
  .input-Checkbox .checkbox:checked + .visual-Check:after {
    opacity: 1; }

.input-Radio:checked + .btn-Radio {
  background: #d48371;
  border-color: #333333; }

.btn-Radio {
  background: #eeeeee;
  border: 1px solid #cccccc;
  font-size: 14px !important;
  height: 14px;
  margin: 0 4px;
  padding: 2px !important;
  position: relative;
  top: 1px;
  width: 14px; }
  .btn-Radio:hover, .input-Radio.selected-Radio .btn-Radio {
    background: #d48371; }

.btn-Radio {
  border-radius: 4px;
  background-clip: padding-box; }

.input-Radio.selected-Radio .btn-Radio {
  border-color: #333; }

.ifChecked {
  visibility: hidden; }

.selected-Check .ifChecked {
  visibility: visible; }

/* Drop Down Selection Inputs */
.select-Container {
  background: url(../img/drop-Arrow.png) no-repeat 99% center white;
  display: inline-block;
  overflow: hidden; }

.input-Select {
  background: none;
  border: 0;
  font-size: 1em;
  margin-bottom: 0;
  padding-right: 16px;
  width: 120%;
  -webkit-appearance: textarea; }

.file-Input-Area {
  position: relative; }
  .file-Input-Area label {
    cursor: default; }

.input-File {
  cursor: pointer;
  left: 0;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9; }

.input-File-Text {
  cursor: pointer;
  display: inline-block; }

/* Inputs not supported in all browsers */
.input-Color {
  border: 1px solid #cccccc;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 45px;
  margin-bottom: 8px;
  padding: 0 4px;
  width: 50%; }
  .input-Color:focus {
    background: #f0f0f0;
    border: 1px solid #50B6D5;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25) inset; }

.input-Number {
  font-size: 1em; }

body {
  background: #f0f0f0;
  font-family: "Open Sans";
  font-weight: 300; }

::-moz-selection {
  background: #1a1a1a;
  color: #eeeeee;
  text-shadow: none; }

::selection {
  background: #1a1a1a;
  color: #eeeeee;
  text-shadow: none; }

.content, .header-Content, .footer-Content {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px; }
  .content > :last-child, .header-Content > :last-child, .footer-Content > :last-child {
    margin-bottom: 0; }

a {
  color: #d48371; }
  a:hover, a:active {
    color: #bf523a; }
  a:visited {
    color: #843928; }

:focus, a:focus, a:active, input[type="submit"]::-moz-focus-inner {
  outline: none; }

.header-Base {
  text-shadow: 0 1px 1px #fff; }

.section-Title {
  background: #e96a4e;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding: 4px 12px; }
  .section-Title:first-child {
    border-top: 0; }

.content-Base {
  min-height: 500px;
  padding-bottom: 20px; }
  .content-Base .content, .content-Base .header-Content, .content-Base .footer-Content {
    background: #fff;
    border: 1px solid #eeeeee;
    -webkit-box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.5); }

.footer-Base {
  background: #2d2d2d;
  color: #fff; }

.footer-Nav a {
  /* add in project styling for footer a tags here */ }
  .footer-Nav a:hover {
    /* add in project styling for a:hover here */ }
  .footer-Nav a.selected {
    /* add in project styling for a.selected here */ }
