/*
  *******************************************************************************************************
  * Brass Tacks
  * by Scott O'Hara - @scottohara - scottohara.me  -  https://github.com/bleachedgraphics
  * v 0.6.1.1 - July 7, 2013
  *
  * This framework is still and development.  If you have any suggestions/fixes/comments, please
  * create an issue - https://github.com/bleachedgraphics/Brass-Tacks/issues 
  * Thank you!
  *
  *******************************************************************************************************
*/
// Import Font(s) 
	@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,700italic,600,400italic,300italic,600italic);

// Variables and Mixins
	@import '_project-sass/project-Vars';	  // misc. layout and additional styling vars
	@import '_helper-sass/mixins';			    // reusable code bases
	
// Base Values
	@import '_base-sass/basic';				      // standardizes the base styling of HTML elements
  @import '_project-sass/project-Type';	    // declarations font tags and classes
	@import '_base-sass/tables';			      // Base styling for tables
	@import '_helper-sass/layout';			    // Responsive & fixed layouts

// Interactions
	@import '_base-sass/navs';				      // Base navigation rules
	@import '_project-sass/forms';          // Base form component rule
	@import '_helper-sass/buttons';			    // Base button rules
	
// Helper Classes
  @import '_helper-sass/navs';				    // Base navigation classes
	@import '_helper-sass/helper';			    // Classes to extend others.  Mini-modules -- these need to be separated out?
	
// Branding & Typography
  @import '_helper-sass/type';            // helper classes for general typography
	@import '_project-sass/project-Base';	  // restyle and make classes specific for your project here
	
// Print Styling
//@import '_project-sass/print-Styles';      // Styling for printing of websites
	
// FIXITFIXITFIXITFIXIT
// @import 'tidy';
// Only import tidyUp if you actually need to make some quick fix hacks that you don't
// have time to do properly.  Otherwise the file should be empty w/no need for import
