body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Sass Syntax error: Undefined variable: \"$c-White\". \A         on line 15 of an unknown file'; } 
                            
                            body * { 
                            display: none; 
                            } 