// ----------------------------------------------------------------------------
//  Fonts Families
// ----------------------------------------------------------------------------

// Base Web Fonts
$f-arial:           Arial, "Helvetica Neue", Helvetica, sans-serif;
$f-arial-black:     "Arial Black", Gadget, sans-serif;
$f-courier:         "Courier New", Courier, monospace;
$f-georgia:         Georgia, "Times New Roman", Times, serif;
$f-helvetica:       "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$f-lucida:          "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$f-tahoma:          Tahoma, Geneva, sans-serif;
$f-verdana:         Verdana, Geneva, sans-serif;
$f-monospace:       monospace, serif;
$f-times:           TimesNewRoman, "Times New Roman", Times, Georgia, serif;
