// ----------------------------------------------------------------------------
//  Text Input
// ----------------------------------------------------------------------------

// Custom inputs & textarea base code
%input-text {
  background-color:   $c-input--bg;
  border:             $input-border-style;
  font-family:        $f-input--family;
  margin-bottom:      $input--margin;
  padding:            $input--padding;
  width:              100%;
  -webkit-appearance: none;

  &:focus {
    @include box-shadow($bs-input--focus);
    background-color: $c-input--bg-focus;
  }
}
