// ----------------------------------------------------------------------------
//  Typography Elements Controller
// ----------------------------------------------------------------------------

// The main controller file for the typography base files. This file exists
// to centeralize code that may be used across multiple files in this category.

// ----------------------------------------------------------------------------
//  Variables
// ----------------------------------------------------------------------------

$c-code-bg:       #f2f2f2;
$c-code-border:   #e3e3e3;

// ----------------------------------------------------------------------------
//  Mixins
// ----------------------------------------------------------------------------

@mixin code-border($border-width, $border-emph-width, $border-color){
  border: $border-width solid $border-color;
  border-left-width: $border-emph-width;
}

// ----------------------------------------------------------------------------
//  Placeholders
// ----------------------------------------------------------------------------

%title-attribute {
  border-bottom: 1px dotted $c-grey;
  cursor: help;
}

%list-elements-margin {
  margin: 0 0 $unit-px2;
}
