// ----------------------------------------------------------------------------
//  Typography Elements Controller
// ----------------------------------------------------------------------------

// The main controller file for the typography base files. This file exists
// to centralize code that may be used across multiple files in this category.

// ----------------------------------------------------------------------------
//  Placeholders
// ----------------------------------------------------------------------------

%title-attribute {
  border-bottom: 1px dotted $c-grey;
  cursor: help;
}

%list-elements-margin {
  margin: 0 0 $unit-px4;
}
