@if $import-blockquote-element == true{

// ----------------------------------------------------------------------------
//  Blockquote Element
// ----------------------------------------------------------------------------

// Blockquote base styling
blockquote {
  @extend %reset-spacing;
  @extend %margin-bottom-base;
  @extend %txt-h6;
  @extend %italic;

  &:after,
  &:before {
    font: {
      size: $txt-h5;
      weight: 400;
    }; 
    line-height: 1;
    position: relative;
    top: 2px;
  }

  &:after {
    content: "\201D";
    right: -1px;
  }

  &:before {
    content: "\201C";
    left: -1px;
  }
}


// ----------------------------------------------------------------------------
} // -- end @if --
// ----------------------------------------------------------------------------
