@if $import-code-elements == true{

// ----------------------------------------------------------------------------
//  Code, kbd & samp Elements
// ----------------------------------------------------------------------------

code, kbd, samp {
  @extend %margin-bottom-base;
  @include code-border(1px, 6px, $c-code-border);
  background: $c-code-bg;
  display: block;
  font:{
    family: $f-monospace;
    size: $txt-base;
  };
  padding: $unit-px2;
}

p, li {
  code, kbd, pre, samp {
    display: inline-block;
    margin: 0;
    padding: $unit-px;
  }
}


// ----------------------------------------------------------------------------
} // -- end @if --
// ----------------------------------------------------------------------------
