@if $import-mark-element == true{

// ----------------------------------------------------------------------------
//  Mark Element
// ----------------------------------------------------------------------------

// IE 8/9 doesn't highlight background by default
mark {
  background: $c-yellow;
  color: $c-darker;
  border-bottom: 1px solid $c-grey;
  padding: 0 2px;
}


// ----------------------------------------------------------------------------
} // -- end @if --
// ----------------------------------------------------------------------------
