// ----------------------------------------------------------------
//  Alignment
// ----------------------------------------------------------------

.txt-Center{
  text-align:center;
}

.txt-Justify{
  text-align:justify;
}

.txt-Left{
  text-align:left;
}

.txt-Right{
  text-align:right;
}
