// ----------------------------------------------------------------------------
//  Text Alignment
// ----------------------------------------------------------------------------

.txt-center {
  text-align: center;
}

.txt-justify {
  text-align: justify;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}
