// ----------------------------------------------------------------------------
//  Callout Text
// ----------------------------------------------------------------------------

// Shout Out - blockquote / blockquote like styling for emphasizing text
.pull-Quote {
  background: $c-lighter;
  border-left: 4px solid $c-dark;
  padding: $unit-px*4;

  &:after,
  &:before {
    display: none;
  }
}

// Background Text Highlight
.highlight {
  @include border-radius($unit-px);
  background: $c-yellow;
  color: $c-darker;
  display: inline-block;
  padding: $unit-px;
}

//  Code Example: Slanted Text w/Highlight
//  <span class="slant">
//    Text Goes here
//  </span>


// Background Text Highlight - Skewed
.slant {
  @extend .highlight;
  @include vendor(transform, skewX(-16deg));
}

//  Code Example: Slanted Text w/Highlight
//  <span class="slant">
//    Text Goes here
//  </span>


.text-correct {
  @include vendor(transform, skewX(16deg));
  display: inline-block;
}

//  Code Example: Normal flowing text w/slanted highlight
//  <span class="slant">
//    <span class="text-Correct">Text Goes here</span>
//  </span>
