// ----------------------------------------------------------------------------
//  Text Hights & Indents
// ----------------------------------------------------------------------------

// Tighten line height for text headings
.line-tight {
  line-height: 1.2;
}

// Indenting
.indent-1 {
  text-indent: 1em;
}

.indent-2 {
  text-indent: 2em;
}

.indent-3 {
  text-indent: 3em;
}

.indent-hide {
  text-indent: -99999px;
}
