// ----------------------------------------------------------------
//  Silent Margins
// ----------------------------------------------------------------

// Consistent margin bottom
%margin-bottom {
  margin-bottom: 1em;
}

// Alternatives
%margin-bottom--0 {
  margin-bottom: 0;
}

%margin-bottom--2x {
  margin-bottom: 2em;
}
