// ----------------------------------------------------------------
//  Silent Margins
// ----------------------------------------------------------------

// Consistent margin bottom
%margin-bottom {
  margin-bottom: $unit-px4;
}

// Alternatives
%margin-bottom--0 {
  margin-bottom: 0;
}

%margin-bottom--2x {
  margin-bottom: $unit-px2;
}
