// ----------------------------------------------------------------------------
//  Positioning Elements
// ----------------------------------------------------------------------------

// Position via a coordinate on each axis & position type
@mixin position($t-or-b, $tb-unit, $l-or-r, $lr-unit, $position) {
  position: $position;

  // Declare bottom or top
  @if $t-or-b == bottom {
    bottom: $tb-unit;
  }

  @else if $t-or-b == top {
    top: $tb-unit;
  }

  // Declare left or right
  @if $l-or-r == left {
    left: $lr-unit;
  }

  @else if $l-or-r == right {
    right: $lr-unit;
  }
}

// Example:
// ----------------------------------------------------------------------------
// @include position(bottom, 10px, left, 333px, fixed);



// Common rule-set of position fixed or absolute set to top left and
// with or without a height.
@mixin position-top-left($val, $height: false) {
  @if $height == false {

  }

  @else {
    height: $height;
  }

  left: 0;
  position: $val;
  top: 0;
  width: 100%;
}

// Example:
// ----------------------------------------------------------------------------
// @include position-top-left(absolute, 40px);
//
// or
//
// @include position-top-left(fixed, 100%);



@mixin position-vertical-center($l-or-r, $lr-unit, $position) {
  bottom: 0;
  margin: auto 0;
  position: $position;
  top: 0;

  // Declare left or right
  @if $l-or-r == left {
    left: $lr-unit;
  }

  @else if $l-or-r == right {
    right: $lr-unit;
  }
}

// Example:
// ----------------------------------------------------------------------------
// @include position(left, 333px, absolute);




%position-center {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}
