@if $import-hr-element == true{

// ----------------------------------------------------------------------------
//  HR Element
// ----------------------------------------------------------------------------

hr {
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  display: block;
  height: 1px; 
  margin: $unit-px2 0;
}


// ----------------------------------------------------------------------------
} // -- end @if --
// ----------------------------------------------------------------------------
