@if $import-helper-type-positions == true{

// ----------------------------------------------------------------------------
//  Text Line Height & Indenting
// ----------------------------------------------------------------------------

// Tighten line height for text headings
.line-tight {
  line-height: 1.2!important;
}


// Indenting
.txt-indent-1 {
  text-indent: 1em;
}

.txt-indent-2 {
  text-indent: 2em;
}

.txt-indent-3 {
  text-indent: 3em;
}


// ----------------------------------------------------------------------------
} // -- end @if --
// ----------------------------------------------------------------------------
