// ----------------------------------------------------------------------------
//  Font Sizing, Weight and Line Height
// ----------------------------------------------------------------------------

%txt-xxlarge, %txt-xlarge, %txt-large, %txt-h1 {
  line-height: 1;
}



// ----------------------------------------------------------------------------
//  Font Sizes & Weights
// ----------------------------------------------------------------------------

%txt-xxlarge  { font-size: $txt-xxlarge; font-weight: $txt-xxlarge-weight; }
%txt-xlarge   { font-size: $txt-xlarge;  font-weight: $txt-xlarge-weight; }
%txt-large    { font-size: $txt-large;   font-weight: $txt-large-weight; }

%txt-h1       { font-size: $txt-h1;      font-weight: $txt-h1-weight; }
%txt-h2       { font-size: $txt-h2;      font-weight: $txt-h2-weight; }
%txt-h3       { font-size: $txt-h3;      font-weight: $txt-h3-weight; }
%txt-h4       { font-size: $txt-h4;      font-weight: $txt-h4-weight; }
%txt-h5       { font-size: $txt-h5;      font-weight: $txt-h5-weight; }
%txt-h6       { font-size: $txt-h6;      font-weight: $txt-h6-weight; }

%txt-base     { font-size: $txt-base;    font-weight: $txt-base-weight; }

%txt-small    { font-size: $txt-small;   font-weight: $txt-small-weight; }
%txt-tiny     { font-size: $txt-tiny;    font-weight: $txt-tiny-weight; }
%txt-mini     { font-size: $txt-mini;    font-weight: $txt-mini-weight; }



// ----------------------------------------------------------------------------
//  Bold & Italic
// ----------------------------------------------------------------------------

$txt-dec-list: bold, bolder, normal;

@each $dec in $txt-dec-list {
  %#{$dec} {
    font-weight: $dec;
  }
}

%italic { font-style: italic;  }
