// ----------------------------------------------------------------------------
//  Font Sizing, Weight and Line Height
// ----------------------------------------------------------------------------

%txt-xxlarge, %txt-xlarge, %txt-large, %txt-h1 {
  line-height: 1;
}



// ----------------------------------------------------------------------------
//  Font Sizes & Weights
// ----------------------------------------------------------------------------

$f-sizing-map:
  //f-name  //f-size      //f-weight
  (xxlarge, $txt-xxlarge, $txt-xxlarge-weight),
  (xlarge,  $txt-xlarge,  $txt-xlarge-weight),
  (large,   $txt-large,   $txt-large-weight),

  (h1,      $txt-h1,      $txt-h1-weight),
  (h2,      $txt-h2,      $txt-h2-weight),
  (h3,      $txt-h3,      $txt-h3-weight),
  (h4,      $txt-h4,      $txt-h4-weight),
  (h5,      $txt-h5,      $txt-h5-weight),
  (h6,      $txt-h6,      $txt-h6-weight),

  (base,    $txt-base,    $txt-base-weight),

  (small,   $txt-small,   $txt-small-weight),
  (tiny,    $txt-tiny,    $txt-tiny-weight),
  (mini,    $txt-mini,    $txt-mini-weight);



%txt- {
  @each $f-name, $f-size, $f-weight in $f-sizing-map {
    &#{$f-name} {
      font: {
          size: $f-size;
        weight: $f-weight;
      }
    }
  }
}




// ----------------------------------------------------------------------------
//  Bold & Italic
// ----------------------------------------------------------------------------

$txt-dec-list: bold, bolder, normal;

@each $dec in $txt-dec-list {
  %#{$dec} {
    font-weight: $dec;
  }
}

%italic { font-style: italic; }
