// ----------------------------------------------------------------------------
//  Box Shadow Variations
// ----------------------------------------------------------------------------

$bs-1:                0 0 6px rgba(0,0,0,.25);
$bs-2:                $bs-1 inset;
$bs-3:                $bs-1, $bs-1 inset;
$bs-4:                0 0 6px rgba(0,200,222,.25);


// ----------------------------------------------------------------------------
//  Text Shadow Variations
// ----------------------------------------------------------------------------

$ts-primary:          0 0 3px rgba(0,0,0,.5);
$ts-secondary:        0;
$ts-dark-bg:          0;
