// ----------------------------------------------------------------------------
//  Media Query Break Points
// ----------------------------------------------------------------------------

$break-mini:           380px;
$break-tiny:           500px;
$break-small:          600px;
$break-medium:         770px;
$break-normal:         900px;
$break-large:         1023px;
$break-xlarge:        1200px;
$break-xxlarge:       1600px;
