// ----------------------------------------------------------------------------
//  Media Query Break Points  // based on a 16px base font
// ----------------------------------------------------------------------------

$break-mini:       380px;       // 30em
$break-tiny:       500px;       // 31.25em
$break-small:      600px;       // 37.5em
$break-medium:     800px;       // 50em
$break-large:     1000px;       // 62.5em
$break-xlarge:    1200px;       // 75em
$break-xxlarge:   1600px;       // 100em
