// ----------------------------------------------------------------------------
//  Linear Gradient
// ----------------------------------------------------------------------------

@mixin linear-gradient($fallback, $grad-line, $grad-colors...) {
  background-color: $fallback;
  background:    -moz-linear-gradient($grad-line, $grad-colors);
  background:      -o-linear-gradient($grad-line, $grad-colors);
  background: -webkit-linear-gradient($grad-line, $grad-colors);
  background:         linear-gradient($grad-line, $grad-colors);
}
//  grad-line - use either ###deg or top, let, bottom, right
//  example:
//  @include linear-gradient(80deg, #fcc, #f23);
//  @include linear-gradient(top, #fcc, #f23);


// Linear Gradient w/ variable input
@mixin var-gradient($fallback, $grad-var) {
  background-color: $fallback;
  background:    -moz-linear-gradient($grad-var);
  background:      -o-linear-gradient($grad-var);
  background: -webkit-linear-gradient($grad-var);
  background:         linear-gradient($grad-var);
}


// ----------------------------------------------------------------------------
//  Radial Gradient
// ----------------------------------------------------------------------------

@mixin radial-gradient($fallback, $radial...) {
  background-color: $fallback;
  background:    -moz-radial-gradient($radial);
  background:      -o-radial-gradient($radial);
  background: -webkit-radial-gradient($radial);
  background:         radial-gradient($radial);
}
