// ----------------------------------------------------------------------------
//  Fixed Position Elements
// ----------------------------------------------------------------------------

// Position via a coordinate on each axis & position type
@mixin position($t-or-b, $tb-unit, $l-or-r, $lr-unit, $position) {
  position: $position;

  @if $t-or-b == bottom {
    bottom: $tb-unit;
  }

  @else if $t-or-b == top {
    top: $tb-unit;
  }


  @if $l-or-r == left {
    left: $lr-unit;
  }

  @else if $l-or-r == right {
    right: $lr-unit;
  }
}

// Example:
// @include fixed-block(bottom, 10px, left, 333px, fixed);
