// ----------------------------------------------------------------------------
//  Media Query Break Points
// ----------------------------------------------------------------------------

$break-mini:          23.75em !default;     // 380px
$break-tiny:          31.25em !default;     // 500px
$break-small:         37.5em !default;      // 600px
$break-medium:        48.125em !default;    // 770px
$break-normal:        56.25em !default;     // 900px
$break-large:         64em !default;        // 1024px
$break-xlarge:        75em !default;        // 1200px
$break-xxlarge:       100em !default;       // 1600px
