// ----------------------------------------------------------------------------
//  Measurement Units
// ----------------------------------------------------------------------------

// Base measurement units like margin & padding off from a standard base,
// so if it ever changes, it will only need to be updated in a single location

$unit-px:         4px !default;          // base of 4px, 1/4 of 16px
$unit-px2:        $unit-px * 2 !default;
$unit-px3:        $unit-px * 3 !default;
$unit-px4:        $unit-px * 4 !default;
$unit-px5:        $unit-px * 5 !default;

$unit-em:         1em !default;      // translates to 16px based on 100% font-size

$unit-per:        10% !default;      // base of 10 for percentages

$circle:          200% !default;     // large % to make sure that just about
                                     // anything will be able to be 'circled'
