// ----------------------------------------------------------------------------
//  Media Query Break Points
// ----------------------------------------------------------------------------

$break-mini:           380px!default;
$break-tiny:           500px!default;
$break-small:          600px!default;
$break-medium:         770px!default;
$break-normal:         900px!default;
$break-large:         1023px!default;
$break-xlarge:        1200px!default;
$break-xxlarge:       1600px!default;
