// ----------------------------------------------------------------------------
//  Base Button Vars
// ----------------------------------------------------------------------------

// Button Font Styling Presets
$f-btn-family:              $f-brand !default;
$f-btn-size:                $txt-h5 !default;
$f-btn-weight:              400 !default;



// Border
$btn-border-width:          2px;



// Coloring Basic
$btn-bg:                    none !default;
$btn-bg-2:                  $c-prime-action !default; //(hover & active state)
$btn-border:                darken($btn-bg-2, 5%) !default;
$btn-text:                  $c-prime-action !default;
$btn-text-2:                $c-white !default; //(hover & active state)



// Shadow focus state
$bs-btn-focus:              0 0 0 2px rgba(0,0,0,.1) !default;




// Coloring Emphasis
$btn-bg-emph:               none !default;
$btn-bg-2-emph:             #3dab3b !default;  // green
$btn-border-emph:           darken(#3dab3b, 5%) !default;  // darker green
$btn-text-emph:             #3dab3b !default;




// Coloring Call To Action
$btn-bg-cta:               none !default;  // green
$btn-bg-2-cta:             #ffd50a !default;  // dark green
$btn-border-cta:           darken(#ffd50a, 5%) !default;  // dark green
$btn-text-cta:             #ffd50a !default;




// Coloring Negative
$btn-bg-neg:                none !default;     // red
$btn-border-neg:            darken(#e6413a, 5%) !default;     // darker red
$btn-text-neg:              #e6413a !default;
$btn-bg-2-neg:              #e6413a !default;



// Coloring Disable
$btn-bg-disable:            $c-off-white !default;
$btn-border-disable:        $c-lighter !default;
$btn-text-disable:          $c-off-black !default;



// Padding
$btn-pad:                   .5em !default;

$btn-pad-tiny:              .25em .5em !default;
$btn-pad-small:             .5em .75em !default;
$btn-pad-large:             .5em 2em !default;
$btn-pad-xlarge:            .75em 2em !default;







// Social Button Colors
// ----------------------------------------------------------------------------

// Facebook Button Colors
$c-fb-1:                    #3a5b98 !default;
$c-fb-2:                    #9baaca !default;


// Twitter Button Colors
$c-tw-1:                    #3096d0 !default;
$c-tw-2:                    #96c9e7 !default;


// Google+ Button Colors
$c-gp-1:                    #dd4b39 !default;
$c-gp-2:                    #c93e35 !default;
