// ----------------------------------------------------------------------------
//  Body / HTML Vars
// ----------------------------------------------------------------------------

// Colors
$c-body--bg:                $c-off-white !default;
$c-body--text:              $c-dark !default;

$c-prime-action:            #377ae8 !default;
$c-prime-action--hover:     darken($c-prime-action, 5%) !default;

$c-select-text--bg:         $c-prime-action !default;
$c-select-text--text:       $c-white !default;


// Fonts
$f-body--family:            $f-brand !default;
$f-body--weight:            300 !default;
$f-body--size:              100% !default;
$f-body--line-height:       1.5 !default;


// sets the body & html height to 100%
$height100:                 true;
