// ----------------------------------------------------------------------------
//  Colors: Branding
// ----------------------------------------------------------------------------

$c-brand--1:               #4aceff !default;  // light cyan
$c-brand--2:               #00aeef !default;  // cyan
$c-brand--3:               #0095cc !default;  // dark cyan
$c-brand--4:               #525252 !default;  // Darker Grey
$c-brand--5:               #b6b5b5 !default;  // Light Grey
