// ----------------------------------------------------------------
//		Basic Styling: Code Elements
// ----------------------------------------------------------------

code, kbd, samp{
  @extend %margin-bottom;
  background:#F2F2F2;
  border:1px solid #E3E3E3;
  border-left-width:6px;
  display:block;
  font-family:$monospace; 
  font-size:$base;
  padding:$unit-px*2;
}

pre{
  @extend %reset;
  overflow:auto; 
  white-space:pre-wrap;
}

p, li{
  code, kbd, pre, samp{
    display:inline-block; 
    margin:0;
    padding:$unit-px;
  }
}
