// ----------------------------------------------------------------------------
//  Basic Styling: Mark Element
// ----------------------------------------------------------------------------

// IE 8/9 doesn't highlight background by default
mark{
  background: $c-yellow;
  color: $c-darker;
  border-bottom: 1px solid $c-light-grey;
}
