// ----------------------------------------------------------------
//    Basic Styling: Quote Elements
// ----------------------------------------------------------------

// Blockquote base styling
blockquote{
  @extend %reset;
  @extend %zeta;
  @extend %italic;
  @extend %margin-Bottom;

  &:after, &:before{
    font:{
      size:$eps;
      weight:400;
     }; 
    line-height:1; 
    position:relative; 
    top:2px;
  }

  &:after{
    content:"\201D";
    right:-1px;
  }

  &:before{
    content:"\201C";
    left:-1px;
  }
}

// sets consistent quotes across browsers
q{
  quotes:"\201C" "\201D" "\2018" "\2019";
}

// Placeholder classes are used so elements can be easily
// broken out into modular files.

// If you would like to change the basic values of these 
// elements, simply either delete the place holder reference
// and add your own styling, or edit the placeholder class
// in the corresponding Brass Tacks placeholders .scss file.

