// ----------------------------------------------------------------------------
//  Progress Bars/Spinners
// ----------------------------------------------------------------------------

@if $helper-loading == true {

  @include keyframe (spin) {
    to {
      @include transform(rotate(1turn));
    }
  }

  .spinner {

    &:before {
      @extend %position-center;
      @include animation(spin 1s infinite steps(24));
      border-bottom: 2px solid transparent;
      border-right: 2px solid $c-brand--2;
      border-top: 2px solid transparent;
      border-radius: $circle;
      content: '';
      height: 100%;
      overflow: hidden;
      width: 100%;
    }

  }

} // -- end @if --
