{% block title %}Buttons{% endblock %}
{% block content %}
<section class="content">

  <h2>Buttons</h2>
  <p>
    Examples of the various Brass Tacks button stylings. Use these on any
    &lt;a>, &lt;input>, &lt;button> element as well as elements that may need to
    be mocked up to look like buttons.
  </p>

  <hr />

  <h3>Sizes &amp; Widths</h3>
  <div class="row">
    <div class="col w-50">
      <ul class="kill-list">
        <li><a href="#!" title="yeah title" class="btn btn-small">Small</a></li>
        <li><a href="#!" title="yeah title" class="btn">Normal</a></li>
        <li><a href="#!" title="yeah title" class="btn btn-large">Large</a></li>
        <li><a href="#!" title="yeah title" class="btn btn-xlarge">X-large</a></li>
        <li><a href="#!" title="yeah title" class="btn btn-small btn-wide">Small wide</a></li>
        <li><a href="#!" title="yeah title" class="btn btn-wide">Normal wide</a></li>
        <li><a href="#!" title="yeah title" class="btn btn-large btn-wide">Large wide</a></li>
        <li><a href="#!" title="yeah title" class="btn btn-xlarge btn-wide">X-large wide</a></li>
      </ul>
    </div> <!-- end .w-50 -->
    <div class="col w-50">
      <p>
        There are four basic sizes for buttons.
      </p>
      <ul>
        <li>.btn-small</li>
        <li>.btn (default class)</li>
        <li>.btn-large</li>
        <li>.btn-xlarge</li>
        <li>.btn-wide</li>
      </ul>
    </div> <!-- end .w-50 -->
  </div> <!-- end .row -->

  <hr />

  <h3>Types</h3>
  <div class="row">
    <div class="col w-50">

      <h4>Default Buttons</h4>
      <ul class="kill-list">
        <li><a href="#!" title="yeah title" class="btn">Normal</a></li>
        <li><a href="#!" title="yeah title" class="btn-prime">Primary</a></li>
        <li><a href="#!" title="yeah title" class="btn-emph">Emphasis</a></li>
        <li><a href="#!" title="yeah title" class="btn-neg">Negative</a></li>
        <li><a href="#!" title="yeah title" class="btn-cancel">Cancel</a></li>
        <li><a href="#!" title="yeah title" class="btn-disable">Disabled</a></li>
      </ul>

      <br />

      <h4>Social Buttons</h4>
      <ul class="kill-list">
        <li><a href="#!" title="yeah title" class="btn-facebook"><span class="social-icon"></span>Facebook</a></li>
        <li><a href="#!" title="yeah title" class="btn-twitter"><span class="social-icon"></span>Twitter</a></li>
        <li><a href="#!" title="yeah title" class="btn-google"><span class="social-icon"></span>Google</a></li>
      </ul>


    </div> <!-- end .w-50 -->
    <div class="col w-50">
      <p>
        Button coloring consists of the following classes:
      </p>
      <ul>
        <li>.btn (default class)</li>
        <li>.btn-prime</li>
        <li>.btn-emph</li>
        <li>.btn-neg</li>
        <li>.btn-cancel</li>
        <li>.btn-disable</li>
      </ul>
      <p>
        Generic is just the normal .btn class, while all the others extend .btn within
        them, so as to only require their individual class names.
      </p>
    </div>
  </div> <!-- end .row -->

  <hr />

  <h3>Corner Styling</h3>
  <div class="row">
    <div class="col w-50">
      <ul class="kill-list">
        <li><a href="#!" title="yeah title" class="btn">Normal</a></li>
        <li><a href="#!" title="yeah title" class="btn btn-round">Rounded</a></li>
        <li><a href="#!" title="yeah title" class="btn btn-square">Square</a></li>
      </ul>
    </div> <!-- end .w-50 -->
    <div class="col w-50">
      <p>
        The basic button starts out with a border radius of 4px.
      </p>
      <p>
        .btn-square will negate the default border radius to square off the corners.<br />
        .btn-round will round corners by 18px.
      </p>
      <p>
        Use these classes in combination with other button styling classes.
      </p>
    </div>
  </div> <!-- end .row -->

  <hr />

  <h3>Button Pills</h3>
  <div class="row">
    <div class="col w-50">

      <div class="btn-pill">
        <a href="#!" title="yeah title" class="btn btn-prime">Left</a>
        <a href="#!" title="yeah title" class="btn">Center</a>
        <a href="#!" title="yeah title" class="btn">Right</a>
      </div>

      <div class="btn-pill">
        <button class="btn btn-prime btn-small">Left</button>
        <button class="btn btn-small">Center</button>
        <button class="btn btn-small">Right</button>
      </div>
    </div> <!-- end .w-50 -->
    <div class="col w-50">
      <p>
        To create button pills, the following setup is in use:
      </p>
      <code>
        &lt;div class="btn-pill"><br />
          &nbsp;&nbsp;&lt;a href="#!" class="btn">...&lt;/a><br />
          &nbsp;&nbsp;&lt;a href="#!" class="btn">...&lt;/a><br />
          &nbsp;&nbsp;&lt;a href="#!" class="btn">...&lt;/a><br />
        &lt;/div>
      </code>
      <p>
        The smaller pill is the same as above, only with the addition of
        the <code>.btn-small</code> helper class.
      </p>

    </div>
  </div> <!-- end .row -->

</section> <!-- end .content -->
{% endblock %}
