{% block title %}Buttons{% endblock %}
{% block content %} 
<section class="content">

	<h2>Buttons</h2>
	<p>
		Examples of the various Brass Tacks button stylings.  Use these on any
		&lt;a>, &lt;input>, &lt;button> element as well as elements that may need to
		be mocked up to look like buttons.
	</p>

	<hr />

	<h3>Sizes &amp; Widths</h3>	
	<div class="row">
		<div class="col w-50">
			<ul class="kill-list">
				<li><a href="#!" title="yeah title" class="btn-small">Small</a></li>
				<li><a href="#!" title="yeah title" class="btn">Regular</a></li>
				<li><a href="#!" title="yeah title" class="btn-large">Large</a></li>
				<li><a href="#!" title="yeah title" class="btn-xlarge">X-large</a></li>

				<li><a href="#!" title="yeah title" class="btn-small btn-wide">Small Wide</a></li>
				<li><a href="#!" title="yeah title" class="btn btn-wide">Normal Wide</a></li>
				<li><a href="#!" title="yeah title" class="btn-large btn-wide">Large Wide</a></li>
				<li><a href="#!" title="yeah title" class="btn-xlarge btn-wide">X-large Wide</a></li>
			</ul>
		</div> <!-- end .w-50 -->
		<div class="col w-50">
			<p>
				There are four basic sizes for buttons. 
			</p>
			<ul>
				<li>.btn-small</li>
				<li>.btn (default class)</li>
				<li>.btn-large</li>
				<li>.btn-xlarge</li>
				<li>.btn-wide</li>
			</ul>
			<p>
				Small, large and xLarge all extend the base .btn class and can be used by themselves on HTML elements.
			</p>
			<p>
				.btn-wide is a helper class, so it will need to be paired with a .btn class on the HTML element.
			</p>
			
		</div> <!-- end .w-50 -->
	</div> <!-- end .row -->

	<hr />

	<h3>Colors / Actions</h3>
	<div class="row">
		<div class="col w-50">
			<ul class="kill-list">
				<li><a href="#!" title="yeah title" class="btn">Button</a></li>
				<li><a href="#!" title="yeah title" class="btn btn-neg">Negative Action</a></li>
				<li><a href="#!" title="yeah title" class="btn btn-disable">Disabled</a></li>
				<li><a href="#!" title="yeah title" class="btn btn-action">Action 1</a></li>
				<li><a href="#!" title="yeah title" class="btn btn-action-2">Action 2</a></li>
				<li><a href="#!" title="yeah title" class="btn btn-action-3">Action 3</a></li>
			</ul>
		</div> <!-- end .w-50 -->
		<div class="col w-50">
			<p>
				Button coloring consists of the following classes:
			</p>
			<ul>
				<li>.btn (default class)</li>
				<li>.btn-action</li>
				<li>.btn-action-2</li>
				<li>.btn-action-3</li>
				<li>.btn-disable</li>
				<li>.btn-neg</li>
			</ul>
			<p>
				These are helper classes to extend the sizing button classes.
			</p>
			<p>
				The colors for the buttons are set in the set in the Project Sass Variables file.
			</p>
		</div>
	</div> <!-- end .row -->

	<hr />	

	<h3>Padding Helper Classes</h3>	
	<div class="row">
		<div class="col w-50">
			<ul class="kill-list">
				<li><a href="#!" title="yeah title" class="btn-small btn-pad">Small</a></li>
				<li><a href="#!" title="yeah title" class="btn btn-pad">Regular</a></li>
				<li><a href="#!" title="yeah title" class="btn-large btn-pad">Large</a></li>
				<li><a href="#!" title="yeah title" class="btn-xlarge btn-pad">X-large</a></li>
			</ul>
		</div> <!-- end .w-50 -->
		<div class="col w-50">
			<p>
				Using the .btn-pad along with a sizing/width button class will increase the padding on (at least) the left and right sides of the button.  .btn-pad has varied padding measurments depending on the class it is coupled with.
			</p>
		</div>
	</div> <!-- end .row -->

	<hr />

	<h3>Corner Styling</h3>	
	<div class="row">
		<div class="col w-50">
			<ul class="kill-list">
				<li><a href="#!" title="yeah title" class="btn">Regular</a></li>
				<li><a href="#!" title="yeah title" class="btn btn-square">Squared Corners</a></li>
				<li><a href="#!" title="yeah title" class="btn btn-round">Rounded Corners</a></li>
			</ul>
		</div> <!-- end .w-50 -->
		<div class="col w-50">
			<p>
				The basic button starts out with a border radius of 4px.  
			</p>
			<p>
				.btn-square will negate the default border radius to square off the corners.<br />
				.btn-round will round corners by 12px.
			</p>
			<p>
				Use these classes in combination with other button styling classes.
			</p>
		</div>
	</div> <!-- end .row -->

	<hr />

	<h3>Button Pills</h3>	
	<div class="row">
		<div class="col w-50">
				 <a href="#!" title="yeah title" class="btn btn-left">Left</a><!--
			--><a href="#!" title="yeah title" class="btn btn-center">Center</a><!--
			--><a href="#!" title="yeah title" class="btn btn-right">Right</a>
		</div> <!-- end .w-50 -->
		<div class="col w-50">
			<p>
				To create button pills, the following classes are in use:
			</p>
			<ul class="kill-list">
				<li>.btn-left</li>
				<li>.btn-center</li>
				<li>.btn-right</li>
			</ul>
			<p>
				.btn-left and .btn-right simply redefine the border radius.  
				In this instance, .btn-center is simply an extension of the
				.btn-square class, renamed for a better class naming convention.
				However, additional styling can be applied to it in your own porjects,
				to keep the .btn-square class clean.
			</p>
			<p>
				As buttons are inline-blocks, normally there would be white space between the buttons in the pill.
			</p>
			<p>
				In this example, the white space is being commented out in the HTML to make the buttons appear
				as one solid element.
			</p>
			<code class="tiny">
				 &lt;a href="#" class="btn btn-left">Left&lt;/a>&lt;!--<br />
			-->&lt;a href="#" class="btn btn-center">Center&lt;/a>&lt;!--<br />
			-->&lt;a href="#" class="btn btn-right">Right&lt;/a>
			</code>

		</div>
	</div> <!-- end .row -->
<!--
	<hr />

	<h3>Button with Icons</h3>	
	<div class="row">
		<div class="col w-50">
			<ul class="kill-list">
				<li><a href="#!" title="yeah title" class="btn btn-icon-16"><span class="icon ex16"></span>16px Icon</a></li>
				<li><a href="#!" title="yeah title" class="btn btn-icon-32"><span class="icon ex32"></span>32px Icon</a></li>
				<li><a href="#!" title="yeah title" class="btn btn-icon-64"><span class="icon ex64"></span>64px Icon</a></li>
			</ul>
		</div>  
		<div class="col w-50">
			<p>
				To include icons with buttons, use the following classes
			</p>
			<ul class="kill-list">
				<li>.btn-icon-16</li>
				<li>.btn-icon-32</li>
				<li>.btn-icon-14</li>
			</ul>
			<p>
				asdf
			</p>
			
			<code class="tiny">
				 ...
			</code>

		</div>
	</div>  -->

</section> <!-- end .content -->
{% endblock %}