{% block content %} 
<div class="content">

<h1>Buttons</h1>

	<div class="row">
		<h3 class="col">Colors / Actions</h3>
		<div class="col col-50">
			<div class="grouping">
			   <ul class="kill-List">
			       <li><a href="#!" title="yeah title" class="btn">Button</a></li>
			       <li><a href="#!" title="yeah title" class="btn-Neg">Negative Action</a></li>
			       <li><a href="#!" title="yeah title" class="btn-Disable">Disabled</a></li>
			       <li><a href="#!" title="yeah title" class="btn-Action">Positive Action 1</a></li>
			       <li><a href="#!" title="yeah title" class="btn-Action-2">Positive (or negative) Action 2</a></li>
			       <li><a href="#!" title="yeah title" class="btn-Action-3">Positive Action 3</a></li>
			   </ul>
			</div>
		</div> <!-- end .col-50 -->
		<div class="col col-50">
			<div class="grouping">
				explain
			</div>
		</div>
	</div> <!-- end .row -->
	
	
	<div class="row">
		<h3 class="col">Sizes</h3>
		<div class="col col-50">
			<div class="grouping">
			   <ul class="kill-List">
			   		<li><a href="#!" title="yeah title" class="btn-Small">Small</a></li>
				    <li><a href="#!" title="yeah title" class="btn">Regular</a></li>
				    <li><a href="#!" title="yeah title" class="btn-Large">Large</a></li>
				    <li><a href="#!" title="yeah title" class="btn-XLarge">X-Large</a></li>
			
			       <li>
			           <a href="#!" title="yeah title" class="btn-Small btn-Wide">Small Wide</a>
			       </li>
			       <li>
			           <a href="#!" title="yeah title" class="btn-Wide">Normal Wide</a>
			       </li>
			       <li>
			           <a href="#!" title="yeah title" class="btn-Large btn-Wide">Large Wide</a>
			       </li>
			       <li>
			           <a href="#!" title="yeah title" class="btn-XLarge btn-Wide">X-Large Wide</a>
			       </li>
			   </ul>
			</div> <!-- end .grouping -->
		</div> <!-- end .col-50 -->
		<div class="col col-50">
			<div class="grouping">
				explain
			</div>
		</div>
	</div> <!-- end .row -->
		
		
	<div class="row">
		<h3 class="col">Additional Styling</h3>
		<div class="col col-50">
			<div class="grouping">
			   <ul class="kill-List">
			       <li>
			           <a href="#!" title="yeah title" class="btn">Regular</a> - 3px rounded edges
			       </li>
			       <li>     
			           <a href="#!" title="yeah title" class="btn-Square">Squared Edges</a> - 0px rounded edges
			       </li>
			       <li>
			           <a href="#!" title="yeah title" class="btn-Round">Rounded Edges</a> - 12px rounded edges
			       </li>
			   </ul>
			</div> <!-- end .grouping -->
		</div> <!-- end .col-50 -->
		<div class="col col-50">
			<div class="grouping">
				explain
			</div>
		</div>
	</div> <!-- end .row -->
</div> <!-- end .content -->
{% endblock %}