{% block content %}
<div class="content">

	<h2>CSS3 Examples</h2>
	<p>
		Showcase a variety of CSS3 mixin/var examples.  ie. box-shadows, border-radius, transitions, etc.
	</p>

<hr />

<h3>Slanted Text</h3>
<div class="row">
	<div class="col col-60">
		<p class="slant">
			Slanted Highlight &amp; text.
		</p>
		
		<p class="slant">
			<span class="text-Correct">Slanted Highlight with corrected text</span>.
		</p>

	</div> <!-- end .col-60 -->
	
	<div class="col col-40">
		<p>
			CSS3 Transform to skew the text.
		</p>
	</div>
</div> <!-- end .row -->

<hr />
	
<h3>Hover Tool Tip</h3>	
<div class="row">
	<div class="col col-60">
		<h4>Normal Link Example - Below</h4>
		<a href="#" title="Title" class="tool-Tip">
			Content Goes Here
		</a>
		
		<h4>Normal Link Example - Above</h4>
		<a href="#" title="Title" class="tool-Tip above">
			Content Goes Here
		</a>
			
		<h4>Bottom Display</h4>
		<a href="#" title="Violet making her superman sleeping pose - 2 days old" class="tool-Tip img-Bottom">
			<img src="/assets/img/little-V.jpg" alt="Little Violet Ann" style="width:200px" />
		</a>
		
		<h4>Top Display</h4>
		<a href="#" title="Violet making her superman sleeping pose - 2 days old" class="tool-Tip img-Top">
			<img src="/assets/img/little-V.jpg" alt="Little Violet Ann" style="width:150px" />
		</a>
		
		<h4>Left Display</h4>
		<a href="#" title="Violet making her superman sleeping pose - 2 days old" class="tool-Tip img-Left">
			<img src="/assets/img/little-V.jpg" alt="Little Violet Ann" style="width:400px" />
		</a>
		
		<h4>Right Display</h4>
		<a href="#" title="Violet making her superman sleeping pose - 2 days old" class="tool-Tip img-Right">
			<img src="/assets/img/little-V.jpg" alt="Little Violet Ann" style="width:300px" />
		</a>
</div> <!-- end .col-60 -->
	
	<div class="col col-40">
		<p>
			CSS3 Transform to skew the text.
		</p>
	</div>
</div> <!-- end .row -->
	
<hr />	
	
<h3>Basic Call Out Box using css3 box shadow</h3>
<div class="row">
	<div class="col col-60">
	<div class="emph-Block">
		stuff n' things
	</div>

</div> <!-- end .col-60 -->
	
	<div class="col col-40">
		<p>
			Callout box using drop shadow and rounded corners
		</p>
	</div>
</div> <!-- end .row -->
	

</div>	
{% endblock %}