{% block content %}
<div class="content">
<h1>CSS3 Examples</h1>
<p>
	Showcase a variety of CSS3 mixin/var examples.  ie. box-shadows, border-radius, transitions, etc.
</p>



<section class="example">
	
	<h1>Normal Link Example - Below</h1>
	<a href="#" title="Title" class="tool-Tip">
		Content Goes Here
	</a>
	
	<h2>Normal Link Example - Above</h2>
	<a href="#" title="Title" class="tool-Tip above">
		Content Goes Here
	</a>
	
	<hr />
	
	<h1>Add captions to images</h1>
	
	<h2>Bottom</h2>
	<a href="#" title="Violet making her superman sleeping pose - 2 days old" class="tool-Tip img-Bottom">
		<img src="/assets/img/little-V.jpg" alt="Little Violet Ann" style="width:200px" />
	</a>
	
	<h2>Top</h2>
	<a href="#" title="Violet making her superman sleeping pose - 2 days old" class="tool-Tip img-Top">
		<img src="/assets/img/little-V.jpg" alt="Little Violet Ann" style="width:150px" />
	</a>
	
	<h2>Left</h2>
	<a href="#" title="Violet making her superman sleeping pose - 2 days old" class="tool-Tip img-Left">
		<img src="/assets/img/little-V.jpg" alt="Little Violet Ann" style="width:400px" />
	</a>
	
	<h2>Right</h2>
	<a href="#" title="Violet making her superman sleeping pose - 2 days old" class="tool-Tip img-Right">
		<img src="/assets/img/little-V.jpg" alt="Little Violet Ann" style="width:300px" />
	</a>

</section>
</div>	
{% endblock %}