{% block title %}Extended Elements{% endblock %}
{% block content %} 
<section class="content">
	<h2>Sample Text Content</h2>
	<p>
		Various examples of text-only content groupings.
	</p>

<hr />

<h3>Media Element</h3>
<div class="row">
	<div class="col w-60">
		
		<h4>Profiles Images inside of media element</h4>
			<div class="media emph-block">
				<div class="media-object">
					<a href="#!" class="pic-rounded">
						<img src="assets/img/little-V.jpg" alt="" />
					</a>
				</div>
				<div class="media-text">
					<h1 class="eps">Media Element with emph-block Class</h1>
					<p>
						How does it work? The hard part is making sure that the image can be any width, so that the element is reusable. 
						It means our content area needs to be flexible so that it can fill in all the remaining space available. 
						We’ll have to create a new formatting context to make a flexible column.
					</p>
				</div>
			</div>
			
			<div class="media-reverse">
				<div class="media-object">
					<a href="#!" class="pic-rounded">
						<img src="assets/img/little-V.jpg" alt="" />
					</a>
				</div>
				<div class="media-text">
					<h1 class="eps">Reverse Media Element</h1>
					<p>
						How does it work? The hard part is making sure that the image can be any width, so that the element is reusable. 
						It means our content area needs to be flexible so that it can fill in all the remaining space available. 
						We’ll have to create a new formatting context to make a flexible column.
					</p>
				</div>
			</div>
			
			<div class="media-no-wrap">
				<div class="media-object">
					<a href="#" class="pic-rounded">
						<img src="assets/img/little-V.jpg" alt="" />
					</a>
				</div>
				<div class="media-text">
					<h1 class="eps">Media Element with no text wrap</h1>
					<p>
						How does it work? The hard part is making sure that the image can be any width, so that the element is reusable. 
						It means our content area needs to be flexible so that it can fill in all the remaining space available. 
						We’ll have to create a new formatting context to make a flexible column.
					</p>
				</div>
			</div>
			
			<div class="media-no-wrap-reverse">
				<div class="media-object">
					<a href="#" class="pic-rounded">
						<img src="assets/img/little-V.jpg" alt="" />
					</a>
				</div>
				<div class="media-text">
					<h1 class="eps">Media Element with no text wrap, reversed</h1>
					<p>
						How does it work? The hard part is making sure that the image can be any width, so that the element is reusable. 
						It means our content area needs to be flexible so that it can fill in all the remaining space available. 
						We’ll have to create a new formatting context to make a flexible column.
					</p>
				</div>
			</div>

	</div> <!-- end .w-60 -->
	
	<div class="col w-40">
			explain
	</div>
</div> <!-- end .row -->

<hr />

<h3>Slanted Text</h3>
<div class="row">
	<div class="col w-60">
		<p class="slant">
			Slanted Highlight &amp; text.
		</p>
		
		<p class="slant">
			<span class="text-Correct">Slanted Highlight with corrected text</span>.
		</p>
	</div> <!-- end .w-60 -->
	
	<div class="col w-40">
		<p>
			CSS3 Transform to skew the text.
		</p>
	</div>
</div> <!-- end .row -->

<hr />
	
<h3>Multi Column Text</h3>	
<div class="row">
<p class="multi col">
  I am going to write something here.
  I am going to write something here.
  I am going to write something here.
  I am going to write something here.
  I am going to write something here.
  I am going to write something here.
  I am going to write something here.
  I am going to write something here.
  I am going to write something here.
  I am going to write something here.
  I am going to write something here.
  I am going to write something here.
  I am going to write something here.
  I am going to write something here.
</p>
</div>	

<hr />	
	
<h3>Basic Call Out Box using CSS3 box shadow</h3>
<div class="row">
	<div class="col w-60">
	<div class="emph-block">
		stuff n' things
	</div>

</div> <!-- end .w-60 -->
	
	<div class="col w-40">
		<p>
			Callout box using drop shadow and rounded corners
		</p>
	</div>
</div> <!-- end .row -->

<hr />

<h3>Text Styling Classes</h3>
<div class="row">
	<div class="col w-60">
		
		<blockquote class="pull-quote">
			A quote with a bit extra pizazz
		</blockquote>
		
		<p>
			Here is some <span class="highlight">Highlighted text</span> in a paragraph.
		</p>
		
	</div> <!-- end .w-60 -->
	
	<div class="col w-40">
			explain
	</div>
</div> <!-- end .row -->


<!-- ***************************
  Generic Block Element

<div class="block xHELPER-CLASSx">
  <div class="block-body"></div>
</div>


<div class="block xHELPER-CLASSx">
  <header class="block-Header"></header> 
  <div class="block-body"></div>
  <footer class="block-Footer"></footer>
</div>


<div class="block xHELPER-CLASSx">
  <div class="block-body"></div>
  <footer class="block-Footer"></footer>
</div>

*************************** -->

</section>   	
{% endblock %}