{% block content %} 
<section class="content">
<h1>Text / Fonts</h1>
<p>
	Here we shall go over various text/font stylings, sizes and types.
</p>

<h1>Heading / Font Sizes</h1>

<h1 class="giga">Giga Heading</h1>
<h2 class="ultra">Ultra Heading</h2>
<h3 class="mega">Mega Heading</h3>
<h1>Alpha Heading / h1</h1>
<h2>Beta Heading / h2</h2>
<h3>Gamma Heading / h3</h3>
<h4>Delta Heading / h4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>

<p>This is a basic paragraph style.</p>
<p class="tiny">This is tiny text</p>
<p class="mini">This is mini text</p>

<h1>Text-level semantics</h1>

<p>
	Here is some <span class="highlight">Highlighted text</span> in a paragraph.
</p>

<p class="slant">
	Slanted Highlight &amp; text.
</p>

<p class="slant">
	<span class="text-Correct">Slanted Highlight with corrected text</span>.
</p>

<ul class="multi kill-List">
	<li>The <a href="#">a element</a> example</li>
	<li>The <abbr title="Title text">abbr element</abbr> example</li>
	<li>The <b>b element</b> example</li>
	<li>The <cite>cite element</cite> example</li>
	<li>The <code>code element</code> example</li>
	<li>The <del>del element</del> example</li>
	<li>The <dfn>dfn element</dfn> example</li>
	<li>The <em>em element</em> example</li>
	<li>The <i>i element</i> example</li>
	<li>The img element <img src="http://placehold.it/16x16" alt=""> example</li>
	<li>The <ins>ins element</ins> example</li>
	<li>The <kbd>kbd element</kbd> example</li>
	<li>The <mark>mark element</mark> example</li>
	<li>The <q>q element <q>inside</q> a q element</q> example</li>
	<li>The <s>s element</s> example</li>
	<li>The <samp>samp element</samp> example</li>
	<li>The <small>small element</small> example</li>
	<li>The <span>span element</span> example</li>
	<li>The <strike>strike element</strike> example</li>
	<li>The <strong>strong element</strong> example</li>
	<li>The <sub>sub element</sub> example</li>
	<li>The <sup>sup element</sup> example</li>
	<li>The <var>var element</var> example</li>
	<li>The <u>u element</u> example</li>
</ul>

</section>   	
{% endblock %}