{% block content %} 
<section class="content">
	<h2>Text / Fonts</h2>
	<p>
		Here we shall go over various text/font stylings, sizes and types.
	</p>

<hr />

<h3>Heading / Font Sizes</h3>
<div class="row">
	<div class="col col-60">
		<h1 class="giga">Giga <a href="#!" title="a link example">Heading</a></h1>
		<h2 class="ultra">Ultra <a href="#!" title="a link example">Heading</a></h2>
		<h3 class="mega">Mega <a href="#!" title="a link example">Heading</a></h3>
		
		<h1>Alpha <a href="#!" title="a link example">Heading</a> / h1</h1>
		<h2>Beta <a href="#!" title="a link example">Heading</a> / h2</h2>
		<h3>Gamma <a href="#!" title="a link example">Heading</a> / h3</h3>
		<h4>Delta <a href="#!" title="a link example">Heading</a> / h4</h4>
		<h5>Heading 5 with a <a href="#!" title="a link example">link</a></h5>
		<h6>Heading 6 with a <a href="#!" title="a link example">link</a></h6>
		
		<p>This is a basic paragraph style with a <a href="#!" title="a link example">link</a>.</p>
		<p class="tiny">This is tiny text with a <a href="#!" title="a link example">link</a>.</p>
		<p class="mini">This is mini text with a <a href="#!" title="a link example">link</a>.</p>
	</div> <!-- end .col-60 -->
	
	<div class="col col-40">

			<table class="table-Border">
				<thead>
					<tr>
						<th>
							Tag/Classes
						</th>
						<th>
							Size in ems
						</th>
						<th>
							Pixel Translation
						</th>
					</tr>
				</thead>
				<tbody>
				<tr>
					<th>.giga:</th><td>4.375em</td><td>= 70px</td>
				</tr>
				<tr>
					<th>
					.ultra:</th><td>3.75em</td><td>= 60px
					</td>
				</tr>
				<tr>
					<th>
					.mega:</th><td>3.5em</td><td>= 56px
					</td>
				</tr>
				<tr>
					<th>	
					h1, .alpha:</th><td>3.125em</td><td>= 50px
					</td>
				</tr>
				<tr>
					<th>
					h2, .beta:</th><td>2.5em</td><td>= 40px
					</td>
				</tr>
				<tr>
					<th>
					h3, .gamma:</th><td>2em</td><td>= 32px
					</td>
				</tr>
				<tr>
					<th>
					h4, .delta:</th><td>1.625em</td><td>= 26px
					</td>
				</tr>
				<tr>
					<th>
					h5, .eps:</th><td>1.25em</td><td>= 20px
					</td>
				</tr>
				<tr>
					<th>
					h6, .zeta:</th><td>1em</td><td>= 16px
					</td>
				</tr>
				<tr>
					<th>
					p, li, .base:</th><td>.875em</td><td>= 14px
					</td>
				</tr>
				<tr>
					<th>
					small, .tiny:</th><td>.75em</td><td>= 12px
					</td>
				</tr>
				<tr>
					<th>
					.mini:</th><td>.625em</td><td>= 10px
					</td>
				</tr>
				</tbody>
			</table>
			
			<p>
				Sizes are based off from a 16px standard, which is what fonts will be set to if they 
				are not enclosed in the appropriate HTML elements, or elements lacking an appropriate class for
				resizing.  
			</p>
			
			<p>
				While 16px is the standard for the font-sizes for the framework, the .base (along with p and li) are set
				to 14px (7/8s of 16px).
			</p>
			
			

	</div>
</div> <!-- end .row -->

<hr />

<h3>Text-level Base</h3>
<div class="row">
	<div class="col col-60">
		<ul class="kill-List">
			<li>
				<blockquote>Blockquote Styling</blockquote>
			</li>
			<li>The <b>b element</b> &amp; <strong>strong element</strong></li>
			<li>The <dfn>dfn element</dfn>, <i>i element</i> &amp; <em>em element</em></li>
			<li>The <u>u element</u> example</li>
			<li>Time element: <time datetime="1605-11-05">5<sup>th</sup> of November</time></li>
			<li>The <small>small element</small> example</li>
		</ul>
	</div> <!-- end .col-60 -->
	
	<div class="col col-40">

			<p>
				These are the remaining text elements that don't fall into the most used elements above.
				As most of these will find themselves used within one of the above tags, they will inherit the 
				font-sizes of the above elements, save the blockquote which has a declared font-size of 1.25em.
			</p>

	</div>
</div> <!-- end .row -->

<hr />

<h3>Text-level Base2</h3>
<div class="row">
	<div class="col col-60">
		<ul class="kill-List">
			<li>The <abbr title="Title text">abbr element</abbr> example</li>
			<li>The <cite>cite element</cite> example</li>
			<li>The <code>code element</code> example</li>
			<li>The <del>del element</del> example</li>
			<li>The <ins>ins element</ins> example</li>
			<li>The <kbd>kbd element</kbd> example</li>
			<li>The <mark>mark element</mark> example</li>
			<li>The <samp>samp element</samp> example</li>
			<li>The <sub>sub element</sub> example</li>
			<li>The <sup>sup element</sup> example</li>
			<li>The <var>var element</var> example</li>
		</ul>
	</div> <!-- end .col-60 -->
	
	<div class="col col-40">

			<p>
				Many of these tags will likely not be used in regular development.
			</p>
			<p>
				As such, they are included in the separate _base2.scss.  Comment out the @import in
				the master.scss to not include their CSS rules.
			</p>

	</div>
</div> <!-- end .row -->

<hr />

<h3>Text Styling Classes</h3>
<div class="row">
	<div class="col col-60">
		
		<blockquote class="shout-Out">
			A quote with a bit extra pizazz
		</blockquote>
		
		<p>
			Here is some <span class="highlight">Highlighted text</span> in a paragraph.
		</p>
		
	</div> <!-- end .col-60 -->
	
	<div class="col col-40">

			explain

	</div>
</div> <!-- end .row -->










</section>   	
{% endblock %}