{% block title %}Form Elements{% endblock %}

{% block content %}
<section class="content">
	<h2>Basic Form Styling</h2>
  <p>
    Default form element styling.  This section is still under construction, as jQuery is going to be removed
    from the elements that currently require it.  Additional helper classes and restyling may take palce as well.
  </p>

  <hr />

<form class="form-container">
	<h3>Base Input Fields</h3>

	<div class="row">
	  <div class="col w-50">

      <fieldset class="form-row">
        <label for="input-text">Input - Normal Text</label>
        <input type="text" id="input-text" placeholder="Write Text Here" />

        <label for="input-text-dl">Input - Text w/Data List</label>
        <input type="text" id="input-text-dl" list="fav-color" placeholder="Choose your fav. color" />
        <datalist id="fav-color">
          <option value="Red">Red</option>
          <option value="Orange">Orange</option>
          <option value="Yellow">Yellow</option>
        </datalist>

        <label for="input-email">Input - Email</label>
        <input type="email" id="input-email" placeholder="Enter Email" />

        <label for="input-password">Input - Password</label>
        <input type="password" id="input-password" placeholder="Enter Password" />

        <label for="input-Url">Input - Web Address</label>
        <input id="input-Url" type="url" placeholder="Enter Web Address" />

        <label for="input-tel">Input - Phone Number</label>
        <input type="tel" id="input-tel" placeholder="555.555.5555" />

        <label for="input-search">Input - Search (field only)</label>
        <input type="search" class="input-search" id="input-search" placeholder="Search for..." />

        <label for="search-area">Input &amp; Button combo area</label>
        <div class="search-area">
          <input type="search" id="search-area" class="input-search" placeholder="Search for..." />
          <input type="submit" class="btn btn-search btn-action" value="Search" />
        </div>

        <label for="input-textarea">Text Area</label>
        <textarea id="input-textarea"></textarea>

      </fieldset>
	</div> <!-- end .w-50 -->

	<div class="col w-50">
		<fieldset class="form-row fieldset">
      <legend class="legend">Input Variants</legend>
      <label class="dis-label">Disabled Text Input</label>
      <input type="text" value="Disabled text input" disabled="disabled" />

      <label>Readonly Text Input</label>
      <input type="text" value="Readonly text input" readonly="readonly" />

      <label for="input-required">Required Input</label>
      <input type="text" id="input-required" placeholder="Placeholder Text" required="required" />
    </fieldset>

    <ul>
      <li>
        All base input fields and the textarea are pulling from a
        the Placeholder class "%input-area" for basic styling.  This will keep these
        input elements looking consistent across browsers, opposed to having forms take
        on the default styling of each different browser.
      </li>
      <li>
        The only classes in use in this section are for the search button <code>.btn-action</code> and
        a class for the disabled text input label <code>.dis-label</code>.
      </li>
      <li>
        To create individual inline form elements, apply the class of
        <code>.inline-element</code>.  If you want all elements to be inline, use the
        class of <code>.inline-all</code> on the parent of the elements.
      </li>
      <li>
        If you need to create more complex from layouts, you can use classes from
        the <a href="layout" title="Layout Classes">Layout Helpers</a> on &lt;div> and
        &lt;fieldset> elements in your forms.
      </li>
      <li>
        Use the class of <code>.form-row</code> on divs or fieldsets within forms to
        apply block level groups to elements, and to apply slight padding between groups.
      </li>
    </ul>

	</div>
</div> <!-- end .row -->

<hr />

<h3>File Inputs</h3>
<div class="row">
  <div class="col w-50">
    <p class="eps">With Classes</p>
    <fieldset class="form-row">
      <div class="file-input-area">
        <input type="file" id="input-file" class="input-file" />
        <label for="input-file">File Input</label>
        <span class="input-file-text">
          <span class="placeholder">Select a file...</span>
        </span>
        <span class="btn">Select</span>
      </div>

      <p class="eps">Without Classes</p>
      <label for="input-file2">File Input</label>
      <input type="file" id="input-file2" />
    </fieldset>

</div>
  <div class="col w-50">
    <p>
      To make file inputs appear more like other text inputs, apply the code snippet with the accompanying jQuery.
      Otherwise, file inputs will take on the default styling of the browser.
    </p>
    <code class="tiny">
      &lt;div class="file-Input-area"><br />
        &nbsp;&nbsp;&lt;input type="file" id="input-file" class="input-file" /><br />
        &nbsp;&nbsp;&lt;label for="input-file">File Input&lt;/label><br />
        &nbsp;&nbsp;&lt;span class="input-file-text"><br />
          &nbsp;&nbsp;&nbsp;&nbsp;&lt;span class="placeholder">Select a file...&lt;/span><br />
        &nbsp;&nbsp;&lt;/span><br />
        &nbsp;&nbsp;&lt;span class="btn">Select&lt;/span><br />
      &lt;/div>
    </code>
    <code class="tiny">
      $(document).ready(function(){<br />
    	&nbsp;&nbsp;// when file is selected via OS file picker,<br />
    	&nbsp;&nbsp;// place file name into .placeholder span<br />
    	&nbsp;&nbsp;$(".input-file").change(function() {<br />
    	&nbsp;&nbsp;&nbsp;&nbsp;$(this).parent().find(".input-file-text").html(this.value)<br />
    	&nbsp;&nbsp;});<br />
    	});
    </code>
  </div>
</div> <!-- end .row -->

<hr />

<h3>Check Boxes &amp; Radio Buttons</h3>
<div class="row">

	<div class="col w-50">
    <h4 class="eps">Check Boxes</h4>

    <fieldset class="form-row">
      <div>
        <label for="check-1" class="inline-element">
          Classless Check Box
        </label>
        <input type="checkbox" id="check-1" />
      </div>

      <label for="check-2" class="cr-area">
        <input type="checkbox" value="None" id="check-2" class="invis" />
        Designed Checkbox (ie9+)
        <span class="check-radio"></span>
      </label>

      <label for="check-3" class="cr-slider">
        <input type="checkbox" id="check-3" class="invis input-slide" />
        <span class="crs"></span>
        <span class="crs-label">Text label</span>
      </label>
     </fieldset>

      <strong>Code for Designed Checkbox</strong>
      <code class="tiny">
        &lt;label for="check-2" class="cr-area"><br />
          &nbsp;&nbsp;&lt;input type="checkbox" value="None" id="check-2" class="invis" name="check" /><br />
          &nbsp;&nbsp;Designed Checkbox<br />
         &nbsp;&nbsp;&lt;span class="check-radio">&lt;/span><br />
        &lt;/label>
      </code>

      <code class="tiny">
      &lt;label for="check-3" class="cr-slider">
        &lt;input type="radio" id="check-3" class="invis input-slide" />
        &lt;span class="crs">&lt;/span>
        &lt;span class="crs-label">Text label&lt;/span>
      &lt;/label>
     </code>
  </div>

	<div class=" col w-50">
    <h4 class="eps">Radio Buttons</h4>

    <fieldset class="radios form-row">
      <label for="r1">
        <input type="radio" id="r1" name="rr" />
        Classless Radio Button
      </label>

      <label for="r2" class="cr-area">
        <input type="radio" id="r2" name="rr" class="invis radio-syle" />
        <span class="check-radio"></span>
        Designed Radio Button
      </label>

      <label for="r3" class="cr-slider">
        <input type="radio" id="r3" name="rr" class="invis input-slide" />
        <span class="crs circle"></span>
        <span class="crs-label">Text label</span>
      </label>

    </fieldset>

     <strong>Code for Designed Radio Buttons</strong>
     <code class="tiny">
        &lt;label for="r3" class="cr-area"><br />
        &nbsp;&nbsp;&lt;input type="radio" id="r2" name="rr" class="invis radio-style" /><br />
        &nbsp;&nbsp;&lt;span class="check-radio">&lt;/span>Label <br />
      &lt;/label>
     </code>

     <strong>Code for Slider Radio Button</strong>
     <code class="tiny">
      &lt;label for="r3" class="cr-slider">
        &lt;input type="radio" id="r3" name="rr" class="invis input-slide" />
        &lt;span class="crs circle">&lt;/span>
        &lt;span class="crs-label">Text label&lt;/span>
      &lt;/label>
     </code>
     <small>There is commented out code for on/off labels in the helper forms.scss, if you would like to use those.</small>
	</div>
</div> <!-- end .row -->

<hr />

<h3>Selections</h3>
<div class="row">
  <div class="col w-50">
    <fieldset class="form-row">
      <label for="base-select" class="text-label">Default Select</label>
       <div class="select-container">
         <select id="base-select" class="input-select">
           <option>Select an Item...</option>
           <option>First Item</option>
           <option>Second Item</option>
           <option>Third Item</option>
           <option>Fourth Item Fourth Item Fourth Item</option>
         </select>
       </div>

       <code class="tiny">
         &lt;div class="select-container"><br />
           &nbsp;&nbsp;&lt;select id="base-select" class="input-select"><br />
             &nbsp;&nbsp;&nbsp;&nbsp;&lt;option>...&lt;/option><br />
             &nbsp;&nbsp;&nbsp;&nbsp;&lt;option>...&lt;/option><br />
           &nbsp;&nbsp;&lt;/select><br />
         &lt;/div>
       </code>

       <label for="multi-select" class="text-label">Multiple select field</label>
       <select id="multi-select" multiple size="5" class="multi-select">
         <option>Option 1</option>
         <option>Option 2</option>
         <option>Option 3</option>
         <option>Option 4</option>
         <option>Option 5</option>
       </select>
	  </fieldset>
  </div>

  <div class=" col w-50">
    <p>
      The following input types such do not yet have full
      browser support.  They will fall back to the default text input styling.
    </p>

    <fieldset class="form-row">
      <label for="num-spin">Number Spinbox</label>
       <input type="number" id="num-spin" min="0" max="20" step="1" value="5" />

       <label for="num-date">Date: mm/dd/yyyy</label>
       <input type="date" id="num-date" />

       <label for="num-time">Time: 12:00 PM</label>
       <input type="time" id="num-time" />

       <label for="color-picker">Hex Color</label>
       <input type="color" id="color-picker" />
    </fieldset>

  </div>
</div> <!-- end .row -->

<hr />

<h3 class="txt-left">Submission Buttons</h3>
<div class="row">
  <div class="col w-50">
    <fieldset class="form-row">
      <input type="button" class="btn btn-disable" value="Disabled" />
      <input type="reset" class="btn btn-neg" value="Reset" />
      <input type="submit" class="btn" value="Submit" />
	  </fieldset>
  </div>

  <div class="col w-50">
  	<p>
  	  Submission buttons are styled using the <a href="buttons" title="Brass Tacks Buttons">Brass Tacks Button Stylings</a>.
    </p>
  </div>
</div> <!-- end .row -->

</form>
</section>
{% endblock %}

{% block js %}
{{ "jquery-1.10.2.min.js" | asset_url | script_tag }}

<script type="text/javascript">
	$(document).ready(function(){
	  // jQuery to make file uploads look styled / display text after click/choosing of file
		// Thanks jdrumm
		$(".input-file").change(function() {
		  $(this).parent().find(".input-file-text").html(this.value)
		});
	});
</script>
{% endblock %}
