{% block title %}Form Elements{% endblock %}

{% block content %}
<section class="content">
  <h2>Basic Form Styling</h2>
  <p>
    Default form element styling.  This section is still under construction, as jQuery is going to be removed
    from the elements that currently require it.  Additional helper classes and restyling may take palce as well.
  </p>

  <hr />

<form class="form-container">
  <h3>Base Input Fields</h3>

  <div class="row">
    <div class="col w-50">

      <fieldset class="form-row">
        <label for="input-text">Input - Normal Text</label>
        <input type="text" class="input-area" id="input-text" placeholder="Write Text Here" />

        <label for="input-text-dl">Input - Text w/Data List</label>
        <input type="text" class="input-area" id="input-text-dl" list="fav-color" placeholder="Choose your fav. color" />
        <datalist id="fav-color">
          <option value="Red">Red</option>
          <option value="Orange">Orange</option>
          <option value="Yellow">Yellow</option>
        </datalist>

        <label for="input-email">Input - Email</label>
        <input type="email" class="input-area" id="input-email" placeholder="Enter Email" />

        <label for="input-password">Input - Password</label>
        <input type="password" class="input-area" id="input-password" placeholder="Enter Password" />

        <label for="input-url">Input - Web Address</label>
        <input id="input-url" class="input-area" type="url" placeholder="http://..." />

        <label for="input-tel">Input - Phone Number</label>
        <input type="tel" class="input-area" id="input-tel" placeholder="555.555.5555" />

        <label for="input-search">Input - Search (field only)</label>
        <input type="search" class="input-area" class="input-search" id="input-search" placeholder="Search for..." />

        <label for="search-area">Input &amp; Button combo area</label>
        <div class="search-area">
          <input type="search" id="search-area" class="input-area" placeholder="Search for..." />
          <input type="submit" class="btn-prime btn-search" value="Search" />
        </div>

        <label for="search-Brass Tacks">Input - Search (w/Icon and clear btn)</label>
        <div class="search-clear">
           <input type="text" class="input-area" name="search_input" autocomplete="off" autocorrect="off" placeholder="Search for..." />
           <button class="btn btn-clear" id="clearSearchField">x</button>
        </div>

        <label for="input-textarea">Text Area</label>
        <textarea class="input-area" id="input-textarea"></textarea>

      </fieldset>
  </div> <!-- end .w-50 -->

  <div class="col w-50">
    <fieldset class="form-row fieldset">
      <legend class="legend">Input Variants</legend>
      <label class="dis-label">Disabled Text Input</label>
      <input type="text" class="input-area" value="Disabled text input" disabled="disabled" />

      <label>Readonly Text Input</label>
      <input type="text" class="input-area" value="Readonly text input" readonly="readonly" />

      <label for="input-required">Required Input</label>
      <input type="text" class="input-area" id="input-required" placeholder="Placeholder Text" required="required" />
    </fieldset>

    <ul class="">
      <li>
        All base input fields and the textarea are pulling from a
        the Placeholder class "%input-area" for basic styling.  This will keep these
        input elements looking consistent across browsers, opposed to having forms take
        on the default styling of each different browser.
      </li>
      <li>
        The only classes in use in this section are for the search buttton <code>.btn-action</code> and
        a class for the diabled text input label <code>.dis-label</code>.
      </li>
      <li>
        To create individual inline form elements, apply the class of
        <code>.inline-element</code>.  If you want all elements to be inline, use the
        class of <code>.inline-all</code> on the parent of the elements.
      </li>
      <li>
        If you need to create more complex from layouts, you can use classes from
        the <a href="layout" title="Layout Classes">Layout Helpers</a> on &lt;div> and
        &lt;fieldset> elements in your forms.
      </li>
      <li>
        Use the class of <code>.form-row</code> on divs or fieldsets within forms to
        apply block level groups to elements, and to apply slight padding between groups.
      </li>
    </ul>

  </div>
</div> <!-- end .row -->

<hr />

<h3>Check Boxes &amp; Radio Buttons</h3>
<div class="row">

  <div class="col w-50">
    <h4 class="txt-h5">Check Boxes</h4>

    <fieldset class="form-row">
      <ul class="kill-list">
        <li>
          <input type="checkbox" id="check-1" />
          <label for="check-1" class="inline-element">
            Classless Check Box
          </label>
        </li>
        <li>
          <label for="check-2-5" class="cr-area">
            <input type="checkbox" value="None" id="check-2-5" class="invis" />
            <span class="cb cb-css"></span>
            Styled Checkbox - CSS (ie9+)
          </label>
        </li>
        <li>
          <label for="check-3" class="cr-slider">
            <input type="checkbox" id="check-3" class="invis input-slide" />
            <span class="crs"></span>
            <span class="crs-label">Text label</span>
          </label>
        </li>
        <li>
          <label for="check-4" class="cr-slider">
            <input type="checkbox" id="check-4" class="invis input-slide" />
            <span class="crs knob"></span>
            <span class="crs-label">Text label</span>
          </label>
        </li>
        <li>
          <label for="check-5" class="cr-slider">
            <input type="checkbox" id="check-5" class="invis input-slide" />
            <span class="crs knob labels"></span>
            <span class="crs-label">Text label</span>
          </label>
        </li>
      </ul>
     </fieldset>

      <strong>Code for Designed Checkbox</strong>

      <code class="txt-small">
      &lt;label for="check-3" class="cr-slider">
        &lt;input type="radio" id="check-3" class="invis input-slide" />
        &lt;span class="crs">&lt;/span>
        &lt;span class="crs-label">Text label&lt;/span>
      &lt;/label>
     </code>
  </div>

  <div class=" col w-50">
    <h4 class="txt-h5">Radio Buttons</h4>

    <fieldset class="radios form-row">
      <ul class="kill-list">
        <li>
          <label for="r1">
            <input type="radio" id="r1" name="rr" />
            Classless Radio Button
          </label>
        </li>

        <li>
          <label for="r3" class="cr-slider">
            <input type="radio" id="r3" name="rr" class="invis input-slide" />
            <span class="crs"></span>
            <span class="crs-label">Text label</span>
          </label>
        </li>
        <li>
          <label for="r4" class="cr-slider">
            <input type="radio" id="r4" name="rr" class="invis input-slide" />
            <span class="crs knob labels"></span>
            <span class="crs-label">Text label</span>
          </label>
        </li>
      </ul>
    </fieldset>

     <strong>Code for Designed Radio Buttons</strong>

     <strong>Code for Slider Radio Button</strong>
     <code class="txt-small">
      &lt;label for="r3" class="cr-slider">
        &lt;input type="radio" id="r3" name="rr" class="invis input-slide" />
        &lt;span class="crs circle">&lt;/span>
        &lt;span class="crs-label">Text label&lt;/span>
      &lt;/label>
     </code>
     <small>
      There is commented out code for on/off labels in the helper forms.scss,
      if you would like to use those.
    </small>
  </div>
</div> <!-- end .row -->

<hr />

<h3>Selections</h3>
<div class="row">
  <div class="col w-50">
    <fieldset class="form-row">
      <label for="base-select" class="text-label">Default Select</label>
       <div class="select-container">
          <select id="base-select" class="input-select">
            <option>Select an Item...</option>
            <option>First Item</option>
            <option>Second Item</option>
            <option>Third Item</option>
            <option>Fourth Item Fourth Item Fourth Item</option>
          </select>
       </div>

       <code class="txt-small">
         &lt;div class="select-container"><br />
           &nbsp;&nbsp;&lt;select id="base-select" class="input-select"><br />
             &nbsp;&nbsp;&nbsp;&nbsp;&lt;option>...&lt;/option><br />
             &nbsp;&nbsp;&nbsp;&nbsp;&lt;option>...&lt;/option><br />
           &nbsp;&nbsp;&lt;/select><br />
         &lt;/div>
       </code>

       <label for="multi-select" class="text-label">Multiple select field</label>
       <select id="multi-select" multiple size="5" class="multi-select">
         <option>Option 1</option>
         <option>Option 2</option>
         <option>Option 3</option>
         <option>Option 4</option>
         <option>Option 5</option>
       </select>
    </fieldset>
  </div>

  <div class=" col w-50">
    <p>
      The following input types such do not yet have full
      browser support.  They will fall back to the default text input styling.
    </p>

    <fieldset class="form-row">
      <label for="num-spin">Number Spinbox</label>
      <input type="number" class="input-area" id="num-spin" min="0" max="20" step="1" value="5" />

      <label for="num-date">Date: mm/dd/yyyy</label>
      <input type="date" class="input-area" id="num-date" />

      <label for="num-time">Time: 12:00 PM</label>
      <input type="time" class="input-area" id="num-time" />

      <label for="input-file2">File Input</label>
      <input type="file" class="input-area" id="input-file2" />

<!--  <label for="color-picker" class="d-block">Hex Color</label>
      <input type="color" class="input-color" id="color-picker" /> -->
    </fieldset>

  </div>
</div> <!-- end .row -->

<hr />

<h3 class="txt-left">Submission Buttons</h3>
<div class="row">
  <div class="col w-50">
    <fieldset class="form-row">
      <input type="button" class="btn-disable" value="Disabled" />
      <input type="reset" class="btn-cancel" value="Reset" />
      <input type="submit" class="btn-prime" value="Submit" />
    </fieldset>
  </div>

  <div class="col w-50">
    <p>
      Submission buttons are styled using the
      <a href="buttons" title="Brass Tacks Buttons">Brass Tacks Button Stylings</a>.
    </p>
  </div>
</div> <!-- end .row -->

</form>
</section>
{% endblock %}

{% block js %}<!--
{{ "jquery-1.10.2.min.js" | asset_url | script_tag }}

 <script type="text/javascript">
   $(document).ready(function(){
     // jQuery to make file uploads look styled / display text after click/choosing of file
     // Thanks jdrumm
     $(".input-file").change(function() {
       $(this).parent().find(".input-file-text").html(this.value)
     });
   });
 </script>-->
{% endblock %}
