{% block content %} 
<section class="content">
	<h1>Basic Form Styling</h1>
	<form class="form-Container">
	   <fieldset class="">
	       <div class="grouping">
	           <h2>Text Input Fields</h2>
	           
    	       <label for="input-Text" class="text-Label">Input - Normal Text</label>
    	       <input id="input-Text" class="input-Area" type="text" placeholder="Write Text Here" />
    	       
    	       <label for="input-Email" class="text-Label">Input - Email</label>
    	       <input id="input-Email" class="input-Area" type="email" placeholder="Enter Email" />
    	       
    	       <label for="input-Password" class="text-Label">Input - Password</label>
    	       <input id="input-Password" class="input-Area" type="password" placeholder="Enter Password" />
    	       
    	       <label for="input-Url" class="text-Label">Input - Web Address</label>
    	       <input id="input-Url" class="input-Area" type="url" placeholder="Enter Web Address" />
    	       
    	       <label for="input-Search" class="text-Label">Input - Search</label>
    	       <input id="input-Search" class="input-Area" type="search" placeholder="Search for..." />
    	       <input type="submit" class="btn btn-action" value="Search" />
    	       
    	       <label for="input-TextArea" class="text-Label">Text Area</label>
    	       <textarea id="input-TextArea" class="text-Area"></textarea>
    	       
	       </div>
	       
	       <hr />
	       
	       <div class="grouping checkers">
	           <h2>Check Boxes</h2>
	           
	           <div class="option-Container input-Check">
	               <label for="check-1" class="option-Label option-Check">
    	               <span class="btn-Check">
    	                   <span class="ifChecked">X</span>
    	               </span>
    	               Check Box 1
	               </label>
	               <input type="checkbox" class="input-Hide" id="check-1" />
	           </div>
	           
	           <div class="option-Container input-Check">
	               <label for="check-2" class="option-Label option-Check">
    	               <span class="btn-Check">
        	               <span class="ifChecked">X</span>
    	               </span>
    	               Check Box 2
	               </label>
	               
    	           <input type="checkbox" class="input-Hide" id="check-2" />
	           </div>
	           
	       </div>
	       
	       <hr />
	       
	       
	       
	       <div class="grouping radios">
	           <h2>Radio Buttons</h2>
	           
	           <div class="option-Container input-Radio">
	               <label for="radio-1" class="option-Label">Radio Option 1</label>
	               <span class="btn-Radio"></span>
    	           <input type="radio" class="input-Hide" id="radio-1" name="radio-Set" />
	           </div>
	           
	           <div class="option-Container input-Radio">
	               <label for="radio-2" class="option-Label">Radio Option 2</label>
	               <span class="btn-Radio"></span>
    	           <input type="radio" class="input-Hide" id="radio-2" name="radio-Set" />
	           </div>
	           
	           <div class="option-Container input-Radio">
	               <label for="radio-3" class="option-Label">Radio Option 3</label>
	               <span class="btn-Radio"></span>
    	           <input type="radio" class="input-Hide" id="radio-3" name="radio-Set" />
	           </div>
	           
	       </div>
	       
	       <hr />
	       
	       <div class="grouping">
	           <h2>Selections</h2>
	           
	           <label for="base-Select" class="text-Label">Default Select</label>
	           <div class="select-Container">
    	           <select id="base-Select" class="input-Select">
    	               <option>Select an Item...</option>
    	               <option>First Item</option>
    	               <option>Second Item</option>
    	               <option>Third Item</option>
    	               <option>Fourth Item Fourth Item Fourth Item</option>
    	           </select>
	           </div>
	           
	           <label for="num-Spin" class="text-Label">Number Spinbox</label>
	           <input id="num-Spin" type="number" min="0" max="20" step="1" value="5" class="input-Number" />
	           
	           <label for="num-Date" class="text-Label">Date: mm/dd/yyy</label>
	           <input id="num-Date" type="date" class="input-Number" />
	           
	           <label for="num-Time" class="text-Label">Time: 12:00 PM</label>
	           <input id="num-Time" type="time" class="input-Number" />
	           
	           <label for="color-Picker" class="text-Label">Hex Color</label>
	           <input id="color-Picker" type="color" class="input-Color" />
	       </div>
	       
	       <hr />
	       
	       <div class="grouping txt-Center">
	           <h2 class="txt-Left">Submission Buttons</h2>
	           
	           <input type="button" class="btn-Disable" value="Disabled" />
	           <input type="reset" class="btn-Neg" value="Reset" />
	           <input type="submit" class="btn" value="Submit" />
	       </div>
	       
	       </fieldset>
	</form>
</section>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(document).ready(function(){
		// jQuery scripts that make the custom check boxes turn on and off
		$('.option-Check').click(function() {
			$(this).parent().toggleClass('selected-Check');
		});
		
		// jQuery scripts that make the radios turn on and off
		$(".input-Radio").click(function() {
			$(".selected-Radio").removeClass('selected-Radio');
			$(this).addClass('selected-Radio');
		});
	});

</script>

{% endblock %}