{% block content %} 
<section class="content">
	<h2>Basic Form Styling</h2>
	
<form class="form-Container">
	
	<h3>Base Input Fields</h3>
	
	<div class="row">
	<div class="col col-60">
	   <fieldset class="grouping">        
    	   <label for="input-Text" class="text-Label">Input - Normal Text</label>
    	   <input type="text" id="input-Text" class="input-Area" placeholder="Write Text Here" />
    	       
    	   <label for="input-Text-dl" class="text-Label">Input - Text w/Data List</label>
    	   <input type="text" id="input-Text-dl" list="fav-color" class="input-Area" placeholder="Choose your fav. color" />
			   <datalist id="fav-color">
			   		<option value="Red"></option> 
			        <option value="Orange"></option> 
			        <option value="Yellow"></option>
			        <option value="Green"></option>
			        <option value="Blue"></option>
			        <option value="Purple"></option> 
			   </datalist>
    	       
    	       <label for="input-Email" class="text-Label">Input - Email</label>
    	       <input type="email" id="input-Email" class="input-Area" placeholder="Enter Email" />
    	       
    	       <label for="input-Password" class="text-Label">Input - Password</label>
    	       <input type="password" id="input-Password" class="input-Area" placeholder="Enter Password" />
    	       
    	       <label for="input-Url" class="text-Label">Input - Web Address</label>
    	       <input id="input-Url" class="input-Area" type="url" placeholder="Enter Web Address" />
    	       
    	       <label for="input-Tel" class="text-Label">Input - Phone Number</label>
    	       <input type="tel" id="input-Tel" class="input-Area" placeholder="555.555.5555" />
    	       
    	       <label for="input-Search" class="text-Label">Input - Search</label>
    	       <input type="search" id="input-Search" class="input-Area" placeholder="Search for..." />
    	       <input type="submit" class="btn btn-action" value="Search" />
    	       
    	       <label for="input-TextArea" class="text-Label">Text Area</label>
    	       <textarea id="input-TextArea" class="text-Area"></textarea>
       </fieldset>
	   
	   <fieldset class="grouping fs-Legend">
	   		<legend class="legend">Input Variants</legend>
	   		<label class="text-Label dis-Label">Disabled Text Input</label> 
    	  <input type="text" class="input-Area" value="Disabled text input" disabled="disabled" />
	   
	   		<label class="text-Label">Readonly Text Input</label>
	   		<input type="text" class="input-Area" value="Readonly text input" readonly="readonly" />
	   		
	   		<label for="input-Required" class="text-Label">Required Input</label>
	   		<input type="text" id="input-Required" class="input-Area" placeholder="Placeholder Text" required="required" />	   		
	   </fieldset>
	</div>
	
	<div class=" col col-40">
		<h4 class="eps">Base inputs</h4>
		<p>
      
		</p>
				
	</div>
</div> <!-- end .row -->

<hr />

<h3>Check Boxes</h3>
<div class="row">
	<div class="col col-60">	     
	   <fieldset class="grouping checkers">  
		   <div class="option-Container input-Check">
	               <label for="check-1" class="option-Label option-Check">
    	               <span class="btn-Check">
    	                   <span class="ifChecked">X</span>
    	               </span>
    	               Check Box 1
	               </label>
	               <input type="checkbox" class="input-Hide" id="check-1" />
	           </div>
	           
	           <div class="option-Container input-Check">
	               <label for="check-2" class="option-Label option-Check">
    	               <span class="btn-Check">
        	               <span class="ifChecked">X</span>
    	               </span>
    	               Check Box 2
	               </label>
	               <input type="checkbox" class="input-Hide" id="check-2" />
	           </div>
    </fieldset>  
</div>
	<div class=" col col-40">
		<h4 class="eps">Check box inputs</h4>
		<p>
					asdf
		</p>
				
	</div>
</div> <!-- end .row -->   
	       <hr />
	       
<h3>Radio Buttons</h3>
<div class="row">
	<div class="col col-60">	       
	  <fieldset class="radios grouping">
	    <div class="option-Container input-Radio">
         <label for="radio-1" class="option-Label">Radio Option 1</label>
         <span class="btn-Radio"></span>
         <input type="radio" class="input-Hide" id="radio-1" name="radio-Set" />
      </div>
	    
	    <div class="option-Container input-Radio">
	               <label for="radio-2" class="option-Label">Radio Option 2</label>
	               <span class="btn-Radio"></span>
    	           <input type="radio" class="input-Hide" id="radio-2" name="radio-Set" />
	           </div>
	    
	    <div class="option-Container input-Radio">
	               <label for="radio-3" class="option-Label">Radio Option 3</label>
	               <span class="btn-Radio"></span>
    	           <input type="radio" class="input-Hide" id="radio-3" name="radio-Set" />
	           </div>
	   </fieldset>
</div>
	<div class=" col col-40">
		<h4 class="eps">Radio Button inputs</h4>
		<p>
					asdf
		</p>
				
	</div>
</div> <!-- end .row -->	       

<hr />

<h3>Selections</h3>
<div class="row">
	<div class="col col-60">	       
	  <fieldset class="grouping">
	        <label for="base-Select" class="text-Label">Default Select</label>
	           <div class="select-Container">
    	           <select id="base-Select" class="input-Select">
    	               <option>Select an Item...</option>
    	               <option>First Item</option>
    	               <option>Second Item</option>
    	               <option>Third Item</option>
    	               <option>Fourth Item Fourth Item Fourth Item</option>
    	           </select>
	           </div>
	           
	         <label for="multi-Select" class="text-Label">Multiple select field</label>
		       <select id="multi-Select" multiple size="5" class="input-Area">
		           <option>Option 1</option>
		           <option>Option 2</option>
		           <option>Option 3</option>
		           <option>Option 4</option>
		           <option>Option 5</option>
		       </select>
	         
	         <label for="num-Spin" class="text-Label">Number Spinbox</label>
	         <input type="number" id="num-Spin" min="0" max="20" step="1" value="5" class="input-Number" />
	         
	         <label for="num-Date" class="text-Label">Date: mm/dd/yyy</label>
	         <input type="date" id="num-Date" class="input-Number" />
	         
	         <label type="time" for="num-Time" class="text-Label">Time: 12:00 PM</label>
	         <input id="num-Time" class="input-Number" />
	         
	         <label for="color-Picker" class="text-Label">Hex Color</label>
	         <input type="color" id="color-Picker" class="input-Color" />
	  </fieldset>
</div>

<div class=" col col-40">
  <h4 class="eps">Selection Inputs</h4>
  <p>
    asdf
  </p>
</div>

</div> <!-- end .row -->	       

<hr />

<h3>File Inputs</h3>
<div class="row">
	<div class="col col-60">	       
	       <fieldset class="grouping">
           <div class="file-Input-Area">
		       	<input type="file" id="input-File" class="input-File" />
	       		<label for="input-File" class="text-Label">File input</label>
		   		<span class="input-File-Text input-Area">
	       			<span class="placeholder">Select a file...</span>
	       		</span>
	       		<span class="btn">
	       			Select
	       		</span>
		   	</div>
</fieldset>

</div>
<div class=" col col-40">
  <h4 class="eps">File inputs</h4>
  <p>
    asdf
  </p>
</div>
</div> <!-- end .row -->	

<hr />

<h3 class="txt-Left">Submission Buttons</h3>
<div class="row">
  <div class="col col-60">       
    <fieldset class="grouping txt-Center">
      <input type="button" class="btn-Disable" value="Disabled" />
      <input type="reset" class="btn-Neg" value="Reset" />
      <input type="submit" class="btn" value="Submit" />
	  </fieldset>
  </div>
  
  <div class=" col col-40">
    <h4 class="eps">Button inputs</h4>
  	<p>
  	  asdf
    </p>
  </div>
</div> <!-- end .row -->

</form>
</section>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(document).ready(function(){
		// jQuery scripts that make the custom check boxes turn on and off
		$('.option-Check').click(function() {
			$(this).parent().toggleClass('selected-Check');
		});
		
		// jQuery scripts that make the radios turn on and off
		$(".input-Radio").click(function() {
			$(".selected-Radio").removeClass('selected-Radio');
			$(this).addClass('selected-Radio');
		});
		
		// jQuery to make file uploads look styled / display text after click/choosing of file
		// Thanks jdrumm
		$(".input-File").change(function() {
		   $(this).parent().find(".input-File-Text").html(this.value)
		});
	});
</script>
{% endblock %}