{% block content %} 
<section class="content">
  <h2>Head Tags</h2>
  <p>
    Go over all head tags (meta, link, etc.).  How they should be laid out, what's included with this framework, etc.
  </p>

  <hr />
  
  <div class="row">
  
    <div class="col col-60">
      Meta Tag Examples
    </div> <!-- end .col-60 -->
    
    <div class="col col-40">
      <p>
        Explain
      </p>    
    </div>
    
  </div> <!-- end .row -->

</section> <!-- end .content -->

{% endblock %}