{% block title %}Misc. Helper Classes{% endblock %}
{% block content %} 
<section class="content">

  <h2>Misc. Helper Classes</h2>
  <p>
  	Brass Tacks includes many default helper classes that are ready to use via the class names listed below.
  	You can also extend many of these classes into your own project specific classes for easier recognition.
  </p>
  
  <hr />

  <h2 class="highlight">Incomplete</h2>
  <p class="highlight">This section is still being written and only partial documentation is currently listed</p>

  <h3>Floats &amp; Clears</h3>
  <table class="table-stripe table-border">
    <thead class="table-Header">
      <tr>
        <th class="w-20">Class</th>
        <th class="w-80">Use Case</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>.float-left</td>
        <td>Float elements to the left of a container.</td>
      </tr>
      <tr>
        <td>.float-right</td>
        <td>Float elements to the right of a container.</td>
      </tr>
      <tr>
        <td>.float-none</td>
        <td>Remove float from an element.</td>
      </tr>
      
      <tr>
        <td>.clear</td>
        <td>Applies clear:both to an element.</td>
      </tr>
      <tr>
        <td>.clearfix</td>
        <td>Modern, IE8+, Clearfix hack (also known as .btcf)</td>
      </tr>
      <tr>
        <td>.overflow</td>
        <td>Applies an overflow:hidden to an element.</td>
      </tr>
    </tbody>
  </table>

  <h3>Show And Hide</h3>
    <table class="table-stripe table-border">
    <thead class="table-Header">
      <tr>
        <th class="w-20">Class</th>
        <th class="w-80">Use Case</th>
      </tr>
    </thead>
    <tbody>  
      <tr>
        <td>.d-block, .js-show</td>
        <td>Applies display:block to an element.  Use .js-show when adding/removing classes via javascript.</td>
      </tr>
      <tr>
        <td>.d-none, .js-hide</td>
        <td>Applies display:none to an element. Use .js-Hide when adding/removing classes via javascript.</td>
      </tr>
      <tr>
        <td>.mobile-show</td>
        <td>Applies display:block to an element in larger screens, but display:block to an element in smaller screens.</td>
      </tr>

      <tr>
        <td>.mute</td>
        <td>Sets element opacity to 75%.</td>
      </tr>
      <tr>
        <td>.mute-more</td>
        <td>Sets element opacity to 50%.</td>
      </tr>
      
      <tr>
        <td>.hidden</td>
        <td>Hides an element from screen readers and browsers.</td>
      </tr>
      <tr>
        <td>.invis</td>
        <td>Hide from browsers but not from screen readers. - Extends the %invis placeholder.</td>
      </tr>
       </tbody>
  </table>
  
  <h3>Images</h3>
    <table class="table-stripe table-border">
    <thead class="table-Header">
      <tr>
        <th class="w-20">Class</th>
        <th class="w-80">Use Case</th>
      </tr>
    </thead>
    <tbody>   
      <tr>
        <td>.pic</td>
        <td>Usable for avatar/profile pictures.  Add to an &lt;img /> element.</td>
      </tr>
      <tr>
        <td>.pic-rounded</td>
        <td>Extends .pic and makes the picture a circle.</td>
      </tr>
  </table>
  
  <h3>Modules</h3>
    <table class="table-stripe table-border">
    <thead class="table-header">
      <tr>
        <th class="w-20">Class</th>
        <th class="w-80">Use Case</th>
      </tr>
    </thead>
    <tbody> 
      <tr>
        <td>.emph-block</td>
        <td>Apply to a containing element to create an emphasis/call out box.</td>
      </tr>
      
    </tbody>
  </table>

</section> <!-- end .content -->
{% endblock %}
