{% block content %} 
<section class="content">





	<p>
	so yeah.  stuff'll go here
	</p>
	
	<p>
		For now just poke around at the navigation above, which will likely continue to change, to see the 
		very rough drafts of what I've been making here...
	</p>

	
</section> <!-- end .content -->
{% endblock %}