{% block content %} 
<section class="content">
  
  <p class="eps">
    Brass Tacks is still very much in a pre-release stage.
  </p>
  
  <p>
    There are many things here that you can likely use right now in starting a new project,
    <small>(so far Brass-Tacks has been implemented on a handful of websites in various 0.X releases)</small> but
    you will need to finish a bit of the base code yourself.
  </p>
  
  <p>
    You can view the sample/documentation site in it's current form at http://brass-tacks.scott-ohara.mixture.io/.
  </p>
  
  <p>
    If you have any suggestions or updates, please open an issue at https://github.com/bleachedgraphics/Brass-Tacks
  </p>
	
	
</section> <!-- end .content -->
{% endblock %}