{% block content %} 
<section class="content">
	<p>
		This page needs a better intro.  Seriously
	</p>
	
	<p>
		For now just poke around at the navigation above, which will likely continue to change, to see the 
		very rough drafts of what I've been making here...
	</p>

	<h2>Additional Examples</h2>
	<ul>
		<li>
			<a href="further/header-examples.html" title="Examples of different header styling">
				Header Examples
			</a>
		</li>
		<li>
			<a href="further/tool-Tips.html" title="Examples of CSS Tool Tips">
				Tool Tip
			</a>
		</li>
	</ul>
	
</section> <!-- end .content -->
{% endblock %}