{% block content %} 

<h1>Layout</h1>
<div class="row">
	<div class="col col-75">
		<div class="block">
			<p>
				3/4 width column
			</p>
		</div>
	</div>
	<div class="col col-25">
		<div class="block">
			<p>
				1/4 width column
			</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col col-33">
		<div class="block">
			<p>
				1/3 width column
			</p>
		</div>
	</div>
	<div class="col col-33">
		<div class="block">
			<p>
				1/3 width column
			</p>
		</div>
	</div>
	<div class="col col-33">
		<div class="block">
			<p>
				1/3 width column
			</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col col-25">
		<div class="block">
			<p>
				1/4 width column
			</p>
		</div>
	</div>
	<div class="col col-25">
		<div class="block">
			<p>
				1/4 width column
			</p>
		</div>
	</div>
	<div class="col col-25">
		<div class="block">
			<p>
				1/4 width column
			</p>
		</div>
	</div>
	<div class="col col-25">
		<div class="block">
			<p>
				1/4 width column
			</p>
		</div>
	</div>
</div>

<div class="row-noFloat">
	<div class="col col-25">
		<div class="block">
			<p>
				1/4 width column
			</p>
		</div>
	</div>
	<div class="col col-25">
		<div class="block">
			<p>
				1/4 width column
			</p>
		</div>
	</div>
</div>

<h1>Heading / Font Sizes</h1>

<h1 class="giga">Giga Heading</h1>
<h2 class="ultra">Ultra Heading</h2>
<h3 class="mega">Mega Heading</h3>
<h1>Alpha Heading / h1</h1>
<h2>Beta Heading / h2</h2>
<h3>Gamma Heading / h3</h3>
<h4>Delta Heading / h4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>

<p>This is a basic paragraph style.</p>
<p class="tiny">This is tiny text</p>
<p class="mini">This is mini text</p>

<h1>Text-level semantics</h1>

<p>
	Here is some <span class="highlight">Highlighted text</span> in a paragraph.
</p>

<p class="slant">
	Slanted Highlight &amp; text.
</p>

<p class="slant">
	<span class="text-Correct">Slanted Highlight with corrected text</span>.
</p>

<p class="multi">
        The <a href="#">a element</a> example<br />
        The <abbr title="Title text">abbr element</abbr> example<br />
        The <b>b element</b> example<br />
        The <cite>cite element</cite> example<br />
        The <code>code element</code> example<br />
        The <del>del element</del> example<br />
        The <dfn>dfn element</dfn> example<br />
        The <em>em element</em> example<br />
        The <i>i element</i> example<br />
        The img element <img src="http://placehold.it/16x16" alt=""> example<br />
        The <ins>ins element</ins> example<br />
        The <kbd>kbd element</kbd> example<br />
        The <mark>mark element</mark> example<br />
        The <q>q element <q>inside</q> a q element</q> example<br />
        The <s>s element</s> example<br />
        The <samp>samp element</samp> example<br />
        The <small>small element</small> example<br />
        The <span>span element</span> example<br />
        The <strike>strike element</strike> example<br />
        The <strong>strong element</strong> example<br />
        The <sub>sub element</sub> example<br />
        The <sup>sup element</sup> example<br />
        The <var>var element</var> example<br />
        The <u>u element</u> example
</p>


<ul>
	<li>First list item</li>
	<li>Second list item</li>
	<li>Third list item</li>
</ul>

<hr />

<h2>Button Styles</h2>

	<div class="grouping">
	           <h3>Colors / Actions</h3>
	               <ul class="kill-List">
        	           <li>
            	           <a href="#" title="yeah title" class="btn">Button</a>
            	           <a href="#" title="yeah title" class="btn-Neg">Negative Action</a>
            	           <a href="#" title="yeah title" class="btn-Disable">Disabled</a>
        	           </li>
        	           <li>
            	           <a href="#" title="yeah title" class="btn-Action">Positive Action 1</a>
            	           <a href="#" title="yeah title" class="btn-Action-2">Positive (or negative) Action 2</a>
            	           <a href="#" title="yeah title" class="btn-Action-3">Positive Action 3</a>
        	           </li>
	               </ul>
	           </div>
	           
	           <div class="grouping">
    	           <h3>Sizes</h3>
    	           <ul class="kill-List">
        	           <li>
            	           <a href="#" title="yeah title" class="btn-Small">Small</a>
            	           <a href="#" title="yeah title" class="btn">Regular</a>
            	           <a href="#" title="yeah title" class="btn-Large">Large</a>
            	           <a href="#" title="yeah title" class="btn-XLarge">Extra Large</a>
        	           </li>
        
        	           <li>
        	               <a href="#" title="yeah title" class="btn-Small btn-Wide">Small Wide</a>
        	           </li>
        	           <li>
        	               <a href="#" title="yeah title" class="btn-Wide">Normal Wide</a>
        	           </li>
        	           <li>
        	               <a href="#" title="yeah title" class="btn-Large btn-Wide">Large Wide</a>
        	           </li>
        	           <li>
        	               <a href="#" title="yeah title" class="btn-XLarge btn-Wide">X-Large Wide</a>
        	           </li>
    	           </ul>
	           </div>
	           
	           <div class="grouping">
    	           <h3>Additional Styling</h3>
    	           <ul class="kill-List">
        	           <li>
            	           <a href="#" title="yeah title" class="btn">Regular</a> - 3px rounded edges
        	           </li>
        	           <li>     
            	           <a href="#" title="yeah title" class="btn-Square">Squared Edges</a> - 0px rounded edges
        	           </li>
        	           <li>
            	           <a href="#" title="yeah title" class="btn-Round">Rounded Edges</a> - 12px rounded edges
        	           </li>
    	           </ul>
	           </div>
	
{% endblock %}