{% block title %}jQuery Components{% endblock %}
{% block content %} 
<section class="content">
	<h1>jQuery Components</h1>

	<p>
		A listing of the different jQuery snippets that are also available as part of this framework.
	</p>
	
	<p>
		It may not make sense to actually show many of the snippets in action here, as they should likely
		fall into some of the other sections of the framework guide, but it may make sense to talk a bit
		about them in more detail here / code examples and links out to the different sections
		that the code snippets can be found in action on.
	</p>
	
<h3>Equal Height Columns</h3>
<div class="row">
	<div class="col col-60">
		<div class="row">
			<div class="col col-50">
				<div class="js-equal-Height" style="border:1px solid;">
					<p style="padding:5px">
						sections of the framework guide, but it may make sense to talk a bit
					about them in more detail here / code examples and links out to the different sections
					that the code snippets can be found in action on.
					</p>
				</div>
			</div>
			<div class="col col-50">
				<div class="js-equal-Height" style="border:1px solid;">
					<p class="ex-Height" style="padding:5px">
						wut
					</p>
				</div>
			</div>
		</div>
</div> <!-- end .col-60 -->
	
	<div class="col col-40">
		<p>
			Use the class of .js-equal-Height to give elements a height equal to the largest element with the
			mentioned class.
		</p>
	</div>
</div> <!-- end .row -->	

<h3>Text Character Counter</h3>
<textarea id="text" class="text-Area"></textarea>
<div class="txt-Right">
<span id="chars">100</span>/<strong>100</strong>
</div>
	
</section>      	

{% endblock %}
{% block js %}
	{{ "jquery-1.10.2.min.js" | asset_url | script_tag }}
  {{ "app.js" | asset_url | script_tag }}
{% endblock %}
