{% block content %} 

<h1>jQuery Components</h1>

<p>
	A listing of the different jQuery snippets that are also available as part of this framework.
</p>

<p>
	It may not make sense to actually show many of the snippets in action here, as they should likely
	fall into some of the other sections of the framework guide, but it may make sense to talk a bit
	about them in more detail here / code examples and links out to the different sections
	that the code snippets can be found in action on.
</p>
         	
{% endblock %}