{% block title %}Layout{% endblock %}
{% block content %} 
<section class="content">
<h1>Layout <small class="mini">Responsive Columns &amp; Rows</small></h1>

<h3>General Use</h3>

<div class="row">
  <div class="col w-90">
    <div class="block">
      <p>
        90%
      </p>
    </div>
  </div>
  <div class="col w-10">
    <div class="block">
      <p>
        10%
      </p>
    </div>
  </div>
</div>


<div class="row">
  <div class="col w-80">
    <div class="block">
      <p>
        80%
      </p>
    </div>
  </div>
  <div class="col w-20">
    <div class="block">
      <p>
        20%
      </p>
    </div>
  </div>
</div>


<div class="row">
  <div class="col w-75">
    <div class="block">
      <p>
        75%
      </p>
    </div>
  </div>
  <div class="col w-25">
    <div class="block">
      <p>
        25%
      </p>
    </div>
  </div>
</div>


<div class="row">
  <div class="col w-70">
    <div class="block">
      <p>
        70%
      </p>
    </div>
  </div>
  <div class="col w-30">
    <div class="block">
      <p>
        30%
      </p>
    </div>
  </div>
</div>


<div class="row">
  <div class="col w-66">
    <div class="block">
      <p>
        66%
      </p>
    </div>
  </div>
  <div class="col w-33">
    <div class="block">
      <p>
        33%
      </p>
    </div>
  </div>
</div>


<div class="row">
  <div class="col w-60">
    <div class="block">
      <p>
        60%
      </p>
    </div>
  </div>
  <div class="col w-40">
    <div class="block">
      <p>
        40%
      </p>
    </div>
  </div>
</div>


<div class="row">
  <div class="col w-50">
    <div class="block">
      <p>
        50%
      </p>
    </div>
  </div>
  <div class="col w-50">
    <div class="block">
      <p>
        50%
      </p>
    </div>
  </div>
</div>


<div class="row">
  <div class="col w-33">
    <div class="block">
      <p>
        33%
      </p>
    </div>
  </div>
  <div class="col w-33">
    <div class="block">
      <p>
        33%
      </p>
    </div>
  </div>
  <div class="col w-33">
    <div class="block">
      <p>
        33%
      </p>
    </div>
  </div>
</div>


<div class="row">
  <div class="col w-30">
    <div class="block">
      <p>
        30%
      </p>
    </div>
  </div>
  <div class="col w-30">
    <div class="block">
      <p>
        30%
      </p>
    </div>
  </div>
  <div class="col w-30">
    <div class="block">
      <p>
        30%
      </p>
    </div>
  </div>
  <div class="col w-10">
    <div class="block">
      <p>
        10%
      </p>
    </div>
  </div>
</div>


<div class="row">
  <div class="col w-25">
    <div class="block">
      <p>
        25%
      </p>
    </div>
  </div>
  <div class="col w-25">
    <div class="block">
      <p>
        25%
      </p>
    </div>
  </div>
  <div class="col w-25">
    <div class="block">
      <p>
        25%
      </p>
    </div>
  </div>
  <div class="col w-25">
    <div class="block">
      <p>
        25%
      </p>
    </div>
  </div>
</div>


<h3>Percentage Combos &amp; Nesting</h3>

<div class="row">
  <div class="col w-50">
    <div class="block">
      <p>
        50%
      </p>
    </div>
  </div>
  <div class="col w-25">
    <div class="block">
      <p>
        25%
      </p>
    </div>
  </div>
  <div class="col w-25">
    <div class="block">
      <p>
        25%
      </p>
    </div>
  </div>
</div>


<div class="row">
  <div class="col w-40">
    <div class="block">
      <p>
        40%
      </p>
    </div>
  </div>
  <div class="col w-40">
    <div class="block">
      <p>
        40%
      </p>
    </div>
  </div>
  <div class="col w-20">
    <div class="block">
      <p>
        20%
      </p>
    </div>
  </div>
</div>


<div class="row">
  <div class="col w-70">
    <div class="row">
      <div class="col w-50">
        <div class="block">
          <dfn title="70% parent, 50% child">
            70% > 50%
          </dfn title="70% parent, 50% child">
        </div>
      </div>
      <div class="col w-50">
        <div class="block">
          <dfn title="70% parent, 50% child">
            70% > 50%
          </dfn title="70% parent, 50% child">
        </div>
      </div>
    </div>
  </div>
  <div class="col w-30">
    <div class="block">
      <p>
        30% width
      </p>
    </div>
  </div>
</div>


<div class="row">
  <div class="col w-50">
    <div class="block">
      <p>
        50% width
      </p>
    </div>
  </div>
  <div class="col w-50">
    <div class="row">
      <div class="col w-33">
        <div class="block">
          <dfn title="50% parent, 33% child">
            50% > 33%
          </dfn title="50% parent, 33% child">
        </div>
      </div>
      <div class="col w-33">
        <div class="block">
          <dfn title="50% parent, 33% child">
            50% > 33%
          </dfn title="50% parent, 33% child">
        </div>
      </div>
      <div class="col w-33">
        <div class="block">
          <dfn title="50% parent, 33% child">
            50% > 33%
          </dfn title="50% parent, 33% child">
        </div>
      </div>
    </div>
  </div>
</div>


<h3>Responsive + Fixed Width Columns</h3>
<div class="row rfr">
  <div class="f-col">
    <div class="block" style="background:#ff0">
      <p>fixed column</p>
    </div>
  </div>
  <div class="col">
    <div class="block">
      <p>
        Full width column
      </p>
    </div>
  </div>
</div>


<div class="row rfl">
  <div class="f-col">
    <div class="block" style="background:#ff0">
      <p>Fixed column</p>
    </div>
  </div>
  <div class="col w-50">
    <div class="block">
      <p>
        Full width
      </p>
    </div>
  </div>
  <div class="col w-50">
    <div class="block">
      <p>
        Full width
      </p>
    </div>
  </div>
</div>



<h3>Horizontal Rule Stylings</h3>

<mark>I don't think these really belong here...but until I can figure out where they go...</mark>

<hr />

<hr class="hr-dual" />

<hr class="hr-dot" />

<hr class="hr-dash" />

<hr class="hr-dual-spaced" />

</section> <!-- end .content -->
{% endblock %}