{% block content %} 
<section class="content">
<h1>List Base Styling</h1>
<p>
	Many reset CSS docs completely obliterate the styling of lists and leave it up to the developer to
	build them back from scratch.  This framework leaves them mostly as they were intended, with some slight
	modifications to margins.
</p>

<p>
	Presented here are the base styling for lists, as well as a few examples of CSS classes that are list-specific.
</p>

<hr />

<h2>Ordered List</h2>
        
        <ol>
            <li>list item 1</li>
            <li>list item 1
                <ol>
                    <li>list item 2</li>
                    <li>list item 2
                        <ol>
                            <li>list item 3</li>
                            <li>list item 3</li>
                        </ol>
                    </li>
                    <li>list item 2</li>
                    <li>list item 2</li>
                </ol>
            </li>
            <li>list item 1</li>
            <li>list item 1</li>
        </ol>

<hr />

<h2>Unordered List</h2>
        
        <ul>
            <li>list item 1</li>
            <li>list item 1
                <ul>
                    <li>list item 2</li>
                    <li>list item 2
                        <ul>
                            <li>list item 3</li>
                            <li>list item 3</li>
                        </ul>
                    </li>
                    <li>list item 2</li>
                    <li>list item 2</li>
                </ul>
            </li>
            <li>list item 1</li>
            <li>list item 1</li>
        </ul>

<hr />
       
<h2>Description List</h2>
        
        <dl>
            <dt>Description name</dt>
            <dd>Description value</dd>
            <dt>Description name</dt>
            <dd>Description value</dd>
            <dd>Description value</dd>
            <dt>Description name</dt>
            <dt>Description name</dt>
            <dd>Description value</dd>
        </dl>

<hr />

<p>
	Add in list-specific CSS examples
</p>	
</section>
{% endblock %}