{% block content %} 
<section class="content">

<h2>List Base Styling</h2>
<p>
	Many reset CSS docs completely obliterate the styling of lists and leave it up to the developer to
	build them back from scratch.  This framework leaves them mostly as they were intended, with some slight
	modifications to margins.
</p>

<p>
	Presented here are the base styling for lists, as well as a few examples of CSS classes that are list-specific.
</p>

<hr />

<div class="row">
	<div class="col col-60">
		<h3>Ordered List</h3>
		<ol>
		    <li>list item 1</li>
		    <li>list item 1
		        <ol>
		            <li>list item 2</li>
		            <li>list item 2
		                <ol>
		                    <li>list item 3</li>
		                    <li>list item 3</li>
		                </ol>
		            </li>
		            <li>list item 2</li>
		            <li>list item 2</li>
		        </ol>
		    </li>
		    <li>list item 1</li>
		    <li>list item 1</li>
		</ol>
	</div> <!-- end .col-60 -->
	
	<div class="col col-40">

			explain

	</div>
</div> <!-- end .row -->

<hr />

<div class="row">
	<div class="col col-60">
		<h3>Unordered List</h3>
        
        <ul>
            <li>list item 1</li>
            <li>list item 1
                <ul>
                    <li>list item 2</li>
                    <li>list item 2
                        <ul>
                            <li>list item 3</li>
                            <li>list item 3</li>
                        </ul>
                    </li>
                    <li>list item 2</li>
                    <li>list item 2</li>
                </ul>
            </li>
            <li>list item 1</li>
            <li>list item 1</li>
        </ul>
	</div> <!-- end .col-60 -->
	
	<div class="col col-40">

			explain

	</div>
</div> <!-- end .row -->

<hr />

<div class="row">
	<div class="col col-60">   
		<h3>Description List</h3>
        
        <dl>
            <dt>Description name</dt>
            <dd>Description value</dd>
            <dt>Description name</dt>
            <dd>Description value</dd>
            <dd>Description value</dd>
            <dt>Description name</dt>
            <dt>Description name</dt>
            <dd>Description value</dd>
        </dl>
    </div> <!-- end .col-60 -->
	
	<div class="col col-40">

			explain

	</div>
</div> <!-- end .row -->

<hr />

<h3>Class Extended Lists</h3>
<div class="row">
	<div class="col col-60">
	
	
	</div> <!-- end .col-60 -->
	
	<div class="col col-40">

			explain

	</div>
</div> <!-- end .row -->
	
		
</section>
{% endblock %}