{% block title %}Media Elements{% endblock %}
{% block content %} 
<section class="content">
	<h2>Sample Media Content</h2>
	<p>
		Various examples of media/media-text content groupings.
	</p>
<hr />
<h3>Images</h3>
<div class="row">
	<div class="col w-60">
		<h4>Default Image</h4>
		<img src="assets/img/little-V.jpg" alt="Dog" />
		
		<h4>Linked Image with and without Classes</h4>
		<a href="#!">
			<img src="assets/img/little-V.jpg" alt="image with no class" />
		</a>
		<br />
		<a href="#!" class="pic">
			<img src="assets/img/little-V.jpg" alt="not rounded" />
		</a>
		
		<a href="#!" class="pic-rounded">
			<img src="assets/img/little-V.jpg" alt="rounded pic" />
		</a>
		
		<h4>Missing Image</h4>
		<img src="#!" alt="This is an example of a missing image">
		
		
		<h4>Svg</h4>
		<svg width="200px" height="200px">
		  <circle cx="100" cy="100" r="100" fill="#ff0000" />
		</svg>
	</div> <!-- end .w-60 -->
	
	<div class="col w-40">

			Examples of image elements.

	</div>
</div> <!-- end .row -->
<hr />
<h3>Images inside of Figures</h3>
<div class="row">
	<div class="col w-60">
<figure>
    <img src="assets/img/little-V.jpg" alt="" />
    <figcaption>Figcaption content</figcaption>
</figure>

<figure>
  <img src="assets/img/little-V.jpg" alt="" />
  <figcaption>
  	<h4>Figure Title</h4>
  	Figcaption content
  </figcaption>
</figure>

</div> <!-- end .w-60 -->
<div class="col w-40">

			explain

	</div>
</div> <!-- end .row -->

<hr />
<h3>Audio &amp; Video</h3>
<div class="row">
	<div class="col w-60">
		<h4>Video</h4>
		<video controls="controls" preload="auto" poster="http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg" width="640" height="360">
		  <source id="mp4" src="http://media.w3.org/2010/05/bunny/trailer.mp4" type="video/mp4">
		  <source id="ogv" src="http://media.w3.org/2010/05/bunny/trailer.ogv" type="video/ogg">
		  <p>Your user agent does not support the HTML5 Video element.</p>
		</video>
		
		<h4>Missing Video</h4>
		<video controls="controls"></video>
		
		<h4>Audio</h4>
		<audio controls="controls">
		 <source src="http://media.w3.org/2010/07/bunny/04-Death_Becomes_Fur.mp4" type='audio/mp4'>
		 <source src="http://media.w3.org/2010/07/bunny/04-Death_Becomes_Fur.oga" type='audio/ogg; codecs=vorbis'>
		 <p>Your user agent does not support the HTML5 Audio element.</p>
		</audio>
		
		<h4>Missing Audio</h4>
		<audio controls="controls"></audio>
	</div> <!-- end .w-60 -->
	
	<div class="col w-40">
		<p>
			Default examples of Audio and Video elements.
		</p>
	</div>
</div> <!-- end .row -->

</section>   	
{% endblock %}
