{% block title %}Messaging &amp; Modals{% endblock %}
{% block content %} 
<section class="content">
	<h1>Messaging &amp; Modals</h1>
	<p>
		Examples of messaging units and modal boxes included as helper files.
	</p>
	
	<hr />
	
<h3>Messaging</h3>
<div class="row">
	<div class="col col-60">

		<div class="message-Warning">
			<strong>Warning Message</strong>
			<p>
				Include your warning message here.
			</p>
			<a href="#!" class="close-Message">X</a>
		</div>

		<div class="message-Error">
			<strong>Error Message</strong>
			<p>
				Include your error message here.
			</p>
			<a href="#!" class="close-Message">X</a>
		</div>

		<div class="message-Success">
			<strong>Success Message</strong>
			<p>
				Include your success message here.
			</p>
			<a href="#!" class="close-Message">X</a>
		</div>

		<div class="message-Info">
			<strong>Info Message</strong>
			<p>
				Include your info message here.
			</p>
			<a href="#!" class="close-Message">X</a>
		</div>
		
	</div> <!-- end .col-60 -->
	
	<div class="col col-40">
		<p>
			Four basic types of messaging units based for warnings, errors, success and info/tool-tips.
		</p>
		<p>
			Include these into a div with a class of .message-Holder to pull the messages out of the
			DOM and position fix them close to the top of the window.
		</p>
	</div>
</div> <!-- end .row -->	

<hr />

<h3>Modal Boxes</h3>
<div class="row">
	<div class="col col-60">
		
		Coming Soon...
		
	</div> <!-- end .col-60 -->
	
	<div class="col col-40">
		<p>
			
		</p>
	</div>
</div> <!-- end .row -->	

<hr />

<h3>Tool Tips</h3>
<div class="row">
	<div class="col col-60">
		<h4>Normal Link Example - Below</h4>
		<a href="#" title="Title" data-tooltip="Tool Tip Here">
			Content Goes Here
		</a>
		
		<h4>Normal Link Example - Above</h4>
		<a href="#" title="Title" class="tip-Above" data-tooltip="Tool Tip Here">
			Content Goes Here
		</a>
			
		<h4>Bottom Display</h4>
		<span class="tip-Bottom" data-tooltip="Tool Tip Here">
			<img src="assets/img/little-V.jpg" alt="meow meow" style="width:200px" />
		</span>
		
		<h4>Top Display</h4>
		<a href="#" title="Violet making her superman sleeping pose - 2 days old" class="tip-Top" data-tooltip="Tool Tip Here">
			<img src="assets/img/little-V.jpg" alt="meow meow" style="width:150px" />
		</a>
		
		<h4>Left Display</h4>
		<a href="#" title="Violet making her superman sleeping pose - 2 days old" class="tip-Left" data-tooltip="Tool Tip Here">
			<img src="assets/img/little-V.jpg" alt="meow meow" style="width:250px" />
		</a>
		
		<h4>Right Display</h4>
		<a href="#" title="Violet making her superman sleeping pose - 2 days old" class="tip-Right" data-tooltip="Tool Tip Here">
			<img src="assets/img/little-V.jpg" alt="meow meow" style="width:300px" />
		</a>
</div> <!-- end .col-60 -->
	
	<div class="col col-40">
		<p>
			Hover over the images to activate CSS3 tool tips
		</p>
	</div>
</div> <!-- end .row -->

</section>      	

{% endblock %}
