{% block title %}Meta Tags{% endblock %}
{% block content %} 
<section class="content">

<h2>Meta &amp; Link Tags</h2>
<p>
  Listing of meta and link tags.
</p>

<h3>Meta Tags <small>(used by search engines)</small></h3>

<code>
&lt;meta name="author" content="" />
</code>
<p>
  Name of the author of website.
</p>

<code>
  &lt;meta name="category" content="" />
</code>
<p>
  What category website falls into.
</p>

<code>
  &lt;meta name="Classification" content="" />
</code>
<p>
  Classification of website (business, personal, etc).
</p>

<code>
  &lt;meta name="copyright" content="" />
</code>
<p>
  Include the name of person/business and Copyright date.
</p>

<code>
  &lt;meta name="coverage" content="" />
</code>
<p>
  Coverage area for a website, (worldwide, country, state, etc).
</p>

<code>
  &lt;meta name="description" content="" />
</code>
<p>
  150 characters (20-25 words) max description of website.
</p>

<code>
  &lt;meta name="designer" content="" />
</code>
<p>
  Name &amp; of designer of website.
</p>

<code>
  &lt;meta name="directory" content="submission" />
</code>
<p>
  sadf
</p>

<code>
  &lt;meta name="distribution" content="Global" />
</code>
<p>
  sadf
</p>

<code>
  &lt;meta name="identifier-URL" content="http://www.websiteaddress.com" />
</code>
<p>
  sadf
</p>

<code>
  &lt;meta name="keywords" content="" />
</code>
<p>
  Search engines have come out and said they don't really use these anymore.
  If implemented on a page, it should simply be a short list of words to
  describe the page/site, as anything more than that isn't necessary and if
  anything gives competitors insight into the keywords you may be buying
  against in search engines.
</p>

<code>
  &lt;meta name="owner" content="" />
</code>
<p>
  Owner of website.
</p>

<code>
  &lt;meta name="rating" content="General" />
</code>
<p>
  sadf
</p>

<code>
  &lt;meta name="revised" content="Sunday, July 18th, 2010, 5:15 pm" />
</code>
<p>
  sadf
</p>

<code>
  &lt;meta name="revisit-after" content="7 days" />
</code>
<p>
  sadf
</p>

<code>
  &lt;meta name="robots" content="index,follow" />
</code>
<p>
  sadf
</p>

<code>
  &lt;meta name="subject" content="your website's subject" />
</code>
<p>
  sadf
</p>

<code>
  &lt;meta name="summary" content="Summary of website" />
</code>
<p>
  sadf
</p>

<code>
  &lt;meta name="topic" content="Topic of website" />
</code>
<p>
  sadf
</p>

<code>
  &lt;meta name="url" content="http://www.websiteaddrress.com" />
</code>
<p>
  sadf
</p>

<code>
  &lt;meta http-equiv="Expires" content="0" />
</code>
<p>
  sadf
</p>

<code>
  &lt;meta http-equiv="Pragma" content="no-cache" />
</code>
<p>
  sadf
</p>

<code>
  &lt;meta http-equiv="Cache-Control" content="no-cache" />
</code>
<p>
  sadf
</p>





<hr />

<h3>Link Tags</h3>
<code>
  &lt;link rel="fluid-icon" type="image/png" href="/fluid-icon.png" />
</code>
<p>
  The fluid icon displays on the Mac in the dock for web applications as if they were native Mac apps.
</p>

<code>
  &lt;link rel="me" type="text/html" href="http://www.social-profile-page.com"/> 
</code>
<p>
  Rel="me" should link to a social profile page (twitter, google plus, etc.) that is publically accessible
  and also has a link back to the page the link tag appears on.
</p>

</section> <!-- end .content -->
{% endblock %}
