{% block title %}Default Mixins{% endblock %}
{% block content %} 
<section class="content">

  <h2>Default Mixins</h2>
  <p>
    Listing of all the default Mixins included in Brass-Tacks.
  </p>
    <div class="table-Mobile">
			<table class="table-Stripe table-Border">
        <thead class="table-Header">
          <tr>
            <th>Mixin</th>
            <th>Values</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody class="tiny">
          <tr>
            <th class="col-20">vendor</th>
            <td class="col-40">$property, $value ...</td>
            <td class="col-40">Adds all vendor prefixes to a CSS property.</td>
          </tr>

          <tr>
            <th>base-vendor</th>
            <td>$property, $value...</td>
            <td>Adds webkit and moz prefixes to a CSS property.</td>
          </tr>

          <tr>
            <th>border-radius</th>
            <td>$br-value ...</td>
            <td>Add single or multiple border-radius value(s) to elements.</td>
          </tr>

          <tr>
            <th>box-shadow</th>
            <td>$bs-value ...</td>
            <td>Add box-shadow(s) to elements, use default Brass Tacks box-shadow variables or write out new rules.</td>
          </tr>

          <tr>
            <th>box-sizing</th>
            <td>$box-value</td>
            <td>Change the box sizing value of an element(s).</td>
          </tr>

          <tr>
            <th>flexbox</th>
            <td>&mdash;</td>
            <td>Includes all the various display vendor properties needed for flexbox browser support.</td>
          </tr>

          <tr>
            <th>flex</th>
            <td>$values</td>
            <td>--- Under development ---</td>
          </tr>

          <tr>
            <th>order</th>
            <td>$val</td>
            <td>--- Under development ---</td>
          </tr>

          <tr>
            <th>linear-gradient</th>
            <td>$grad-Line, $grad-Colors ...</td>
            <td>Linear Gradients require a direction, set by the $grad-Line and then list out the colors to blend.</td>
          </tr>

          <tr>
            <th>image-2x</th>
            <td>$image, $width, $height</td>
            <td>Include image url, background-size height and width should be scaled by 2.</td>
          </tr>

          <tr>
            <th>position</th>
            <td>$t-or-b, $tb-Unit, $l-or-r, $lr-Unit, $position</td>
            <td>
              Fix or absolute position an element on the page.  $t-or-b and $l-or-r must be set to top/bottom left/right respectively.  Add in the units of measurement for each axis and the type of positioning.
            </td>
          </tr>

          <tr>
            <th>row-fixed-Left</th>
            <td>$col-Size</td>
            <td>Create a fixed width left aligned column. Use within .row container.</td>
          </tr>

          <tr>
            <th>row-fixed-Right</th>
            <td>$col-Size</td>
            <td>Create a fixed width right aligned column. Use within .row container.</td>
          </tr>

          <tr>
            <th>select-Text</th>
            <td>$select-BG, $txt-Color, $txt-Shadow</td>
            <td>Customize the background, color and shadow when highlighting text.</td>
          </tr>

          <tr>
            <th>triangle</th>
            <td>$tri-size, $tri-color, $tri-direction</td>
            <td>CSS only triangles. Location set by $tri-direction, values accepted: top, bottom, left, right.</td>
          </tr>

          <tr>
            <th>truncate</th>
            <td>$truncation-boundary</td>
            <td>Truncate text and adds ellipsis.  Max-width of text set by variable.  White-space does not wrap.</td>
          </tr>
        </tbody>
      </table>
    </div>
</section> <!-- end .content -->
{% endblock %}
