{% block title %}Navigation Elements{% endblock %}
{% block content %} 
<section class="content">

  <h2>Navigation Elements</h2>
  <p>
    All main navigations should be wrapped in the HTML5 &#60;nav&#62;.
    The &#60;nav> element has basic CSS rules applied to it to normalize
    the styling of its children (&#60;ul>, &#60;ol>, &#60;a> elements).
  </p>
  <p>
    For additional accessibility benefits (Accessible Rich Internet 
    Applications (ARIA)) add the role="navigation" attribute to 
    main &#60;nav&#62; elements.
  </p>

  <hr />

  <h3>Horizontal Navigation</h3>
    <div class="row">
      <div class="col w-60">
        <nav class="nav" role="navigation">
          <ol class="h-nav">
            <li>
              <a href="#!" class="" title="#!">Link 1</a> 
            </li>
            <li>
              <a href="#!" class="selected" title="#!">Link 2 (selected)</a> 
            </li>
            <li class="drop-container">
              <a href="#!" class="" title="#!">Link 3 DD</a> 
              <ol class="drop-menu">
                <li>
                  <a href="#!" class="" title="#!">DM Link 1</a>
                </li>
                <li>
                  <a href="#!" class="" title="#!">DM Link 2 a long link name</a>
                </li>
              </ol>
            </li>
            <li>
              <a href="#!" class="" title="#!">Link 4</a> 
            </li>
           </ol>
        </nav>
      </div>
      <div class="col w-40">
        <h4 class="txt-h5">.h-nav</h4>
        <p>
          The horizontal navigation has float:lefts applied to its interior &#60;li>s.  
        </p>
      </div>
    </div> <!-- end .row -->

    <hr />

    <h3>Horizontal Navigation (centered)</h3>
    <div class="row">
      <div class="col w-60">
        <nav class="nav" role="navigation">
          <ol class="c-nav">
            <li>
              <a href="#!" class="" title="#!">Link 1</a> 
            </li><!--
            --><li>
              <a href="#!" class="selected" title="#!">Link 2 (selected)</a> 
            </li><!--
            --><li class="drop-container">
              <a href="#!" class="" title="#!">Link 3 DD</a> 
              <ol class="drop-menu">
                <li>
                  <a href="#!" class="" title="#!">DM Link 1</a>
                </li>
                <li>
                  <a href="#!" class="" title="#!">DM Link 2</a>
                </li>
              </ol>
            </li><!--
            --><li>
              <a href="#!" class="" title="#!">Link 4</a> 
            </li>
           </ol>
        </nav>
      </div>
      <div class="col w-40">
        <h4 class="txt-h5">.c-nav</h4>
        <p>
          A centered nav created by making the list elements into display inline-block.
        </p>
        <p>
          To delete the white space between elements that code line breaks between
          inline-block creates, we are using &lt;-- and --&gt; before and after 
          &lt;li>s. This negates the white space, while keeping our code readable.
        </p>
      </div>
    </div> <!-- end .row -->

    <hr />

    <h3>Vertical Navigation</h3>
    <div class="row">
      <div class="col w-60">
        <nav class="nav" role="navigation">
          <ol class="v-nav w-40">
            <li>
              <a href="#!" class="" title="#!">Link 1</a> 
            </li>
            <li>
              <a href="#!" class="selected" title="#!">Link 2 (selected)</a> 
            </li>
            <li class="drop-container">
              <a href="#!" class="" title="#!">Link 3 (dd)</a> 
              <ol class="drop-menu">
                <li>
                  <a href="#!" class="" title="#!">DM Link 1</a>
                </li>
                <li>
                  <a href="#!" class="" title="#!">DM Link 2</a>
                </li>
              </ol>
            </li>
              <li>
                <a href="#!" class="" title="#!">Link 4</a> 
              </li>
           </ol>
        </nav>
      </div>
      <div class="col w-40">
        <h4 class="txt-h5">.v-nav</h4>
        <p>
          Offers very little in base styling.  Extend it as you require.
        </p>
      </div>
    </div> <!-- end .row -->

    <hr />

<h3>Breadcrumb Navigation</h3>
<div class="row">
  <div class="col w-60">
    <nav class="nav">
      <ol class="bread">
        <li>
          <a href="#!" title="back to home">
            Home  
          </a>
        </li>
        <li>
          <a href="#!" title="back to whatever this page was">
            Page 2  
          </a>
        </li>
        <li>
          <a href="#!" title="back to library">
            Library
          </a>
        </li>
        <li class="active-crumb">
          Data
        </li>
      </ol>
    </nav>
  </div>

  <div class="col w-40"> 
    <h4 class="txt-h5">.bread</h4>
    <p>
      Breadcrumbs should be written as ordered lists inside of a nav element.
    </p>
    <p>
      The delineation between the links are added in via CSS content.
    </p>
    
  </div>
</div> <!-- end .row -->

</section>  

<!-- 
  NOTES:
   Use target="_blank" only when sending visitors off-site to pages related to our website. 
   example:
   Our Page > Our Facebook Page = target="_blank"
   Our Page > Another website = no target declaration set
   
   In some instances, it may make sense to use rel="nofollow" when linking to certain external & internal pages.
-->
{% endblock %}

