{% block title %}Placeholder Classes{% endblock %}
{% block content %} 
<section class="content">

  <h2>Placeholder Classes</h2>
<p>
  The purpose of placeholder classes in Brass Tacks is to help reduce the number of classes
  that have duplicate code.  Extend these placeholders into Project Specific classes you create
  to leverage the pre-built code base.
</p>
<p>
  As placeholders aren't included in CSS unless they're exteneded into a class, you can also
  remove any extensions you don't currently need from Brass Tacks, without having to delete the
  code entirely, incase you ever do have a use for a placeholder.
</p>

<hr />

<h3>Brand</h3>
  <div class="row">
    <div class="col">
      <div class="table-mobile">
      <table class="table-stripe table-border table-2col">
        <thead class="table-header">
          <tr>
            <th>Placeholder</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody class="tiny">
          <tr>
            <td>%brand-Color</td>
            <td>
              Pulls over $c-brand-1
            </td>
          </tr>
          <tr>
            <td>%brand-Font</td>
            <td>
              Pulls over $brand font-family variable.  Also use to set brand size and weight.
            </td>
          </tr>
          <tr>
            <td>%brand</td>
            <td>
              @extends both %brand-Color and %brand-Font into one placeholder.
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    </div> <!-- end .col -->
    
  </div><!-- end .row -->
  
  <hr />  

  <h3>Forms</h3>
  <div class="row">
    <div class="col">
      <div class="table-mobile">
      <table class="table-stripe table-border table-2col">
        <thead class="table-header">
          <tr>
            <th>Placeholder</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody class="tiny">
          <tr>
            <td>%input-Area</td>
            <td>
              Single placeholder to extend into anything that needs to look like
              an input element.  Includes styling for :focus, :required, :valid and 
              :invalid.
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    </div> <!-- end .col -->
    
  </div> <!-- end .row -->
  
  <hr />
    
  <h3>Typography: Font Sizing</h3>
  <div class="row">
    <div class="col">
      <div class="table-mobile">
      <table class="table-stripe table-border table-2col">
        <thead class="table-header">
          <tr>
            <th>Placeholder</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody class="tiny">
          <tr>
            <td>%font-size-lh</td>
            <td>font-size:100%; line-height:1.5</td>
          </tr>
          <tr>
            <td>
              %giga
            </td>
            <td>
              font-size:$giga; font-weight:700;
            </td>
          </tr>
          <tr>
            <td>
              %ultra
            </td>
            <td>
              font-size:$ultra; font-weight:600;
            </td>
          </tr>
          <tr>
            <td>
              %mega
            </td>
            <td>
              font-size:$mega; font-weight:300;
            </td>
          </tr>
          <tr>
            <td>
              %alpha
            </td>
            <td>
              font-size:$alpha; font-weight:400;
            </td>
          </tr>
          <tr>
            <td>
              %beta
            </td>
            <td>
              font-size:$beta; font-weight:400;
            </td>
          </tr>
          <tr>
            <td>
              %gamma
            </td>
            <td>
              font-size:$gamma; font-weight:400;
            </td>
          </tr>
          <tr>
            <td>
              %delta
            </td>
            <td>
              font-size:$delta; font-weight:300;
            </td>
          </tr>
          <tr>
            <td>
              %eps
            </td>
            <td>
              font-size:$eps; font-weight:300;
            </td>
          </tr>
          <tr>
            <td>
              %zeta
            </td>
            <td>
              font-size:$zeta; font-weight:300;
            </td>
          </tr>
          <tr>
            <td>
              $base
            </td>
            <td>
              font-size:$base; font-weight:300;
            </td>
          </tr>
          <tr>
            <td>
              %tiny
            </td>
            <td>
              font-size:$tiny; font-weight:300;
            </td>
          </tr>
          <tr>
            <td>
              %mini
            </td>
            <td>
              font-size:$mini; font-weight:300;
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div> <!-- end .col -->

  </div> <!-- end .row -->

<hr />

<h3>Typograhy: General Placeholders</h3>
  <div class="row">
    <div class="col">
      <div class="table-mobile">
      <table class="table-stripe table-border table-2col">
        <thead class="table-header">
          <tr>
            <th>Placeholder</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody class="tiny">
          <tr>
            <td>%bold</td>
            <td>font-weight:bold;</td>
          </tr>
          <tr>
            <td>%bolder</td>
            <td>font-weight:bolder;</td>
          </tr>
          <tr>
            <td>%italic</td>
            <td>font-style:italic;</td>
          </tr>

          <tr>
            <td>%kill-list</td>
            <td>list-style:none; padding:0;</td>
          </tr>

          <tr>
            <td>%truncate</td>
            <td>@include truncate(100%);</td>
          </tr>

          <tr>
            <td>%auto-wrap</td>
            <td>word-wrap:auto;</td>
          </tr>

          <tr>
            <td>%break-word</td>
            <td>word-wrap:break-word;</td>
          </tr>

          <tr>
            <td>%normal-wrap</td>
            <td>word-wrap:normal;</td>
          </tr>

          <tr>
            <td>%degree</td>
            <td>Uses :after and content: to create a degree symbol.</td>
          </tr>

          <tr>
            <td>%go</td>
            <td>Uses :after and content: to add forward arrows for use on a link/button.</td>
          </tr>

          <tr>
            <td>%antialias</td>
            <td>Sets font-smoothing to antialiased.</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div> <!-- end .col -->
    
    
  </div> <!-- end .row -->

<hr />

<h3>Tool Tips</h3>
  <div class="row">
    <div class="col">
      <div class="table-mobile">
      <table class="table-stripe table-border table-2col">
        <thead class="table-header">
          <tr>
            <th>Placeholder</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody class="tiny">
          <tr>
            <td>%tool-tip</td>
            <td>
              <mark>Styling for this placeholder is incomplete</mark>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    </div> <!-- end .col -->
    
    
  </div> <!-- end .row -->

<hr />  

<h3>Messaging</h3>
  <div class="row">
    <div class="col">
      <div class="table-mobile">
      <table class="table-stripe table-border table-2col">
        <thead class="table-header">
          <tr>
            <th>Placeholder</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody class="tiny">
          <tr>
            <td>%message</td>
            <td>Sets the standard styling for Brass Tacks messaging elements.</td>
          </tr>
          <tr>
            <td>%message-holder</td>
            <td>Sets the positioning and width of the messaging element.</td>
          </tr>
          <tr>
            <td>%close-message</td>
            <td>Close button for messaging element.</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div> <!-- end .col -->
  </div> <!-- end .row -->

  <h3>General Placeholders</h3>
  <div class="row">
    <div class="col">
      <div class="table-mobile">
      <table class="table-stripe table-border table-2col">
        <thead class="table-header">
          <tr>
            <th>Placeholder</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody class="tiny">
          <tr>
            <td>...</td>
            <td>Populate from _generic.scss</td>
          </tr>


        </tbody>
      </table>
    </div>
  </div> <!-- end .col -->
  </div> <!-- end .row -->

<hr />  
</section> <!-- end .content -->
{% endblock %}

