{% block content %} 
<div class="content">

<h1>Tables</h1>

	<div class="row">
		<div class="col col-50">
			<table class="base-Table">
	            <thead class="table-Header">
	                <tr>
	                    <th>Item 1</th>
	                    <th>Item 2</th>
	                    <th>Item 3</th>
	                </tr>
	            </thead>
	            <tfoot class="table-Footer">
	                <tr>
	                    <th>Item 1 End</th>
	                    <th>Item 2 End</th>
	                    <th>Item 3 End</th>
	                </tr>
	            </tfoot>
	            <tbody class="table-Body">
	                <tr>
	                    <td>Title</td>
	                    <td>Data area 1</td>
	                    <td>Data area 2</td>
	                </tr>
	                <tr>
	                    <td>Title</td>
	                    <td>Data area 1</td>
	                    <td>Data area 2</td>
	                </tr>
	                <tr>
	                    <td>Title</td>
	                    <td>Data area 1</td>
	                    <td>Data area 2</td>
	                </tr>
	                <tr>
	                    <td>Title</td>
	                    <td>Data area 1</td>
	                    <td>Data area 2</td>
	                </tr>
	            </tbody>
	        </table>
		</div> <!-- end .col-50 -->
		
		<div class="col col-50">

				explain

		</div>
	</div> <!-- end .row -->
	
	

</div> <!-- end .content -->
{% endblock %}