@if $import-helper-forms-general == true{

// ----------------------------------------------------------------------------
//  General Form Elements Helper Classes
// ----------------------------------------------------------------------------

// Containers
.form-row {
  padding: $unit-px 0;
}

.fieldset {
  border: 1px solid $c-border;
  margin-bottom: $unit-px2;
  padding: $unit-px2 $unit-px3;
}


// General text input helper class
.input-text {
  @extend %input-text;
  // see 'more-inputs' for additional styling for specific input elements
}


// Disabled label
.dis-label {
  cursor: not-allowed;
}


// ----------------------------------------------------------------------------
} // -- end @if --
// ----------------------------------------------------------------------------
