// ----------------------------------------------------------------------------
//  General Form Elements Helper Classes
// ----------------------------------------------------------------------------

@if $helper-forms--general == true {

  // Containers
  .form-row {
    padding: $form-row--padding;
  }

  .form-block {
    border: $form-block--border;
    margin-bottom: $input--margin;
    padding: $form-block--padding;

    &[disabled] {
      position: relative;

      &:after {
        @extend %position-center;
        background: $form-disable-overlay;
        content: '';
      }
    }
  }


  // General text input helper class
  .input-text {
    @extend %input-text;
    // see 'more-inputs' for additional styling for specific input elements
  }


  // Disabled label
  .label-disabled {
    cursor: not-allowed;
  }

} // -- end @if --
