@if $import-helper-sizing == true{

// ----------------------------------------------------------------------------
//  Form Input Sizing
// ----------------------------------------------------------------------------

.input-small {
  font-size: $txt-small;
  padding: $unit-px;
}

.input-large {
  font-size: $txt-h5;
  padding: $unit-px2 $unit-px3;
}


// ----------------------------------------------------------------------------
} // -- end @if --
// ----------------------------------------------------------------------------
