// ----------------------------------------------------------------------------
//  Form Input Sizing
// ----------------------------------------------------------------------------

$input-sizing: (
  // 1     2             3
  small    $txt-small    $unit-px,
  large    $txt-h5       ($unit-px2 $unit-px3)
);

@if $helper-forms--sizing == true {

  .input- {
    // run through $input-sizing list to create
    // classes / assign styling values
    @each $s-value in $input-sizing {
      &#{nth($s-value, 1)} {
        font-size: nth($s-value, 2);
        padding: nth($s-value, 3);
      }
    }
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Form Validation Indicators
// ----------------------------------------------------------------------------

$input-validation: (
  // 1       2
  success    $c-green,
  warning    $c-orange,
  error      $c-red
);

@if $helper-forms--validation == true {

  .input- {
    // run through $input-validation list to create
    // classes / assign styling values
    @each $v-value in $input-validation {
      &#{nth($v-value, 1)} {
        border: 1px solid nth($v-value, 2);
      }
    }
  }

} // -- end @if --
