// ----------------------------------------------------------------------------
//  Layout Controller
// ----------------------------------------------------------------------------

// The main controller file for the layout helper files. This file exists
// to centralize code that may be used across multiple files in this category.

// ----------------------------------------------------------------------------
//  Placeholders
// ----------------------------------------------------------------------------

%col-fixed-width {
  @media only screen and (max-width: $break-medium) {
    padding: 0;
  }

  .col-fixed-width {
    @media only screen and (max-width: $break-medium) {
      float: none;
      margin: 0;
      padding-left: 40px;
      width: auto;
    }
  }
}
