// ----------------------------------------------------------------------------
//		Branding Helpers Classes
// ----------------------------------------------------------------------------

%brand{
  @extend %brand-color;
  @extend %brand-font;
}

%brand-Color{
  color:$c-brand-1;
}

%brand-Font{
  font-family:$f-brand;
  //font-size:$base;
  font-weight:300;
}
