// ----------------------------------------------------------------------------
//  Branding Helpers Classes
// ----------------------------------------------------------------------------

%brand {
  @extend %brand-color;
  @extend %brand-font;
}

%brand-color {
  color: $c-brand-1;
}

%brand-font {
  font-family: $f-brand;
  //font-size: $base;
  font-weight: 300;
}
