// ----------------------------------------------------------------
//  Messaging Unit Placeholder
// ----------------------------------------------------------------

%message{
  @include border-radius($px-Unit);
  @include vendor(transition, all .3s linear);
  border:1px solid;
  margin-bottom:$unit-em; // 1em
  padding:$unit-em*.35 $unit-em*.5;
  position:relative;
  text-shadow:0 1px 1px rgba(255,255,255,.6);

}

%message-holder{
  left:$unit-per;
  position:fixed;
  top:0;
  width:80%;

  p{
    margin-bottom:0;
  }
}

%close-message{
  border:1px solid;
  position:absolute;
  text-decoration:none;
}
