// ----------------------------------------------------------------
//  Tool Tips / Hover Desc.
//
//  extend this rule into the a [data-tooltip] selector
//
// ----------------------------------------------------------------

%tool-Tip{
  cursor:help;
  display:inline-block;
  position:relative;

  img{
    display:block;
  }

  &:after{
    @include position(bottom, -20%, left, 0, absolute);
    @include vendor(transition, all 0.35s);
    background:$c-White;
    background:rgba(255,255,255,.95);
    border:1px solid #333;
    border-radius:$px-Unit;
    color:$c-Dark;
    content:attr(data-tooltip);
    font-size:$tiny;
    opacity:0;
    padding:$px-Unit $px-Unit*3;
    text-align:center;
    width:100%;
  }

  &:hover{
    text-decoration:none;

    &:after{
      bottom:0;
      opacity:1;
    }
  }
}
