// ----------------------------------------------------------------------------
//  Progress Element
// ----------------------------------------------------------------------------

@if $base-progress == true {

  progress {
    @include vendor(appearance, none, $o: false, $ms: false);
    @include border-radius($circle);
    @include box-shadow(0 1px 5px rgba(0,0,0,.25), 0 0 2px $c-white inset);
    background: $c-progress--bg;
    border: 1px solid $c-grey;
    height: 18px;
    max-width: 400px;
    padding: 1px;
    width: 100%;

    // Webkit needs this additional rule to style background of <progress>
    &::-webkit-progress-bar {
      background: $c-light-grey;
    }

    // Style <progress> value
    &::-moz-progress-bar {
      @include border-radius($circle);
      @include box-shadow(1px 1px 2px $c-hell inset);
      background: $c-brand-1;
    }

    &::-webkit-progress-bar {
      @include border-radius($circle);
      @include box-shadow(1px 1px 2px $c-hell inset);
      background: $c-brand-1;
    }

    // Style <progress> if there is no value assigned (defaults to 100% width)
    &:not([value])::-moz-progress-bar {
      background: none;
    }

    &:not([value])::-webkit-progress-bar {
      background: none;
    }
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Meter Element
// ----------------------------------------------------------------------------

@if $base-meter == true {

  //meter {
    // put something here someday
  //}

} // -- end @if --
