// ----------------------------------------------------------------------------
//  Abbr Element
// ----------------------------------------------------------------------------

@if $base-abbr == true {

  abbr[title] {
    @extend %title-attribute;
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Bold & Italic Elements
// ----------------------------------------------------------------------------

@if $base-bold-italic == true {

  // Consistent bolding
  b, strong {
    @extend %bold;
  }

  // Consistent italics
  i, em {
    @extend %italic;
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Cite Elements
// ----------------------------------------------------------------------------

@if $base-cite == true {

  cite {
    @extend %bold;
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Dfn Element
// ----------------------------------------------------------------------------

@if $base-dfn == true {

  dfn {
    @extend %italic;

    &[title] {
      @extend %title-attribute;
    }
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Ins Elements
// ----------------------------------------------------------------------------

@if $base-ins == true {

  ins {
    color: $c-ins;
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Mark Element
// ----------------------------------------------------------------------------

@if $base-mark == true {

  // IE 8/9 doesn't highlight background by default
  mark {
    background: $c-mark-bg;
    color: $c-mark-txt;
    border-bottom: 1px solid $c-mark-border;
    padding: 0 2px;
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Pre Element
// ----------------------------------------------------------------------------

@if $base-pre == true {

  pre {
    @extend %reset-spacing;
    line-height: 1;
    overflow: auto;
    white-space: pre-wrap;
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Sub/Sup Elements
// ----------------------------------------------------------------------------

@if $base-sub-sup == true {

  // Prevents sub & sup from affecting the line-height
  sub, sup {
    @extend %txt-small;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub { bottom: -.25em; }
  sup { top: -.5em; }

} // -- end @if --
