// ----------------------------------------------------------------------------
//  Buttons
// ----------------------------------------------------------------------------

// The main controller file for the button helper files. This file exists
// to centralize code that may be used across multiple files in this category.

// ----------------------------------------------------------------------------
//  Placeholders
// ----------------------------------------------------------------------------

// General Buttons
%btn {
  @include border-radius($unit-px2);
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  font: {
    family: $f-brand;
    size: $txt-h5;
    weight: 400;
  };
  line-height: 1;
  padding: $unit-px2 $unit-px4;
  text-align: center;
  text-decoration: none!important; // never have an underline on button text
  -webkit-appearance: none;

  &:focus {
    @include box-shadow($bs-4);
  }
}


// Social Buttons
%btn-social {
  @extend %btn;
  color: $c-white !important;
  min-width: 162px;
  padding-left: 56px;
  position: relative;
  text-align: left;
  text-shadow: $ts-primary;
}


// Buttons with Icons
%btn-icon {
  @include position(top, 0, left, 0, absolute);
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 40px;
}

