@if $import-helper-btn-general == true{

// ----------------------------------------------------------------------------
//  General Button Styling
// ----------------------------------------------------------------------------

.btn {
  @extend %btn;
  background-color: $c-grey;
  border-color: $c-dark-grey;
  color: $c-brand-4 !important;

  &:active, &:hover {
    background-color: $c-dark-grey;
  }

  &:focus {
    @include box-shadow($bs-4);
    outline: 0;
  }
}

.btn-prime {
  @extend %btn;
  background-color: $c-brand-1;
  border-color: $c-brand-2;
  color: $c-white !important;
  text-shadow: $ts-primary;

  &:hover {
    background-color: $c-brand-2;
  }
}

.btn-emph {
  @extend %btn;
  background-color: $c-emph-1;
  border-color: $c-emph-2;
  color: $c-white !important;
  text-shadow: $ts-primary;

  &:hover {
    background-color: $c-emph-2;
  }
}

.btn-neg {
  @extend %btn;
  background-color: $c-neg-1;
  border-color: $c-neg-2;
  color: $c-white !important;

  &:hover {
    background-color: $c-neg-2;
  }
}

.btn-cancel {
  @extend %btn;
  background-color: $c-dark;
  border-color: $c-hell;
  color: $c-white !important;

  &:hover{
    background-color: $c-hell;
  }
}

.btn-disable {
  @extend .btn;
  cursor: not-allowed;
  opacity: .3;

  &:hover, &:visited{
    background-color: $c-grey;
  }
}


// ----------------------------------------------------------------------------
//  Sizing Variations
// ----------------------------------------------------------------------------

.btn-tiny {
  font-size: $txt-tiny;
  padding: $unit-px $unit-px2;
  min-width: 50px;
}

.btn-small {
  font-size: $txt-small;
  padding: $unit-px2 $unit-px3;
  min-width: 50px;
}

.btn-large {
  font-size: $txt-h3;
  padding: $unit-px2 $unit-px*8;
  min-width: 200px;
}

.btn-xlarge {
  font-size: $txt-h2;
  padding: $unit-px3 $unit-px*8;
  min-width: 200px;
}

.btn-wide {
  display: block;
  width: 100%;
}


// ----------------------------------------------------------------------------
//  Border Radius Styling
// ----------------------------------------------------------------------------

.btn-square {
  @include border-radius(0);
}

.btn-round {
  @include border-radius($circle);
}


// ----------------------------------------------------------------------------
//  Close Button
// ----------------------------------------------------------------------------

// Clear button for search inputs
.btn-clear {
  @extend %content-empty;
  @extend %sprite;
  @include position-vertical-center(right, 6px, absolute);
  background-position: -165px -28px;
  border: none;
  height: 66%;
  width: 24px;

  &:hover {
    background-position: -165px -1px;
  }
}


// Close buttons for modal windows
.btn-close {
  @include border-radius($circle);
  @include position(top, -6px, left, -6px, absolute);
  min-width: 1px!important;
  padding: 5px 7px;
  text-transform: uppercase;
}


// ----------------------------------------------------------------------------
//  Button Pills
// ----------------------------------------------------------------------------

// Pill container
.btn-pill {
  @extend %clearfix;
  @extend %margin-bottom-base;

  &>:first-child {
    @include border-radius($unit-px2 0 0 $unit-px2);
  }

  &>:last-child {
    @include border-radius(0 $unit-px2 $unit-px2 0);
  }

  &>:not(:first-child) {
    border-left: none;
  }

  .btn {
    @extend .btn-square;
    float:left;
    margin-bottom: 0;
    min-width: 100px;
  }

  .btn-small {
    min-width: 80px;
    padding-bottom: 6px;
    padding-top: 6px;
  }
}


// ----------------------------------------------------------------------------
} // -- end @if --
// ----------------------------------------------------------------------------

