@if $import-anchor-element == true{

// ----------------------------------------------------------------------------
//  Anchor Element
// ----------------------------------------------------------------------------

a, a:visited {
  background: transparent; // *
  color: $c-link;

  &:active, &:hover {
    @extend %outline-none;
    color: $c-link-h;
  }

  &:focus {
    outline: thin dotted;
  }
}

// * Removes grey background color from active links in IE10


// ----------------------------------------------------------------------------
} // -- end @if --
// ----------------------------------------------------------------------------
