// ----------------------------------------------------------------------------
//  Anchor Element
// ----------------------------------------------------------------------------

@if $import-anchor == true {

  a, a:visited {
    background: transparent; // *
    color: $c-link;

    &:hover, &:active {
      @extend %outline-none;
      color: $c-link-h;
    }

    &:focus {
      outline: thin dotted;
    }
  }

  // * Removes grey background color from active links in IE10

} // -- end @if --
