// ----------------------------------------------------------------------------
//  Pre Element
// ----------------------------------------------------------------------------

@if $import-pre == true {

  pre {
    @extend %reset-spacing;
    line-height: 1;
    overflow: auto;
    white-space: pre-wrap;
  }

} // -- end @if --
