@if $import-sub-sup == true{

// ----------------------------------------------------------------------------
//  Sub/Sup Elements
// ----------------------------------------------------------------------------

// Prevents sub & sup from affecting the line-height
sub, sup {
  @extend %txt-small;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub { bottom: -.25em; }
sup { top: -.5em; }


// ----------------------------------------------------------------------------
} // -- end @if --
// ----------------------------------------------------------------------------
