@import '../__globals/__import';

// ----------------------------------------------------------------------------
//  Project Specific Extended HTML Styling
// ----------------------------------------------------------------------------

// Full container for the entire page.
.page {}


// Generic tag to wrap around content within sections to apply a max width
// to the interior content while allowing for larger sections to expand
// the whole page for BG styling purposes
.content {
  @extend %last-child-0;
  margin: 0 auto;
  max-width: 1000px;
  padding: $unit-px5;
}

// ----------------------------------------------------------------------------
//  Project Specific Components
// ----------------------------------------------------------------------------

@import 'components/header';   // Header Styling
@import 'components/nav';      // Nav Styling
@import 'components/main';     // Main Content Area Styling
@import 'components/footer';   // Footer Styling
