// ----------------------------------------------------------------------------
//  Layout - Display Table Grid
// ----------------------------------------------------------------------------

@if $helper-grids--display-table == true {

  .table {

    &-row {
      display: table;
      height: 100%;
      table-layout: fixed;
      width: 100%;
    }

    &-col {
      display: table-cell;
      height: 100%;
      padding: .75em;
    }

    &-col-content {
      @include box-sizing(content-box);
      height: 100%;
      padding: 1em;
    }

  }

  @media screen and (max-width: 700px) {
    [class*="table-col"] {
      display: block;
    }
  }

} // -- end @if --
