// ----------------------------------------------------------------------------
//  Layout - Flexbox Grid
// ----------------------------------------------------------------------------

@if $helper-grids--flexbox == true {

  // asdfjk
  .flex-row {
    @include flexbox;
  }

  .flex-inline-row {
    @include flexbox(inline-flex)
  }


  // asdf
  [class*="flex-col-"] {
    margin-bottom: 1em;
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }
  }



  @for $i from 1 through 10 {
    .flex-col-#{$i} {
       @include flex($i, (100% / $i));
    }
  }




} // -- end @if --
