// ----------------------------------------------------------------------------
//  Layout - Flexbox Grid
// ----------------------------------------------------------------------------

@if $helper-grids--flexbox == true {

  //
  .flex-row {
    @include flexbox;
  }


  [class*="flex-col-"] {
    margin-bottom: 1em;
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }
  }



  @for $i from 1 through 10 {
    .flex-col-#{$i}{
       @include flex($i, (100% / $i));
    }
  }

} // -- end @if --
