// ----------------------------------------------------------------------------
//  Floats & Clears
// ----------------------------------------------------------------------------

@if $helper-floats-clears == true {

  // Floats
  .float {

    &-left {
      float: left;
    }

    &-right {
      float: right;
    }

    &-none {
      float: none;
    }
  }


  // Clears
  .clear {
    clear: both;
  }

  .clearfix {
    @extend %clearfix;
  }

  .overflow {
    overflow: hidden;
  }

} // -- end @if --
