// ----------------------------------------------------------------------------
//  Bold & Italic
// ----------------------------------------------------------------------------

%bold   { font-weight: bold;   }

%bolder { font-weight: bolder; }

%normal { font-weight: normal; }

%italic { font-style: italic;  }


// ----------------------------------------------------------------------------
//  :after Symbols
// ----------------------------------------------------------------------------

%degree {
  &:after {
    content: "\00BA";  // Creates degree symbol
  }
}

%go {
  &:after {
    content: "\00A0" "\00BB";  // >> (use on link / btn)
  }
}
