// ----------------------------------------------------------------------------
//  Form Elements: Input Elements
// ----------------------------------------------------------------------------

// Style inputs consistently
input {
  &[type='date'], &[type='email'], &[type='file'],
  &[type='number'], &[type='password'], &[type='search'],
  &[type='tel'], &[type='text'], &[type='time'], &[type='url'] {
    @extend %input-area;
  }
}

// Required styling
input:required {
  color: $c-red;
}

// Disabled input styling
input[disabled] {
  background: $c-light;
  cursor: not-allowed;
}

// Read Only input styling
input[readonly] {
  background: $c-disabled;
}

// Removes extra inner padding for webkit
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

// Makes it look like a normal text input, only with a (x) when text has been entered
input[type='search'] {
  -webkit-appearance: textfield;
}

// Color is not supported in all browsers, and extending %input-area breaks the
// default look in webkit so instead we will carry over some of the input-area
// styling that doesn't break it in webkit & standardizes it in other browsers
input[type='color'] {
  background-image: none;
  border: 1px solid $c-grey;
  font-family: $arial;
  height: 45px;
  margin-bottom: $unit-px*2;
  padding: 0 $unit-px;
  width: 75%;

  &:focus {
    @include box-shadow($bs-2);
    background: $c-lighter;
    border: 1px solid #50B6D5;
  }
}
