// ----------------------------------------------------------------
//    Form Elements: Input Elements
// ----------------------------------------------------------------

// Disabled input styling
input[disabled]{
  background:$c-Light;
  cursor:not-allowed;
}

// Read Only input styling
input[readonly]{
  background:$c-Disabled;
}

// Removes extra inner padding for webkit
input[type='search']::-webkit-search-decoration{
  -webkit-appearance:none;
}

// Base styling for text input elements
input{
  &[type='date'], &[type='email'], &[type='file'], &[type='number'], &[type='password'], &[type='search'], 
  &[type='tel'], &[type='text'], &[type='time'], &[type='url']{
    @extend %input-Area;
  }
}

// Makes it look like a normal text input, only with a (x) when text has been entered
input[type='search']{
  -webkit-appearance:textfield;
} 

select{
  border:1px solid $c-Border;
  padding:$px-Unit 0 $px-Unit $px-Unit;
  width:100%;
}

// Color is not supported in all browsers, and extending %input-Area breaks the default look in webkit
// so instead we will carry over some of the input-Area styling that doesn't break it in webkit, but 
// standardizes it in other browsers.
input[type='color']{
  background-image:none;
  border:1px solid $c-Border;
  font-family:$arial;
  height:45px;
  margin-bottom:$px-Unit*2;
  padding:0 $px-Unit;
  width:75%;

  &:focus{
    @include box-shadow($bs-2);
    background:$c-Lighter;
    border:1px solid #50B6D5;
  }
}

// Make textareas look like input areas, only bigger
textarea{
  @extend %input-Area;
  display:block;
  min-height:40px;
  min-width:60px;
  overflow:auto;
  resize:vertical;
  vertical-align:top;
}
