// ----------------------------------------------------------------------------
//  Form Elements: Select Element
// ----------------------------------------------------------------------------

select {
  border: 1px solid $c-grey;
  padding: $unit-px 0 $unit-px $unit-px;
  width: 100%;
}
