// ----------------------------------------------------------------------------
//  Form Elements: Textarea Element
// ----------------------------------------------------------------------------

// Make textareas look like input areas, only bigger
textarea {
  @extend %input-area;
  display: block;
  min-height: 40px;
  min-width: 60px;
  overflow:auto;
  resize: vertical;
  vertical-align: top;

  &:required {
    color: $c-red;
  }
}
