// ----------------------------------------------------------------------------
//  Form Elements: Text Elements
// ----------------------------------------------------------------------------

legend {
  @extend %reset;
  @extend %eps;
  margin-left: -$unit-px;
  padding: 0 $unit-px;
}

label, .label {
  display: block;
  margin-bottom: $unit-px*2;

  &[for] {
    cursor: pointer;
  }
}
