// ----------------------------------------------------------------
//    Form Elements: Text Elements
// ----------------------------------------------------------------

legend{
  @extend %reset;
  @extend %eps;
  margin-left:-$px-Unit;
  padding:0 $px-Unit;
}

label, .label{
  display:block;
  margin-bottom:$px-Unit*2;

  &[for]{
    cursor:pointer;
  }
}
