@if $import-helper-loading == true{

/*
  **********************************************
  
    This is incomplete
  
  **********************************************
*/

// ----------------------------------------------------------------------------
//  Progress Bars/Spinners
// ----------------------------------------------------------------------------

@keyframes spin {
to { transform: rotate(1turn); }
}

.progress {
  animation: spin 1s infinite steps(8);
  display: inline-block;
  font-size: 12px;
  height: 5em;
  margin: 0 .5em;
  overflow: hidden;
  position: relative;
  text-indent: 999em;
  width: 5em;
}
.small.progress {
  font-size: 6px;
}
.large.progress {
  font-size: 24px;
}
.progress:before,
.progress:after,
.progress > div:before,
.progress > div:after {
  background: #eee;
  border-radius: .2em;
  box-shadow: 0 3.5em #eee; /* container height - part height */
  content: '';
  height: 1.5em;
  left: 2.45em; /* (container width - part width)/2 */
  position: absolute;
  top: 0;
  transform-origin: 50% 2.5em; /* container height / 2 */
  width: .1em;
}
.progress:before {
  background: #555;
}
.progress:after {
  background: #777;
  transform: rotate(-45deg);
}
.progress > div:before {
  background: #999;
  transform: rotate(-90deg);
}
.progress > div:after {
  background: #bbb;
  transform: rotate(-135deg);
}


// ----------------------------------------------------------------------------
} // -- end @if --
// ----------------------------------------------------------------------------
