@if $import-helper-tooltip == true{

// ----------------------------------------------------------------------------
//  Tooltips
// ----------------------------------------------------------------------------

// Tool tip example
[data-tooltip]{
  @extend %tool-tip;

  &:after {
    @include border-radius($unit-px);
    background: rgba(255,255,255,.95);
    border: 1px solid $c-dark;
    color: $c-dark;
  }
}


// ----------------------------------------------------------------------------
} // -- end @if --
// ----------------------------------------------------------------------------
