// ----------------------------------------------------------------
//  CSS Triangles
// ----------------------------------------------------------------

@mixin triangle($tri-size, $tri-color, $tri-direction){
  @extend %d-Block;
  border:inset $tri-size;
  content:"";
  height:0;
  width:0;
  
  @if ($tri-direction == top) {
    border-color: $tri-color transparent transparent transparent;
    border-top-style: solid;
  }
  @if ($tri-direction == bottom) {
    border-color: transparent transparent $tri-color transparent;
    border-bottom-style: solid;
  }
  @if ($tri-direction == left) {
    border-color: transparent transparent transparent $tri-color;
    border-left-style: solid;
  }
  @if ($tri-direction == right) {
    border-color: transparent $tri-color transparent transparent;
    border-right-style: solid;
  }
}
