// ----------------------------------------------------------------------------
//  Project Specific: Main Content Area
// ----------------------------------------------------------------------------

// The block class can be modified or deleted and replaced with other classes
// (like .media or .callout). The main purpose of a class like this is to apply
// to an inner HTML element of the column structure so we can apply styling to
// the columns.

.block {
  background: $c-grey;
  color: $c-dark;
  padding: $unit-px;
}



// Add fixed width left or right column
// .fixed-width-left {
//   @include col-fixed-width(260px, left);
// }

// .fixed-width-right {
//   @include col-fixed-width(260px, right);
// }
// use .col-fixed to add padding for the fixed column on the .row


.content {
  max-width: 900px;
  margin: 0 auto;
}


.demo {
  background: $c-white;
  border: 1px solid $c-grey;
  border-bottom: 0;
  min-height: 40px;
  padding: $unit-px3;
  position: relative;
}


.show-hide-code {
  @include transition(.2s all);
  margin-bottom: $unit-px4;
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
}

:checked + .show-hide-code {
  max-height: 400px;
  overflow: auto;
  opacity: 1;
}

.code-shower {
  background: $c-brand-1;
  display: block;
  margin: 0;
  text-align: right;

  .txt-base {
    color: $c-off-white;
    font-size: $txt-tiny;
    margin: 0;
    padding: $unit-px2/2 $unit-px2;
  }
}
