// ----------------------------------------------------------------------------
//  Social Buttons
// ----------------------------------------------------------------------------

// Social Buttons Shared Styling
[class*="btn--social"] {
  color: $c-white !important;
  min-width: 10.125em;
  padding-#{$dir}: 3.125em;
  position: relative;
  text-align: $dir;
}

.social-icon {
  @extend %btn--icon;
}


.btn--social--fb {
  background: $c-fb-1;
  border-color: $c-fb-2;

  .social--icon {
    //background-image: url();
    border-color: $c-fb-2;
  }

  &:hover,
  &:focus{
    background: $c-fb-2;
  }
}



.btn--social--tw {
  background-color: $c-tw-1;
  border-color: $c-tw-2;

  .social--icon {
    //background-image: url();
    border-color: $c-tw-2;
  }

  &:hover,
  &:focus {
    background: $c-tw-2;
  }
}



.btn--social--g {
  background-color: $c-gp-1;
  border-color: $c-gp-2;

  .social--icon {
    //background-image: url();
    border-color: $c-gp-2;
  }

  &:hover,
  &:focus {
    background: $c-gp-2;
  }
}
