// ----------------------------------------------------------------------------
//  Close Button
// ----------------------------------------------------------------------------

.btn--close {
  border: 0;
  font-size: $txt-h4;
  height: 44px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 44px;

  &.btn--rounded {
    border: 1px solid;
    right: -8px;
    top: -8px;
  }
}

//  Example mark-up:
// ----------------------------------------------------------
//  <button type='button' class="btn btn--close" aria-label="Close">
//    &times;
//  </button>


// Add .btn helper classes to change the style of the close button.

//  Example mark-up:
// ----------------------------------------------------------
//  <button type='button' class="btn btn--close btn--fill btn--prime" aria-label="Close">
//    &times;
//  </button>
