// ----------------------------------------------------------------------------
//  Menu Button
// ----------------------------------------------------------------------------

%make-an-x {
  bottom: 0;
  top: 0;
}

// The actual button element is the menu for
// the icon, so the hit areas is larger.
.btn--menu {
  background: $c-white;
  border: 1px solid rgba(0,0,0,1);
  border-radius: .25em;
  color: rgba(0,0,0,.9);
  cursor: pointer;
  left: .5em;
  max-width: 18.75em;
  overflow: hidden;
  padding: .5em .5em .5em 2.625em;
  position: relative;
  text-transform: uppercase;
  top: .5em;
  transition: padding .2s .4s,
              text-indent .2s .4s,
              color .2s .4s,
              max-width .2s .4s;
  z-index: 11;


  &[data-state="on"] {
    color: rgba(0,0,0,0);
    max-width: 1.875em;
    min-width: 1px;
    padding-left: 2.375em;
    padding-right: 0;
    text-indent: -99999px;

    .btn--menu__icon {
      background: rgba(0,0,0,0);

      &:before,
      &:after {
        transition: all .2s .4s;
      }

      &:after {
        @extend %make-an-x;
        transform: rotate(45deg);
      }

      &:before {
        @extend %make-an-x;
        transform: rotate(-45deg);
      }
    }
  }
}


.btn--menu__icon {
  background: rgba(0,0,0,1);
  bottom: 0;
  height: .25em;
  left: 0;
  margin: auto 0 auto .25em;
  position: absolute;
  right: 0;
  top: 0;
  transition: .2s all;
  width: 1.875em;

  &:before,
  &:after {
    background: $c-darker;
    border-radius: .25em;
    content: '';
    height: .25em;
    left: 0;
    margin: auto;
    position: absolute;
    transition: all .2s 0s;
    width: 100%;
  }

  &:before {
    top: -.5em;
  }

  &:after {
    bottom: -.5em;
  }
}


//  Example mark-up:
// ----------------------------------------------------------
//  <button class="btn btn--menu" data-state="off" type="button" id="nav_open" accesskey="m">
//    <span class="btn--menu__icon"> </span>  Menu
//  </button>
