// ----------------------------------------------------------------------------
//  Flex Box
// ----------------------------------------------------------------------------

@mixin flexbox() {
  // old prefixes
  display: -webkit-box;   // safari 3.1+, chrome 20-, Android 2.1+, iOS 3.2+
  display: -moz-box;      // 2-21
  // new prefixes
  display: -ms-flexbox;   // 10+
  display: -webkit-flex;  // 21+
  display: flex;
}

@mixin flex($values) {
  // old prefixes
  -webkit-box-flex: $values;
     -moz-box-flex: $values;
  // new prefixes
      -webkit-flex: $values;
          -ms-flex: $values;
              flex: $values;
}

@mixin order($val) {
  // old prefixes
  -webkit-box-ordinal-group: $val;
     -moz-box-ordinal-group: $val;
  // new prefixes
             -ms-flex-order: $val;
              -webkit-order: $val;
                      order: $val;
}
