// ----------------------------------------------------------------------------
//  Button Pills
// ----------------------------------------------------------------------------

@if $helper-btn--pills == true {

  // Pill container
  .btn--pill {
    @extend %clearfix;
    @extend %margin-bottom;

    &>:first-child {
      border-radius: .5em 0 0 .5em;
    }

    &>:last-child {
      border-radius: 0 .5em .5em 0;
    }

    &>:not(:first-child) {
      border-#{$dir}: none;
    }

    .btn {
      float: $dir;
      margin-bottom: 0;
      min-width: 100px;

      &--small {
        min-width: 5em;
        padding-bottom: .375em;
        padding-top: .375em;
      }
    }

  }

} // -- end @if --
