// ----------------------------------------------------------------------------
//  Buttons
// ----------------------------------------------------------------------------

// General button setup to extend into button classes
%btn {
  -webkit-appearance: none;
  border: $btn-border-width solid;
  cursor: pointer;
  display: inline-block;
  font: {
    family: $f-btn-family;
      size: $f-btn-size;
    weight: $f-btn-weight;
  }
  line-height: normal;
  padding: $btn-pad $btn-pad*2;
  text-align: center;
  text-decoration: none !important; // never have an underline on button text

  &:focus {
    box-shadow: $bs-btn-focus;
    outline: 0;
  }
}



// Buttons with Icons
%btn--icon {
  @include position(top, 0, left, 0, absolute);
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 40px;
}






// ----------------------------------------------------------------------------
//  General Button Styling
// ----------------------------------------------------------------------------

@if $helper-btn--general == true {

  // The base button class to be be paired with
  // a helper button styling type:
  // prime
  // emph
  // cta
  // neg
  // disabled
  .btn {
    @extend %btn;
  }

} // -- end @if --


@if $helper-btn--prime == true {

  .btn--prime {
    background: $btn-bg;
    border-color: $btn-border;
    color: $btn-text;

    &:hover {
      background: $btn-bg-2;
      color: $btn-text-2;
    }

    &:active {
      background: darken($btn-bg-2, 20%);
      color: $btn-text-2;
    }
  }

} // -- end @if --


@if $helper-btn--cta == true {

  .btn--cta {
    background: $btn-bg-cta;
    border-color: $btn-border-cta;
    color: $btn-text-cta;

    &:hover {
      background: $btn-bg-2-cta;
      color: $btn-text-2;
    }

    &:active {
      background: darken($btn-bg-2-cta, 20%);
      color: $btn-text-2;
    }
  }

} // -- end @if --


@if $helper-btn--emph == true {

  .btn--emph {
    background: $btn-bg-emph;
    border-color: $btn-border-emph;
    color: $btn-text-emph;

    &:hover {
      background: $btn-bg-2-emph;
      color: $btn-text-2;
    }

    &:active {
      background: darken($btn-bg-2-emph, 20%);
      color: $btn-text-2;
    }
  }

} // -- end @if --


@if $helper-btn--neg == true {

  .btn--neg {
    background: $btn-bg-neg;
    border-color: $btn-border-neg;
    color: $btn-text-neg;

    &:hover {
      background: $btn-bg-2-neg;
      color: $btn-text-2;
    }

    &:active {
      background: darken($btn-bg-2-neg, 20%);
      color: $btn-text-2;
    }
  }

} // -- end @if --


@if $helper-btn--disabled == true {

  .btn[disabled],
  .btn--disabled {
    background: $btn-bg-disable;
    border-color: $btn-border-disable;
    color: $btn-text-disable;
    opacity: .3;
    pointer-events: none;
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Sizing Variations
// ----------------------------------------------------------------------------

$btn-sizes: (
// size     font-size   padding
   tiny     $txt-tiny   $btn-pad-tiny,
   small    $txt-small  $btn-pad-small,
   large    $txt-h3     $btn-pad-large,
   xlarge   $txt-h2     $btn-pad-xlarge
);


@if $helper-btn--sizing == true {

  .btn {

    @each $bsv in $btn-sizes {
      &--#{nth($bsv, 1)} {
        font-size: nth($bsv, 2);
        padding: nth($bsv, 3)
      }
    }

    &--wide {
      display: block;
      width: 100%;
    }
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Border Radius Styling
// ----------------------------------------------------------------------------

@if $helper-btn--rounding == true {

  .btn {

    &--soft {
      border-radius: $unit-px2;
    }

    &--round {
      border-radius: $circle;
    }
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Clear & Close Buttons
// ----------------------------------------------------------------------------

@if $helper-btn--clear == true {

  // Clear button for search inputs
  .btn--clear {
    @include position-vertical-center(right, 6px, absolute);
    border: none;
    content: 'X';
    font-family: arial;
    height: 66%;
    width: 24px;
  }

} // -- end @if --


@if $helper-btn--close == true {

  // Close buttons for modal windows
  .btn--close {
    @include position(top, -6px, left, -6px, absolute);
    border-radius: $circle;
    min-width: 1px !important;
    padding: 5px 7px;
    text-transform: uppercase;
  }

} // -- end @if --






// ----------------------------------------------------------------------------
//  Button Pills
// ----------------------------------------------------------------------------

@if $helper-btn--pills == true {

  // Pill container
  .btn--pill {
    @extend %clearfix;
    @extend %margin-bottom--base;

    &>:first-child {
      border-radius: $unit-px2 0 0 $unit-px2;
    }

    &>:last-child {
      border-radius: 0 $unit-px2 $unit-px2 0;
    }

    &>:not(:first-child) {
      border-left: none;
    }

    .btn {
      float: left;
      margin-bottom: 0;
      min-width: 100px;

      &--small {
        min-width: 80px;
        padding-bottom: 6px;
        padding-top: 6px;
      }
    }

  }

} // -- end @if --
