// ----------------------------------------------------------------------------
//  Buttons
// ----------------------------------------------------------------------------

// General button setup to extend into button classes
%btn {
  -webkit-appearance: none;
  border: $btn-border-width solid;
  cursor: pointer;
  display: inline-block;
  font-family: $f-btn-family;
  font-size: $f-btn-size;
  font-weight: $f-btn-weight;
  line-height: normal;
  padding: $btn-pad $btn-pad*2;
  text-align: center;
  text-decoration: none !important; // never have an underline on button text

  &:hover, &:focus {
    outline: 0;
  }
}



// Buttons with Icons
%btn--icon {
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 2.5em;
}






// ----------------------------------------------------------------------------
//  General Button Styling
// ----------------------------------------------------------------------------

@if $helper-btn--general == true {

  // The base button class to be be paired with
  // a helper button styling type:
  // prime
  // emph
  // cta
  // neg
  // disabled
  .btn {
    @extend %btn;
    background: $btn-bg;
    color: $c-hell;

    &:hover,
    &:focus {
      background: $c-hell;
      color: $c-white;
    }

    &:active {
      background: $c-off-black;
    }
  }

} // -- end @if --


@if $helper-btn--prime == true {

  .btn--prime {
    background: $btn-bg;
    border-color: $btn-border;
    color: $btn-text;

    &:hover,
    &:focus {
      background: $btn-bg-2;
      color: $btn-text-2;
    }

    &:active {
      background: darken($btn-bg-2, 20%);
      color: $btn-text-2;
    }
  }

} // -- end @if --


@if $helper-btn--cta == true {

  .btn--cta {
    background: $btn-bg-cta;
    border-color: $btn-border-cta;
    color: $btn-text-cta;

    &:hover,
    &:focus {
      background: $btn-bg-2-cta;
      color: $btn-text-2;
    }

    &:active {
      background: darken($btn-bg-2-cta, 20%);
      color: $btn-text-2;
    }
  }

} // -- end @if --


@if $helper-btn--emph == true {

  .btn--emph {
    background: $btn-bg-emph;
    border-color: $btn-border-emph;
    color: $btn-text-emph;

    &:hover,
    &:focus {
      background: $btn-bg-2-emph;
      color: $btn-text-2;
    }

    &:active {
      background: darken($btn-bg-2-emph, 20%);
      color: $btn-text-2;
    }
  }

} // -- end @if --


@if $helper-btn--neg == true {

  .btn--neg {
    background: $btn-bg-neg;
    border-color: $btn-border-neg;
    color: $btn-text-neg;

    &:hover,
    &:focus {
      background: $btn-bg-2-neg;
      color: $btn-text-2;
    }

    &:active {
      background: darken($btn-bg-2-neg, 20%);
      color: $btn-text-2;
    }
  }

} // -- end @if --


@if $helper-btn--disabled == true {

  .btn[disabled],
  .btn--disabled {
    background: $btn-bg-disable;
    border-color: $btn-border-disable;
    color: $btn-text-disable;
    opacity: .3;
    pointer-events: none;
  }

} // -- end @if --


@if $helper-btn--fill == true {

  .btn--fill {
    background: $c-white;
  }

} // -- end @if --
