// ----------------------------------------------------------------------------
//  Project Specific: Main Content Area
// ----------------------------------------------------------------------------

// The block class can be modified or deleted and replaced with other classes
// (like .media or .callout). The main purpose of a class like this is to apply
// to an inner HTML element of the column structure so we can apply styling to
// the columns.

.block {
  @include last-child-0();
  background: $c-grey;
  color: $c-dark;
  padding: $unit-px;
}
