@import '../__globals/global-vars';
@import '../__globals/global-mixins';
@import '../__globals/global-silent-classes';

// ----------------------------------------------------------------------------
//  Project Specific Extended HTML Stylings
// ----------------------------------------------------------------------------

// Full container for the entire page.
.page {}

// Generic tag to wrap around content within sections to apply a max width
// to the interior content while allowing for larger sections to expand
// the whole page for BG styling purposes
.content {
  @include last-child-0();
  margin: 0 auto;
  max-width: 1000px;
  padding: $unit-px5;
}

@import 'header';   // Project Specific Header Styling
@import 'main';     // Project Specific Main Content Area Styling
@import 'footer';   // Project Specific Footer Styling
