// ----------------------------------------------------------------------------
//  Flip Effect
// ----------------------------------------------------------------------------

// Silent Classes
%flip-back-front {
  @extend %preserve-3d;
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
  transition: .6s;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}


// Flip Container
.flip-container {
  @extend %preserve-3d;
  perspective: 1000px;

  &:hover {
    .flip-back {
      transform: rotateY(0deg);
    }

    .flip-front {
      transform: rotateY(-180deg);
    }
  }
}


// Container of Flipping Views
.flipper {
  @extend %preserve-3d;
  transition: .6s;
  position: relative;
}


// Front View Styling
.flip-front {
  @extend %flip-back-front;
  transform: rotateY(0deg);
  z-index: 2;
}


// Back View Styling
.flip-back {
  @extend %flip-back-front;
  transform: rotateY(-180deg);
}


// Additional Styling for multiple flip units
.flip-container, .flip-front, .flip-back {
  height: 500px;
  max-width: 100%;
}

