@import '__brass-tacks/brass-tacks';

// Tool Tips / Hover Desc.
/* 
	the tool tips 
	-- default position is to show tool-tip as pop-under
	-- use additional helper classes to reassign where tool-tip displayes.
	
	Default HTML:
	
	<a href="#" title="Title" data-tooltip="Tool Tip Here">
		Content Goes Here
	</a>
	
	<span data-tooltip="Tool Tip Here">
		Content Goes Here
	</span>
*/

[data-tooltip]{
	cursor:help;
	display:inline-block;
	position:relative;
	
	img{
	  display:block;
	}
	
	&:after{
		background:#fff;
		background:rgba(255,255,255,.95);
		border:1px solid #333;
		border-radius:$px-Unit;
		color:#333;
		content:attr(data-tooltip);
		font-size:12px;
		left:0; 
		opacity:0;
		padding:$px-Unit $px-Unit*3;
		position:absolute;
		text-align:center;
		top:90%;
		@include vendor(transition, all 0.35s);
		width:100%;
	}
	
	&:hover{
		text-decoration:none;
		&:after{opacity:1; top:105%}
	}		
}

.tip-Above{
	&:after{bottom:90%;	top:auto;}	
	&:hover:after{bottom:105%; top:auto;}
}

.tip-Bottom{
	&:after{bottom:-5%; top:auto}
	&:hover:after{bottom:0; top:auto}
}

.tip-Top{
	&:after{top:-5%}
	&:hover:after{top:0}	
}

.tip-Left{	
	&:after{height:100%; left:-5%; top:0; width:50%}
	&:hover:after{left:0; top:0}	
}

.tip-Right{	
	&:after{height:100%; left:auto; right:-5%; top:0; width:50%}
	&:hover:after{left:auto; right:0; top:0}	
}
