// ----------------------------------------------------------------------------
//  Alignment
// ----------------------------------------------------------------------------

@if $helper-type--alignment == true {

  %txt-center,
  .txt-center {
    text-align: center;
  }

  %txt-left,
  .txt-left {
    text-align: left;
  }

  %txt-right,
  .txt-right {
    text-align: right;
  }

} // -- end @if --
