@if $helper-type--callouts__block == true {

// ----------------------------------------------------------------------------
//  Callout Text
// ----------------------------------------------------------------------------

  // Shout Out - blockquote / blockquote like styling for emphasizing text
  .txt-callout {
    background: $c-lighter;
    border-left: $unit-px solid $c-brand--2;
    color: $c-brand--2;
    font-size: $txt-h5;
    padding: $unit-px4;

    &:after,
    &:before {
      display: none;
    }
  }

  // Example mark-up:
  // ----------------------------------------------------------------------------
  // <p class="txt-callout">
  //   Callout text goes here. Like a blockquote, but semantically not.
  // </p>

} // -- end @if --




// ----------------------------------------------------------------------------
//  Callout Text -- Messaging
// ----------------------------------------------------------------------------

@if $helper-type--callouts__messaging == true {

  // Text Coloring for validation/invalid/error messaging
  .txt-success {
    color: $c-message--success;
  }

  .txt-warning {
    color: $c-message--warning;
  }

  .txt-error {
    color: $c-message--error;
  }

} // -- end @if --




// ----------------------------------------------------------------------------
//  Callout Text -- Weight, Style & Decoration
// ----------------------------------------------------------------------------

@if $helper-type--callouts__decoration == true {

  %txt-bold,
  .txt-bold {
    font-weight: bold;
  }

  %txt-normal,
  .txt-normal {
    font-weight: normal;
  }


  // Example mark-up:
  // ----------------------------------------------------------------------------
  // <p>
  //   I want to have <span class="txt-bold">bold text here</span>.
  // </p>


  %txt-italic,
  .txt-italic {
    font-style: italic;
  }

  // Example mark-up:
  // ----------------------------------------------------------------------------
  // <p>
  //   I want to have <span class="txt-italic">italic text here</span>.
  // </p>


  // Background Text Highlight
  %txt-highlight,
  .txt-highlight {
    background: $c-txt-highlight--bg;
    border-radius: 2px;
    color: $c-txt-highlight--color;
    display: inline-block;
    padding: $unit-px;
  }

  // Example mark-up:
  // ----------------------------------------------------------------------------
  // <p>
  //   I want to have <span class="txt-highlight">highlighted text here</span>.
  // </p>


  %txt-underline,
  .txt-underline {
    text-decoration: underline;
  }

  // Example mark-up:
  // ----------------------------------------------------------------------------
  // <p>
  //   I want to have <span class="txt-underline">underlined text here</span>.
  // </p>


  %txt-no-underline,
  .txt-no-underline {
    text-decoration: none;
  }

  // Example mark-up:
  // ----------------------------------------------------------------------------
  // <a class="txt-no-underline">Link Label</a>

} // -- end @if --
