// ----------------------------------------------------------------------------
//  Line Height Modifiers
// ----------------------------------------------------------------------------

@if $helper-type--line-height == true {

  .line-tight {
    line-height: 1.2 !important;
  }

  .line-tighter {
      line-height: 1 !important;
  }

} // -- end @if --




// ----------------------------------------------------------------------------
//  Text Indenting
// ----------------------------------------------------------------------------

@if $helper-type--indenting == true {

  @for $i from 1 through 3 {
    .txt-indent-#{$i} {
      text-indent: 1em * $i;
    }
  }

} // -- end @if --



// ----------------------------------------------------------------------------
//  Text Smoothing
// ----------------------------------------------------------------------------

@if $helper-type--smoothing == true {

  .txt-smooth {
    @include antialiased;
  }

  // Anti-aliased font smoothing works best for light text on dark backgrounds.
  // Only apply to single elements instead of globally to the body element.
  // Only works on webkit browsers on Apple devices.

} // -- end @if --
