// ----------------------------------------------------------------------------
//  Basic HTML Element Normalize / Reset Styling
// ----------------------------------------------------------------------------

// Super Reset
%reset {
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}



// Reset default spacing styling
%reset--spacing {
  margin: 0;
  padding: 0;
}



// Reset default border styling
%reset--border {
  border: 0;
  outline: 0;
}



// Reset default outline styling
%reset--outline {
  outline: 0;
}
