// ----------------------------------------------------------------------------
//  Colors: Generic
//  Generic color choices influenced by - github.com/mrmrs/colors
// ----------------------------------------------------------------------------

// Grey Scale (Dark) Colors
// ----------------------------------------------------------------------------
$c-black:                 #000 !default;     // RGB 0,0,0
$c-off-black:             #111 !default;
$c-darker:                #222 !default;
$c-dark:                  #333 !default;     // RGB 51,51,51
$c-hell:                  #666 !default;     // RGB 102,102,102



// Grey Scale (Medium) Colors
// ----------------------------------------------------------------------------
$c-grey:                  #ccc !default;       // RGB 204,204,204
$c-dark-grey:             #999 !default;       // RGB 153,153,153
$c-light-grey:            #ddd !default;       // RGB 221,221,221



// Grey Scale (Lighter) Colors
// ----------------------------------------------------------------------------
$c-white:                 #fff !default;       // RGB 255,255,255
$c-off-white:             #f0f0f0 !default;
$c-light:                 #e0e0e0 !default;    // RGB 224,224,224
$c-lighter:               #eee !default;       // RGB 238,238,238



// Generic Colors
// ----------------------------------------------------------------------------
$c-red:                   #ff4136 !default;
$c-green:                 #2ecc40 !default;
$c-blue:                  #0074d9 !default;

$c-magenta:               #f012be !default;
$c-yellow:                #ffdc00 !default;
$c-orange:                #ff851b !default;
$c-purple:                #b10dc9 !default;
$maroon:                  #85144b !default;
$aqua:                    #7fdbff !default;
$navy:                    #001f3f !default;
$teal:                    #39cccc !default;
$olive:                   #3d9970 !default;
$lime:                    #01ff70 !default;



// ----------------------------------------------------------------------------
//  Colors: Branding
// ----------------------------------------------------------------------------

$c-brand-1:               #4aceff !default;  // light cyan
$c-brand-2:               #00aeef !default;  // cyan
$c-brand-3:               #0095cc !default;  // dark cyan
$c-brand-4:               #525252 !default;  // Darker Grey
$c-brand-5:               #b6b5b5 !default;  // Light Grey



// ----------------------------------------------------------------------------
//  Colors: Simple Names
// ----------------------------------------------------------------------------

$c-header:                $c-brand-4 !default;

$c-border:                $c-grey !default;

$c-table:                 #fafafa !default;
$c-table-head:            #444 !default;
$c-table-foot:            $c-off-white !default;
$c-table-striped:         $c-light !default;
$c-table-border:          $c-border !default;

// sets consistent boarder styling for table elements
$table-border:            1px solid $c-border !default;





// Social Button Colors
// ----------------------------------------------------------------------------

// Facebook Button Colors
$c-fb-1:            #3a5b98 !default;
$c-fb-2:            #9baaca !default;
$c-fb-icon-border:  #496cac !default;



// Twitter Button Colors
$c-tw-1:            #3096d0 !default;
$c-tw-2:            #96c9e7 !default;
$c-tw-icon-border:  #349dd9 !default;



// Google+ Button Colors
$c-gp-1:            #dd4b39 !default;
$c-gp-2:            #c93e35 !default;
$c-gp-3:            #982b22 !default;
$c-gp-icon-border:  #af352b !default;
