// ----------------------------------------------------------------------------
//  Line Height Modifiers
// ----------------------------------------------------------------------------

@if $helper-type--line-height == true {

  .line- {

    // Tighten line height for text headings
    &tight {
      line-height: 1.2 !important;
    }

    // Tighten line height for text headings more
    &tighter {
      line-height: 1 !important;
    }

  }

} // -- end @if --




// ----------------------------------------------------------------------------
//  Text Indenting
// ----------------------------------------------------------------------------

@if $helper-type--indenting == true {

  .txt-indent- {
    // loop to output .txt-indent-1 to 3
    @for $i from 1 through 3 {
      &#{$i} {
        text-indent: 1em * $i;
      }
    }
  }

} // -- end @if --



// ----------------------------------------------------------------------------
//  Text Smoothing
// ----------------------------------------------------------------------------

@if $helper-type--smoothing == true {

  .antialiased {
    @include vendor(font-smoothing, antialiased, $o: false, $ms: false, $moz: false);
  }

  // Anti-aliased font smoothing works best for light text on dark backgrounds.
  // Only apply to single elements instead of globally to the body element.
  // Only works on webkit browsers on Apple devices.

} // -- end @if --
