// ----------------------------------------------------------------------------
//  Dividers
// ----------------------------------------------------------------------------

.hr-dual {
  border-bottom: 1px solid rgba(255,255,255,.2);
  border-top:   1px solid rgba(0,0,0,.2);
}

.hr-dash {
  border-style: dashed;
}

.hr-dot {
  border-style: dotted;
}

.hr-dual-spaced {
  border-bottom: 1px solid $c-grey;
  border-top:   1px solid $c-grey;
  height: 4px;
  position: relative;
}
