// ----------------------------------------------------------------
//  Floats & Clears
// ----------------------------------------------------------------

// Floats
// ----------------------------------------------------------------
.float-Left{
  float:left;
}

.float-Right{
  float:right;
}

.float-None{
  float:none;
}


// Clears
// ----------------------------------------------------------------
.clear{
  clear:both;
}

.clearfix{
  @extend %clearfix;
}

.overflow{
  overflow:hidden;
}
