// ----------------------------------------------------------------------------
//  Floats & Clears
// ----------------------------------------------------------------------------

// Floats
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}


// Clears
.clear {
  clear: both;
}

.clearfix {
  @extend %clearfix;
}

.overflow {
  overflow: hidden;
}
