// ----------------------------------------------------------------
//		Floats & Clearing
// ----------------------------------------------------------------
.float-Left	  {float:left}
.float-Right  {float:right}
.float-None	  {float:none}
.clear		    {clear:both}
.clearfix	    {@extend %clearfix}
.overflow	    {overflow:hidden}


// ----------------------------------------------------------------
//		Showing & Hiding
// ----------------------------------------------------------------
.d-Block, .js-Show{
  @extend %d-Block;
}
.d-None, .js-Hide, .mobile-Show{
  @extend %d-None;
}

@media (max-device-width:480px), screen and (max-width:800px){
  .mobile-Show{
    @extend %d-Block;
  }
}
	
// Hides from screenreaders and browsers
.hidden{
	@extend %hidden;
}

// Hide from browsers but not from screen readers
.invis{
	@extend %invis;
}

// ----------------------------------------------------------------
//		Reoccuring HTML Elements
// ----------------------------------------------------------------
// Profile Picture
.pic, %pic{
	border:1px solid $c-White;
	@include border-radius($px-Unit);
	@include box-shadow($bs-4);
	display:inline-block;
	overflow:hidden;
	width:90px;
	
	img{@extend %d-Block;}
}

// Make picture into a circle
.pic-Rounded{
	@extend %pic;
	@include border-radius($circle);
}
/* 
	Code Example
	--------------------------
	<a href="#" title="TITLE" class="pic-Rounded">
		<img src="assets/img/little-V.jpg" alt="" />
	</a>
*/

// Media Item
.media, %media{
	margin-bottom:$px-Unit*4;
	@extend %clearfix;
	position:relative;
	z-index:2;
	.media-Text >:last-child{
	  margin-bottom:0;
	}
	.media-Object{
	  float:left;
	  margin:0 $px-Unit*4 $px-Unit*2 0;
	  max-width:30%;
	}
}

// Have media element appear on the right hand side
.media-Reverse, %media-Reverse{
	@extend %media;
	.media-Object{
	  float:right;
	  margin:0 0 $px-Unit*2 $px-Unit*4;
	  max-width:30%;
  }
}

.media-No-Wrap{
	@extend %media;
	padding-left:100px;
	.media-Text{
	  float:left;
	  width:100%;
	}
	.media-Object{
  	margin-left:-100px;
  	margin-right:0;
	}
}

.media-No-Wrap-Reverse{
	@extend %media-Reverse;
	padding-right:100px;
	
	.media-Object{
  	margin-right:-100px;
  	margin-left:0;
	}
}
/* 
	Code Example
	--------------------------
	<div class="media">
		<div class="media-Object">
			<img src="assets/img/little-V.jpg" alt="" />
		</div>
		<div class="media-Text">
			<h1>Title for Meida Element</h1>
			<p>Paragraph text to go along with media element.</p>
		</div>
	</div>
	
	-- 	Divs were used in this example, but the media element could be applied to various situations.
		Ie. could be used for a header or footer area where a logo is placed on the right or left w/text to the side.
*/


// Call out boxes
.emph-Block{
	background:$c-White;
	border:1px solid $c-Light-Grey;
	@include border-radius($px-Unit);
	@include box-shadow($bs-4);
	margin-bottom:$px-Unit*4;
	min-height:50px;
	padding:$px-Unit*4;
	
	& > :last-child{
	  margin-bottom:0;
	}
}



/*

<!-- ***************************
  Generic Block Element
*************************** -->

<div class="block xHELPER-CLASSx">
  <div class="block-Body"></div>
</div>


<div class="block xHELPER-CLASSx">
  <header class="block-Header"></header> 
  <div class="block-Body"></div>
  <footer class="block-Footer"></footer>
</div>


<div class="block xHELPER-CLASSx">
  <div class="block-Body"></div>
  <footer class="block-Footer"></footer>
</div>


*/
