// ----------------------------------------------------------------------------
//  Helper Classes for Images
// ----------------------------------------------------------------------------

.frame {
  // Give pictures a frame
  border: 1px solid $c-dark;
  display: inline-block;

  img {
    border: 4px solid $c-white;
    display: block;
  }
}

//  Code Example
//
// <div class="frame">
//   <img src="..." alt="..." />
// </div>


// Profile picture
.pic {
  @include border-radius($unit-px);
  @include box-shadow($bs-4);
  border: 1px solid $c-white;
  display: inline-block;
  overflow: hidden;
  width: 90px;

  img {
    display: block;
  }
}

.pic-rounded {
  // Make picture into a circle
  @extend .pic;
  @include border-radius($circle);
}

//  Code Example
//
//  <a href="#" title="TITLE" class="pic-rounded">
//  <img src="assets/img/little-V.jpg" alt="" />
//  </a>
