// ----------------------------------------------------------------
//  Media Element
// ----------------------------------------------------------------

// Media Item
.media{
  @extend %clearfix;
  margin-bottom:$unit-px*4;
  position:relative;
  z-index:2;
  
  .media-text >:last-child{
    margin-bottom:0;
  }

  .media-object{
    float:left;
    margin:0 $unit-px*4 $unit-px*2 0;
    max-width:30%;
  }
}

// Have media element appear on the right hand side
.media-reverse{
  @extend .media;

  .media-object{
    float:right;
    margin:0 0 $unit-px*2 $unit-px*4;
    max-width:30%;
  }
}

.media-no-wrap{
  @extend .media;
  padding-left:100px;

  .media-text{
    float:left;
    width:100%;
  }

  .media-object{
    margin-left:-100px;
    margin-right:0;
  }
}

.media-no-wrap-reverse{
  @extend .media-reverse;
  padding-right:100px;

  .media-object{
    margin-right:-100px;
    margin-left:0;
  }
}
 
//  Code Example
//  --------------------------
//  <div class="media">
//    <div class="media-object">
//      <img src="assets/img/little-V.jpg" alt="" />
//    </div>
//    <div class="media-text">
//      <h1>Title for Meida Element</h1>
//      <p>Paragraph text to go along with media element.</p>
//    </div>
//  </div>
  
//  --  Divs were used in this example, but the media element could be applied to various situations.
//    Ie. could be used for a header or footer area where a logo is placed on the right or left w/text to the side.
