// ----------------------------------------------------------------------------
//    Messaging
// ----------------------------------------------------------------------------

.message-holder{
  @extend %message-holder;
}

.message-warning{
  @extend %message;
  @include select-text(darken($c-yellow, 15%), $c-dark, none);
  background:lighten($c-yellow, 20%);
  border-color:darken($c-yellow, 15%);
  color:darken($c-yellow, 50%);

  .close-message{
    background:$c-yellow;
    border-color:darken($c-yellow, 15%);
    color:darken($c-yellow, 45%);

    &:hover{
      background:darken($c-yellow, 15%);
    }
  }
}

.message-error{
  @extend %message;
  @include select-text(darken($c-red, 15%), $c-white, none);
  background:lighten($c-red, 10%);
  border-color:darken($c-red, 15%);
  color:darken($c-red, 44%);

  .close-message{
    background:$c-red;
    border-color:darken($c-red, 15%);
    color:lighten($c-red, 45%);

    &:hover{
      background:darken($c-red, 15%);
    }
  }
}

.message-success{
  @extend %message;
  @include select-text(darken($c-green, 15%), $c-white, none);
  background:lighten($c-green, 10%);
  border-color:darken($c-green, 15%);
  color:darken($c-green, 40%);

  .close-message{
    background:$c-green;
    border-color:darken($c-green, 15%);
    color:lighten($c-green, 60%);

    &:hover{
      background:darken($c-green, 15%);
    }
  }
}

.message-info{
  @extend %message;
  @include select-text(darken($c-blue, 15%), $c-white, none);
  background:lighten($c-blue, 10%);
  border-color:darken($c-blue, 15%);
  color:darken($c-blue, 45%);

  .close-message{
    background:$c-blue;
    border-color:darken($c-blue, 15%);
    color:lighten($c-blue, 45%);

    &:hover{
      background:darken($c-blue, 15%);
    }
  }
}

// Button to close messages
.close-message{
  @extend %close-message;
  @include border-radius($unit-px*20);
  padding:$unit-px $unit-px*3;
  right:-$unit-em*.5;
  top:-$unit-em*.5;
}
