// ----------------------------------------------------------------
//  Basic Setups for Navigation Elements
// ----------------------------------------------------------------

// The main navigation class to be placed on the <nav>
.nav{
  ul, ol{
    border:1px solid $c-Grey;
    padding:$px-Unit;
  }

  a{
    display:block;
    padding:$px-Unit $px-Unit*2;
    text-decoration:underline;

    &:hover{
      text-decoration:none;
    }

    .selected{}
  }
}

// ----------------------------------------------------------------
//  Basic rules for Horizontal Navigations
// ----------------------------------------------------------------

// to be placed on the <ul> or <ol>
.h-Nav{
  & > li{
    float:left;
  }

  // Set drop menu location to the bottom of the hovered link
  .drop-Menu{
    @extend %drop-H;
  }
}

// to be placed on the <ul> or <ol> -- don't use floats, but instead use display inline-block and center navigation links
.c-Nav{
  font-size:0;
  text-align:center;
    // font-size:0; deletes the white space between the <li>s 
    // However, the font size inside of the <li>'s must be reset when using this trick.

  & > li{
    @extend %reset-Type;
  }
}

// Sets links to the base font-size, while also making them inline-block.  Update for your own uses.
%reset-Type{
  display:inline-block;
  font-size:16px;
}

// ----------------------------------------------------------------
// Basic rules for Vertical Navigations
// ----------------------------------------------------------------
// to be placed on the <ul> or <ol>
.v-Nav{
  a{
    display:block;
  }
  .drop-Menu{
    @extend %drop-V; // Set drop menu location to the right of the hovered link
  }
}


// ----------------------------------------------------------------
// Basic rules for Listless Horizontal Navigations
// ----------------------------------------------------------------
.ah-Nav{
  font-size:0;

  a{
    @extend %reset-Type;
  }

  // Set drop menu location to the bottom of the hovered link
  .drop-Menu{
    @extend %drop-H;
  }
}


// ----------------------------------------------------------------
// Basic rules for Listless Vertical Navigations
// ----------------------------------------------------------------
.av-Nav{
  // Set drop menu location to the bottom of the hovered link
  .drop-Start{
    display:block;
  }

  .drop-Menu{
    @extend %drop-V;
  }
}


// ----------------------------------------------------------------
// Basic rules for Drop Down Menus (applied to both horizontal & vertical navs)
// ----------------------------------------------------------------
.drop-Start{
  position:relative;
  
  &:hover{
    background:$c-Light;

    .drop-Menu{
      visibility:visible;
    }
  }

  a{
    white-space:nowrap;
    // makes it so the dd doesn't get stuck only being as big as the top level button
  }
}
.drop-Menu{
  background:$c-Light; 
  border:1px solid $c-Light-Grey; 
  position:absolute; 
  visibility:hidden; 
  z-index:5;
}

%drop-V{
  left:100%;
  top:0;
}

%drop-H{
  left:0;
  top:100%;
}


// ----------------------------------------------------------------
// Basic rules for Breadcrumb Navigations
// ----------------------------------------------------------------
.bread{
  @extend .h-Nav;

  li{
    &:last-child:after{
      content:none;
    }
    
    &:after{
      content:">";
      display:inline-block;
    }
  }

  a{
    display:inline-block;
  }

  span{
    display:inline-block;
    padding:$px-Unit $px-Unit*2;
  }
}


// ----------------------------------------------------------------
// Fixed Position Sidebar Nav
// ----------------------------------------------------------------
$color-Fixed-Nav:   #DC4732;
$color-FN-a:        #fff;
$width-Fixed-Nav:   200px;
$height-Fixed-Nav:  100px;

// Add a class to the body tag
.fixed-Nav-Left{
  padding-left:$width-Fixed-Nav;    // padding-left = width of nav
  
  .side-Nav-Fixed{left:0}
  .btn-Nav{left:$px-Unit*2; top:$px-Unit*2}
}

.fixed-Nav-Right{
  padding-right:$width-Fixed-Nav;   // padding-right = width of nav
  
  .side-Nav-Fixed{right:0}
  .btn-Nav{right:$px-Unit*2; top:$px-Unit*2}
}

.fixed-Nav-Top{
  padding-top:$height-Fixed-Nav;    // padding-top = height of nav
}

// A placeholder class so we don't repeat ourselves
// with duplicate declarations
%fixed-Nav{
  background:$color-Fixed-Nav;
  position:fixed;
  top:0;
  z-index:1000;
  
  a{
    color:$color-FN-a;

    &:hover, &:visited{
      background:rgba(0,0,0,.6);
      color:$c-White;
      text-decoration:none;
    }
  }
}

.top-Nav-Fixed{
  @extend %fixed-Nav;
  height:$height-Fixed-Nav;
}

.side-Nav-Fixed{
  @extend %fixed-Nav;
  height:100%;
  overflow-y:auto;
  width:$width-Fixed-Nav;
}


// ----------------------------------------------------------------
// Floating Menu Nav Link
// ----------------------------------------------------------------
.btn-Nav{
  background:url(../img/nav-Icon.png) no-repeat center center;
  @include vendor(background-size, 75%);
  height:24px;
  position:fixed;
  right:$px-Unit;
  top:$px-Unit;
  width:28px;
}
/*
  Code Example

<a class="btn btn-Nav" id="btn-Nav-1" href="#show-Nav">
    <span class="hidden">Show Navigation</span>
</a>
*/



