// ----------------------------------------------------------------------------
//  Showing & Hiding
// ----------------------------------------------------------------------------

// Show Elements with Display:block
.d-Block, .js-show{
  @extend %d-block;
}


// Hide Elements with display:none
.d-none, .js-hide, .mobile-show{
  @extend %d-none;
}

@media (max-device-width:480px), screen and (max-width:800px){
  .mobile-show{
    display:block;
  }
}

// Mute an element by changing Opacity
.mute{
  opacity:.75;
}

.mute-more{
  opacity:.5;
}


// Hides from screenreaders and browsers
.hidden{
  @extend %hidden;
}


// Hide from browsers but not from screen readers
.invis{
  @extend %invis;
}
