// ----------------------------------------------------------------------------
//  Tables Helper Classes
// ----------------------------------------------------------------------------

.table-header {
  background: $c-table-head;
}

.table-footer {
  background: $c-table-foot;
}

// Table Decorations
.table-border {
  border-bottom: $border-table;
  border-right: $border-table;
  
  tr {
    border-top: $border-table;
  }
  
  th, td {
    border-left: $border-table;
  }
}

.table-stripe {
  tr: nth-child(2n) {
    background: $c-table-striped;
  }
}

.table-row-stripe {
  background: $c-table-striped;
}

// Mobile View Table
.table-Mobile {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  
  @media (max-device-width: 480px), screen and (max-width: 800px) {
    border: $border-table;
    
    table, th, td, tr {
      white-space: nowrap;
    }
  }
}
