// ----------------------------------------------------------------
// Tables Helper Classes
// ----------------------------------------------------------------

.table-Header{
	background:$c-Table-Head;
}

.table-Footer{
	background:$c-Table-Foot;
}

// Table Decorations
.table-Border{
	border-bottom:$border-Table;
	border-right:$border-Table;
	
	tr{
	  border-top:$border-Table;
	}
	
	th, td{
	  border-left:$border-Table;
	}
}

.table-Stripe{
	tr:nth-child(2n){
		background:$c-Table-Striped;
	}
}

.table-Row-Stripe{
	background:$c-Table-Striped;
}

// Mobile View Table
.table-Mobile{
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  @media (max-device-width:480px), screen and (max-width:800px){
    border:$border-Table;
    
    table, th, td, tr{
      white-space:nowrap;
    }
  }
}
