// ----------------------------------------------------------------
//  Breadcrumb Navigation
// ----------------------------------------------------------------

@if $helper-nav--breadcrumbs == true {

  .nav-crumbs {
    a, li {
      display: inline-block;
    }

    li {

      &:after {
        content: ">";
        display: inline-block;
      }

      &:last-child { // "active crumb"
        font-weight: 600;
        padding: $unit-px;

        &:after {
          content: '';
        }
      }
    }
  }

  // Example mark-up
  // ----------------------------------------------------------------------------
  // <nav role="navigation">
  //   <ol class="nav-crumbs">
  //     <li>
  //       <a href="#!" title="back to #">Index</a>
  //     </li>
  //     <li>
  //       <a href="#!" title="back to #">Sub Page</a>
  //     </li>
  //     <li>
  //       Current Page
  //     </li>
  //   </ol>
  // </nav>

} // -- end @if --
